{# templates/polling_location/polling_location_visualize.html #}
{% extends "template_base.html" %}
{% load static %}

{% block js %}
    <script>console.log("steve before js/test")</script>

      <script async src="js/test.js" type="javascript"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM0vM1mzh56OuA5IfgW_U6Qd9jD99WH6M&loading=async&callback=initMap">
</script>
      <script async defer src="https://www.podell.com/wevote/PollingLocationVisualization.js" type="javascript"></script>
{#   <script async defer src="{% static "js/PollingLocationVisualization.js" %}" type="javascript"></script>#}
{#    <script>console.log("steve at ok1")</script>#}
{#    <script async defer>window.initMap()</script>#}
{% endblock %}

{% block title %}Map Points on Google Map{% endblock %}

{% block content %}
  <div id='outer'>
    <a href="{% url 'polling_location:polling_location_list' %}?state_code={{ polling_location.state|default_if_none:"" }}">
      < Back to Map Points
    </a>
    <br/>
    <h1>Map Points on Google Map</h1>
    <div id='map'></div>

    <input type="hidden" id="source_html" value="polling_location_visualize.html">
    <input type="hidden" id="geo_center_lat" value="{{ geo_center_lat }}">
    <input type="hidden" id="geo_center_lng" value="{{ geo_center_lng }}">
    <input type="hidden" id="geo_center_zoom" value="{{ geo_center_zoom }}">
    <input type="hidden" id="google_civic_election_id" value="{{ google_civic_election_id }}">
    <input type="hidden" id="icon_url_base" value="{{ icon_url_base }}">
    <input type="hidden" id="icon_scale_base" value="{{ icon_scale_base }}">
    <input type="hidden" id="state_code" value="{{ state_code }}">
    <input type="hidden" id="state_list" value="{{ state_list }}">
  </div>
{% endblock %}