{# templates/polling_location/polling_location_summary.html #}
{% extends "template_base.html" %}

{% block title %}Polling Location{% if polling_location %}: {{ polling_location.location_name }}{% else %} Not Found{% endif %}{% endblock %}

{%  block content %}

<a href="{% url 'polling_location:polling_location_list' %}">< Back to Polling Locations</a>

{% if polling_location %}

    <h1>One Polling Location</h1>
    <p><strong>{{ polling_location.location_name }}</strong><br />
    {% if polling_location.line1 %}{{ polling_location.line1 }},<br />{% endif %}
    {% if polling_location.line2 %}{{ polling_location.line2 }},<br />{% endif %}
    {% if polling_location.city or polling_location.state or polling_location.zip_long %}
        {% if polling_location.city %}{{ polling_location.city }},{% endif %}
        {% if polling_location.state %}{{ polling_location.state }} {% endif %}
        {% if polling_location.zip_long %}{{ polling_location.get_formatted_zip }}{% endif %}
        <br />
    {% endif %}
    Hours: {{ polling_location.polling_hours_text }}<br />
    VIP ID: {{ polling_location.polling_location_id }}<br />
    we_vote_id: {{ polling_location.we_vote_id }}<br />
    latitude: {{ polling_location.latitude|default_if_none:"" }}<br />
    longitude: {{ polling_location.longitude|default_if_none:"" }}<br />
    {% if polling_location.use_for_bulk_retrieve %}Use this location for bulk retrieval of ballots.<br />{% endif %}
    </p>

<p><a href="{% url 'polling_location:polling_location_edit' polling_location.id %}">edit</a></p>

<p><a href="{% url 'ballot:ballot_item_list_edit' 0 %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&polling_location_we_vote_id={{ polling_location.we_vote_id }}">
   Create Ballot for this Election for one Location</a> (so voters can find a ballot before Google Civic data is live)</p>

<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_BALLOT_ITEM&google_civic_election_id={{ google_civic_election_id }}&polling_location_we_vote_id={{ polling_location.we_vote_id }}">
   Import/Export Ballot Items at One Polling Location</a></p>



{% else %}

    <h1>No Polling Location Found</h1>
    Please visit the <a href="{% url 'polling_location:polling_location_list' %}">Polling Location List</a> page.

{% endif %}

{% endblock %}
