{# templates/polling_location/polling_location_list.html #}
{% extends "template_base.html" %}

{% block title %}{% if state_name %}{{ state_name }} {% endif %}Polling Locations{% endblock %}

{%  block content %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Values/Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Opinions/Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>{% if state_name %}{{ state_name }} {% endif %}Polling Locations</h1>

    <p>
        <a href="{% url 'admin_tools:sync_dashboard' %}?state_code={{ state_code }}" target="_blank">
        Go to "Import Polling Locations From Master Server" Page
        </a>
    </p>

    <p>
      <a href="{% url 'polling_location:polling_location_edit' 0 %}?state_code={{ state_code }}">
         Create polling location,
      </a>

      <a href="{% url 'electoral_district:electoral_district_list' %}?state_code={{ state_code }}">
         See Electoral Districts,
      </a>

    {% if state_code %}
        <a href="{% url 'polling_location:polling_locations_add_latitude_and_longitude' %}?state_code={{ state_code }}">
            Add latitude/longitude to polling locations (up to 1000),
        </a>
    {% else %}
        (Choose state to add latitude/longitude to polling locations),
    {% endif %}

        <a href="{% url 'polling_location:polling_location_visualize' 0 %}?state_code={{ state_code }}"
           target="_blank">
         Google Maps Polling Locations <span class="glyphicon glyphicon-new-window"></span>
        </a>
    </p>

<form name="polling_location_search_form" method="get" action="{% url 'polling_location:polling_location_list' %}">
    {% csrf_token %}

{% if state_list %}
    <select id="state_code" name="state_code">
        <option value="" {% if '' == state_code %} selected="selected"{% endif %}>
            -- Filter by State --</option>
    {% for key, state in state_list %}
        <option value="{{ key }}"
                {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
            {{ state }}</option>
    {% endfor %}
    </select>
{% endif %}{# End of if state_list #}


{% if polling_location_search or issues_selected %}
    <a href="{% url 'polling_location:polling_location_list' %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="polling_location_search" id="polling_location_id" value="{{ polling_location_search|default_if_none:"" }}" />
    <input type="submit" value="Search for Polling Location" />&nbsp;&nbsp;&nbsp;

    <label for="show_bulk_retrieve_id">
      <input type="checkbox" name="show_bulk_retrieve" id="show_bulk_retrieve_id" value="1" onChange="this.form.submit()"
             {% if show_bulk_retrieve %}checked{% endif %} /> show bulk retrieve locations
    </label>
</form>

{% if polling_location_list %}
    <table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Address</th>
            <th>we_vote_id</th>
            <th>lat/long</th>
            <th>Use for bulk retrieve</th>
            <th></th>
        </tr>
    </thead>

    {% for polling_location in polling_location_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'polling_location:polling_location_summary' polling_location.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
            {% if polling_location.location_name %}{{ polling_location.location_name }}{% else %}(missing location name)&nbsp;&nbsp;{% endif %}</a>
            </td>
            <td>
                {{ polling_location.get_text_for_map_search }} (<a href="https://www.google.com/maps/place/{{ polling_location.get_text_for_map_search|iriencode }}" target="_blank">map</a>)&nbsp;&nbsp;
                (<a href="{% url 'electoral_district:electoral_district_list' %}?polling_location_we_vote_id={{ polling_location.we_vote_id }}&state_code={{ polling_location.state }}" target="_blank">show districts</a>)
            </td>
            <td>
                {% if polling_location.we_vote_id %}&nbsp;&nbsp;&nbsp;{{ polling_location.we_vote_id }}{% endif %}
            </td>
            <td>{% if polling_location.latitude %}&nbsp;&nbsp;Lat/Long: yes{% endif %}</td>
            <td>{% if polling_location.use_for_bulk_retrieve %}bulk{% endif %}</td>
            <td><a href="{% url 'polling_location:polling_location_edit' polling_location.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" style="font-size: .65em">(edit)</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no polling_locations found)</p>
{% endif %}
<br />
    <script>
        $(function() {
            $('#state_code').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}
