{# templates/polling_location/polling_location_list.html #}
{% extends "template_base.html" %}

{% block title %}Polling Locations{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Admin Home</a>

<h1>Polling Locations</h1>

    <p>Jump to:

    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a></p>

    </p>

{#    <p><a href="{% url 'polling_location:import_polling_locations_process' %}?polling_location_state={{ polling_location_state }}" target="_blank">#}
{#        Import Polling Locations File{% if polling_location_state %} (for "{{ polling_location_state }}"){% endif %}</a>#}
{#        (this can take 60-90 seconds)</p>#}

    <p><a href="{% url 'admin_tools:sync_dashboard' %}?state_code={{ polling_location_state }}" target="_blank">
        Go to "Import Polling Locations From Master Server" Page</a></p>

<form name="voter_search_form" method="get" action="{% url 'polling_location:polling_location_list' %}">
    {% csrf_token %}


{% if polling_location_search or issues_selected %}
    <a href="{% url 'polling_location:polling_location_list' %}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="polling_location_search" id="polling_location_id" value="{{ polling_location_search }}" />
    <input type="submit" value="Search for Polling Location" />
</form>

{% if state_list %}
    <form name="polling_location_state_form" method="get" action="{% url 'polling_location:polling_location_list' %}">
        {% csrf_token %}

    <select id="polling_location_state" name="polling_location_state">
        <option value="" {% if '' == polling_location_state %} selected="selected"{% endif %}>
            -- Filter by State --</option>
    {% for key, state in state_list %}
        <option value="{{ key }}"
                {% if key|lower == polling_location_state|lower %} selected="selected"{% endif %}>
            {{ state }}</option>
    {% endfor %}
    </select>
    </form>
{% endif %}{# End of if state_list #}


{% if polling_location_list %}
    <table border="0" cellpadding="10">
    {% for polling_location in polling_location_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'polling_location:polling_location_summary' polling_location.id %}">
            {% if polling_location.location_name %}{{ polling_location.location_name }}{% else %}(missing location name)&nbsp;&nbsp;{% endif %}</a>
            </td>
            <td>
                {{ polling_location.get_text_for_map_search }}
            </td>
            <td>
                {% if polling_location.we_vote_id %}&nbsp;&nbsp;&nbsp;{{ polling_location.we_vote_id }}{% endif %}
            </td>
            <td>{% if polling_location.latitude %}&nbsp;&nbsp;Lat/Long: yes{% endif %}</td>
{#            <td><a href="{% url 'polling_location:polling_location_edit' polling_location.id %}" style="font-size: .65em">(edit)</a></td>#}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no polling_locations found)</p>
{% endif %}
<br />
    <script>
        $(function() {
            $('#polling_location_state').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}