{# templates/issue/issue_list.html #}
{% extends "template_base.html" %}

{% block title %}Issues{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Opinions/Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Issues</h1>

<form name="issue_choose_election" method="get" action="{% url 'issue:issue_list' %}">
    {% csrf_token %}

    <a href="{% url 'issue:issue_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Issue</a><br />

    {% if election_list %}
    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
        {% for election in election_list %}
        <option value="{{ election.google_civic_election_id }}"
                {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
        {% endfor %}
    </select>
    {% endif %}{# End of if election_list #}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> All Elections
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&issue_search={{ issue_search }}">
            show all states</a>
        {% endif %}
    {% endif %}{# End of if state_list #}

    <br />
    {% if issue_search %}
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
         clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="issue_search" id="issue_search_id" value="{{ issue_search }}" />
    <input type="submit" value="Search for Issue" />

    {% if show_hidden_issues %}
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&issue_search={{ issue_search }}&show_hidden_issues=0">
        only show issues visible to voters</a>
    {% else %}
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&issue_search={{ issue_search }}&show_hidden_issues=1">
        show hidden issues</a>
    {% endif %}

</form>

{% if issue_list %}
    <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Issue Name</th>
            <th>Image Notes</th>
            <th>Linked Org Count</th>
            <th>Followers Count</th>
            <th>Issue Description</th>
        {% if google_civic_election_id %}
            <th>Voter Guides, This Election, Linked to this Issue</th>
        {% endif %}
        </tr>
      </thead>
    {% for issue in issue_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if issue.we_vote_hosted_image_url_medium %}
                    <img src="{{ issue.we_vote_hosted_image_url_medium }}" width="50" height="50" />
                {% endif %}
            </td>
            <td>
              <a href="{% url 'issue:issue_edit' issue.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank">
                {{ issue.issue_name }}</a>{% if issue.hide_issue %} - <strong>HIDDEN</strong>{% endif %}<br />
              {{ issue.we_vote_id }}
            </td>
            <td>
                {% if issue.we_vote_hosted_image_url_medium %}
                AWS
                {% elif issue.issue_image_url %}
                local_image
                {% endif %}
            </td>
            <td>{{ issue.linked_organization_count }}</td>
            <td>{{ issue.issue_followers_count }}</td>
            <td>{{ issue.issue_description }}</td>
        {% if google_civic_election_id %}
            <td>
                <ol>
                {% for organization in issue.linked_organization_list %}
                    <li><a href="{% url 'organization:organization_position_list' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank">{{ organization.organization_name }}</a></li>
                {% endfor %}
                </ol>
            </td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>

    <p>
        <a href="{% url 'apis_v1:issuesSyncOutView' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&issue_search={{ issue_search }}" target="_blank" >Export Issues</a><br />
    </p>

    <p></p>
{% else %}
    <p>(no issues found)</p>
    <p>
        <a href="{% url 'issue:issue_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Issue</a><br />
    </p>
{% endif %}

    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#state_code_id').change(function() {
            this.form.submit();
        });
    });
    </script>

{% endblock %}