{# templates/issue/issue_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if issue %}{{ issue.issue_name }}{% else %}New Issue{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    < Back to Values/Issues</a>

<h1>{% if issue %}Edit Issue "{{ issue.issue_name }}"{% else %}New Issue{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url "issue:issue_edit_process" %}" method="post" class="form-horizontal" enctype="multipart/form-data">
{% csrf_token %}

<input type="hidden" name="issue_we_vote_id" value="{% if issue %}{{ issue.we_vote_id }}{% else %}{% endif %}">

<div class="form-group">
    <label for="issue_name_id" class="col-sm-3 control-label">Issue Name</label>
    <div class="col-sm-8">
        <input type="text" name="issue_name" id="issue_name_id" class="form-control"
               value="{% if issue %}{{ issue.issue_name|default_if_none:"" }}{% else %}{{ issue_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="hide_issue_id" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
      <input type="checkbox" name="hide_issue" id="hide_issue_id"
             value="True"
             {% if issue %}{% if issue.hide_issue %}checked{% endif %}{% elif hide_issue %}checked{% endif %} />
        Under Construction: Hide this issue from voters
    </div>
</div>

<div class="form-group">
    <label for="issue_description_id" class="col-sm-3 control-label">Issue Description</label>
    <div class="col-sm-8">
        <textarea name="issue_description"
                  class="form-control animated"
                  placeholder="Enter official issue description">{% if issue %}{{ issue.issue_description|default_if_none:"" }}{% else %}{{ issue_description|default_if_none:"" }}{% endif %}</textarea>
    </div>
</div>

<div class="form-group">
    <label for="issue_icon_local_path_id" class="col-sm-3 control-label">
      Issue Icon Local Path
      {% if issue.issue_icon_local_path %}
        <img src="https://wevote.us/img/global/svg-icons/issues/{{ issue.issue_icon_local_path }}.svg" height="20" width="20" />
      {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="issue_icon_local_path" id="issue_icon_local_path_id" class="form-control"
               value="{% if issue %}{{ issue.issue_icon_local_path|default_if_none:"" }}{% else %}{{ issue_icon_local_path|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="issue_image_file_id" class="col-sm-3 control-label">Issue Image (AWS)</label>
    <div class="col-sm-8">
        <input type="file" name="issue_image_file" id="issue_image_file_id" class="form-control"
               value="{% if issue %}{{ issue.issue_image_file }}{% else %}{{ issue_image_file }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="forced_sort_order_id" class="col-sm-3 control-label">Forced Sort Order</label>
    <div class="col-sm-8">
        <input type="text" name="forced_sort_order" id="forced_sort_order_id" class="form-control"
               value="{% if issue %}{{ issue.forced_sort_order|default_if_none:"" }}{% else %}{{ forced_sort_order|default_if_none:"" }}{% endif %}" />
        <label for="twitter_handle_updates_failing_id" style="font-weight: normal !important;"><span style="color: darkgray">Order by 1, 2, 3. Leave issues without an order of "0" in existing order.</span></label><br />
    </div>
</div>

<div class="form-group">
    <label for="hide_issue_id" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
      <input type="checkbox" name="considered_left" id="considered_left_id"
             value="True"
             {% if issue %}{% if issue.considered_left %}checked{% endif %}{% endif %} />
        <label for="considered_left_id" style="font-weight: normal !important;">Considered Partisan "Left" Issue</label>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="considered_right" id="considered_right_id"
             value="True"
             {% if issue %}{% if issue.considered_right %}checked{% endif %}{% endif %} />
        <label for="considered_right_id" style="font-weight: normal !important;">Considered Partisan "Right" Issue</label>

    </div>
</div>

<div class="form-group">
    <label for="issue_image_file_id" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
        <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
           cancel</a>
        <input name="submit_text" type="submit" value="{% if issue %}Update Issue{% else %}Save New Issue{% endif %}" />
    </div>
</div>

</form>


<br />
{# Show all organizations linked to this issue #}
{% if organization_list %}
    <table class="table">
     <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Endorser</th>
            <th></th>
            <th>Twitter</th>
            <th>Vote Smart ID</th>
            <th>State</th>
        </tr>
     </thead>
    {% for organization in organization_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if organization.we_vote_hosted_profile_image_url_medium %}
                <a href="{% url 'organization:organization_edit' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&candidate_we_vote_id={{ candidate_we_vote_id }}">
                    <img src="{{ organization.we_vote_hosted_profile_image_url_medium }}" width="48px" /></a>{% endif %}</td>
            <td><a href="{% url 'organization:organization_edit' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&candidate_we_vote_id={{ candidate_we_vote_id }}"
                   class="u-no-break"
                   target="_blank">
                {{ organization.organization_name }} <span class="glyphicon glyphicon-new-window"></span></a><br />
                &nbsp;&nbsp;&nbsp;(<a href="{% url 'image:images_for_one_organization' organization.we_vote_id %}" target="_blank">See images</a> in new window)
            </td>
            <td>
              {% if organization.issue_analysis_done %}
                <strong>analyzed</strong>&nbsp;
              {% else %}
                <span style="color: darkgray;">not analyzed</span>
              {% endif %}
            </td>
            <td>{% if organization.organization_twitter_handle %}{{ organization.organization_twitter_handle }} <br />
                ({{ organization.twitter_followers_count|intcomma }} followers){% endif %}</td>
            <td>{% if organization.vote_smart_id %}{{ organization.vote_smart_id }}{% endif %}</td>
            <td>{{ organization.state_served_code }}</td>
        </tr>
    {% endfor %}
    </table>
    <p></p>
{% else %}
    <p>(no organizations linked to this issue)</p>
{% endif %}



<br />
{% if issue %}
    <p><a href="{% url 'issue:issue_delete_images'%}?issue_we_vote_id={{ issue.we_vote_id }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
        Delete Cached Images</a></p>
    {% if issue.we_vote_hosted_image_url_tiny %}
        <img src="{{ issue.we_vote_hosted_image_url_tiny }}"><br />
        Tiny Image<br />
    {% endif %}

    {% if issue.we_vote_hosted_image_url_medium %}
        <img src="{{ issue.we_vote_hosted_image_url_medium }}"><br />
        Medium Image<br />
    {% endif %}

    {% if issue.we_vote_hosted_image_url_large %}
        <img src="{{ issue.we_vote_hosted_image_url_large }}"><br />
        Large Image<br />
    {% endif %}
{% else %}

{% endif %}{# End of if issue #}


{% if issue %}
  <br />
  <br />
<form action="{% url "issue:issue_delete_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
  <input type="hidden" name="issue_we_vote_id" value="{{ issue.we_vote_id }}">
  <button type="submit" class="btn btn-danger">Delete Issue</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label for="confirm_delete_id">
    <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this issue
  </label>
</form>
{% endif %}
  <br />
  <br />


<script>
    $(function() {
        $('#contest_office_id').change(function() {
            this.form.submit();
        });
    });
</script>

<style>
    .animated {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }
</style>
<script>
    $(function(){
        const { autosize } = window;
        autosize($('.normal'));
        autosize($('.animated'));
     }(window.$, window.autosize));
</script>


{% endblock %}