{# templates/organization/change_log_list.html #}

<table class="table">
    <thead>
        <tr>
            <th>Change Log</th>
            <th>Who Made Change</th>
        </tr>
    </thead>
{% for change_log_entry in change_log_list %}
    <tr>
        <td>
            {{ change_log_entry.change_description_augmented|safe }}
            {% if change_log_entry.log_entry_message %}
                {{ change_log_entry.log_entry_message }}
            {% endif %}
        </td>
        <td>
            {% if change_log_entry.changed_by_name %}
                {{ change_log_entry.changed_by_name }}
            {% else %}
                {{ change_log_entry.changed_by_voter_we_vote_id }}
            {% endif %}
            <span style="color: #ccc; font-size: 12px;">
                {{ change_log_entry.log_datetime }}
{#                             * {{ change_log_entry.status }}#}
            </span>
        </td>
    </tr>
{% endfor %}
</table>

