{# templates/organization/organization_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if organization %}{{ organization.organization_name  }}{% else %}New Organization{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
<style>
span.nobr { white-space: nowrap; }
</style>

<h1>{% if organization %}{{ organization.organization_name }}: Account{% else %}New Organization{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



<form action="{% url "organization:organization_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
    <input type="hidden" name="organization_id" value="{% if organization %}{{ organization.id }}{% else %}0{% endif %}">

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Logo</label>
    <div class="col-sm-8">
        <input type="text" name="organization_name" id="organization_name_id" class="form-control"
               value="{% if organization %}{{ organization.organization_name }}{% else %}{{ organization_name }}{% endif %}" />
        {% if organization %}
            {{ organization.chosen_logo_displayed }}
            &nbsp;&nbsp;&nbsp;&nbsp;Vote Smart Id: <a href="https://votesmart.org/interest-group/{{ organization.vote_smart_id }}" target="_blank">{{ organization.chosen_logo_displayed }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;Internal Id: {{ organization.id }}
        {% endif %}
    </div>
</div>



<div class="form-group">
    <label for="organization_website_id" class="col-sm-3 control-label">Domain string
    {% if organization.chosen_domain_string %}
    <a href="{{ organization.chosen_domain_string }}"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="organization_website" id="organization_website_id" class="form-control"
               value="{% if organization %}{{ organization.chosen_domain_string }}{% else %}{{ organization_website }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_twitter_handle_id" class="col-sm-3 control-label">
        Favicon URL
        {% if organization.organization_twitter_handle %}
        <a href="https://twitter.com/{{ organization.organization_twitter_handle }}"
                   target="_blank"
                   class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
               value="{% if organization %}{{ organization.organization_twitter_handle }}{% else %}{{ organization_twitter_handle }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_facebook_id" class="col-sm-3 control-label">Google Analytics account number</label>
    <div class="col-sm-8">
    <input type="text" name="organization_facebook" id="organization_facebook_id" class="form-control"
           value="{% if organization %}{{ organization.organization_facebook|default_if_none:"" }}{% else %}{{ organization_facebook }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_email_id" class="col-sm-3 control-label">HTML verification string</label>
    <div class="col-sm-8">
    <input type="text" name="organization_email" id="organization_email_id" class="form-control"
           value="{% if organization %}{{ organization.organization_email|default_if_none:"" }}{% else %}{{ organization_email }}{% endif %}" />
    </div>
</div>

{% if organization %}
<div class="form-group">
    <label for="wikipedia_page_title_id" class="col-sm-3 control-label">LOGO URL</label>
    <div class="col-sm-8">
        <input type="text" name="wikipedia_page_title" id="wikipedia_page_title_id" class="form-control"
               placeholder="The Wikipedia Full URL, or Wikipedia Page Identifier"
               value="{% if organization %}{{ organization.wikipedia_page_title|default_if_none:"" }}{% else %}{{ wikipedia_page_title }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="wikipedia_photo_url_id" class="col-sm-3 control-label">Social share description</label>
    <div class="col-sm-8">
        <input type="text" name="wikipedia_photo_url" id="wikipedia_photo_url_id" class="form-control"
               value="{% if organization %}{{ organization.wikipedia_photo_url|default_if_none:"" }}{% else %}{{ wikipedia_photo_url }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_endorsements_api_url" class="col-sm-3 control-label">Social share image</label>
    <div class="col-sm-8">
        <input type="text" name="organization_endorsements_api_url" id="organization_endorsements_api_url" class="form-control"
               value="{% if organization %}{{ organization.organization_endorsements_api_url|default_if_none:"" }}{% else %}{{ organization_endorsements_api_url }}{% endif %}" />
            (<a href="https://docs.google.com/document/d/1D90CslIjOPSxyB6XIBPSV07vDlVp5oMNyQPlOrq1Qj4/edit" target="_blank">see importer specification</a>)
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">Sub domain string</label>
    <div class="col-sm-8 ">
    <ul class="list-inline">
    {% for issue in issue_list %}
      {% if not issue.hide_issue or issue.followed_by_organization %}
        <li class="list-inline-item">
        <input type="checkbox" name="selected_issues" id="selected_issues_id_{{ issue.we_vote_id }}" value={{ issue.we_vote_id }}
                {% if issue.followed_by_organization %}checked{% endif %} />
        <label for="selected_issues_id_{{ issue.we_vote_id }}" style="font-weight: normal !important;">
          {% if issue.hide_issue %}
          <span style="text-decoration: line-through">{{ issue.issue_name }}</span>
          {% else %}
          {{ issue.issue_name }}
          {% endif %}
        </label>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">Subscription plan</label>
    <div class="col-sm-8 ">

    </div>
</div>

{% endif %}



<p>
{% if organization %}
    <a href="{% url 'organization:organization_position_list' organization.id %}">cancel</a>
{% else %}
    <a href="{% url 'organization:organization_list' %}">cancel</a>
{% endif %}
    <button type="submit" class="btn btn-default">{% if organization %}Update account{% else %}Save New Organization{% endif %}</button>
</p>
</form>


{% if organization %}
  <br />
  <br />
<form action="{% url "organization:organization_delete_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
  <input type="hidden" name="organization_id" value="{% if organization %}{{ organization.id }}{% else %}0{% endif %}">
  <button type="submit" class="btn btn-danger">Delete Organization</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label for="confirm_delete_id">
    <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this organization
  </label>
</form>
{% endif %}
  <br />
  <br />


{% if organization %}
    {% if organization.wikipedia_thumbnail_url %}
        <img src="{{ organization.wikipedia_thumbnail_url }}"><br />
        Thumbnail<br />
    {% endif %}

    {% if organization.wikipedia_photo_url %}
        <img src="{{ organization.wikipedia_photo_url }}"><br />
        Full size<br />
    {% endif %}
{% endif %}
{% endblock %}