{# templates/organization/organization_position_list.html #}
{% extends "template_base.html" %}

{% block title %}{% if organization %}{{ organization.organization_name  }}{% else %}Error: Name Missing{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Organizations</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Voter Guides</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}&google_civic_election_id={{ google_civic_election_id }}">
    Analyze Organization Data ></a></p>

{% if organization %}
<h1>{{ organization.organization_name }}: Position List</h1>

    <table>
    <tr>
        <th>We Vote ID:</th>
        <td> {{ organization.we_vote_id }}
            (<a href="{% url 'organization:organization_edit' organization.id %}?google_civic_election_id={{ google_civic_election_id }}">edit</a>) (<a href="{% url 'image:images_for_one_organization' organization.we_vote_id %}" target="_blank">See images</a> in new window)</td>
    </tr>
    <tr>
        <th>Vote Smart ID:</th>
        <td><a href="https://votesmart.org/interest-group/{{ organization.vote_smart_id }}" target="_blank">{{ organization.vote_smart_id|default_if_none:"" }}</a></td>
    </tr>
    <tr>
        <th>Website:</th>
        <td><a href={{ organization.organization_website }} target="_blank">{{ organization.organization_website }}</a> (open in new window)</td>
    </tr>
    {% if voter %}
    <tr>
        <th>Voter:</th>
        <td><a href="{% url 'voter:voter_summary' voter.id %}?google_civic_election_id={{ google_civic_election_id }}"
               target="_blank">{% if voter.get_full_name %}{{ voter.get_full_name }}{% else %}{{ voter.we_vote_id }}{% endif %}</a> (open in new window)</td>
    </tr>
    {% endif %}
    <tr>
        <th>Twitter Handle:</th>
        <td>{% if organization.generate_twitter_link %}
            <a href="{{ organization.generate_twitter_link }}" target="_blank">{{ organization.organization_twitter_handle }}</a>
            ({{ organization.twitter_followers_count }} Followers)
        {% else %}
            {{ organization.organization_twitter_handle|default_if_none:"" }}
        {% endif %} (<a href="{% url 'import_export_twitter:refresh_twitter_organization_details' organization.id %}?google_civic_election_id={{ google_civic_election_id }}">refresh Twitter details</a>)
        (<a href="{% url 'import_export_twitter:delete_images_view'%}?organization_id={{ organization.id }}&google_civic_election_id={{ google_civic_election_id }}">Delete Cached Images</a>)</td>
    </tr>
    <tr>
        <th>Twitter Descriptive Name:</th>
        <td>{{ organization.twitter_name|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Twitter Description:</th>
        <td>{{ organization.twitter_description|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Twitter Location:</th>
        <td>{{ organization.twitter_location|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Profile Banner:</th>
        <td>{{ organization.twitter_profile_banner_url_https|default_if_none:"" }}</td>
    </tr>
    <tr>
        <th>Facebook: </th>
        <td>{% if organization.generate_facebook_link %}
                <a href="{{ organization.generate_facebook_link }}" target="_blank">{{ organization.organization_facebook }}</a>
            {% else %}
            {{ organization.organization_facebook|default_if_none:"" }}
            {% endif %}</td>
    </tr>
    <tr>
        <th>Wikipedia Page:</th>
        <td>{% if organization.wikipedia_page_title %}
                <a href="{{ organization.generate_wikipedia_link }}" target="_blank">{{ organization.wikipedia_page_title }}</a>
            {% endif %}</td>
    </tr>
    {% if organization.organization_endorsements_api_url %}
    <tr>
        <th>Endorsements Importer URL:</th>
        <td>
            <a href="{% url 'import_export_endorsements:import_organization_endorsements' organization.id %}"><strong>Import Endorsements</strong></a>
            <a href="{{ organization.organization_endorsements_api_url }}" target="_blank">{{ organization.organization_endorsements_api_url }}</a>
            (<a href="https://docs.google.com/document/d/1D90CslIjOPSxyB6XIBPSV07vDlVp5oMNyQPlOrq1Qj4/edit" target="_blank">see specification</a>)
        </td>
    </tr>
    {% endif %}
    {% if issue_names_list %}
    <tr>
        <th>Issue Linked:</th>
        <td>{% for issue_name in issue_names_list %}
            &bullet; <td>{{ issue_name }}</td> &nbsp;
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if issue_blocked_names_list %}
    <tr>
        <th>Issue Blocked:</th>
        <td>{% for issue_name in issue_blocked_names_list %}
            &bullet; <td>{{ issue_name }}</td> &nbsp;
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    {% if organization_type_display_text %}
    <tr>
        <th> Organization Type:</th>
        <td>{{ organization_type_display_text }}</td>
    </tr>
     {% endif %}
    </table>
<p>
    <a href="{% url 'import_export_wikipedia:import_organization_logo' organization.id %}">Retrieve photos from Wikipedia</a>,
    <a href="{% url 'import_export_twitter:scrape_website_for_social_media' organization.id %}">Scrape org website for Twitter Acounts</a>,
    <a href="{% url 'organization:organization_retrieve_tweets' organization.we_vote_id %}">Retrieve tweets for organization</a>,
    <a href="{% url 'organization:organization_analyze_tweets' organization.we_vote_id %}">Link issues from twitter feed</a>,
</p>

<p>
    <a href="{% url 'organization:organization_position_new' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&candidate_we_vote_id={{ candidate_we_vote_id }}">
        Add New Position</a>
</p>

<form name="organization_position_choose_election" method="get" action="{% url 'organization:organization_position_list' organization.id %}">
    {% csrf_token %}

{% if election_list %}
    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
    {% for election in election_list %}
        <option value="{{ election.google_civic_election_id }}"
                {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
    {% endfor %}
    </select>
{% endif %}{# End of if election_list #}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> All Elections
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
</form>

{% if organization_position_list %}
    <h3>{{ organization_num_positions }} Position{{ organization_num_positions|pluralize }}</h3>
    <table border="1">
    <tr>
        <td></td>
        <td>Candidate/Measure</td>
        <td>Stance</td>
        <td>Election ID</td>
        <td>Election Date</td>
        <td>Rating Time Span</td>
        <td>&nbsp;</td>
    </tr>

    {% for organization_position in organization_position_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'organization:organization_position_edit' organization.id organization_position.we_vote_id %}">
            {% if organization_position.ballot_item_display_name %}
                {{ organization_position.ballot_item_display_name }}
            {% else %}
                (missing ballot_item_display_name)
            {% endif %}
        </a></td>
        <td>{{ organization_position.get_stance_display }}
            {% if organization_position.vote_smart_rating %} {{ organization_position.vote_smart_rating }}%{% endif %}</td>
        <td>{{ organization_position.election.google_civic_election_id }}</td>
        <td>{{ organization_position.election.election_day_text }}</td>
        <td>{{ organization_position.vote_smart_time_span|default_if_none:"" }}</td>
        <td><a href="{% url 'organization:organization_position_delete' organization.id organization_position.we_vote_id %}">
            delete</a></td>

    </tr>
    {% endfor %}

    </table>
{% else %}
    <p>(no positions found)</p>
{% endif %}

    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    </script>

{% endif %}

<p>
    <a href="{% url 'voter_guide:refresh_existing_voter_guides' %}?organization_we_vote_id={{ organization.we_vote_id }}&google_civic_election_id={{ google_civic_election_id }}" >Refresh Voter Guides</a>
</p>



{% if organization %}
    {% if organization.we_vote_hosted_profile_image_url_tiny %}
        we_vote_hosted_profile_image_url_tiny: {{ organization.we_vote_hosted_profile_image_url_tiny }}<br />
        <img src="{{ organization.we_vote_hosted_profile_image_url_tiny }}"><br />
        <br />
    {% endif %}

    {% if organization.we_vote_hosted_profile_image_url_medium %}
        we_vote_hosted_profile_image_url_medium: {{ organization.we_vote_hosted_profile_image_url_medium }}<br />
        <img src="{{ organization.we_vote_hosted_profile_image_url_medium }}"><br />
        <br />
    {% endif %}

    {% if organization.twitter_profile_image_url_https %}
        twitter_profile_image_url_https: {{ organization.twitter_profile_image_url_https }}<br />
        <img src="{{ organization.twitter_profile_image_url_https }}"><br />
        <br />
    {% endif %}

    {% if organization.we_vote_hosted_profile_image_url_large %}
        we_vote_hosted_profile_image_url_large: {{ organization.we_vote_hosted_profile_image_url_large }}<br />
        <br />
    {% endif %}

    {% if organization.twitter_profile_banner_url_https %}
        twitter_profile_banner_url_https: {{ organization.twitter_profile_banner_url_https }}<br />
        <img src="{{ organization.twitter_profile_banner_url_https }}"><br />
        <br />
    {% endif %}

    {% if organization.twitter_profile_background_image_url_https %}
        twitter_profile_background_image_url_https: {{ organization.twitter_profile_background_image_url_https }}<br />
        <img src="{{ organization.twitter_profile_background_image_url_https }}"><br />
        <br />
    {% endif %}

    {% if organization.wikipedia_thumbnail_url %}
        Wikipedia Thumbnail<br />
        <img src="{{ organization.wikipedia_thumbnail_url }}"><br />
        <br />
    {% endif %}

    {% if organization.wikipedia_photo_url %}
        Wikipedia Full size<br />
        <img src="{{ organization.wikipedia_photo_url }}" width="100px"><br />
        <br />
    {% endif %}

{% endif %}

{% endblock %}
