<!DOCTYPE html>
{# templates/organization/organization_index.html #}
<!--
    organization_index.html for We Vote Campaigns and WebApp
    organization_incoming_domain = {{ organization_incoming_domain }}
    chosen_domain_type_is_campaign = {{  chosen_domain_type_is_campaign }}
-->
<html lang="en">
  <head>
    <title>{{ html_title }}</title>
    <meta
      name="description"
      content="{{ chosen_social_share_description|default_if_none:"Vote for candidates you like. Oppose candidates you don't." }}"
    />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  {% if chosen_domain_type_is_campaign  %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
  {% endif %}
  {% if chosen_html_verification_string %}  <!-- chosen_html_verification_string //-->
    {{ chosen_html_verification_string|safe }}
  {% endif %}
    <meta charset="utf-8">
    <meta property="og:url"           content="https://{{ organization_incoming_domain }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ html_title }}" />
    <meta property="og:description"   content="{{ chosen_social_share_description|default_if_none:"Vote for candidates you like. Oppose candidates you don't." }}" />
  {% if hide_social_share_image %}  <!-- Social Share image hidden //-->
  {% elif chosen_social_share_master_image_url_https %}
    <meta property="og:image"         content="{{ chosen_social_share_master_image_url_https }}" />
  {% elif chosen_domain_type_is_campaign  %}
    <meta property="og:image"       content="https://campaigns.WeVote.US/img/global/logos/we-vote-logo-wordmark-vertical-color-on-white-256x256.png" />
  {% else %}
    <meta property="og:image"        content="https://WeVote.US/img/global/logos/we-vote-logo-wordmark-vertical-color-on-white-256x256.png" />
  {% endif %}
    <base href="/">
  {% if chosen_domain_type_is_campaign %}
    <link href="https://campaigns.WeVote.US/css/main.css" rel="stylesheet" type="text/css" />
  {% else %}
    <link href="https://WeVote.US/css/main.css" rel="stylesheet" type="text/css" />
  {% endif %}
  {% if hide_favicon %}  <!-- Favicon hidden //-->
  {% elif chosen_favicon_url_https %}
    <link rel="icon" sizes="32x32" href="{{ chosen_favicon_url_https }}" >
  {% elif chosen_domain_type_is_campaign %}
    <link rel="icon" sizes="48x48"   href="https://campaigns.WeVote.US/img/global/icons/favicon.ico" >
  {% else %}
    <link rel="apple-touch-icon" sizes="180x180" href="/img/global/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/img/global/icons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/global/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/global/icons/favicon-32x32.png" >
    <link rel="icon" type="image/png" sizes="16x16" href="/img/global/icons/favicon-16x16.png" >
    <link rel="icon" sizes="48x48" href="https://quality.wevote.us/img/api-server/favicon.ico" >
  {% endif %}
  </head>
  <body>
    <div>
      <div id="app"></div>
    </div>
  {% if chosen_domain_type_is_campaign %}
    <script defer="defer" src="https://campaigns.WeVote.US{{ main_js }}"></script>
  {% else %}
    <script defer="defer" src="https://WeVote.US{{ main_js }}"></script>
  {% endif %}
  </body>
</html>
