{# templates/organization/organization_list.html #}
{% extends "template_base.html" %}

{% block title %}Organizations{% endblock %}

{%  block content %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Organizations</h1>

<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
      target="_blank">
        Import New Organizations ></a> (open in new window)
</p>

<p><a href="{% url 'voter_guide:voter_guide_search' %}?google_civic_election_id={{ google_civic_election_id }}">
    Add New Organization / Voter Guide</a>.
    Vote Smart special interest groups
    <a href="{% url 'import_export_vote_smart:vote_smart_special_interest_group_list' %}">here</a>.

    <a href="{% url 'admin_tools:data_cleanup_organization_list_analysis' %}">Organization List Analysis</a>
</p>

<p>
    <a href="{% url 'import_export_twitter:scrape_social_media_from_all_organizations' %}?organization_state={{ state_code }}&google_civic_election_id={{ google_civic_election_id }}">
        Scrape org website for social media handles (only when data missing)</a>,

    <a href="{% url 'import_export_twitter:retrieve_twitter_data_for_all_organizations' %}?organization_state={{ state_code }}&first_retrieve_only=1&google_civic_election_id={{ google_civic_election_id }}">
        Retrieve all twitter data (only when data missing)</a>,

    <a href="{% url 'import_export_wikipedia:import_all_organizations_logos' %}?organization_state={{ state_code }}&google_civic_election_id={{ google_civic_election_id }}">
        Retrieve photos from Wikipedia</a>,

    <a href="{% url 'follow:repair_follow_organization' %}?state_code={{ state_code }}&google_civic_election_id={{ google_civic_election_id }}">
        Repair FollowOrganization data</a>
</p>

<form name="state_code_form" method="get" action="{% url 'organization:organization_list' %}">
    {% csrf_token %}

{% if state_list %}
    <select id="state_code_id" name="state_code">
        <option value="" {% if '' == state_code %} selected="selected"{% endif %}>
        {% if '' == state_code %}
            -- Filter by State Served --
        {% else %}
            -- Show All States --
        {% endif %}
        </option>
    {% for key, state in state_list %}
        <option value="{{ key }}"
                {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
            {{ state }}</option>
    {% endfor %}
    </select>
{% endif %}{# End of if state_list #}


{% if organization_types %}
    <select id="organization_type_filter_id" name="organization_type_filter">
        <option value="" {% if '' ==  organization_type_filter %} selected="selected" {% endif %}>
        {% if '' ==  organization_type_filter %}
            -- Filter by Organization Type --
        {% else %}
            -- Show All Organization Types --
        {% endif %}
        </option>
    {% for key, organization_type in organization_types %}
        <option value="{{ key }}"
                {% if key|lower == organization_type_filter|lower %} selected="selected"{% endif %}>
        {{ organization_type }}</option>
    {% endfor %}
    </select>
{% endif %} {# End of if organization_types #}

    <br />

{% if issue_list %}
    <p>Issues to filter [OR] :
    {% for issue in issue_list %}
        <input type="checkbox" name="selected_issues" id="selected_issues" value={{ issue.we_vote_id }}
        {% if issue.selected %}checked{% endif %} />{{ issue.issue_name }} &nbsp;
    {% endfor %}
    </p>
{% endif %}
    <br />

{% if organization_search %}
    <a href="{% url 'organization:organization_list' %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="organization_search" id="organization_search_id" value="{{ organization_search }}" />
    <input type="submit" value="Search for Organization" />

</form>

{% if organization_list %}
    <table cellpadding="5" cellspacing="5" border="1">
        <tr>
            <td></td>
            <td></td>
            <td>Organization</td>
            <td>Twitter</td>
            <td>Type</td>
            <td>Vote Smart ID</td>
            <td>State</td>
            <td>Wikipedia?</td>
            <td></td>
        </tr>
    {% for organization in organization_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if organization.we_vote_hosted_profile_image_url_medium %}
                <a href="{% url 'organization:organization_position_list' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&candidate_we_vote_id={{ candidate_we_vote_id }}">
                    <img src="{{ organization.we_vote_hosted_profile_image_url_medium }}" width="48px" /></a>{% endif %}</td>
            <td><a href="{% url 'organization:organization_position_list' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&candidate_we_vote_id={{ candidate_we_vote_id }}">
                {{ organization.organization_name }}</a><br />
                &nbsp;&nbsp;&nbsp;(<a href="{% url 'image:images_for_one_organization' organization.we_vote_id %}" target="_blank">See images</a> in new window)
            </td>
            <td>{% if organization.organization_twitter_handle %}{{ organization.organization_twitter_handle }} <br />
                ({{ organization.twitter_followers_count }} followers){% endif %}</td>
            <td>{{ organization.organization_type_display }}</td>
            <td>{% if organization.vote_smart_id %}{{ organization.vote_smart_id }}{% endif %}</td>
            <td>{{ organization.state_served_code|default_if_none:"" }}</td>
            <td>{% if organization.wikipedia_page_id %}
                <a href="{{ organization.generate_wikipedia_link }}" target="_blank">W yes</a>{% endif %}</td>
            <td><a href="{% url 'organization:organization_edit' organization.id %}" style="font-size: .65em">{{ organization.we_vote_id }}</a></td>
        </tr>
    {% endfor %}
    </table>
    <p></p>
    <p>
        <a href="{% url 'apis_v1:organizationsSyncOutView' %}?format=json" target="_blank" >Export Organizations</a>
    </p>
{% else %}
    <p>(no organizations found)</p>
{% endif %}

    <p></p>
{#    <p>#}
{#        <a href="{% url 'organization:organizations_import' %}" >Import Organizations From Master Server</a>#}
{#    </p>#}

    <script>
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
            $('#organization_type_filter_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}