{# templates/organization/organization_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if organization %}{{ organization.organization_name  }}{% else %}New Organization{% endif %}{% endblock %}

{%  block content %}
<h1>{% if organization %}{{ organization.organization_name }}{% else %}New Organization{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url "organization:organization_edit_process" %}" method="post">
{% csrf_token %}
    <input type="hidden" name="organization_id" value="{% if organization %}{{ organization.id }}{% else %}0{% endif %}">

    <label for="organization_name_id">Organization Name</label>
    <input type="text" name="organization_name" id="organization_name_id" value="{% if organization %}{{ organization.organization_name }}{% endif %}" /><br />

    <label for="organization_twitter_handle_id">Twitter Handle</label>
    <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" value="{% if organization %}{{ organization.organization_twitter_handle }}{% endif %}" /><br />

    <label for="organization_facebook_id">Facebook</label>
    <input type="text" name="organization_facebook" id="organization_facebook_id" value="{% if organization %}{{ organization.organization_facebook }}{% endif %}" /><br />

    <label for="organization_website_id">Organization Website</label>
    <input type="text" name="organization_website" id="organization_website_id" value="{% if organization %}{{ organization.organization_website }}{% endif %}" /><br />

    <label for="wikipedia_page_title_id">Wikipedia Page Title</label>
    <input type="text" name="wikipedia_page_title" id="wikipedia_page_title_id" value="{% if organization %}{{ organization.wikipedia_page_title }}{% endif %}" /><br />

    <label for="wikipedia_photo_url_id">Wikipedia Photo URL</label>
    <input type="text" name="wikipedia_photo_url" id="wikipedia_photo_url_id" value="{% if organization %}{{ organization.wikipedia_photo_url }}{% endif %}" /><br />

<p><a href="{% url 'organization:organization_position_list' organization.id %}">cancel</a>
<input type="submit" value="{% if organization %}Update Organization{% else %}Save New Organization{% endif %}" /></p>
</form>


{% if organization %}
    {% if organization.wikipedia_thumbnail_url %}
        <img src="{{ organization.wikipedia_thumbnail_url }}"><br />
        Thumbnail<br />
    {% endif %}

    {% if organization.wikipedia_photo_url %}
        <img src="{{ organization.wikipedia_photo_url }}"><br />
        Full size<br />
    {% endif %}


{% endif %}

{% endblock %}