{# templates/organization/reserved_domain_list.html #}
{% extends "template_base.html" %}

{% block title %}Reserved Domains{% endblock %}

{%  block content %}
<p><a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Endorsers</a></p>

<h1>Reserved Domains</h1>

<p><a href="{% url 'organization:reserved_domain_edit' %}">
    Add New Reserved Domain Address</a>
</p>

<form name="search_reserved_domains_form" method="get" action="{% url 'organization:reserved_domain_list' %}">
    {% csrf_token %}

{% if domain_search %}
    <a href="{% url 'organization:reserved_domain_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="domain_search" id="domain_search_id" value="{{ domain_search }}" />
    <input type="submit" value="Search for Domain" />

    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">
    <input type="hidden" name="state_code" value="{{ state_code }}">
</form>

{% if organization_domain_list %}
    <h3>Reserved by Endorsers</h3>
    {% for organization in organization_domain_list %}
        {% if organization.chosen_domain_string or organization.chosen_domain_string2 or organization.chosen_domain_string3 %}
            <strong>{{ organization.chosen_domain_string }}</strong>{% if organization.chosen_domain_string2 %}, {{organization.chosen_domain_string2|default_if_none:""}}{% endif %}{% if organization.chosen_domain_string3 %}, {{organization.chosen_domain_string3|default_if_none:""}}{% endif %}
            <a href="https://{{ organization.chosen_domain_string }}"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
            &nbsp;
            <a href="{% url 'organization:organization_edit_account' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
               class="">edit</a>
            <br />
        {% endif %}
        {% if organization.chosen_subdomain_string %}
            <strong>{{ organization.chosen_subdomain_string }}</strong>.WeVote.US
            <a href="https://{{ organization.chosen_subdomain_string }}.wevote.us"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
            &nbsp;
            <a href="{% url 'organization:organization_edit_account' organization.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
               class="">edit</a>
            <br />
        {% endif %}
    {% endfor %}
{% else %}
    <p>(no organization domains found)</p>
{% endif %}

{% if reserved_domain_list %}
    <h3>Reserved by We Vote</h3>
    {% for reserved_domain in reserved_domain_list %}
        {% if reserved_domain.full_domain_string %}
            <strong>{{reserved_domain.full_domain_string}}</strong>
            <a href="https://{{ reserved_domain.full_domain_string }}"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% elif reserved_domain.subdomain_string %}
            <strong>{{reserved_domain.subdomain_string}}</strong>.WeVote.US
            <a href="https://{{ subdomain_string }}.wevote.us"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
        <a href="{% url 'organization:reserved_domain_edit' %}?reserved_domain_id={{ reserved_domain.id }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">edit</a>
        <br />
    {% endfor %}
{% else %}
    <p>(no reserved domains found)</p>
{% endif %}

    <p></p>
{#    <p>#}
{#        <a href="{% url 'organization:reserved_domain_import' %}" >Import Reserved Domains From Master Server</a>#}
{#    </p>#}

    <script>
    </script>

{% endblock %}