{# templates/analytics/analytics_action_list.html #}
{% extends "template_base.html" %}

{% block title %}
    Analytics Action
{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p><a href="{% url 'analytics:analytics_index' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Analytics Home</a></p>

<h2>Analytics Action
    {% if voter_we_vote_id %}
        for One Voter : {{ voter_we_vote_id }}
    {% elif organization_we_vote_id %}
        for One Organization : {{ organization_we_vote_id }}
    {% endif %}
</h2>
    <p>
    {% if voter_we_vote_id %}
        Show raw AnalyticsAction entries for one voter.
        <a href="{% url 'analytics:analytics_action_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             show all</a>&nbsp;
    {% elif organization_we_vote_id %}
        Show raw AnalyticsAction entries for one organization.
        <a href="{% url 'analytics:analytics_action_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             show all</a>&nbsp;
    {% else %}
        Show raw AnalyticsAction entries.
    {% endif %}
    </p>

{% if analytics_action_search %}
    {% if voter_we_vote_id %}
        <a href="{% url 'analytics:analytics_action_list' voter_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             clear search</a>&nbsp;
    {% elif organization_we_vote_id %}
        <a href="{% url 'analytics:analytics_action_list' organization_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             clear search</a>&nbsp;
    {% else %}
        <a href="{% url 'analytics:analytics_action_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             clear search</a>&nbsp;
    {% endif %}
{% endif %}

{% if voter_we_vote_id %}
    <form name="analytics_form" method="get" action="{% url 'analytics:analytics_action_list' voter_we_vote_id %}">
        {% csrf_token %}
        <input type="text" name="analytics_action_search" id="analytics_action_search_id" value="{{ analytics_action_search }}" />
        <input type="submit" value="Search" />
    </form>
{% elif organization_we_vote_id %}
    <form name="analytics_form" method="get" action="{% url 'analytics:analytics_action_list' organization_we_vote_id %}">
        {% csrf_token %}
        <input type="text" name="analytics_action_search" id="analytics_action_search_id" value="{{ analytics_action_search }}" />
        <input type="submit" value="Search" />
    </form>
{% else %}
    <form name="analytics_form" method="get" action="{% url 'analytics:analytics_action_list' %}">
        {% csrf_token %}
        <input type="text" name="analytics_action_search" id="analytics_action_search_id" value="{{ analytics_action_search }}" />
        <input type="submit" value="Search" />
    </form>
{% endif %}
<table border="1" cellpadding="5" cellspacing="5" class="table">
{% for one_row in analytics_action_list %}
{% if forloop.counter == 1 or forloop.counter|divisibleby:20 %}
    <tr>
        <th>#</th>
        <th>id</th>
        <th>action_constant</th>
        <th>exact_time</th>
        <th>date_as_integer</th>
        <th>voter</th>
        <th>signed in</th>
        <th>organization</th>
        <th>ballot_item we_vote_id</th>
        <th>state code</th>
        <th>google civic election id</th>
        <th>first visit today</th>
    </tr>
{% endif %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ one_row.id }}</td>
        <td>{{ one_row.display_action_constant_human_readable }}</td>
        <td>{{ one_row.exact_time|default_if_none:"n/a" }}</td>
        <td>{{ one_row.date_as_integer|default_if_none:"n/a" }}</td>
        <td>
            {% if voter_we_vote_id or organization_we_vote_id %}
                <a href="{% url 'voter:voter_edit_we_vote_id' one_row.voter_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ one_row.voter_we_vote_id|default_if_none:"n/a" }}</a>
            {% else %}
                <a href="{% url 'analytics:analytics_action_list' one_row.voter_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ one_row.voter_we_vote_id|default_if_none:"n/a" }}</a>
            {% endif %}
        </td>
        <td>{% if one_row.is_signed_in %}yes{% endif %}</td>
        <td>{{ one_row.organization.organization_name|default_if_none:"n/a" }}
            {% if one_row.organization_we_vote_id %}
                {% if organization_we_vote_id or voter_we_vote_id %}
                    (<a href="{% url 'organization:organization_we_vote_id_position_list' one_row.organization_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                       target="_blank">{{ one_row.organization_we_vote_id|default_if_none:"n/a" }}</a>)
                {% else %}
                    (<a href="{% url 'analytics:analytics_action_list' one_row.organization_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                       target="_blank">{{ one_row.organization_we_vote_id|default_if_none:"n/a" }}</a>)
                {% endif %}
            {% endif %}
        </td>
        <td>{{ one_row.ballot_item_we_vote_id|default_if_none:"n/a" }}</td>
        <td>{{ one_row.state_code|default_if_none:"" }}</td>
        <td>{{ one_row.google_civic_election_id|default_if_none:"n/a" }}</td>
        <td>{% if one_row.first_visit_today %}first{% endif %}</td>
    </tr>
{% endfor %}
{% if not analytics_action_list %}
    <tr>
        <td colspan="23">No sitewide day-to-day metrics found for any organizations.</td>
    </tr>
{% endif %}
</table>

{% if voter_we_vote_id %}
    For Testing:
    <a href="{% url 'analytics:augment_voter_analytics_process' voter_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
         Augment this voter's analytics</a>
{% elif organization_we_vote_id %}
    For Testing:
    <a href="{% url 'analytics:organization_election_metrics_process' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&organization_we_vote_id={{ organization_we_vote_id }}">
         Update Election Metrics for this Organization for Election: {{ google_civic_election_id }}</a>
{% endif %}
<br />
<br />
{% endblock %}{% url 'analytics:organization_election_metrics' %}