{# templates/analytics/index.html #}
{% extends "template_base.html" %}

{% block title %}
    We Vote Analytics
{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>

<h1>We Vote Analytics</h1>

<h2>Sitewide Election Metrics</h2>
    <p>
        Show activity related to each election.
        <a href="{% url 'analytics:sitewide_election_metrics' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">see all</a>
    </p>

    {% include "analytics/sitewide_election_metrics_table.html" %}


<h2>Sitewide Daily Metrics</h2>
    <p>
        Show activity day-to-day, across the entire site.
        <a href="{% url 'analytics:sitewide_daily_metrics' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">see all</a>
    </p>

    {% include "analytics/sitewide_daily_metrics_table.html" with sitewide_daily_metrics_list=sitewide_daily_metrics_list %}

{% if voter_allowed_to_see_organization_analytics %}
<h2>Organization Election Metrics</h2>
    <p>
        Show activity related to how voters are viewing one organization, for one election.
        <a href="{% url 'analytics:organization_election_metrics' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">see all</a>
    </p>

    {% include "analytics/organization_election_metrics_table.html" %}
{% endif %}

<p>
    <a href="{% url 'analytics:analytics_action_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Raw Log</a>,
    <a href="{% url 'analytics:update_election_summaries_process' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Update Election Summaries</a>
</p>

<p><a href="{% url 'admin_tools:statistics_summary' %}">Quick Statistics</a></p>

{% endblock %}