{# templates/analytics/organization_election_metrics_table.html #}

<table border="1" cellpadding="5" cellspacing="5" class="table">
    <tr>
        <th>Election Name (ID)</th>
        <th>Org Name (ID)</th>
        <th>visitors total</th>
        <th>entered on voter guide</th>
        <th>entrants visited ballot</th>
        <th>entrants took position</th>
        <th>followers</th>
        <th>followers visited ballot</th>
        <th>followers took position</th>
    </tr>
{% for one_row in organization_election_metrics_list %}
    <tr>
        <td>{{ one_row.election.election_name|default_if_none:"n/a" }} ({{ one_row.google_civic_election_id }})</td>
        <td>{{ one_row.organization.organization_name|default_if_none:"n/a" }}
            (<a href="{% url 'analytics:analytics_action_list' one_row.organization_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
               target="_blank">{{ one_row.organization_we_vote_id|default_if_none:"n/a" }}</a>)</td>
        <td>{{ one_row.visitors_total|default_if_none:"n/a" }}</td>
        <td>{{ one_row.voter_guide_entrants|default_if_none:"n/a" }}</td>
        <td>{{ one_row.entrants_visited_ballot|default_if_none:"n/a" }}</td>
        <td>{{ one_row.entrants_took_position|default_if_none:"n/a" }}</td>
        <td>total: {{ one_row.followers_at_time_of_election|default_if_none:"n/a" }}
            {% if one_row.new_followers %}<br />new: {{ one_row.new_followers|default_if_none:"n/a" }}{% endif %}
            {% if one_row.new_autofollowers %}<br />auto: {{ one_row.new_autofollowers|default_if_none:"n/a" }}{% endif %}</td>
        <td>{{ one_row.followers_visited_ballot|default_if_none:"n/a" }}</td>
        <td>{{ one_row.followers_took_position|default_if_none:"n/a" }}</td>
    </tr>
{% endfor %}
{% if not organization_election_metrics_list %}
    <tr>
        <td colspan="13">No election-level metrics found for any organizations.</td>
    </tr>
{% endif %}
</table>
