{# templates/analytics/organization_daily_metrics.html #}
{% extends "template_base.html" %}

{% block title %}
    Sitewide Daily Metrics
{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p><a href="{% url 'analytics:analytics_index' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Analytics Home</a></p>

<h2>Organization Daily Metrics</h2>
    <p>
        Show activity day-to-day, for one organization.<br />
        <a href="{% url 'analytics:organization_daily_metrics_process' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Process One Day</a>
    </p>

    {% include "analytics/organization_daily_metrics_table.html" with organization_daily_metrics_list=organization_daily_metrics_list %}

{% endblock %}