{# templates/analytics/sitewide_monthly_metrics.html #}
{% extends "template_base.html" %}

{% block title %}
    Sitewide Monthly Metrics
{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'analytics:analytics_index' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Analytics Home</a></p>

<h2>Sitewide Monthly Metrics</h2>
    <p>
        Show activity month-to-month, across the entire site.
        <a href="{% url 'analytics:sitewide_monthly_metrics_process' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Process One Month</a>
    </p>

    {% include "analytics/sitewide_monthly_metrics_table.html" %}

{% endblock %}