# As we approach deployment, we should probably move to different requirements files for local vs. production
# See Chapt 5.5 in Two Scoops of Django
boto3==1.7.26
dj-database-url==0.5.0
dj-static==0.0.6
django==2.1.7
django-background-tasks>=1.2.0
django-bootstrap3==10.0.1
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-toolbelt==0.0.1
django-twitter-bootstrap==3.3.0
django-user_agents==0.3.2
djangorestframework==3.9.1
elasticsearch>=1.0.0,<2.0.0
facebook-sdk==3.1.0
future==0.16.0
geoip2==2.9.0
geopy==1.14.0
google-api-python-client==1.6.7
gunicorn==19.8.1
httplib2==0.11.3
oauth2client==4.1.2
oauthlib==2.1.0
nameparser==0.5.6
Pillow==5.3.0
psycopg2-binary==2.7.6.1
pyasn1==0.4.3
pyasn1-modules==0.2.1
py3dns==3.2.0
pygeoip==0.3.2
pyjwkest==1.4.0
PyJWT==1.6.3
python-magic==0.4.15  # Requires "brew install libmagic" or "brew upgrade libmagic" or "pip install libmagic"
python-openid==2.2.5
# python-social-auth==0.2.21
pytz==2018.9
requests==2.20.0
requests-oauthlib==0.8.0
robot-detection==0.4
rsa==3.4.2
selenium==3.12.0
sendgrid-django==2.0.0
setuptools==40.6.3
simplejson==3.6.5
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.0.0
static3==0.7.0
stripe==2.16.0
tweepy==3.7.0
# Unipath==1.1s
uritemplate==3.0.0
usaddress==0.5.10
user-agents==1.1.0
validate-email==1.3
# python-votesmart=0.3.3  # Using local version instead since 0.3.3 not Py 3 compatible
wikipedia==1.4.0
xmltodict==0.11.0
