{# templates/position/position_list.html #}
{% extends "template_base.html" %}

{% block title %}Stripe Transactions{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<h1>Disputed Stripe Transactions</h1>

<div>
    These transaction (charge.dispute.funds_withdrawn) are cached at the moment they are received, and are not updated with current status.
</div>
<div>
    We have two working weeks, to provide evidence that the charge is fraudulent.  Evidence due dates that are in the past are <span style="color: red">shown in red.</span>
</div>
<div>
    Click the link on the Charge ID to go to the Stripe charge details page (you must have Stripe.com authentication to see the page).
</div>
<div style="margin: 10px 0">
    <span style="margin: 10px 10px 10px 0">There are a total of {{ number_of_disputes }} disputes in our database.</span>
    <span style="margin: 10px">

            <a {% if prev_page_url %}href="{{ prev_page_url }} ">Previous page</a>
        {% else %}
            <a>Previous page</a>
        {%  endif %}
    </span>
    <span style="margin: 10px">
      <a {% if next_page_url %}href="{{ next_page_url }}"{%  endif %}>Next page</a>
    </span>
</div>




{% if disputes_list %}
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>Created</th>
            <th>Reason</th>
            <th>Amount</th>
            <th>Fee</th>
            <th>Total</th>
            <th>Evidence Due By</th>
            <th>Zip Code</th>
            <th>Charge ID</th>
            <th>Live Data</th>
        </tr>
      </thead>
        {% for dispute in disputes_list %}
            <tr>
                <td id="line_{{ forloop.counter }}">{{ forloop.counter }}</td>
                <td>{{ dispute.created }}</td>
                <td>{{ dispute.reason }}</td>
                <td>{{ dispute.amount|pennies_to_money }}</td>
                <td>{{ dispute.fee|pennies_to_money }}</td>
                <td>{{ dispute.total_cost|pennies_to_money }}</td>
                <td id="evidence_{{ forloop.counter }}">{{ dispute.evidence_due_by }}</td>
                <td>{{ dispute.billing_address }}</td>
                <td><a href="https://dashboard.stripe.com/payments/{{ dispute.charge_id}}"  target="_blank">{{ dispute.charge_id}}</a>
                <td>{{ dispute.livemode}}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<script>
  const isInPast = (strDate) => {
    const parts = strDate.split(',')  ;
    const newStr = parts[0] +', ' + parts[1];
    const dt = new Date(newStr);
    dt.setHours( dt.getHours() + 17 );  // End of the work day 5pm
    return dt < Date.now();
  }
  $('[id^="evidence_"]').each(function(){
    const idEl = $(this);
    console.log(idEl.text());
    if (isInPast(idEl.text())) $(this).css('color', 'red');
  });
  $('[id^="line_"]').each(function(){
    const idEl = $(this);
    console.log(idEl.text());
    const lineNumber = parseInt(idEl.text()) + parseInt({{ page_offset }});
    $(this).text(lineNumber);
  });
</script>

{% endblock %}
