{# templates/volunteer_task/performance_list.html #}
{% extends "template_base.html" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
{% load template_filters %}
{% load humanize %}

<h1>Scoreboard</h1>
{# Dropdown to choose which team scores to display #}
<form name="team_name" method="get" action="{% url 'volunteer_task:performance_list' %}">
  {# Filter by VolunteerTeam: Only show members of the chosen team #}
  <div class="form-group pull-left">
      <label for="team_name_id" class="control-label">
        <span class="u-no-break">Filter by Team:</span>
      </label>
      <select id="team_select_id" name="team_we_vote_id">
          <option value="">-- choose team --</option>
        {% for volunteer_team in volunteer_team_list %}
          <option value="{{ volunteer_team.we_vote_id }}" {% if team_we_vote_id|slugify == volunteer_team.we_vote_id|slugify %}selected="selected"{% endif %}>{{ volunteer_team.team_name }}</option>
        {% endfor %}
          <option value="NOT_ASSIGNED_TO_TEAM" {% if team_name|slugify == "NOT_ASSIGNED_TO_TEAM"|slugify %}selected="selected"{% endif %}>* Not Assigned to Team *</option>
      </select>
    &nbsp;&nbsp;&nbsp;
  </div>
</form>

{% if team_we_vote_id %}
    <div>
        {% if team_performance_dict.which_day_is_end_of_week_display %}
            End of Week: 
            {{ team_performance_dict.which_day_is_end_of_week_display }}&nbsp;&nbsp;|&nbsp;
        {% endif %}
        {% for volunteer_team_member in volunteer_team_member_list %}
            {% if forloop.counter > 1 %}&nbsp;|&nbsp;{% endif %}
            <a href="{% url 'voter:voter_summary_we_vote_id' volunteer_team_member.voter.we_vote_id %}"
                target="_blank">
                {{ volunteer_team_member.voter.get_full_name }}
                <span class="glyphicon glyphicon-new-window"></span></a>
        {% endfor %}
    </div>
{% endif %}

<div style="font-size: 1.4em">
<table class="table table-condensed table-hover">
{% if team_we_vote_id %}
    {# ############################ #}
    {# ######## TEAM SCORE ######## #}
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th colspan="10">For Week Ending:</th>
    </tr>
    <tr>
        <th colspan="2">
            For Entire Team
        </th>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        {% with end_of_week_date=end_of_week_date_integer|get_date_from_date_as_integer %}
        <th>
            {{ end_of_week_date|date:'D M d, Y' }}
        </th>
        {% endwith %}
    {% endfor %}
        <th>Totals All Weeks</th>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td>
            <strong><span style="font-size: 1.2em">{{ team_performance_dict.team_name }}</span></strong><br />
            {% if team_performance_dict.candidates_created %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates Created</span><br />
            {% endif %}
            {% if team_performance_dict.politicians_augmented %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Augmented</span><br />
            {% endif %}
            {% if team_performance_dict.duplicate_politician_analysis %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Duplicate Analysis</span><br />
            {% endif %}
            {% if team_performance_dict.politicians_deduplicated %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Deduplicated</span><br />
            {% endif %}
            {% if team_performance_dict.match_candidates_to_politicians %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates Matched to Politicians</span><br />
            {% endif %}
            {% if team_performance_dict.politicians_photo_added %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Photos</span><br />
            {% endif %}
            {% if team_performance_dict.election_retrieve_started %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Election Data Retrieved</span><br />
            {% endif %}
            {% if team_performance_dict.positions_saved %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Opinions/Endorsements Saved</span><br />
            {% endif %}
            {% if team_performance_dict.position_comments_saved %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Opinion/Endorsement Comments Saved</span><br />
            {% endif %}
            {% if team_performance_dict.politicians_requested_changes %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Politicians Requested Changes</span><br />
            {% endif %}
            {% if team_performance_dict.twitter_bulk_retrieve %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Bulk Retrieve (Started)</span><br />
            {% endif %}
            {% if team_performance_dict.voter_guide_possibilities_created %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Voter Guides Saved</span><br />
            {% endif %}
        </td>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        <td>
        {% with team_one_date_dict=team_performance_dict|get_value_from_dict:end_of_week_date_integer %}
            <strong><span style="font-size: 1.2em">{{ team_one_date_dict.volunteer_task_total|display_nothing_if_zero }}</span></strong><br />
            {% if team_performance_dict.candidates_created %}{# Show row if any candidates_created #}
            {{ team_one_date_dict.candidates_created|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_augmented %}
            {{ team_one_date_dict.politicians_augmented|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.duplicate_politician_analysis %}
            {{ team_one_date_dict.duplicate_politician_analysis|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_deduplicated %}
            {{ team_one_date_dict.politicians_deduplicated|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.match_candidates_to_politicians %}
            {{ team_one_date_dict.match_candidates_to_politicians|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_photo_added %}
            {{ team_one_date_dict.politicians_photo_added|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.election_retrieve_started %}
            {{ team_one_date_dict.election_retrieve_started|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.positions_saved %}
            {{ team_one_date_dict.positions_saved|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.position_comments_saved %}
            {{ team_one_date_dict.position_comments_saved|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_requested_changes %}
            {{ team_one_date_dict.politicians_requested_changes|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.twitter_bulk_retrieve %}
            {{ team_one_date_dict.twitter_bulk_retrieve|display_nothing_if_zero }}<br />
            {% endif %}
            {% if team_performance_dict.voter_guide_possibilities_created %}
            {{ team_one_date_dict.voter_guide_possibilities_created|display_nothing_if_zero }}<br />
            {% endif %}
        {% endwith %}
        </td>
    {% endfor %}
        <td>
            <strong><span style="font-size: 1.2em">{{ team_performance_dict.volunteer_task_total }}</span></strong><br />
            {% if team_performance_dict.candidates_created %}
            {{ team_performance_dict.candidates_created }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_augmented %}
            {{ team_performance_dict.politicians_augmented }}<br />
            {% endif %}
            {% if team_performance_dict.duplicate_politician_analysis %}
            {{ team_performance_dict.duplicate_politician_analysis }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_deduplicated %}
            {{ team_performance_dict.politicians_deduplicated }}<br />
            {% endif %}
            {% if team_performance_dict.match_candidates_to_politicians %}
            {{ team_performance_dict.match_candidates_to_politicians }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_photo_added %}
            {{ team_performance_dict.politicians_photo_added }}<br />
            {% endif %}
            {% if team_performance_dict.election_retrieve_started %}
            {{ team_performance_dict.election_retrieve_started }}<br />
            {% endif %}
            {% if team_performance_dict.positions_saved %}
            {{ team_performance_dict.positions_saved }}<br />
            {% endif %}
            {% if team_performance_dict.position_comments_saved %}
            {{ team_performance_dict.position_comments_saved }}<br />
            {% endif %}
            {% if team_performance_dict.politicians_requested_changes %}
            {{ team_performance_dict.politicians_requested_changes }}<br />
            {% endif %}
            {% if team_performance_dict.twitter_bulk_retrieve %}
            {{ team_performance_dict.twitter_bulk_retrieve }}<br />
            {% endif %}
            {% if team_performance_dict.voter_guide_possibilities_created %}
            {{ team_performance_dict.voter_guide_possibilities_created }}<br />
            {% endif %}
        </td>
    </tr>
    <tr> {# Visual spacer #}
        <td colspan="12"><p>
            &nbsp;<br />
            &nbsp;<br />
        </p></td>
    </tr>
{% endif %}

    {# ############################ #}
    {# ##### INDIVIDUAL SCORES #### #}
    <thead>
    <tr>
        <th colspan="2">
        {% if team_we_vote_id %}
            By Team Member
        {% else %}
            Who
        {% endif %}
        </th>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        {% with end_of_week_date=end_of_week_date_integer|get_date_from_date_as_integer %}
        <th>
        {% if not team_we_vote_id %}
            {{ end_of_week_date|date:'D M d, Y' }}
        {% endif %}
        </th>
        {% endwith %}
    {% endfor %}
        <th>Totals All Weeks</th>
    </tr>
    </thead>

{% for voter_we_vote_id in voter_we_vote_id_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
        {% with voter_dict=individual_performance_dict|get_value_from_dict:voter_we_vote_id %}
            <strong><span style="font-size: 1.2em">{{ voter_dict.voter_display_name }}</span></strong>
            <a href="{% url 'voter:voter_summary_we_vote_id' voter_we_vote_id %}"
                target="_blank">
                <span class="glyphicon glyphicon-new-window"></span></a>
            <br />
            {% if voter_dict.candidates_created %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates Created</span><br />
            {% endif %}
            {% if voter_dict.politicians_augmented %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Augmented</span><br />
            {% endif %}
            {% if voter_dict.duplicate_politician_analysis %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Duplicate Analysis</span><br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Deduplicated</span><br />
            {% endif %}
            {% if voter_dict.match_candidates_to_politicians %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates Matched to Politicians</span><br />
            {% endif %}
            {% if voter_dict.politicians_photo_added %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Candidates / Politicians Photos</span><br />
            {% endif %}
            {% if voter_dict.election_retrieve_started %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Election Data Retrieved</span><br />
            {% endif %}
            {% if voter_dict.positions_saved %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Opinions/Endorsements Saved</span><br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Opinion/Endorsement Comments</span><br />
            {% endif %}
            {% if voter_dict.politicians_requested_changes %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Politicians Requested Changes</span><br />
            {% endif %}
            {% if voter_dict.twitter_bulk_retrieve %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Bulk Retrieve (Started)</span><br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
                <span class="u-no-break">&nbsp;&nbsp;&nbsp;Voter Guides Saved</span><br />
            {% endif %}
        {% endwith %}
        </td>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        <td>
        {% with voter_dict=individual_performance_dict|get_value_from_dict:voter_we_vote_id %}
        {% with voter_one_date_dict=voter_dict|get_value_from_dict:end_of_week_date_integer %}
            <strong><span style="font-size: 1.2em">{{ voter_one_date_dict.volunteer_task_total|display_nothing_if_zero }}</span></strong><br />
            {% if voter_dict.candidates_created %}{# Show row if any candidates_created #}
            {{ voter_one_date_dict.candidates_created|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.politicians_augmented %}
            {{ voter_one_date_dict.politicians_augmented|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.duplicate_politician_analysis %}
            {{ voter_one_date_dict.duplicate_politician_analysis|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
            {{ voter_one_date_dict.politicians_deduplicated|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.match_candidates_to_politicians %}
            {{ voter_one_date_dict.match_candidates_to_politicians|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.politicians_photo_added %}
            {{ voter_one_date_dict.politicians_photo_added|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.election_retrieve_started %}
            {{ voter_one_date_dict.election_retrieve_started|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.positions_saved %}
            {{ voter_one_date_dict.positions_saved|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
            {{ voter_one_date_dict.position_comments_saved|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.politicians_requested_changes %}
            {{ voter_one_date_dict.politicians_requested_changes|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.twitter_bulk_retrieve %}
            {{ voter_one_date_dict.twitter_bulk_retrieve|display_nothing_if_zero }}<br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
            {{ voter_one_date_dict.voter_guide_possibilities_created|display_nothing_if_zero }}<br />
            {% endif %}
        {% endwith %}
        {% endwith %}
        </td>
    {% endfor %}
        <td>
        {% with voter_dict=individual_performance_dict|get_value_from_dict:voter_we_vote_id %}
            <strong><span style="font-size: 1.2em">{{ voter_dict.volunteer_task_total }}</span></strong><br />
            {% if voter_dict.candidates_created %}
            {{ voter_dict.candidates_created }}<br />
            {% endif %}
            {% if voter_dict.politicians_augmented %}
            {{ voter_dict.politicians_augmented }}<br />
            {% endif %}
            {% if voter_dict.duplicate_politician_analysis %}
            {{ voter_dict.duplicate_politician_analysis }}<br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
            {{ voter_dict.politicians_deduplicated }}<br />
            {% endif %}
            {% if voter_dict.match_candidates_to_politicians %}
            {{ voter_dict.match_candidates_to_politicians }}<br />
            {% endif %}
            {% if voter_dict.politicians_photo_added %}
            {{ voter_dict.politicians_photo_added }}<br />
            {% endif %}
            {% if voter_dict.election_retrieve_started %}
            {{ voter_dict.election_retrieve_started }}<br />
            {% endif %}
            {% if voter_dict.positions_saved %}
            {{ voter_dict.positions_saved }}<br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
            {{ voter_dict.position_comments_saved }}<br />
            {% endif %}
            {% if voter_dict.politicians_requested_changes %}
            {{ voter_dict.politicians_requested_changes }}<br />
            {% endif %}
            {% if voter_dict.twitter_bulk_retrieve %}
            {{ voter_dict.twitter_bulk_retrieve }}<br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
            {{ voter_dict.voter_guide_possibilities_created }}<br />
            {% endif %}
        {% endwith %}
        </td>
    </tr>
{% endfor %}
</table>


</div>{# End of font-size: 1.4em #}

<script>
    $(function() {
        $('#team_select_id').change(function() {
            this.form.submit();
        });
    });
</script>

{% endblock %}
