{# templates/volunteer_task/performance_list.html #}
{% extends "template_base.html" %}

{% block title %}Scoreboard{% endblock %}

{% block content %}
{% load template_filters %}
{% load humanize %}

<h1>Scoreboard</h1>
<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Who</th>
        <th>Totals</th>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        <th>{{ end_of_week_date_integer }}</th>
    {% endfor %}
    </tr>
    </thead>

{% for voter_display_name in voter_display_name_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
        {% with voter_dict=performance_display_dict|get_value_from_dict:voter_display_name %}
            {{ voter_display_name }}<br />
            {% if voter_dict.candidates_created %}
            &nbsp;&nbsp;&nbsp;Candidates Created<br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
            &nbsp;&nbsp;&nbsp;Candidates / Politicians Deduplicated<br />
            {% endif %}
            {% if voter_dict.positions_saved %}
            &nbsp;&nbsp;&nbsp;Positions Saved<br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
            &nbsp;&nbsp;&nbsp;Positions Comments Saved<br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
            &nbsp;&nbsp;&nbsp;Voter Guides Saved<br />
            {% endif %}
        {% endwith %}
        </td>
        <td>
        {% with voter_dict=performance_display_dict|get_value_from_dict:voter_display_name %}
            <strong><span style="font-size: 1.2em">{{ voter_dict.volunteer_task_total }}</span></strong><br />
            {% if voter_dict.candidates_created %}
            {{ voter_dict.candidates_created }}<br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
            {{ voter_dict.politicians_deduplicated }}<br />
            {% endif %}
            {% if voter_dict.positions_saved %}
            {{ voter_dict.positions_saved }}<br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
            {{ voter_dict.position_comments_saved }}<br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
            {{ voter_dict.voter_guide_possibilities_created }}<br />
            {% endif %}
        {% endwith %}
        </td>
    {% for end_of_week_date_integer in end_of_week_date_integer_list %}
        <td>
        {% with voter_dict=performance_display_dict|get_value_from_dict:voter_display_name %}
        {% with voter_one_date_dict=voter_dict|get_value_from_dict:end_of_week_date_integer %}
            {{ voter_one_date_dict.volunteer_task_total }}<br />
            {% if voter_dict.candidates_created %}{# Show row if any candidates_created #}
            {{ voter_one_date_dict.candidates_created }}<br />
            {% endif %}
            {% if voter_dict.politicians_deduplicated %}
            {{ voter_one_date_dict.politicians_deduplicated }}<br />
            {% endif %}
            {% if voter_dict.positions_saved %}
            {{ voter_one_date_dict.positions_saved }}<br />
            {% endif %}
            {% if voter_dict.position_comments_saved %}
            {{ voter_one_date_dict.position_comments_saved }}<br />
            {% endif %}
            {% if voter_dict.voter_guide_possibilities_created %}
            {{ voter_one_date_dict.voter_guide_possibilities_created }}<br />
            {% endif %}
        {% endwith %}
        {% endwith %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

<table class="table table-condensed">
    <tr>
        {# Positions Saved #}
        <td></td>
        <td></td>
    </tr>
</table>

{% endblock %}