{# templates/elected_official/elected_official_list.html #}
{% extends "template_base.html" %}

{% block title %}Elected Officials{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Elected Officials</h1>

<a href="{% url 'elected_official:elected_official_new' %}?state_code={{ state_code }}">Add New Elected Official</a><br />

<form name="state_code_form" method="get" action="{% url 'elected_official:elected_official_list' %}">
    {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&elected_official_search={{ elected_official_search }}&show_all=1">
            show all</a>
        {% endif %}
    {% endif %}{# End of if state_list #}

    {% if elected_official_search %}
    <a href="{% url 'elected_official:elected_official_list' %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="elected_official_search" id="elected_official_search_id" value="{{ elected_official_search }}" />
    <input type="submit" value="Search for Elected Official" />
</form>

{% if elected_official_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Elected Official Name</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <td>Vote Smart Id</td>
        </tr>
    {% for elected_official in elected_official_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if elected_official.elected_official_photo_url %}
                <a href="{% url 'elected_official:elected_official_edit' elected_official.id %}?google_civic_election_id={{ google_civic_election_id }}">
                    <img src='{{ elected_official.photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'elected_official:elected_official_edit' elected_official.id %}?google_civic_election_id={{ google_civic_election_id }}">{{ elected_official.elected_official_name }}</a></td>
            <td>{{ elected_official.state_code }}</td>
            <td>{% if elected_official.elected_official_twitter_handle %}<a href="https://twitter.com/{{ elected_official.elected_official_twitter_handle }}"
                    target="_blank">{{ elected_official.elected_official_twitter_handle }}</a><br />
                ({{ elected_official.twitter_followers_count }} followers){% endif %}</td>
            <td>{% if elected_official.elected_official_url %}<a href="{{ elected_official.elected_official_url }}" target="_blank">{{ elected_official.elected_official_url }}</a>{% endif %}</td>
            <td>{{ elected_official.id }}</td>
            <td>{{ elected_official.we_vote_id }}</td>
            <td>{{ elected_official.vote_smart_id|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    <p>(no elected_officials found)</p>
    <p>
        <a href="{% url 'elected_official:elected_official_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Elected Official</a><br />
    </p>
{% endif %}

    <script>
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}