{# templates/elected_official/elected_official_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if elected_official %}{{ elected_official.elected_official_name  }}{% else %}New Politician{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
<a href="{% url 'elected_official:elected_official_list' %}?state_code={{ state_code }}">
    < Back to Elected Officials</a>

<h1>{% if elected_official %}Edit Elected Official "{{ elected_official.elected_official_name }}"{% else %}New Elected Official{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url "elected_official:elected_official_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="elected_official_id" value="{% if elected_official %}{{ elected_official.id }}{% else %}0{% endif %}">

<div class="form-group">
    <label for="elected_official_name_id" class="col-sm-3 control-label">Elected Official Name</label>
    <div class="col-sm-8">
        <input type="text" name="elected_official_name" id="elected_official_name_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.elected_official_name|default_if_none:"" }}{% else %}{{ elected_official_name|default_if_none:"" }}{% endif %}" />
        {% if elected_official %}
            {{ elected_official.we_vote_id }}
            (<a href="{% url 'elected_official:elected_official_delete_process' %}?elected_official_id={{ elected_official.id }}">delete elected official</a>)
        {% else %}
            {{ we_vote_id }}
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="state_code_id" class="col-sm-3 control-label">State Code</label>
    <div class="col-sm-8">
        <input type="text" name="state_code" id="state_code_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.state_code|default_if_none:"" }}{% else %}{{ state_code|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_candidate_name_id" class="col-sm-3 control-label">Elected Official Name (for Google Civic matching)</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_candidate_name" id="google_civic_candidate_name_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.google_civic_candidate_name|default_if_none:"" }}{% else %}{{ google_civic_candidate_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="elected_official_twitter_handle_id" class="col-sm-3 control-label">Twitter Handle</label>
    <div class="col-sm-8">
        <input type="text" name="elected_official_twitter_handle" id="elected_official_twitter_handle_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.elected_official_twitter_handle|default_if_none:"" }}{% else %}{{ elected_official_twitter_handle|default_if_none:"" }}{% endif %}" />
    {% if elected_official.elected_official_twitter_handle %}
        (<a href="{% url 'import_export_twitter:refresh_twitter_elected_official_details' elected_official.id %}">refresh Twitter details</a>)<br />
        Twitter Name: {{ elected_official.twitter_name }}<br />
        Twitter Description: {{ elected_official.twitter_description }}<br />
        Twitter Location: {{ elected_official.twitter_location }}<br />
        Twitter Followers: {{ elected_official.twitter_followers_count }}<br />
    {% endif %}
    {% if elected_official.twitter_url %}Twitter URL (from Google Civic): {{ elected_official.twitter_url }}{% endif %}
    </div>
</div>

<div class="form-group">
    <label for="elected_official_url_id" class="col-sm-3 control-label">Elected Official Website</label>
    <div class="col-sm-8">
        <input type="text" name="elected_official_url" id="elected_official_url_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.elected_official_url|default_if_none:"" }}{% else %}{{ elected_official_url|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="political_party_id" class="col-sm-3 control-label">Elected Official Party</label>
    <div class="col-sm-8">
        <input type="text" name="political_party" id="political_party_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.political_party|default_if_none:"" }}{% else %}{{ political_party|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<!--<div class="form-group">-->
    <!--<label for="vote_smart_id_id" class="col-sm-3 control-label">Vote Smart Id</label>-->
    <!--<div class="col-sm-8">-->
        <!--<input type="text" name="vote_smart_id" id="vote_smart_id_id" class="form-control"-->
               <!--value="{% if elected_official %}{{ elected_official.vote_smart_id|default_if_none:"" }}{% else %}{{ vote_smart_id|default_if_none:"" }}{% endif %}" />-->
    <!--</div>-->
<!--</div>-->

<div class="form-group">
    <label for="maplight_id_id" class="col-sm-3 control-label">MapLight Id</label>
    <div class="col-sm-8">
        <input type="text" name="maplight_id" id="maplight_id_id" class="form-control"
               value="{% if elected_official %}{{ elected_official.maplight_id|default_if_none:"" }}{% else %}{{ maplight_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<p><a href="{% url 'elected_official:elected_official_list' %}?state_code={{ state_code }}">cancel</a>
<input name="submit_text" type="submit" value="{% if elected_official %}Update Elected Official{% else %}Save New Elected Official{% endif %}" /></p>
</form>

<br />
{% if elected_official %}


{% if linked_candidate_list %}
    <h4>Candidates Linked to this Elected Official</h4>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Candidate Name</td>
            <td>State</td>
            <td>Election</td>
            <td>Office</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <td>Vote Smart Id</td>
        </tr>
    {% for candidate in linked_candidate_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if candidate.candidate_photo_url %}
                <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
                    <img src='{{ candidate.candidate_photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ candidate.candidate_name }}</a></td>
            <td>{{ candidate.get_candidate_state }}</td>
            <td>{{ candidate.election.election_name }} - {{ candidate.election.google_civic_election_id }}</td>
            <td>
        {% if candidate.office %}
                <a href="{% url 'office:office_summary' candidate.office.id %}" target="_blank">{{ candidate.office.office_name }}</a>
        {% else %}
            (office missing)
        {% endif %}
            </td>
            <td>{% if candidate.candidate_twitter_handle %}<a href="https://twitter.com/{{ candidate.candidate_twitter_handle }}"
                    target="_blank">{{ candidate.candidate_twitter_handle }}</a><br />
                ({{ candidate.twitter_followers_count }} followers){% endif %}</td>
            <td>{% if candidate.candidate_url %}<a href="{{ candidate.candidate_url }}" target="_blank">{{ candidate.candidate_url }}</a>{% endif %}</td>
            <td>{% if candidate.candidate_contact_form_url %}<a href="{{ candidate.candidate_contact_form_url }}" target="_blank">{{ candidate.candidate_contact_form_url }}</a>{% endif %}</td>
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.we_vote_id }}
                {% if candidate.politician_we_vote_id %}
                    {{ candidate.politician_we_vote_id }}
                {% endif %}
            </td>
            <td>{{ candidate.vote_smart_id|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    <p>(no linked candidates found)</p>
{% endif %}



{% if related_candidate_list %}
    <h4>Candidates That Might Match This Elected Official</h4>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Candidate Name</td>
            <td>State</td>
            <td>Election</td>
            <td>Office</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <td>Vote Smart Id</td>
        </tr>
    {% for candidate in related_candidate_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if candidate.candidate_photo_url %}
                <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
                    <img src='{{ candidate.candidate_photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ candidate.candidate_name }}</a>
            &nbsp;
                (<a href="{% url 'candidate:candidate_politician_match' %}?candidate_id={{ candidate.id }}&google_civic_election_id={{ google_civic_election_id }}" target="_blank">match to politician</a>)
            </td>
            <td>{{ candidate.get_candidate_state }}</td>
            <td>{{ candidate.election.election_name }} - {{ candidate.election.google_civic_election_id }}</td>
            <td>
        {% if candidate.office %}
                <a href="{% url 'office:office_summary' candidate.office.id %}" target="_blank">{{ candidate.office.office_name }}</a>
        {% else %}
            (office missing)
        {% endif %}
            </td>
            <td>{% if candidate.candidate_twitter_handle %}<a href="https://twitter.com/{{ candidate.candidate_twitter_handle }}"
                    target="_blank">{{ candidate.candidate_twitter_handle }}</a><br />
                ({{ candidate.twitter_followers_count }} followers){% endif %}</td>
            <td>{% if candidate.candidate_url %}<a href="{{ candidate.candidate_url }}" target="_blank">{{ candidate.candidate_url }}</a>{% endif %}</td>
            <td>{% if candidate.candidate_contact_form_url %}<a href="{{ candidate.candidate_contact_form_url }}" target="_blank">{{ candidate.candidate_contact_form_url }}</a>{% endif %}</td>
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.we_vote_id }}
                {% if candidate.politician_we_vote_id %}
                    {{ candidate.politician_we_vote_id }}
                {% endif %}
            </td>
            <td>{{ candidate.vote_smart_id|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
    </table>

{% endif %}



{% if duplicate_elected_official_list %}
    <h4>Possible Duplicate Elected Officials</h4>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Elected Official Name</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <!--<td>Vote Smart Id</td>-->
        </tr>
    {% for elected_official in duplicate_elected_official_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if elected_official.photo_url %}
                <a href="{% url 'elected_official:elected_official_edit' elected_official.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
                    <img src='{{ elected_official.photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'elected_official:elected_official_edit' elected_official.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ elected_official.elected_official_name }}</a></td>
            <td>{{ elected_official.state_code }}</td>
            <td>{% if elected_official.elected_official_twitter_handle %}<a href="https://twitter.com/{{ elected_official.elected_official_twitter_handle }}"
                    target="_blank">{{ elected_official.elected_official_twitter_handle }}</a><br />
                ({{ elected_official.twitter_followers_count }} followers){% endif %}</td>
            <td>{% if elected_official.elected_official_url %}<a href="{{ elected_official.elected_official_url }}" target="_blank">{{ elected_official.elected_official_url }}</a>{% endif %}</td>
            <td>{{ elected_official.id }}</td>
            <td>{{ elected_official.we_vote_id }}</td>
            <!--<td>{{ elected_official.rt_id }}</td>-->
        </tr>
    {% endfor %}
    </table>
{% endif %}




<a href="{% url 'elected_official:elected_official_retrieve_photos' elected_official.id %}">Retrieve photos</a><br />
    {% if elected_official.photo_url %}
    <img src='{{ elected_official.photo_url }}' />
    {% endif %}

    <!--<h4>We Vote Positions Related to {{ elected_official.elected_official_name  }}</h4>-->
    <!--{% if elected_official.vote_smart_id %}-->
        <!--<p><a href="{% url 'import_export_vote_smart:transfer_vote_smart_ratings_to_positions_for_politician' elected_official.id %}">Transfer Vote Smart Ratings to We Vote Positions</a></p>-->
    <!--{% endif %}-->

        <!--<p><a href="{% url 'organization:organization_list' %}?politician_we_vote_id={{ elected_official.we_vote_id }}" target="_blank">-->
            <!--Add Position (start with Organization taking the Position)</a> (open in new window)</p>-->

    <!--{% if elected_official_position_list %}-->
        <!--<table border="1">-->
        <!--<tr>-->
            <!--<td></td>-->
            <!--<td>Organization</td>-->
            <!--&lt;!&ndash;<td>Stance</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>Rating Time Span</td>&ndash;&gt;-->
        <!--</tr>-->

        <!--{% for elected_official_position in elected_official_position_list %}-->
        <!--{% if not elected_official_position.id %}-->
        <!--<tr>-->
            <!--<td colspan="3">-->
            <!--(missing elected_official_position.id)-->
            <!--</td>-->
        <!--</tr>-->
        <!--{% else %}-->
        <!--<tr>-->
            <!--<td>{{ forloop.counter }}</td>-->
            <!--<td>-->
                <!--{% if elected_official_position.organization_id %}-->
                <!--<a href="{% url 'organization:organization_position_edit' elected_official_position.organization_id elected_official_position.we_vote_id %}">-->
                <!--{{ elected_official_position.organization.organization_name }}</a>-->
                <!--{% else %}-->
                    <!--(not an org)-->
                <!--{% endif %}-->
            <!--</td>-->
            <!--<td>{{ elected_official_position.get_stance_display }}-->
                <!--{% if elected_official_position.vote_smart_rating %} {{ elected_official_position.vote_smart_rating }}%{% endif %}</td>-->
            <!--<td>{{ elected_official_position.vote_smart_time_span|default_if_none:"" }}</td>-->
        <!--</tr>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->

        <!--</table>-->
    <!--{% else %}-->
        <!--<p>(no positions found)</p>-->
    <!--{% endif %}-->

    {% if elected_official.vote_smart_id and elected_official.vote_smart_id != False and elected_official.vote_smart_id != 'False' and elected_official.vote_smart_id != None and elected_official.vote_smart_id != 'None' %}
        <h4>Vote Smart Ratings</h4>
        <p><a href="{% url 'import_export_vote_smart:import_one_politician_ratings' elected_official.vote_smart_id %}">Import Vote Smart Ratings for this Elected Official</a></p>

        {% if rating_list %}
            <table border="1">
            <tr>
                <td></td>
                <td>ratingId</td>
                <td>sigId</td>
                <td>ratingName</td>
                <td>timeSpan</td>
                <td>candidateId</td>
                <td>rating</td>
            </tr>

            {% for special_interest_group_rating in rating_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ special_interest_group_rating.ratingId }}</td>
                <td><a href="{% url 'import_export_vote_smart:special_interest_group_rating_list' special_interest_group_rating.sigId %}" target="_blank">
                    {{ special_interest_group_rating.sigId }}</a></td>
                <td>{{ special_interest_group_rating.ratingName }}</td>
                <td>{{ special_interest_group_rating.timeSpan }}</td>
                <td>{{ special_interest_group_rating.candidateId }}</td>
                <td>{{ special_interest_group_rating.rating }}</td>
            </tr>
            {% endfor %}

            </table>
        {% else %}
            <p>(no special interest group ratings found)</p>
        {% endif %}
    {% endif %}{# End of if elected_official.vote_smart_id #}
    <br />

    {% if elected_official.twitter_profile_image_url_https_original %}
        <img src="{{ elected_official.twitter_profile_image_url_https_original }}"><br />
        Twitter Image (Original)<br />
    {% endif %}

    {% if elected_official.twitter_profile_banner_url_https %}
        <img src="{{ elected_official.twitter_profile_banner_url_https }}"><br />
        Twitter Banner<br />
    {% endif %}
{% else %}

{# Only show other elected_officials running for this office when we are entering a new elected_official #}
{% if elected_official_list %}
<h5>Existing Elected Officials</h5>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Elected Official Name</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <td>Vote Smart Id</td>
            <td>&nbsp;</td>
        </tr>
    {% for elected_official in elected_official_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if elected_official.photo_url %}
                <a href="{% url 'elected_official:elected_official_edit' elected_official.id %}">
                    <img src='{{ elected_official.photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'elected_official:elected_official_edit' elected_official.id %}">{{ elected_official.elected_official_name }}</a></td>
            <td>{{ elected_official.state_code }}</td>
            <td>{% if elected_official.elected_official_twitter_handle %}<a href="https://twitter.com/{{ elected_official.elected_official_twitter_handle }}"
                    target="_blank">{{ elected_official.elected_official_twitter_handle }}</a><br />
                ({{ elected_official.twitter_followers_count }} followers){% endif %}</td>
            <td>{% if elected_official.elected_official_url %}<a href="{{ elected_official.elected_official_url }}" target="_blank">{{ elected_official.elected_official_url }}</a>{% endif %}</td>
            <td>{{ elected_official.id }}</td>
            <td>{{ elected_official.we_vote_id }}</td>
            <td>{{ elected_official.vote_smart_id }}</td>
            <td><a href="{% url 'elected_official:elected_official_edit' elected_official.id %}" style="font-size: .65em">(edit)</a></td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    {# Don't display anything if there aren't any other elected_officials captured for this office yet #}
{% endif %}

{% endif %}{# End of if elected_official #}


<style>
    .animated {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }
</style>
<script>
    $(function(){
        $('.normal').autosize();
        $('.animated').autosize({append: "\n"});
    });
/* TODO This is kludgy to put the full javascript library here, but I couldn't figure out how
to get Django static files set up. */
/*!
Autosize v1.18.1 - 2013-11-05
Automatically adjust textarea height based on user input.
(c) 2013 Jack Moore - http://www.jacklmoore.com/autosize
license: http://www.opensource.org/licenses/mit-license.php
*/
(function ($) {
	var
	defaults = {
		className: 'autosizejs',
		append: '',
		callback: false,
		resizeDelay: 10
	},

	// border:0 is unnecessary, but avoids a bug in Firefox on OSX
	copy = '<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>',

	// line-height is conditionally included because IE7/IE8/old Opera do not return the correct value.
	typographyStyles = [
		'fontFamily',
		'fontSize',
		'fontWeight',
		'fontStyle',
		'letterSpacing',
		'textTransform',
		'wordSpacing',
		'textIndent'
	],

	// to keep track which textarea is being mirrored when adjust() is called.
	mirrored,

	// the mirror element, which is used to calculate what size the mirrored element should be.
	mirror = $(copy).data('autosize', true)[0];

	// test that line-height can be accurately copied.
	mirror.style.lineHeight = '99px';
	if ($(mirror).css('lineHeight') === '99px') {
		typographyStyles.push('lineHeight');
	}
	mirror.style.lineHeight = '';

	$.fn.autosize = function (options) {
		if (!this.length) {
			return this;
		}

		options = $.extend({}, defaults, options || {});

		if (mirror.parentNode !== document.body) {
			$(document.body).append(mirror);
		}

		return this.each(function () {
			var
			ta = this,
			$ta = $(ta),
			maxHeight,
			minHeight,
			boxOffset = 0,
			callback = $.isFunction(options.callback),
			originalStyles = {
				height: ta.style.height,
				overflow: ta.style.overflow,
				overflowY: ta.style.overflowY,
				wordWrap: ta.style.wordWrap,
				resize: ta.style.resize
			},
			timeout,
			width = $ta.width();

			if ($ta.data('autosize')) {
				// exit if autosize has already been applied, or if the textarea is the mirror element.
				return;
			}
			$ta.data('autosize', true);

			if ($ta.css('box-sizing') === 'border-box' || $ta.css('-moz-box-sizing') === 'border-box' || $ta.css('-webkit-box-sizing') === 'border-box'){
				boxOffset = $ta.outerHeight() - $ta.height();
			}

			// IE8 and lower return 'auto', which parses to NaN, if no min-height is set.
			minHeight = Math.max(parseInt($ta.css('minHeight'), 10) - boxOffset || 0, $ta.height());

			$ta.css({
				overflow: 'hidden',
				overflowY: 'hidden',
				wordWrap: 'break-word', // horizontal overflow is hidden, so break-word is necessary for handling words longer than the textarea width
				resize: ($ta.css('resize') === 'none' || $ta.css('resize') === 'vertical') ? 'none' : 'horizontal'
			});

			// The mirror width must exactly match the textarea width, so using getBoundingClientRect because it doesn't round the sub-pixel value.
			function setWidth() {
				var style, width;

				if ('getComputedStyle' in window) {
					style = window.getComputedStyle(ta, null);
					width = ta.getBoundingClientRect().width;

					$.each(['paddingLeft', 'paddingRight', 'borderLeftWidth', 'borderRightWidth'], function(i,val){
						width -= parseInt(style[val],10);
					});

					mirror.style.width = width + 'px';
				}
				else {
					// window.getComputedStyle, getBoundingClientRect returning a width are unsupported and unneeded in IE8 and lower.
					mirror.style.width = Math.max($ta.width(), 0) + 'px';
				}
			}

			function initMirror() {
				var styles = {};

				mirrored = ta;
				mirror.className = options.className;
				maxHeight = parseInt($ta.css('maxHeight'), 10);

				// mirror is a duplicate textarea located off-screen that
				// is automatically updated to contain the same text as the
				// original textarea.  mirror always has a height of 0.
				// This gives a cross-browser supported way getting the actual
				// height of the text, through the scrollTop property.
				$.each(typographyStyles, function(i,val){
					styles[val] = $ta.css(val);
				});
				$(mirror).css(styles);

				setWidth();

				// Chrome-specific fix:
				// When the textarea y-overflow is hidden, Chrome doesn't reflow the text to account for the space
				// made available by removing the scrollbar. This workaround triggers the reflow for Chrome.
				if (window.chrome) {
					var width = ta.style.width;
					ta.style.width = '0px';
					var ignore = ta.offsetWidth;
					ta.style.width = width;
				}
			}

			// Using mainly bare JS in this function because it is going
			// to fire very often while typing, and needs to very efficient.
			function adjust() {
				var height, original;

				if (mirrored !== ta) {
					initMirror();
				} else {
					setWidth();
				}

				mirror.value = ta.value + options.append;
				mirror.style.overflowY = ta.style.overflowY;
				original = parseInt(ta.style.height,10);

				// Setting scrollTop to zero is needed in IE8 and lower for the next step to be accurately applied
				mirror.scrollTop = 0;

				mirror.scrollTop = 9e4;

				// Using scrollTop rather than scrollHeight because scrollHeight is non-standard and includes padding.
				height = mirror.scrollTop;

				if (maxHeight && height > maxHeight) {
					ta.style.overflowY = 'scroll';
					height = maxHeight;
				} else {
					ta.style.overflowY = 'hidden';
					if (height < minHeight) {
						height = minHeight;
					}
				}

				height += boxOffset;

				if (original !== height) {
					ta.style.height = height + 'px';
					if (callback) {
						options.callback.call(ta,ta);
					}
				}
			}

			function resize () {
				clearTimeout(timeout);
				timeout = setTimeout(function(){
					var newWidth = $ta.width();

					if (newWidth !== width) {
						width = newWidth;
						adjust();
					}
				}, parseInt(options.resizeDelay,10));
			}

			if ('onpropertychange' in ta) {
				if ('oninput' in ta) {
					// Detects IE9.  IE9 does not fire onpropertychange or oninput for deletions,
					// so binding to onkeyup to catch most of those occasions.  There is no way that I
					// know of to detect something like 'cut' in IE9.
					$ta.on('input.autosize keyup.autosize', adjust);
				} else {
					// IE7 / IE8
					$ta.on('propertychange.autosize', function(){
						if(event.propertyName === 'value'){
							adjust();
						}
					});
				}
			} else {
				// Modern Browsers
				$ta.on('input.autosize', adjust);
			}

			// Set options.resizeDelay to false if using fixed-width textarea elements.
			// Uses a timeout and width check to reduce the amount of times adjust needs to be called after window resize.

			if (options.resizeDelay !== false) {
				$(window).on('resize.autosize', resize);
			}

			// Event for manual triggering if needed.
			// Should only be needed when the value of the textarea is changed through JavaScript rather than user input.
			$ta.on('autosize.resize', adjust);

			// Event for manual triggering that also forces the styles to update as well.
			// Should only be needed if one of typography styles of the textarea change, and the textarea is already the target of the adjust method.
			$ta.on('autosize.resizeIncludeStyle', function() {
				mirrored = null;
				adjust();
			});

			$ta.on('autosize.destroy', function(){
				mirrored = null;
				clearTimeout(timeout);
				$(window).off('resize', resize);
				$ta
					.off('autosize')
					.off('.autosize')
					.css(originalStyles)
					.removeData('autosize');
			});

			// Call adjust in case the textarea already contains text.
			adjust();
		});
	};
}(window.jQuery || window.$)); // jQuery or jQuery-like library, such as Zepto
</script>


{% endblock %}