{# templates/office/elected_office_list.html #}
{% extends "template_base.html" %}

{% block title %}Elected Offices{% endblock %}

{%  block content %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Elected Offices</h1>

<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ELECTED_OFFICE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
      target="_blank">
        Import New Elected Offices ></a> (open in new window)
</p>

<p><a href="{% url 'elected_office:elected_office_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Elected Office</a></p>
<p><a href="{% url 'position:refresh_positions_with_contest_office_details_for_election' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Refresh Positions from Elected Office info for this election</a></p>

    <form name="organization_position_choose_election" method="get" action="{% url 'elected_office:elected_office_list' %}">
        {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&candidate_search={{ candidate_search }}&show_all=1">
            show all</a>
        {% endif %}
        {% endif %}
        <br />
        {% if elected_office_search %}
            <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                 clear search</a>&nbsp;
        {% endif %}
        <input type="text" name="elected_office_search" id="elected_office_search_id" value="{{ elected_office_search }}" style="width: 450px" />
        <input type="submit" value="Search for Elected Office" />
        {# End of if state_list #}
{% if elected_office_list %}
    {% if google_civic_election_id %}
    <ul>
        <li>Prepare: <a href="{% url 'office:find_and_remove_duplicate_offices' %}?google_civic_election_id={{ google_civic_election_id }}" >
        Find and Merge Duplicate Elected Offices for this Election</a> (about 1 minute)</li>
    </ul>

    {% endif %}
{% endif %}

{% if elected_office_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>ID</td>
            <td>We Vote ID</td>
            <td>Elected Office Name</td>
            <td>State</td>
            <td>District ID</td>
            <td># of Candidates</td>
            <td>Ocd Division ID</td>
            <td>Ballotpedia office ID</td>
        </tr>
    {% for elected_office in elected_office_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ elected_office.id }}</td>
            <td>{{ elected_office.we_vote_id }}</td>
            <td><a href="{% url 'elected_office:elected_office_summary' elected_office.id %}">{{ elected_office.elected_office_name }}
{#                {% if elected_office.district_id %}#}
{#                    - District {{ elected_office.district_id }}#}
{#                {% endif %}#}
{#                {% if elected_office.state_code %}#}
{#                    - {{ elected_office.state_code }}#}
{#                {% endif %}#}
            </a></td>
            <td>{{ elected_office.state_code }}</td>
            <td>{{ elected_office.district_id|default_if_none:"" }}</td>
            <td>{{ elected_office.candidate_count }}</td>   {#TODO elected office does not have candidate count#}
            <td>{{ elected_office.ocd_division_id }}</td>
            <td>{{ elected_office.ballotpedia_office_id }}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    {# <p><a href="{% url 'office:offices_export' %}?format=json" target="_blank" >Export Elected Offices</a></p> #}
{% else %}
    <p>(no elected offices found)</p>
{% endif %}
    </form>

    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#state_code_id').change(function() {
            this.form.submit();
        });
    });
    </script>

{% endblock %}
