{# templates/image/cache_images_locally_for_all_organizations.html #}
{% extends "template_base.html" %}

{% block title %}
    Cached Images for All Organizations
{% endblock %}

{%  block content %}
<a href="{% url 'voter:voter_list' %}">< Back to Organizations</a><br />
<br />
<a href="{% url 'image:create_resized_images_for_organizations' 0 %}">Create resized images for all Organizations</a>
<br />
<h1>Cached images for all voters</h1>

{% if cache_images_for_all_voters %}
    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>Voter ID</td>
            <td>We Vote ID</td>
            <td>twitter_profile_image</td>
            <td>twitter_background_image</td>
            <td>twitter_banner_image</td>
            <td>facebook_profile_image</td>
            <td>facebook_background_image</td>
            <td></td>
        </tr>

    {% for cache_images_for_a_voter in cache_images_for_all_voters %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if cache_images_for_a_voter.voter_id == voter_id_signed_in %}*ME*{% else %}{% endif %}
            </td>
            <td>{{ cache_images_for_a_voter.voter_we_vote_id }}
                {{ cache_images_for_a_voter.voter_object.we_vote_hosted_profile_image_url_medium|default_if_none:"" }}</td>
            <td>{{ cache_images_for_a_voter.voter_object.twitter_profile_image_url_https|default_if_none:""}}
                {{ cache_images_for_a_voter.cached_twitter_profile_image }}</td>
            <td>{{ cache_images_for_a_voter.cached_twitter_background_image }}</td>
            <td>{{ cache_images_for_a_voter.cached_twitter_banner_image }}</td>
            <td>{{ cache_images_for_a_voter.cached_facebook_profile_image }}</td>
            <td>{{ cache_images_for_a_voter.cached_facebook_background_image }}</td>
            <td>
                <a href="{% url 'image:images_for_one_voter' cache_images_for_a_voter.voter_id %}">
                    See images for one voter
                </a>
            </td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <p>(no voters found)</p>
{% endif %}
<br />

{% endblock %}
