{# templates/image/images_for_one_organization.html #}
{% extends "template_base.html" %}

{% block title %}
    Endorser Images:
    {% if organization_we_vote_id %}{{ organization_we_vote_id }}
    {% else %}No Endorser Found {% endif %}
{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:data_cleanup_organization_list_analysis' %}">
    < Back to Endorser List Analysis</a><br />

<a href="{% url 'image:cache_images_locally_for_all_organizations' %}">< Back to Cache images locally for all organizations</a>
<br />

<a href="{% url 'organization:organization_we_vote_id_position_list' organization_we_vote_id %}">< Back to Endorser</a>
<br />

<h1>Endorser Images{% if organization_we_vote_id %}: {{ organization.organization_name }}{% endif %}</h1>

<a href="{% url 'image:create_resized_images_for_organization' organization_we_vote_id %}">Create resized images for this organization</a><br />

{% if images_for_one_organization %}
    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>We Vote ID</td>
            <td>display_kind_of_image</td>
            <td>&nbsp;</td>
            <td>we_vote_image_url</td>
        </tr>

    {% for one_image_row in images_for_one_organization %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ one_image_row.organization_we_vote_id }}</td>
            <td>{{ one_image_row.display_kind_of_image }} / {{ one_image_row.display_image_size }}</td>
            <td>{% if one_image_row.display_image_size != "original" %}
                {# Don't show image if too big #}
                {% endif %}
                <img src="{{ one_image_row.we_vote_image_url }}" />
            </td>
            <td>
                {% if one_image_row.we_vote_image_url %}
                    {{ one_image_row.we_vote_image_url }}
                {% else %}{% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <p>(no organization images found)</p>
{% endif %}
<br />

{% endblock %}
