{# templates/quick_info/quick_info_master_list.html #}
{% extends "template_base.html" %}

{% block title %}Quick Info Master Entries{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}">< Back to Admin Home</a>

<h1>Quick Info Master Entries</h1>
<p>
Master entries are used by multiple ballot items. Quick info items are the entries that appear next to ballot items (info icon) with information about an office, candidate,
or measure.
</p>
<p><a href="{% url 'quick_info:quick_info_master_new' %}">create new master entry</a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="{% url 'quick_info:quick_info_list' %}">view quick info entries</a><br />
</p>


<form name="quick_info_master_list_display" method="get" action="{% url 'quick_info:quick_info_master_list' %}">
{% csrf_token %}


{# Kind of Ballot Item List #}
<select id="kind_of_ballot_item_id" name="kind_of_ballot_item">
    <option value="">-- Filter by Kind of Ballot Item --</option>
{% for key,value in ballot_item_choices %}
    <option value="{{ key }}" {% if key == kind_of_ballot_item %} selected="selected"{% endif %}>{{ value }}</option>
{% endfor %}
</select><br />


{# Language List #}
<select id="language_id" name="language">
    <option value="">-- Filter by Language --</option>
{% for key,value in language_choices %}
    <option value="{{ key }}" {% if key == language %} selected="selected"{% endif %}>{{ value }}</option>
{% endfor %}
</select><br />

</form>


{% if quick_info_master_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Language</td>
            <td>Kind</td>
            <td>Text</td>
        </tr>
    {% for quick_info_master in quick_info_master_list %}
        <tr>
            <td><a href="{% url 'quick_info:quick_info_master_edit' quick_info_master.id %}">
                {{ quick_info_master.we_vote_id }}</a></td>
            <td>{{ quick_info_master.master_entry_name }}</td>
            <td>{{ quick_info_master.language }}</td>
            <td>{{ quick_info_master.kind_of_ballot_item }}</td>
            <td>{{ quick_info_master.info_text }}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    <p>
        <a href="{% url 'quick_info:quick_info_master_export' %}?format=json" target="_blank" >Export Quick Info Master Entries</a>
{#        ,#}
{#    <a href="{% url 'quick_info:quick_info_master_import' %}" >Import Quick Info</a>#}
    </p>
{% else %}
    <p>(no quick info items found)</p>
{% endif %}

    <script>
        $(function() {
            $('#kind_of_ballot_item_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#language_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}