{# templates/admin_tools/index.html #}
{% extends "template_base.html" %}

{% block title %}Admin Menu{% endblock %}

{%  block content %}
{% load humanize %}
<style>
    td {
        padding-left: 20px;
    }
</style>
<h1>We Vote Admin Menu</h1>
    {% if user and not user.is_anonymous %}
    <p>
            <span>Hello {{ user.get_full_name|default:"Voter" }}!</span>
            <a href="{% url 'logout_we_vote' %}?next={{ request.path }}">Logout</a>
    </p>
    {% endif %}
    <table style="margin-left: 20px; width: 80%">
        <tr style="border-bottom: 1px solid black" >
            <th style="width: fit-content; padding: 4px 10px 4px 0px !important">Statistics</th>
            <th style="width: fit-content; padding: 4px 25px !important"></th>
            <th style="width: fit-content; padding: 4px 10px !important"></th>
            <th style="width: fit-content; padding: 4px 25px !important"></th>
            <th style="width: fit-content; padding: 4px 10px !important"></th>
            <th style="width: fit-content; padding: 4px 25px !important"></th>
            <th style="width: fit-content; padding: 4px 10px !important"></th>
            <th style="width: fit-content; padding: 4px 25px !important"></th>
            <th style="width: fit-content; padding: 4px 10px !important"></th>
            <th style="width: fit-content; padding: 4px 25px !important"></th>
        </tr>
        <tr>
            <td>Public Opinions:</td>
            <td>{{ total_public_endorsements_count|intcomma }}</td>
            <td>w/commentary:</td>
            <td>{{ total_public_endorsements_with_commentary_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Friends-Only Opinions:</td>
            <td>{{ total_friends_only_endorsements_count|intcomma }}</td>
            <td>w/commentary:</td>
            <td>{{ total_friends_only_endorsements_with_commentary_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Total Ballot Requests:</td>
            <td>{{ voter_address_basic_count|intcomma }}</td>
            <td>Full Address:</td>
            <td>{{ voter_address_full_address_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Total Voter Accounts:</td>
            <td>{{ voter_accounts_count|intcomma }}</td>
            <td>Twitter:</td>
            <td>{{ voter_twitter_accounts_count|intcomma }}</td>
            <td>Facebook:</td>
            <td>{{ voter_facebook_accounts_count|intcomma }}</td>
            <td>Email:</td>
            <td>{{ voter_email_accounts_count|intcomma }}</td>
            <td>SMS:</td>
            <td>{{ voter_sms_accounts_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Total Friend Links:</td>
            <td>{{ voter_friendships_count|intcomma }}</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;Voters With 1 Friend:</td>
            <td>{{ voters_with_1_friend_count|intcomma }}</td>
            <td>2 Friends:</td>
            <td>{{ voters_with_2_friends_count|intcomma }}</td>
            <td>3 Friends:</td>
            <td>{{ voters_with_3_friends_count|intcomma }}</td>
            <td>10-19 Friends:</td>
            <td>{{ voters_with_10_to_20_friends_count|intcomma }}</td>
            <td>20+ Friends:</td>
            <td>{{ voters_with_20_plus_friends_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Total Vote Plans Made:</td>
            <td>{{ voters_with_plan_count|intcomma }}</td>
        </tr>
        <tr>
            <td>Shared Links, Unique Sharers:</td>
            <td>{{ shared_link_clicked_unique_sharer_count|intcomma }}</td>
            <td>Unique Viewers:</td>
            <td>{{ shared_link_clicked_unique_viewer_count|intcomma }}</td>
            <td>Shared Links:</td>
            <td>{{ shared_links_count|intcomma }}</td>
            <td>Link Clicks w/o Reclicks:</td>
            <td>{{ shared_links_click_without_reclick_count|intcomma }}</td>
            {#        Link Clicks With Reclicks: {{ shared_links_click_count|intcomma }})#}
        </tr>
    </table>

  <!-- https://simpleisbetterthancomplex.com/tutorial/2020/01/19/how-to-use-chart-js-with-django.html -->
  <button id="showChart" style="margin: 16px 0 10px 20px">Show Friends Frequency Chart</button>
  <div id="chartContainer"></div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script>
      $('#showChart').click(function(evt) {
          if ($("#showChart").text() === "Hide Chart") {
              $('#showChart').text("Show Friends Frequency Chart");  // toggle
              // console.log('after the state change to Show: ' +$('#showChart').text());
              // console.log("Before remove");
              $("#chartCanvas").remove();
              $("#chartContainer").removeAttr("style");
              return;
          }
          $('#showChart').text("Hide Chart");  // toggle
          const chartContainer = $('#chartContainer');
          chartContainer.append('<canvas id="chartCanvas"></canvas>');
          chartContainer.css({width: "40%", margin: "1% 5% 1% 5%", border: "1px solid black"});
          const $chartCanvas = $("#chartCanvas");
          const ctx = $chartCanvas[0].getContext("2d");
          new Chart(ctx, {
              type: 'bar',
              data: {
              labels: {{ voters_with_friends_for_graph | safe}},
              datasets: [{
                  label: 'Friends Frequency, for Voters With Friends',
                  data: {{ voter_with_friends_counts | safe }},
              }],
              },
              options: {
                  responsive: true
              }
          });
      });
  </script>

{# ################## #}
<h2>Analytics</h2>
    <p><a href="{% url 'analytics:analytics_index' %}">Analytics</a></p>

<div>
    <a href="{% url 'issue:issue_partisan_analysis' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
        target="_blank">Breakdown of Endorsements, by Partisan Leaning <span class="glyphicon glyphicon-new-window"></span></a>
</div>

{# ################## #}
<h2>Security</h2>
    <p><a href="{% url 'stripe_donations:suspects_list' %}">Disputed, Fraudulent, and Suspect, Stripe Transactions</a></p>

{# ################## #}
<h2>Maintenance</h2>
    <p><a href="{% url 'apis_v1:apisIndex' %}">API Documentation</a></p>
    <p><a href="{% url 'import_export_batches:batch_process_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
        >Batch Process Status List</a></p>
    <p><a href="{% url 'admin_tools:data_cleanup' %}">Data Cleanup Routines</a></p>
    <p><a href="{% url 'import_export_batches:batches_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
        >Import Data in Batches</a></p>
    <p><a href="{% url 'organization_plans:plan_list' %}">Paid Subscriptions for Endorsers</a></p>
    <p><a href="{% url 'scheduled_tasks:task_list' %}">Scheduled Tasks</a></p>
    <p><a href="{% url 'admin_tools:sync_dashboard' %}">Sync Data with Master We Vote Servers</a></p>
    <p><a href="{% url 'import_export_vote_smart:vote_smart_index' %}">Vote Smart Tools</a></p>
    <p><a href="{% url 'voter:voter_list' %}">Voters</a></p>

<br>
<br>
<br>
{# ################## #}
{# This information does not have to be on the front page, as long as it can be found somewhere #}
<h4>Technical Information</h4>
<p>
    <table>
        <tr>
            <td>Python:</td>
            <td>{{ python_version }}</td>
        </tr>
        <tr>
            <td>Node:</td>
            <td>{{ node_version }}</td>
        </tr>
        <tr>
            <td>Postgres:&nbsp;&nbsp;</td>
            <td>{{ postgres_version }}</td>
        </tr>
        <tr>
            <td>Git commit hash:</td>
            <td>
                <a id="gitLink" href={{git_commit_hash_url}} target="_blank">{{git_commit_hash}}</a>
            </td>
        </tr>
        <tr>
            <td>Experiment:</td>
            <td>experiment 10</td>
        </tr>
     </table>
</p>

{%  endblock %}
