{# templates/admin_tools/index.html #}
{% extends "template_base.html" %}

{% block title %}Admin Menu{% endblock %}

{%  block content %}
<h1>We Vote Admin Menu</h1>

    Total Ballot Requests: {{ voter_address_basic_count }}
        (Full Address: {{ voter_address_full_address_count }})<br />

    Total Voter Accounts: {{ voter_accounts_count }}
        (Twitter: {{ voter_twitter_accounts_count }},
        Facebook: {{ voter_facebook_accounts_count }},
        Email: {{ voter_email_accounts_count }})

{# ################## #}
<h2>Election Data</h2>
    <p>
        <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Elections</a> -
        <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Measures</a> -
        <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Offices</a> -
        <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Candidates</a> -
        <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Elected Offices</a> -
        <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Elected Official</a> -
        <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Politicians</a> -
        <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Values/Issues</a> -
        <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Organizations</a> -
        <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Opinions/Positions</a> -
        <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Voter Guides</a> -
        <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
            >Polling Locations</a>
    </p>
{#    <p><a href="{% url 'quick_info:quick_info_list' %}">Quick Info</a></p>#}
    <p><a href="https://developers.google.com/apis-explorer/#p/civicinfo/v2/civicinfo.elections.voterInfoQuery"
          target="_blank">One Ballot (Retrieve)</a></p>

{# ################## #}
<h2>Maintenance</h2>
    <p><a href="{% url 'analytics:analytics_index' %}">Analytics</a></p>
    <p><a href="{% url 'voter:voter_list' %}">Voters</a></p>
    <p><a href="{% url 'import_export_batches:batches_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
        >Import Data in Batches</a></p>
{#    <p><a href=""></a>Regions</p>#}
{#    <p><a href=""></a>Translation Needed</p>#}
    <p><a href="{% url 'admin_tools:data_cleanup' %}">Data Cleanup Routines</a></p>
    <p><a href="{% url 'apis_v1:apisIndex' %}" target="_blank">API Documentation</a></p>
    <p><a href="{% url 'admin_tools:sync_dashboard' %}">Sync Data with Master We Vote Servers</a></p>
    <p><a href="{% url 'import_export_vote_smart:vote_smart_index' %}">Vote Smart Tools</a></p>
    <p><a href="{% url 'scheduled_tasks:task_list' %}">Scheduled Tasks</a></p>
    {% if user and not user.is_anonymous %}
    <p>
            <span>Hello {{ user.get_full_name|default:"Voter" }}!</span>
            <a href="{% url 'logout_we_vote' %}?next={{ request.path }}">Logout</a>
    </p>
    {% endif %}

<br>
<br>
<br>
{# ################## #}
<h4>Technical Information</h4>
<p>
    Running: {{ python_version }}
</p>

{%  endblock %}
