{# templates/admin_tools/index.html #}
{% extends "template_base.html" %}

{% block title %}Admin Menu{% endblock %}

{%  block content %}
<h1>We Vote Admin Menu</h1>


{# ################## #}
<h2>Election Data</h2>
    <p><a href="{% url 'election:election_list' %}">Elections</a></p>
    <p><a href="{% url 'measure:measure_list' %}">Measures</a></p> {# NOTE: Move text into <a> tag when we have the page built #}
    <p><a href="{% url 'office:office_list' %}">Offices</a></p>
    <p><a href="{% url 'candidate:candidate_list' %}">Candidates</a></p>
    <p><a href="{% url 'organization:organization_list' %}">Organizations</a></p>
    <p><a href="{% url 'position:position_list' %}">Public Opinions / Positions</a></p>
    <p><a href="{% url 'quick_info:quick_info_list' %}">Quick Info</a></p>
    <p><a href="{% url 'voter_guide:voter_guide_list' %}">Voter Guides</a></p>
    <p><a href=""></a>One Ballot</p>
    <p><a href="{% url 'polling_location:polling_location_list' %}">Polling Locations</a></p>

{# ################## #}
<h2>Maintenance</h2>
    <p><a href="{% url 'admin_tools:import_sample_data' %}">Import Test Data</a></p>
    <p><a href="{% url 'voter:voter_list' %}">Voters</a></p>
    <p><a href=""></a>Regions</p>
    <p><a href=""></a>Translation Needed</p>
    <p><a href="{% url 'admin_tools:statistics_summary' %}">Quick Statistics</a></p>
    <p><a href="{% url 'apis_v1:apisIndex' %}" target="_blank">API Documentation</a></p>
    <p>{# Move this to an integrations category? #}
        {% if user and not user.is_anonymous %}
            <span>Hello {{ user.get_full_name|default:"Voter" }}!</span>
            <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        {% else %}
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
        {% endif %}
    </p>
{%  endblock %}
