{# templates/admin_tools/statistics_summary.html #}
{% extends "template_base.html" %}

{% block title %}Quick Statistics{% endblock %}

{%  block content %}

<h1>Quick Statistics</h1>

<h4>Google API Calls</h4>
<p>We need to track the number of calls to the Google Civic API because there are limits to
    the number of calls we can make per day. This also gives us a glimpse into new network activity.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for google_civic_daily_summary in google_civic_daily_summary_list %}
        <tr>
            <td>{{ google_civic_daily_summary.date_string }}</td>
            <td>{{ google_civic_daily_summary.count }}</td>
        </tr>
        {% endfor %}
    </table>

<h4>Vote Smart API Calls</h4>
<p>We track the number of calls to the Vote Smart API so we don't overwhelm their servers.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for vote_smart_daily_summary in vote_smart_daily_summary_list %}
        <tr>
            <td>{{ vote_smart_daily_summary.date_string }}</td>
            <td>{{ vote_smart_daily_summary.count }}</td>
        </tr>
        {% endfor %}
    </table>

<h4>Ballotpedia API Calls</h4>
<p>We track the number of calls to the Ballotpedia API so we don't overwhelm their servers.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for ballotpedia_daily_summary in ballotpedia_daily_summary_list %}
        <tr>
            <td>{{ ballotpedia_daily_summary.date_string }}</td>
            <td>{{ ballotpedia_daily_summary.count }}</td>
        </tr>
        {% endfor %}
    </table>

{%  endblock %}
