{# templates/admin_tools/statistics_summary.html #}
{% extends "template_base.html" %}

{% block title %}Quick Statistics{% endblock %}

{% block content %}
{% load humanize %}

<h1>Quick Statistics</h1>
<h1></h1>

<h4>Twitter / X API Usage As Reported By Twitter</h4>
    <div style="padding: 10px 2px 10px 20px">
      <input type="hidden" id="twitter_api_limits" value="{{ twitter_api_limits }} " />
      <input type="radio" id="limit" name="lim" value="child">
      <label for="limit">Show API Endpoints where "Remaining Calls" < "Limit"</label>
      <input type="radio" id="unlimited" name="lim" value="child" style="margin-left: 16px">
      <label for="unlimited">Show All API Endpoints</label>
    </div>
    <table class="table">
        <thead id="twit_stat_rows">
            <tr>
                <th>Twitter API Endpoint</th>
                <th>Remaining</th>
                <th>Limit</th>
                <th>Date Limit Resets</th>
            </tr>
        </thead>
    </table>
    <br />

{% if twitter_daily_summary_list %}
<h4>Twitter / X API Calls (Our Count)</h4>
    <p>15 most recent days-worth of API calls.</p>
    <p>We need to track the number of calls to the X API because there are limits to the number of calls we can make per day.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for twitter_daily_summary in twitter_daily_summary_list %}
        <tr>
            <td>{{ twitter_daily_summary.date_string }}</td>
            <td>{{ twitter_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}

{% if ctcl_daily_summary_list %}
<h4>CTCL API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for ctcl_daily_summary in ctcl_daily_summary_list %}
        <tr>
            <td>{{ ctcl_daily_summary.date_string }}</td>
            <td>{{ ctcl_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}


{% if google_civic_daily_summary_list %}
<h4>Google API Calls</h4>
<p>We need to track the number of calls to the Google Civic API because there are limits to
    the number of calls we can make per day. This also gives us a glimpse into new network activity.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for google_civic_daily_summary in google_civic_daily_summary_list %}
        <tr>
            <td>{{ google_civic_daily_summary.date_string }}</td>
            <td>{{ google_civic_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}



{% if sendgrid_daily_summary_list %}
<h4>SendGrid API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for sendgrid_daily_summary in sendgrid_daily_summary_list %}
        <tr>
            <td>{{ sendgrid_daily_summary.date_string }}</td>
            <td>{{ sendgrid_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}


{% if ballotpedia_daily_summary_list or vote_smart_daily_summary_list or vote_usa_daily_summary_list or targetsmart_daily_summary_list %}
    <h2>Historical APIs</h2>
{% endif %}

{% if ballotpedia_daily_summary_list %}
    <h4>Ballotpedia API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for ballotpedia_daily_summary in ballotpedia_daily_summary_list %}
        <tr>
            <td>{{ ballotpedia_daily_summary.date_string }}</td>
            <td>{{ ballotpedia_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}


{% if vote_smart_daily_summary_list %}
    <h4>Vote Smart API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for vote_smart_daily_summary in vote_smart_daily_summary_list %}
        <tr>
            <td>{{ vote_smart_daily_summary.date_string }}</td>
            <td>{{ vote_smart_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% if vote_usa_daily_summary_list %}
<h4>Vote USA API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for vote_usa_daily_summary in vote_usa_daily_summary_list %}
        <tr>
            <td>{{ vote_usa_daily_summary.date_string }}</td>
            <td>{{ vote_usa_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}


{% if targetsmart_daily_summary_list %}
<h4>TargetSmart API Calls</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th># of Calls</th>
            </tr>
        </thead>
       {% for targetsmart_daily_summary in targetsmart_daily_summary_list %}
        <tr>
            <td>{{ targetsmart_daily_summary.date_string }}</td>
            <td>{{ targetsmart_daily_summary.count|intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
{% endif %}

  <script>
    const lim = $('#limit');
    const unlim = $('#unlimited');
    const twitter_api_limits = JSON.parse($('input#twitter_api_limits').val());
    // for testing ... twitter_api_limits[6]['remaining'] = 25;

    function showAPIRows() {
      let markup = '';
      $("tr.twit_stat_row").remove();
      const is_unlimited = unlim.is(":checked");
      for (let i = 0; i < twitter_api_limits.length; i++) {
        const twit_stat = twitter_api_limits[i];
        const { endpoint, remaining, limit, reset } = twit_stat;
        if (is_unlimited || (remaining !== limit)) {
          markup += '<tr class="twit_stat_row"><td>' + endpoint + '</td><td>' + remaining
                        + '</td><td>' + limit + '</td><td>' + reset + '</td></tr>';
        }
      }
      const tsr = $('#twit_stat_rows');
      tsr.append(markup);
    }

    if( !lim.is(":checked") && !unlim.is(":checked")) {
        lim.attr('checked', true);
        showAPIRows();
    }

    lim.change(function () {
        if ($(this).prop("checked")) {
           showAPIRows(true);
        }
    });

    unlim.change(function () {
        if ($(this).prop("checked")) {
           showAPIRows(false);
        }
    });
  </script>

{%  endblock %}
