{# templates/admin_tools/sync_data_with_master_dashboard.html #}
{% extends "template_base.html" %}

{% block title %}Sync Data With Master We Vote Servers{% endblock %}

{% block content %}
  {% load template_filters %}

  <h1>Fast Load Data From We Vote Master Servers</h1>
  <div style="padding: 10px 0 75px 25px;
              font-size: 18px;
              display: flex;
              flex-direction: column">
    To load the election data to your local postgres server, press the FAST LOAD button below, and in about
    25 minutes (on a fast Mac), it will have overwritten your local database with all the tables we need for running
    a local development WeVoteServer server.
    <br>
    <div style="font-size: 16px; padding: 15px">
      Wait for it!
      <br>
      <span style="padding: 30px">The last two files are huge --</span>
      <br>
      <span style="padding: 45px">candidate_candidatecampaign (100MB) takes about 17% of the time (roughly 3 minutes)</span>
      <br>
      <span style="padding: 45px">ballot_ballotitem takes about 55% of the time (roughly 9 minutes).</span>
      <br>
    </div>
    The Python logging screen (and this page!) shows progress as the tables are loaded.
    <br>
    <br>

    {% if not fast_load_start_token_valid %}
      <div style="border: 2px solid black;
                  display: flex;
                  flex-direction: column;
                  align-self: center;
                  align-items: flex-start;
                  padding-top: 30px;
                  padding-left: 30px;
                  padding-right: 30px;
                  padding-bottom: 30px;
                  width: 80%">
        <!-- <div style="display: flex;
             flex-direction: column;
             align-self: center;
             justify-content: center;
             align-items: center;
             text-align: center;
             padding-top: 30px;
             padding-bottom: 30px;
             width: 80%"> -->
        <h2>Retrieve Fast Load Authentication</h2>
        <p>
          Please use the email/password you use to sign into the live server: https://api.wevoteusa.org/
          These credentials should have been sent to you during onboarding.
        </p>
        {% include "admin_tools/email_login_form.html" %}
        {% if fast_load_start_token_error %}<p style="color: red;">{{ fast_load_start_token_error }}</p>{% endif %}
      </div>
    {% else %}
      <input type="hidden" id="started_fast_update"  value="false">
      <input type="hidden" id="started_fast_init" value="true">
      <input type="hidden" id="elapsed_seconds"  value="0">
      <div style="display: flex;
                  flex-direction: column;
                  align-self: center;
                  align-items: flex-start;
                  padding-top: 30px;
                  padding-bottom: 30px;
                  width: 80%">
        <button id="fastLoadButton"
                type="submit"
                value="1"
                onClick="fastLoadClick()"
                style="width: 100%;
                       align-self: center">FAST LOAD ALL THE ELECTION DATA, TO YOUR LOCAL POSTGRES</button>
        <progress id="progress" value="0" max="100" style="display: none"></progress>
        <h4 style="color: green;">You are authenticated!</h4>
        <div id="table_count" style="padding-top: 10px"></div>
        <div id="current_table"></div>
        <div id="current_table_size"></div>
        <div id="current_table_wordy"></div>
        <div id="total_time"></div>
        <div id="current_status"></div>
      </div>
    {% endif %}
  </div>
  <br>

  <h1>Sync Data With Master We Vote Servers</h1>

  <p style="padding: 10px 0 5px 25px; font-size: 18px;">
    If you are working with specific election data, and may have made local changes that you want to preserve, then the
    "Sync Data With Master We Vote Servers" tools that follow are for you.  (Syncing data can take many hours for a big
    state, or a national election.)
    <br>
    <br>
    These imports are best run in order from top-to-bottom.
    <br>
    <br>
  </p>


  <p></p>

  <form name="candidate_choose_election"
        method="get"
        action="{% url 'admin_tools:sync_dashboard' %}">
    {% csrf_token %}

    {# ################################### #}
    <h4>Elections</h4>

    <p>
      <a href="{% url 'election:elections_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
        Retrieve All Elections</a> &nbsp;&nbsp;&nbsp;&nbsp; (Meta information only)
      </p>
      <br />

      {% if election_list %}

        <select id="google_civic_election_id" name="google_civic_election_id">
          <option value="0"
                  {% if 0 == google_civic_election_id|convert_to_int %}selected="selected"{% endif %}>
            -- Filter by Election --
          </option>
          {% for one_election in election_list %}
            <option value="{{ one_election.google_civic_election_id }}"
                    {% if one_election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
              {% if one_election.state_code %}{{ one_election.state_code }}{% endif %}
              {{ one_election.election_day_text }}: {{ one_election.election_name }} - {{ one_election.google_civic_election_id }}
            </option>
          {% endfor %}
        </select>
        <br />
      {% endif %}
      {# End of if election_list #}


      {% if state_list %}

        <select id="state_code" name="state_code">
          <option value=""
                  {% if state_code.length == 0 %}selected="selected"{% endif %}>-- All States --</option>
          {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %}selected="selected"{% endif %}>{{ state }}</option>
          {% endfor %}
        </select>
        <br />
      {% endif %}
      {# End of if state_list #}

    </form>

    <table>
      <tr>
        <td>
          <h4>Offices Held</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'office_held:office_held_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Office Held Entries</a>
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of offices currently held by a representative, like &#34;Governor State of Virginia&#34;.</td>
      </tr>

      <tr>
        <td>
          <h4>Offices Held for Location</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'office_held:offices_held_for_location_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Offices Held for Location</a>
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>All of the offices held for each polling location.</td>
      </tr>

      <tr>
        <td>
          <h4>Representatives</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'representative:representatives_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Representatives</a>
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of representatives elected for Offices Held, like &#34;Governor State of Virginia&#34;.</td>
      </tr>

      <tr>
        <td>
          <h4>Offices</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'office:offices_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Offices</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of offices on a ballot, like &#34;Governor State of Virginia&#34;.</td>
      </tr>

      <tr>
        <td>
          <h4>Politicians</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'politician:politicians_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Politicians</a>
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of politicians (current and former candidates)</td>
      </tr>

      <tr>
        <td>
          <h4>Candidates</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'candidate:candidates_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Candidates</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of candidates running for office</td>
      </tr>

      <tr>
        <td>
          <h4>Measures</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'measure:measures_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Measures</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of unique measures, like &#34;Measure BB - Berkeley&#34;</td>
      </tr>

      <tr>
        <td>
          <h4>Values/Issues</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'issue:issues_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Values/Issues</a>
        </td>
        <td>Note: Values/Issues are independent of elections and state_codes</td>
      </tr>

      <tr>
        <td>
          <h4>Endorsers</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'organization:organizations_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Endorsers</a>
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
        </td>
        <td>The list of organizations that make ballot recomendations</td>
      </tr>

      <tr>
        <td>
          <h4>Endorser Links to Values/Issues</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'issue:organization_link_to_issue_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Endorser Links to Values/Issues</a>
        </td>
        <td>Endorser Links to Values/Issues are independent of elections and state_codes</td>
      </tr>

      <tr>
        <td>
          <h4>Positions</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          {% if google_civic_election_id|convert_to_int > 0 %}
            <a href="{% url 'position:positions_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
            Retrieve Positions</a>
            for election {{ google_civic_election_id }}
          {% else %}
            (Cannot retrieve Positions without election id)
          {% endif %}
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>The list of positions on measures and candidates, that organizations have made</td>
      </tr>

      <tr>
        <td>
          <h4>Map Points</h4>
        </td>
      </tr>
      <tr>
        {% if state_code %}

          <td>
            <form id="retrieve_polling_locations"
                  name="polling_locations_import_from_master_server"
                  method="get"
                  action="{% url 'polling_location:polling_locations_import_from_master_server' %}">
              {#% csrf_token %#}
              <input type="submit"
                     value="Retrieve Map Points for the State of {{ state_code }}"
                     style="color: #337ab7;
                            margin-left: 12px">

              <input type="hidden"
                     id="google_civic_election_id"
                     name="google_civic_election_id"
                     value="{{ google_civic_election_id }}">
              <input type="hidden"
                     id="started_original_update"
                     name="started_original_update"
                     value="stop">
              <input type="hidden"
                     id="state_code"
                     name="state_code"
                     value="{{ state_code }}">
              <br />
            </form>
          </td>
        {% else %}
          <td>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'polling_location:polling_locations_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
            Retrieve Map Points</a>
            {% if state_code %}
              for the state {{ state_code }}
            {% else %}
              for ALL states
            {% endif %}
          </td>
        {% endif %}
        <td>
          The list of Map Points (previously known as map points).  &#34;All states&#34; can take more than 45 minutes to load. CA alone can take 15 minutes.
        </td>
      </tr>

      <tr>
        <td>
          <h4>Ballot Items</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'ballot:ballot_items_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Saved Ballot Items</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
          {% if state_code %}
            for the state {{ state_code }}
          {% else %}
            for ALL states
          {% endif %}
          &nbsp;&nbsp;
        </td>
        <td>
          The list of unique offices, like &#34;Governor State of Virginia&#34;
          <br />
          Some of our older data has no state_codes, so if you get no results try with &#34;All states&#34;
        </td>
      </tr>

      <tr>
        <td>
          <h4>Ballot Returned</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'ballot:ballot_returned_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Saved Ballots</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
        </td>
        <td>Polling locations for a specific election and date. Can take an hour to load, for a national election.</td>
      </tr>

      <tr>
        <td>
          <h4>Voter Guides</h4>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'voter_guide:voter_guides_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
          Retrieve Voter Guides</a>
          {% if google_civic_election_id|convert_to_int > 0 %}
            for election {{ google_civic_election_id }}
          {% else %}
            for ALL elections
          {% endif %}
        </td>
        <td>The guides published by organizations</td>
      </tr>
    </table>

    {# ################################### #}
    <br />
    <br />
    <br />
    <h4>Settings</h4>
    <p>BALLOT_ITEMS_SYNC_URL: {{ ballot_items_sync_url }}</p>
    <p>BALLOT_RETURNED_SYNC_URL: {{ ballot_returned_sync_url }}</p>
    <p>CANDIDATES_SYNC_URL: {{ candidates_sync_url }}</p>
    <p>ELECTIONS_SYNC_URL: {{ elections_sync_url }}</p>
    <p>ISSUES_SYNC_URL: {{ issues_sync_url }}</p>
    <p>MEASURES_SYNC_URL: {{ measures_sync_url }}</p>
    <p>OFFICES_SYNC_URL: {{ offices_sync_url }}</p>
    <p>ORGANIZATIONS_SYNC_URL: {{ organizations_sync_url }}</p>
    <p>ORGANIZATION_LINK_TO_ISSUE_SYNC_URL: {{ organization_link_to_issue_sync_url }}</p>
    <p>POLITICIANS_SYNC_URL: {{ politicians_sync_url }}</p>
    <p>POLLING_LOCATIONS_SYNC_URL: {{ polling_locations_sync_url }}</p>
    <p>POSITIONS_SYNC_URL: {{ positions_sync_url }}</p>
    <p>VOTER_GUIDES_SYNC_URL: {{ voter_guides_sync_url }}</p>

    <script>
    function getApiDeviceId () {
        const regex = /voter_api_device_id=(.*?);/g;
        const res = regex.exec(document.cookie);
        if (res && res.length > 1) {
            const voterApiDeviceId = res && res[1];
            {#console.log('getDeviceId voter_api_device_id: ',voterApiDeviceId);#}
            return voterApiDeviceId;
        }
        console.log('ERROR: getApiDeviceId called with out a voter_api_device_id cookie');
        return ''
    }

    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });

    $(function() {
        $('#state_code').change(function() {
            this.form.submit();
        });
    });

    $('#retrieve_polling_locations').submit(function( event ) {
         document.getElementById('started_original_update').value = 'start'
    });

    // Inline code follows
    let countCopy = 0.0;
    let prog = 0;

    const fastLoadButton = $("#fastLoadButton");
    const progress = $("#progress");
    const table_count = $("#table_count");
    const current_status = $("#current_status");
    const current_table = $("#current_table");
    const current_table_size = $("#current_table_size");
    const current_table_wordy = $("#current_table_wordy");
    const elapsed_seconds = $("#elapsed_seconds");
    const total_time = $("#total_time");
    const startedFastUpdate = $('#started_fast_update');
    const fastInit = $('#started_fast_init');
    const currentDate = new Date();
    const t0 = currentDate.getTime();
    let saveOffDBComplete = false;
    let currentPercentFloat = 0.0;

    let counter = 0;
    const regex = /(.*?)\/admin/gm;
    const localOrigin = regex.exec(window.location.href);
    const apiURL = localOrigin[1] + '/retrieve_tables/import/status/?';
    let t1 = 0;




      let prevWordyTableName = '';
      setInterval(function () {
      if ( startedFastUpdate.val() === 'true') {
        console.log("started fast sync_data cycle " + counter++ + " ---- ", startedFastUpdate.val());


        $.ajax({
          type: "GET",
          url: apiURL,
          params: {},
          success: function (data) {
            // console.log(data);
             const isBigTable = ['ballot_ballotreturned', 'organization_organization', 'candidate_candidatecampaign', 'ballot_ballotitem'].includes(data.table_name);
             const seconds = Math.trunc((performance.now() - t1)/1000);
             updateDisplayedDuration(seconds);

             if (prevWordyTableName !== data.table_name_text || isBigTable) {
               prevWordyTableName = data.table_name_text;   // once per file step, unless on the isBigTable list of huge files
               if (!isBigTable) {
                // 32 tables takes 219 seconds out of 1486 total (on my machine, look at the Python log to figure out the timing for yours)
                // so the first 32 tables take 91 seconds out of 1486, or 0.06123822%, so each takes 0.00191369%
                currentPercentFloat += 0.00191369;
            } else if (data.table_name === 'ballot_ballotreturned') {
                // organization_organization takes 84 seconds out of 1486 seconds, so each update takes
              currentPercentFloat += 0.03162853/84;  // Divided by the approximate number of seconds, so the progress bar increments nicely
            } else if (data.table_name === 'organization_organization') {
                // organization_organization takes 106 seconds out of 1486 seconds, so each update takes
              currentPercentFloat += 0.07133244/72;
            } else if (data.table_name === 'candidate_candidatecampaign') {
              // candidate_candidatecampaign takes 186 seconds out of 1486 seconds, so each update takes
              currentPercentFloat += 0.16890983/112;
            } else if (data.table_name === 'ballot_ballotitem') {
              // ballot_ballotitem takes 925 seconds out of 1486 seconds, so each update takes
              currentPercentFloat += 0.63010899/925;   // Take 50 little increments for this one since it takes 15 min
            }
           }
           let percent =  Math.trunc(currentPercentFloat * 100);
             // Remember that these log lines end up in your browser's javascript console
            console.log(`status data: data.elapsed: ${data.elapsed} table: ${data.table_name} percent: ${percent}`);
            if (typeof percent === "number") {
              progress.css({'display': 'flex', 'align-self': 'center', 'font-size': '38px'}).val(percent);
            }

            current_table_wordy.html(`Current table: ${data.table_name_text}`);
            current_table_size.html(`Table size: ${data.table_size === ''? 'Waiting for size...' : (data.table_size / (1024*1024)).toFixed(2) + ' MB'}`);
            current_table.html(data.table_name);
            table_count.text(`Table: ${data.count} of ${data.num_tables}`);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('ERROR status from /retrieve_tables/import/status', textStatus);
          },

        });
      }
    }, 1000);

    function updateDisplayedDuration(secs) {
        // console.log('updateDisplayedDuration, ', secs );
        if (secs < 60) {
            total_time.text(`Elapsed time: ${secs} seconds`);
        } else {
            let mins = Math.trunc(secs/60);
            let newSecs = secs - (mins*60);
            if (newSecs < 10) {
                newSecs = '0' + newSecs.toString();
            }
            total_time.text(`Elapsed time: ${mins}:${newSecs} minutes`);
        }
    }

    function fastLoadClick() {
      console.log("ON CLICK fastLoadButton");
      startedFastUpdate.val("true");

      if (!fastLoadButton.html().includes('.....')) {
        progress.css({'display': 'flex', 'align-self': 'center', 'font-size': '38px'}).val(0);
        fastLoadButton.html("... Migrating all data from the master server, this takes about 30 minutes ...").css('background-color', '#FFFF00');

        let origin = new URL('{{request.build_absolute_uri}}').origin;
        const apiURL = origin + '/retrieve_tables/import/files/?';

        t1 = performance.now();
        $.ajax({
          type: "GET",
          url: apiURL,
          timeout: 14400000,              // 4 hours
          headers: { 'voterApiDeviceId': getApiDeviceId() },
          success: function (data) {
            fastLoadButton.html("DONE: Successfully loaded election data from the master server").css('background-color', 'MEDIUMSPRINGGREEN');
            comp = table_count.text().replace('Table: ', '').replace('of', 'out of the');
            compTxt = `Completed loading ${comp} tables in `
            total_time.text(total_time.text().replace('Elapsed time:', compTxt));
            table_count.text("")
            current_table_wordy.text("");
            startedFastUpdate.val("false");
            progress.val(100);
            progress.fadeOut(6000);
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            fastLoadButton.html("FAILURE: Look at the local Python console log to figure out what went wrong").css('background-color', 'LIGHTCORAL');
          },
        });
        fastInit.val("true");   // In case they want to run this twice without refreshing page
      } else {
         console.log("fastLoadButton clicked while loading");
      }
    }
    </script>

  {% endblock %}
