{# templates/admin_tools/sync_data_with_master_dashboard.html #}
{% extends "template_base.html" %}

{% block title %}Sync Data With Master We Vote Servers{% endblock %}

{%  block content %}
{% load template_filters %}

<h1>Fast Load Data From We Vote Master Servers</h1>
    <div style="padding: 25px 25px 75px 25px; font-size: 18px">
        If you are loading election data for the first time to your local postgres, press the "FAST LOAD" button below, and in about
        fifty-two minutes (on a fast Mac), it will have loaded and stored all the election data we have for all elections and for all the states.
        <br>

        <input type="hidden" id="started_fast_update" name="started_fast_update" value="false">
        <input type="hidden" id="started_fast_init" name="started_fast_init" value="true">
        <div style="padding-left: 15%; padding-top: 30px; padding-bottom: 30px">
            <button id="fastLoadButton" type="submit" value="1" onClick="fastLoadClick()">FAST LOAD ALL THE ELECTION DATA, TO YOUR LOCAL POSTGRES</button>
            <progress id="progress" value="0" max="100" style="display: none"></progress>
            <span id="completion"></span>
        </div>
        If you want to update to current election data, and don't care about overwriting your existing election data,
        "FAST LOAD" is all you need.  The Python logging screen shows progress as the tables are loaded.
        <br><br>
        If you are working with specific election data, and may have made local changes that you want to preserve, then the
        "Sync Data With Master We Vote Servers" tools that follow are for you.  (Syncing data can take many hours for a big
        state, or a national election.)
    </div>



<h1>Sync Data With Master We Vote Servers</h1>

<p>These imports are best run in order from top-to-bottom.</p>

<form name="candidate_choose_election" method="get" action="{% url 'admin_tools:sync_dashboard' %}">
    {% csrf_token %}

{# ################################### #}
<h4>Elections</h4>

<p>
  <a href="{% url 'election:elections_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Retrieve All Elections</a> &nbsp;&nbsp;&nbsp;&nbsp; (Meta information only)
</p>
<br />

{% if election_list %}

    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
            -- Filter by Election --
        </option>
    {% for one_election in election_list %}
        <option value="{{ one_election.google_civic_election_id }}"
                {% if one_election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {% if one_election.state_code %}{{ one_election.state_code }} {% endif %}
            {{ one_election.election_day_text }}: {{ one_election.election_name }} - {{ one_election.google_civic_election_id }}
        </option>
    {% endfor %}
    </select>
    <br />
{% endif %}{# End of if election_list #}


{% if state_list %}

    <select id="state_code" name="state_code">
        <option value="" {% if state_code.length == 0 %} selected="selected"{% endif %}>
            -- All States --
        </option>
    {% for key, state in state_list %}
        <option value="{{ key }}"
                {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
            {{ state }}
        </option>
    {% endfor %}
    </select>
    <br />
{% endif %}{# End of if state_list #}

</form>

<table>
    <tr><td><h4>Offices Held</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'office_held:office_held_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Office Held Entries</a>
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of offices currently held by a representative, like &#34;Governor State of Virginia&#34;.</td>
    </tr>

    <tr><td><h4>Offices Held for Location</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'office_held:offices_held_for_location_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Offices Held for Location</a>
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>All of the offices held for each polling location.</td>
    </tr>

    <tr><td><h4>Representatives</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'representative:representatives_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Representatives</a>
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of representatives elected for Offices Held, like &#34;Governor State of Virginia&#34;.</td>
    </tr>

    <tr><td><h4>Offices</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'office:offices_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Offices</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of offices on a ballot, like &#34;Governor State of Virginia&#34;.</td>
    </tr>

    <tr><td><h4>Politicians</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'politician:politicians_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Politicians</a>
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of politicians (current and former candidates)</td>
    </tr>

    <tr><td><h4>Candidates</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'candidate:candidates_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Candidates</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of candidates running for office</td>
    </tr>

    <tr><td><h4>Measures</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'measure:measures_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Measures</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of unique measures, like &#34;Measure BB - Berkeley&#34;</td>
    </tr>

    <tr><td><h4>Values/Issues</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'issue:issues_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Values/Issues</a>
        </td>
        <td>Note: Values/Issues are independent of elections and state_codes</td>
    </tr>

    <tr><td><h4>Endorsers</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'organization:organizations_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Retrieve Endorsers</a>{% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
        </td>
        <td>The list of organizations that make ballot recomendations</td>
    </tr>

    <tr><td><h4>Endorser Links to Values/Issues</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'issue:organization_link_to_issue_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Endorser Links to Values/Issues</a>
        </td>
        <td>Endorser Links to Values/Issues are independent of elections and state_codes</td>
    </tr>

    <tr><td><h4>Positions</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            {% if google_civic_election_id|convert_to_int > 0 %}
            <a href="{% url 'position:positions_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Positions</a>
            for election {{ google_civic_election_id }}{% else %} (Cannot retrieve Positions without election id){% endif %}
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of positions on measures and candidates, that organizations have made</td>
    </tr>

    <tr><td><h4>Map Points</h4></td></tr>
    <tr>
        {% if state_code %}

        <td>
            <form id="retrieve_polling_locations" name="polling_locations_import_from_master_server" method="get" action="{% url 'polling_location:polling_locations_import_from_master_server' %}">
            {#% csrf_token %#}
                <input type="submit" value="Retrieve Map Points for the State of {{ state_code }}" style="color: #337ab7; margin-left: 12px">

                <input type="hidden" id="google_civic_election_id" name="google_civic_election_id" value="{{ google_civic_election_id }}">
                <input type="hidden" id="started_original_update" name="started_original_update" value="stop">
                <input type="hidden" id="state_code" name="state_code" value="{{ state_code }}">
                <br/>
                <div id="realTimeStatusPollingLocations" style=" margin: 5px 0 0 30px;"></div>
            </form>
        </td>
        {% else %}
       <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'polling_location:polling_locations_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Map Points</a>
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
       </td>
        {% endif %}
        <td>The list of Map Points (previously known as map points).  &#34;All states&#34; can take more than 45 minutes to load. CA alone can take 15 minutes.</td>
    </tr>

    <tr><td><h4>Ballot Items</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'ballot:ballot_items_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Saved Ballot Items</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
            {% if state_code %} for the state {{ state_code }}{% else %} for ALL states{% endif %}
            &nbsp;&nbsp;
        </td>
        <td>The list of unique offices, like &#34;Governor State of Virginia&#34;  <br/>Some of our older data has no state_codes, so if you get no results try with &#34;All states&#34;</td>
    </tr>

    <tr><td><h4>Ballot Returned</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'ballot:ballot_returned_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Saved Ballots</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
        </td>
        <td>Polling locations for a specific election and date. Can take an hour to load, for a national election.</td>
    </tr>

    <tr><td><h4>Voter Guides</h4></td></tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'voter_guide:voter_guides_import_from_master_server' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                Retrieve Voter Guides</a>
            {% if google_civic_election_id|convert_to_int > 0 %} for election {{ google_civic_election_id }}{% else %} for ALL elections{% endif %}
        </td>
        <td>The guides published by organizations</td>
    </tr>
</table>

{# ################################### #}
    <br />
    <br />
    <br />
<h4>Settings</h4>
<p>BALLOT_ITEMS_SYNC_URL: {{ ballot_items_sync_url }}</p>
<p>BALLOT_RETURNED_SYNC_URL: {{ ballot_returned_sync_url }}</p>
<p>CANDIDATES_SYNC_URL: {{ candidates_sync_url }}</p>
<p>ELECTIONS_SYNC_URL: {{ elections_sync_url }}</p>
<p>ISSUES_SYNC_URL: {{ issues_sync_url }}</p>
<p>MEASURES_SYNC_URL: {{ measures_sync_url }}</p>
<p>OFFICES_SYNC_URL: {{ offices_sync_url }}</p>
<p>ORGANIZATIONS_SYNC_URL: {{ organizations_sync_url }}</p>
<p>ORGANIZATION_LINK_TO_ISSUE_SYNC_URL: {{ organization_link_to_issue_sync_url }}</p>
<p>POLITICIANS_SYNC_URL: {{ politicians_sync_url }}</p>
<p>POLLING_LOCATIONS_SYNC_URL: {{ polling_locations_sync_url }}</p>
<p>POSITIONS_SYNC_URL: {{ positions_sync_url }}</p>
<p>VOTER_GUIDES_SYNC_URL: {{ voter_guides_sync_url }}</p>

<script>
    function getApiDeviceId () {
        const regex = /voter_api_device_id=(.*?);/g;
        const res = regex.exec(document.cookie);
        if (res && res.length > 1) {
            const voterApiDeviceId = res && res[1];
            {#console.log('getDeviceId voter_api_device_id: ',voterApiDeviceId);#}
            return voterApiDeviceId;
        }
        console.log('ERROR: getApiDeviceId called with out a voter_api_device_id cookie');
        return ''
    }

    function getEstimatedCompletionTime (t0, current_record, total_records) {
        if (current_record === 0) {
            return 'Save off estimated duration is 40 seconds';
        }
        const t1 = new Date().getTime();
        const dt = t1 - t0;
        const percentComplete = current_record / total_records;
        console.log('percent complete: ', percentComplete);
        const totalEstimate = dt / percentComplete;
        console.log('totalEstimate: ', totalEstimate);
        const timeLeftSec = Math.trunc((totalEstimate - dt)/1000);
        const timeLeftMin = Math.trunc(timeLeftSec / 60);
        const timeElapsedMin = Math.trunc(dt/60000)
        const secRemainder = timeLeftSec - (60 * timeLeftMin)
        const sStr = timeElapsedMin !== 1 ? 's' : ''
        stat = `Estimated completion in ${timeLeftMin} min ${secRemainder} sec, elapsed ${timeElapsedMin} minute${sStr}`
        console.log(stat);
        return stat;
    }

    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });

    $(function() {
        $('#state_code').change(function() {
            this.form.submit();
        });
    });

    $('#retrieve_polling_locations').submit(function( event ) {
         document.getElementById('started_original_update').value = 'start'
    });

    // Inline code follows
    let countCopy = 0.0;
    let prog = 0;

    const fastLoadButton = $("#fastLoadButton");
    const progress = $("#progress");
    const completion = $("#completion");
    const startedFastUpdate = $('#started_fast_update');
    const fastInit = $('#started_fast_init');
    const currentDate = new Date();
    const t0 = currentDate.getTime();
    let saveOffDBComplete = false;

    let counter = 0;
    setInterval(function () {
      {#let origin = new URL('{{request.build_absolute_uri}}').origin;   was local host#}
      let origin = 'https://api.wevoteusa.org'
      let apiURL = origin + '/pl/import_status/';
      let startedOriginalElement = document.getElementById('started_original_update');
      let startedOriginal = startedOriginalElement ? startedOriginalElement.value : "no";

      {#console.log("started sync_data---- ", startedOriginal, startedFastUpdate.val());#}
      if (startedOriginal === 'start') {
        $.ajax({
          type: "GET",
          url: apiURL,
          params: {'counter': counter++},
          success: function (data) {
            let status = data.text;
            // console.log('realTimeStatusPollingLocations', status);
            $('#realTimeStatusPollingLocations').html('<font color="LIMEGREEN">' + status + '</font>');
          },
        });
      }
      const voterApiDeviceId = getApiDeviceId();
      let apiUrlFastLoadStatus = origin + '/apis/v1/fastLoadStatusRetrieve?initialize=' + fastInit.val() +
          '&counter=' + (counter++) + '&voter_api_device_id=' + voterApiDeviceId;
      if (fastInit.val() === 'true') {
        fastInit.val("false")
      }
      if (startedFastUpdate.val() === 'true') {

          $.ajax({
              type: "GET",
              url: apiUrlFastLoadStatus,
              success: function (data) {
                  // console.log('status from fastLoadStatusRetrieve', data.current_record, ' of ', data.total_records);
                  if (fastLoadButton.html().startsWith('...')) {
                      let newHtml = '';
                      if (data.current_record === 0) {
                          newHtml = '.... saving a copy of your local database to &apos;WeVoteServerDB-*.pgsql&apos; files ....';
                          countCopy += 1.5;
                          prog = Math.trunc(countCopy);
                      } else {
                          if (!saveOffDBComplete) {
                              saveOffDBComplete = true;
                              progress.val(prog);  // Reset the progress bar after saving off completes
                          }
                          const current = data.current_record.toLocaleString();
                          const total = data.total_records.toLocaleString();
                          newHtml = `.... loading table: '${data.table_name}', record ${current} of ${total} records`;
                          prog = Math.trunc(((data.current_record / data.total_records) * 100) - 1.5);
                      }
                      // console.log('progress ======= ', prog);
                      progress.val(prog);
                      completion.text(getEstimatedCompletionTime(t0, data.current_record, data.total_records));
                      fastLoadButton.html(newHtml);

                  }
              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  console.log('ERROR status from fastLoadStatusRetrieve', textStatus);
              },
          });
      }
    }, 1000);

    function fastLoadClick() {
      console.log("ON CLICK fastLoadButton");
      startedFastUpdate.val("true");

      if (!fastLoadButton.html().includes('.....')) {
        progress.css({'display': 'block', 'font-size': '38px'}).val(0);
        fastLoadButton.html("... Loading all data from the master server, this takes about 20 to 40 minutes ...").css('background-color', '#FFFF00');

        let origin = new URL('{{request.build_absolute_uri}}').origin;

        const apiURL = origin + '/retrieve_tables/import/files/?';
        $.ajax({
          type: "GET",
          url: apiURL,
          headers: { 'voterApiDeviceId': getApiDeviceId() },
          success: function (data) {
            let status = data.text;
            // console.log(status);
            fastLoadButton.html("DONE: Successfully loaded election data from the master server").css('background-color', 'MEDIUMSPRINGGREEN');
            startedFastUpdate.val("false");
            progress.val(100);
            const t1 = new Date().getTime();
            const dt = t1 - t0;
            const minutes = Math.trunc(dt/60000);
            completion.text('Completed in ' + minutes + ' minutes');
            },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            fastLoadButton.html("FAILURE: Look at the local Python console log to figure out what went wrong").css('background-color', 'LIGHTCORAL');
          },
        });
        fastInit.val("true");   // In case they want to run this twice without refreshing page
      } else {
         console.log("fastLoadButton clicked while loading");
      }
    }
</script>

{%  endblock %}
