{# templates/office/office_list.html #}
{% extends "template_base.html" %}

{% block title %}Offices{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}">< Back to Admin Home</a>

<h1>Offices</h1>

{% if election_list %}
    <form name="organization_position_choose_election" method="get" action="{% url 'office:office_list' %}">
        {% csrf_token %}

    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
    {% for election in election_list %}
        <option value="{{ election.google_civic_election_id }}"
                {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {{ election.election_name }} - {{ election.election_day_text }}</option>
    {% endfor %}
    </select>
    </form>
{% endif %}{# End of if election_list #}


{% if office_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>ID</td>
            <td>We Vote ID</td>
            <td>Office Name</td>
            <td>State</td>
        </tr>
    {% for office in office_list %}
        <tr>
            <td>{{ office.id }}</td>
            <td>{{ office.we_vote_id }}</td>
            <td><a href="{% url 'office:office_summary' office.id %}">{{ office.office_name }}</a></td>
            <td>{{ office.state_code }}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    <p>
        <a href="{% url 'office:offices_export' %}?format=json" target="_blank" >Export Offices</a>
{#        <a href="{% url 'office:offices_import' %}" >Import Offices</a>#}
    </p>
{% else %}
    <p>(no offices found)</p>
{% endif %}

<p><a href="{% url 'office:office_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Office</a></p>

    <script>
        $(function() {
            $('#google_civic_election_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}