{# templates/office/office_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if office %}{{ office.office_name }} Summary{% else %}No Office Found{% endif %}{% endblock %}

{%  block content %}

<a href="{% url 'office:office_list' %}">< Back to Offices</a>

{% if office %}

    <h1>{{ office.office_name }}</h1>
    <p>Office Website: <strong>{{ office.office_url }}</strong><br />

    </p>

{#    <p><a href="{% url 'office:office_edit' office.id %}">edit</a></p>#}


{% else %}

    <h1>No Office Found</h1>
    Please visit the <a href="{% url 'office:office_list' %}">Office List</a> page.

{% endif %}

{% endblock %}
