{# templates/office/office_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if office %}{{ office.office_name }}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
{% else %}Create New Office{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}

<h1>{% if office %}Edit {{ office.office_name|default_if_none:"" }}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
    {% else %}
    Create New Office{% endif %}</h1>

<form action="{% url "office:office_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="office_id" value="{% if office %}{{ office.id }}{% else %}0{% endif %}">
<input type="hidden" name="redirect_to_contest_office_list" value="0">

<div class="form-group">
    <label for="office_name_id" class="col-sm-3 control-label">Office Name</label>
    <div class="col-sm-8">
        <input type="text" name="office_name" id="office_name_id" class="form-control"
               value="{% if office %}{{ office.office_name|default_if_none:"" }}{% else %}{{ office_name|default_if_none:"" }}{% endif %}" />
        {% if office %}{{ office.we_vote_id }}{% else %}{{ we_vote_id }}{% endif %}
        {% if office.contest_office_merge_possibility_found %}
            (<a href="{% url 'office:find_duplicate_office' office.id %}?google_civic_election_id={{ office.google_civic_election_id }}"
                target="_blank">check for duplicate contest offices</a> - in new window)
        {% endif %}
    </div>
</div>

<input type="hidden" name="google_civic_election_id" value="{% if office %}{{ office.google_civic_election_id }}{% else %}{{ google_civic_election_id }}{% endif %}">
<div class="form-group">
    <label for="google_civic_election_id_id" class="col-sm-3 control-label">Google Civic Id</label>
    <div class="col-sm-8">
        {% if office %}{{ office.google_civic_election_id }}{% else %}{{ google_civic_election_id }}{% endif %}
    </div>
</div>

<input type="hidden" name="ballotpedia_election_id" value="{% if office %}{{ office.ballotpedia_election_id }}{% else %}{{ ballotpedia_election_id }}{% endif %}">
<div class="form-group">
    <label for="ballotpedia_election_id_id" class="col-sm-3 control-label">Ballotpedia Election Id</label>
    <div class="col-sm-8">
        {% if office %}{{ office.ballotpedia_election_id|default_if_none:"" }}{% else %}{{ ballotpedia_election_id|default_if_none:"" }}{% endif %}
    </div>
</div>

<div class="form-group">
    <label for="google_civic_office_name_id" class="col-sm-3 control-label">Office Name 1 (for Google Civic matching)</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_office_name" id="google_civic_office_name_id" class="form-control"
               value="{% if office %}{{ office.google_civic_office_name|default_if_none:"" }}{% else %}{{ google_civic_office_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_office_name2_id" class="col-sm-3 control-label">Office Name 2</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_office_name2" id="google_civic_office_name2_id" class="form-control"
               value="{% if office %}{{ office.google_civic_office_name2|default_if_none:"" }}{% else %}{{ google_civic_office_name2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_office_name3_id" class="col-sm-3 control-label">Office Name 3</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_office_name3" id="google_civic_office_name3_id" class="form-control"
               value="{% if office %}{{ office.google_civic_office_name3|default_if_none:"" }}{% else %}{{ google_civic_office_name3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_office_name4_id" class="col-sm-3 control-label">Office Name 4</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_office_name4" id="google_civic_office_name4_id" class="form-control"
               value="{% if office %}{{ office.google_civic_office_name4|default_if_none:"" }}{% else %}{{ google_civic_office_name4|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_office_name5_id" class="col-sm-3 control-label">Office Name 5</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_office_name5" id="google_civic_office_name5_id" class="form-control"
               value="{% if office %}{{ office.google_civic_office_name5|default_if_none:"" }}{% else %}{{ google_civic_office_name5|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ballotpedia_office_name_id" class="col-sm-3 control-label">Office Name (for Ballotpedia matching)</label>
    <div class="col-sm-8">
        <input type="text" name="ballotpedia_office_name" id="ballotpedia_office_name_id" class="form-control"
               value="{% if office %}{{ office.ballotpedia_office_name|default_if_none:"" }}{% else %}{{ ballotpedia_office_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ocd_division_id_id" class="col-sm-3 control-label">Ocd Division ID</label>
    <div class="col-sm-8">
        <input type="text" name="ocd_division_id" id="ocd_division_id_id" class="form-control"
               value="{% if office %}{{ office.ocd_division_id|default_if_none:"" }}{% else %}{{ ocd_division_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ballotpedia_race_id_id" class="col-sm-3 control-label">Ballotpedia Race Id (Contest Office)</label>
    <div class="col-sm-8">
        <input type="text" name="ballotpedia_race_id" id="ballotpedia_race_id_id" class="form-control"
               value="{% if office %}{{ office.ballotpedia_race_id|default_if_none:"" }}{% else %}{{ ballotpedia_race_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ballotpedia_office_id_id" class="col-sm-3 control-label">Ballotpedia Office Id (Elected Office)</label>
    <div class="col-sm-8">
        <input type="text" name="ballotpedia_office_id" id="ballotpedia_office_id_id" class="form-control"
               value="{% if office %}{{ office.ballotpedia_office_id|default_if_none:"" }}{% else %}{{ ballotpedia_office_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ballotpedia_race_office_level_id" class="col-sm-3 control-label">Ballotpedia Race Office Level</label>
    <div class="col-sm-8">
        <input type="radio" name="ballotpedia_race_office_level" value="Federal"{% if office.ballotpedia_race_office_level == "Federal" %} checked{% endif %} > Federal&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="State"{% if office.ballotpedia_race_office_level == "State" %} checked{% endif %} > State&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="Measure"{% if office.ballotpedia_race_office_level == "Measure" %} checked{% endif %} > Measure&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="Local"{% if office.ballotpedia_race_office_level == "Local" %} checked{% endif %} > Local&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value=""{% if office.ballotpedia_race_office_level != "Federal" and office.ballotpedia_race_office_level != "State" and office.ballotpedia_race_office_level != "Measure" and office.ballotpedia_race_office_level != "Local" %} checked{% endif %} > Unknown
      {% if office.ballotpedia_race_office_level != "Federal" and office.ballotpedia_race_office_level != "State" and office.ballotpedia_race_office_level != "Measure" and office.ballotpedia_race_office_level != "Local" %}
      &nbsp;&nbsp;({{office.ballotpedia_race_office_level}})
      {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="primary_party_id" class="col-sm-3 control-label">Primary Party</label>
    <div class="col-sm-8">
        {% if office %}{{ office.primary_party|default_if_none:"" }}{% else %}{{ primary_party|default_if_none:"" }}{% endif %}
    </div>
</div>

<div class="form-group">
    <label for="state_code_id" class="col-sm-3 control-label">State Code</label>
    <div class="col-sm-8">
        <input type="text" name="state_code" id="state_code_id" class="form-control"
               value="{% if office %}{{ office.get_office_state|default_if_none:"" }}{% else %}{{ state_code|default_if_none:"" }}{% endif %}" />
    </div>
</div>

    </table>

{% if office %}
<p><a href="{% url 'office:office_summary' office.id %}?google_civic_election_id={{ google_civic_election_id }}">cancel</a>
{% else %}
<p><a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}">cancel</a>
{% endif %}

<input type="submit" value="{% if office %}Update Office{% else %}Create New Office{% endif %}" /></p>

</form>



{% if office_list %}
    <br />
    <h4>Existing Offices</h4>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>ID</td>
            <td>We Vote ID</td>
            <td>Office Name</td>
            <td>State</td>
            <td># of Candidates</td>
        </tr>
    {% for office in office_list %}
        <tr>
            <td>{{ office.id }}</td>
            <td>{{ office.we_vote_id }}</td>
            <td><a href="{% url 'office:office_summary' office.id %}">{{ office.office_name }}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
            </a></td>
            <td>{{ office.state_code }}</td>
            <td>{{ office.candidate_count }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}