{# templates/office/office_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if office %}{{ office.office_name }}{% if office.primary_party %}, {{ office.primary_party }} Primary{% endif %}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
{% else %}Create New Office{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}

<h1>{% if office %}Edit {{ office.office_name|default_if_none:"" }}{% if office.primary_party %}, {{ office.primary_party }} Primary{% endif %}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
    {% else %}
    Create New Office{% endif %}</h1>

<form action="{% url "office:office_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="office_id" value="{% if office %}{{ office.id }}{% else %}0{% endif %}">
<input type="hidden" name="redirect_to_contest_office_list" value="0">

<div class="row">
<div class="col">
<div class="row form-group">
    <label for="office_name_id" class="pl-4 control-label">Office Name</label>
    <div class="col">
        <input type="text" name="office_name" id="office_name_id" class="form-control"
               value="{% if office %}{{ office.office_name|default_if_none:"" }}{% else %}{{ office_name|default_if_none:"" }}{% endif %}" />
        {% if office %}{{ office.we_vote_id }}{% else %}{{ we_vote_id }}{% endif %}
        {% if office.contest_office_merge_possibility_found %}
            (<a href="{% url 'office:find_duplicate_office' office.id %}?google_civic_election_id={{ office.google_civic_election_id }}"
                target="_blank">check for duplicate contest offices</a> - in new window)
        {% endif %}
    </div>
</div>
</div>

<div class="col-sm-2">
<input type="hidden" name="google_civic_election_id" value="{% if office %}{{ office.google_civic_election_id }}{% else %}{{ google_civic_election_id }}{% endif %}">
<div class="row form-group">
    <label for="google_civic_election_id_id" class="control-label">Google Civic Id</label>
    <div class="col d-flex align-items-end">
        {% if office %}{{ office.google_civic_election_id }}{% else %}{{ google_civic_election_id }}{% endif %}
    </div>
</div>
</div>

<div class="col">
<input type="hidden" name="ballotpedia_election_id" value="{% if office %}{{ office.ballotpedia_election_id }}{% else %}{{ ballotpedia_election_id }}{% endif %}">
<div class="row form-group">
    <label for="ballotpedia_election_id_id" class="control-label">Ballotpedia Election Id</label>
    <div class="col d-flex align-items-end">
        {% if office %}{{ office.ballotpedia_election_id|default_if_none:"" }}{% else %}{{ ballotpedia_election_id|default_if_none:"" }}{% endif %}
    </div>
</div>
</div>
</div>

{% include "../form_inputs/five_form_groups_stacked.html" with field_dict_1=google_civic_office_name_dict field_dict_2=google_civic_office_name2_dict field_dict_3=google_civic_office_name3_dict field_dict_4=google_civic_office_name4_dict field_dict_5=google_civic_office_name5_dict %}

{% include "../form_inputs/two_form_groups.html" with field_dict_1=ballotpedia_office_name_dict field_dict_2=ctcl_uuid_dict %}

{% include "../form_inputs/two_form_groups.html" with field_dict_1=ocd_division_id_dict field_dict_2=district_id_dict %}

{% include "../form_inputs/two_form_groups.html" with field_dict_1=ballotpedia_race_id_dict field_dict_2=ballotpedia_office_id_dict %}

<div class="row">
<div class="col-sm-2">
<div class="row form-group">
    <label for="ballotpedia_is_marquee_id" class="pl-4 control-label">Is Marquee</label>
    <div class="col d-flex align-items-center">
        <input type="checkbox" name="ballotpedia_is_marquee" id="ballotpedia_is_marquee_id" value="1"
             {% if office.ballotpedia_is_marquee %}checked{% endif %} />
    </div>
</div>
</div>

<div class="col-sm-2">
<div class="row form-group">
    <label for="is_battleground_race_id" class="control-label">Is Battleground Race</label>
    <div class="col d-flex align-items-center">
        <input type="checkbox" name="is_battleground_race" id="is_battleground_race_id" value="1"
             {% if office.is_battleground_race %}checked{% endif %} />
    </div>
</div>
</div>
</div>


<div class="row form-group">
    <label for="ballotpedia_race_office_level_id" class="pl-4 control-label">Race Office Level</label>
    <div class="col">
        <input type="radio" name="ballotpedia_race_office_level" value="Federal"{% if office.ballotpedia_race_office_level == "Federal" %} checked{% endif %} > Federal&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="State"{% if office.ballotpedia_race_office_level == "State" %} checked{% endif %} > State&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="Measure"{% if office.ballotpedia_race_office_level == "Measure" %} checked{% endif %} > Measure&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value="Local"{% if office.ballotpedia_race_office_level == "Local" %} checked{% endif %} > Local&nbsp;&nbsp;
        <input type="radio" name="ballotpedia_race_office_level" value=""{% if office.ballotpedia_race_office_level != "Federal" and office.ballotpedia_race_office_level != "State" and office.ballotpedia_race_office_level != "Measure" and office.ballotpedia_race_office_level != "Local" %} checked{% endif %} > Unknown
      {% if office.ballotpedia_race_office_level != "Federal" and office.ballotpedia_race_office_level != "State" and office.ballotpedia_race_office_level != "Measure" and office.ballotpedia_race_office_level != "Local" %}
      &nbsp;&nbsp;({{office.ballotpedia_race_office_level}})
      {% endif %}
    </div>
</div>

<div class="row">
<div class="col">
<div class="row form-group">
    <label for="office_held_we_vote_id_id" class="pl-4 control-label">
        Office Held We Vote ID
        {% if office.office_held_we_vote_id %}
        <a href="{% url 'office_held:office_held_summary' office.office_held_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col">
        <input type="text" name="office_held_we_vote_id" id="office_held_we_vote_id_id" class="form-control"
               value="{% if office %}{{ office.office_held_we_vote_id|default_if_none:"" }}{% endif %}" />
        {% if office %}{{ office.office_held_name|default_if_none:"" }}{% endif %}
    </div>
</div>
</div>

<div class="col">
<div class="row form-group">
    <label for="vote_usa_office_id_id" class="control-label">Vote USA Office ID</label>
    <div class="col">
        <input type="text" name="vote_usa_office_id" id="vote_usa_office_id_id" class="form-control"
               value="{% if office %}{{ office.vote_usa_office_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>
</div>
</div>

<div class="row">
<div class="col">
<div class="row form-group">
    <label for="primary_party_id" class="pl-4 control-label">Primary Party</label>
    <div class="col">
        {% if office %}{{ office.primary_party|default_if_none:"" }}{% else %}{{ primary_party|default_if_none:"" }}{% endif %}
    </div>
</div>
</div>

<div class="col">
<div class="row form-group">
    <label for="state_code_id" class="control-label">State Code</label>
    <div class="col">
        <input type="text" name="state_code" id="state_code_id" class="form-control"
               value="{% if office %}{{ office.get_office_state|default_if_none:"" }}{% else %}{{ state_code|default_if_none:"" }}{% endif %}" />
    </div>
</div>
</div>
</div>

    </table>

{% if office %}
<p><a href="{% url 'office:office_summary' office.id %}?google_civic_election_id={{ google_civic_election_id }}">cancel</a>
{% else %}
<p><a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}">cancel</a>
{% endif %}

<input type="submit" value="{% if office %}Update Office{% else %}Create New Office{% endif %}" class="btn btn-primary" /></p>

</form>



{% if office_list %}
    <br />
    <h4>Existing Offices</h4>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>ID</td>
            <td>We Vote ID</td>
            <td>Office Name</td>
            <td>State</td>
            <td># of Candidates</td>
        </tr>
    {% for office in office_list %}
        <tr>
            <td>{{ office.id }}</td>
            <td>{{ office.we_vote_id }}</td>
            <td><a href="{% url 'office:office_summary' office.id %}">{{ office.office_name }}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
            </a></td>
            <td>{{ office.state_code }}</td>
            <td>{{ office.candidate_count }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}