<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ api_name }}</title>
</head>
<body>
<a href="{% url 'apis_v1:apisIndex'%}">< back to index</a>

<h1>{{ api_name }}</h1>
<p>
    {{ api_introduction }}
    {% if get_or_post == "GET" %}
        <a href="{% url try_now_link %}{{ try_now_link_variables }}" target="_blank">Try it now</a>.
    {% elif get_or_post == "POST" %}
        <form name="{{ api_name }}" method="post" action="{% url try_now_link %}" target="_blank">
        {% csrf_token %}
            {% for query_parameter in required_query_parameter_list %}
                {% if query_parameter.name != 'voter_device_id' %}
                    {% if query_parameter.value == 'string' or query_parameter.value == 'int' or query_parameter.value == 'long' %}
                    {{ query_parameter.name }}: <input  type="text" name="{{ query_parameter.name }}" maxlength="50" size="30">
                    {% elif query_parameter.value == 'boolean' %}
                        <input type="radio" name="{{ query_parameter.name }}" value="true" checked> True<br />
                        <input type="radio" name="{{ query_parameter.name }}" value="false"> False
                    {% endif %}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Try it now">
        </form>
    {% endif %}
    </p>


<h2>HTTP request</h2>
<p>{{ get_or_post }} {{ url_root }}/apis/v1/{{ api_slug }}</p>


{% if required_query_parameter_list %}
<h3>Required Parameters</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Parameter name</td>
            <td>Value</td>
            <td>Description</td>
        </tr>
        {% for query_parameter in required_query_parameter_list %}
        <tr>
            <td>{{ query_parameter.name }}</td>
            <td>{{ query_parameter.value }}</td>
            <td>{{ query_parameter.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if optional_query_parameter_list %}
<h3>Optional Parameters</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Parameter name</td>
            <td>Value</td>
            <td>Description</td>
        </tr>
        {% for query_parameter in optional_query_parameter_list %}
        <tr>
            <td>{{ query_parameter.name }}</td>
            <td>{{ query_parameter.value }}</td>
            <td>{{ query_parameter.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}



{% if request_body %}
<h3>Request body</h3>

    {{ request_body }}
{% endif %}


<h2>Response</h2>
<p>{{ api_response_notes }}</p>
<pre>{{ api_response }}</pre>


{% if potential_status_codes_list %}
<h3>Response Status Codes</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Code</td>
            <td>Description</td>
        </tr>
        {% for status_code in potential_status_codes_list %}
        <tr>
            <td>{{ status_code.code }}</td>
            <td>{{ status_code.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>
