<!DOCTYPE html>
<html class="chekov" lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons" rel="stylesheet">
    <link href="{% static "apis_v1/apis_v1.css" %}" rel="stylesheet">
    <meta content="We Vote API Server" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="en" property="og:locale">
    <title>{{ api_name }}</title>
    <meta content="We Vote APIs: {{ api_name }}" property="og:title"/>
    </meta>
    </meta>
    </meta>
    </meta>
    </link>
    </link>
    </meta>
    </meta>
</head>
<body class="devsite-doc-page devsite-header-no-upper-tabs" id="top_of_page">
<div class="devsite-wrapper">
    <header class="devsite-top-section nocontent">
        <div class="devsite-top-logo-row-wrapper-wrapper">
            <div class="devsite-top-logo-row-wrapper">
                <div class="devsite-top-logo-row devsite-full-site-width">
                    <div class="devsite-product-name-wrapper">
                        <span class="devsite-product-name">
                {{ api_name }}
                        </span>
                    </div>
                </div>
             </div>
          </div>
      </div>
      <div class="devsite-collapsible-section">
        <div class="devsite-header-background devsite-full-site-width">
        <div class="devsite-doc-set-nav-row devsite-full-site-width">
              <li class="devsite-doc-set-nav-tab-container">
              </li>
         </div>
         </div>
      </div>
  </header>


<div class="devsite-site-mask">
</div>

<div class="devsite-main-content clearfix">
<a href="{% url 'apis_v1:apisIndex'%}">< back to index</a>
<h1 class="devsite-page-title" itemprop="name">
<p>
    {{ api_introduction|safe }}
    {% load template_filters %}

        <form name="{{ api_name }}" method="{% if get_or_post == "GET" %}get{% else %}post{% endif %}" action="{% url try_now_link %}" target="_blank">
        {% csrf_token %}
            {% for query_parameter in required_query_parameter_list %}
                {% if query_parameter.name != 'api_key' %}
                    {% if query_parameter.value == 'string' or query_parameter.value == 'integer' or query_parameter.value == 'long' %}
                    {{ query_parameter.name }}: <input type="text" name="{{ query_parameter.name }}" maxlength="255" size="30"
                        {% if query_parameter.name in try_now_link_variables_dict %}
                              value="{{ try_now_link_variables_dict|get_value_from_dict:query_parameter.name }}"
                        {% elif query_parameter.name == 'voter_device_id' %}
                              value="{{ voter_api_device_id }}"
                        {% endif %}>
                    {% elif query_parameter.value == 'boolean' %}
                        {{ query_parameter.name }}: <br />
                        <input type="radio" name="{{ query_parameter.name }}" value="true" > True<br />
                        <input type="radio" name="{{ query_parameter.name }}" value="false" > False
                    {% endif %}
                    <br />
                {% endif %}
            {% endfor %}
            {% for query_parameter in optional_query_parameter_list %}
                {% if query_parameter.name != 'api_key' %}
                    {% if query_parameter.value == 'string' or query_parameter.value == 'integer' or query_parameter.value == 'long' %}
                    {{ query_parameter.name }}: <input  type="text" name="{{ query_parameter.name }}" maxlength="255" size="30"
                        {% if query_parameter.name in try_now_link_variables_dict %}
                              value="{{ try_now_link_variables_dict|get_value_from_dict:query_parameter.name }}"
                        {% elif query_parameter.name == 'voter_device_id' %}
                              value="{{ voter_api_device_id }}"
                        {% endif %}>
                    {% elif query_parameter.value == 'boolean' %}
                        {{ query_parameter.name }}: <br />
                        <input type="radio" name="{{ query_parameter.name }}" value="true" > True<br />
                        <input type="radio" name="{{ query_parameter.name }}" value="false" > False
                    {% endif %}
                    <br />
                {% endif %}
            {% endfor %}
    <br>
            <input type="submit" value="Try it now">
        </form>
    </p>

<br>
<h2>HTTP request</h2>
<p>{{ get_or_post }} {{ url_root }}/apis/v1/{{ api_slug }}</p>


{% if required_query_parameter_list %}
<h3>Required Parameters</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Parameter name</td>
            <td>Value</td>
            <td>Description</td>
        </tr>
        {% for query_parameter in required_query_parameter_list %}
        <tr>
            <td>{{ query_parameter.name }}</td>
            <td>{{ query_parameter.value }}</td>
            <td>{{ query_parameter.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if optional_query_parameter_list %}
<h3>Optional Parameters</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Parameter name</td>
            <td>Value</td>
            <td>Description</td>
        </tr>
        {% for query_parameter in optional_query_parameter_list %}
        <tr>
            <td>{{ query_parameter.name }}</td>
            <td>{{ query_parameter.value }}</td>
            <td>{{ query_parameter.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}



{% if request_body %}
<h3>Request body</h3>

    {{ request_body }}
{% endif %}


<h2>Response</h2>
<p>{{ api_response_notes }}</p>
<pre>{{ api_response }}</pre>


{% if potential_status_codes_list %}
<h3>Response Status Codes</h3>

    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td>Code</td>
            <td>Description</td>
        </tr>
        {% for status_code in potential_status_codes_list %}
        <tr>
            <td>{{ status_code.code }}</td>
            <td>{{ status_code.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

</body>
</html>
