<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="{% url 'apis_v1:apisIndex'%}">< back to index</a>

<h1>deviceIdGenerate, v1</h1>
<p>/apis/v1/deviceIdGenerate<br />
    This API call is used by clients to generate a transient unique identifier (device_id - stored on client)
    which ties the device to a persistent voter_id (mapped together and stored on the server).</p>

<a href="/apis/v1/deviceIdGenerate" target="_blank">Try it now</a>

<br />
<br />

</body>
</html>
