{# templates/election/election_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if election %}{{ election.election_name  }}{% else %}Create New Election{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}

<a href="{% url 'election:election_list' %}">< Back to Elections</a>

<h1>{% if election %}Edit {{ election.election_name|default_if_none:"" }}{% else %}
    Create New Election{% endif %}</h1>
<form action="{% url "election:election_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="election_id" value="{% if election %}{{ election.id }}{% else %}0{% endif %}">
<input type="hidden" name="show_all_elections" value="{{ show_all_elections }}">
<input type="hidden" name="show_all_elections_this_year" value="{{ show_all_elections_this_year }}">

<div class="form-group">
    <label for="election_id" class="col-sm-3 control-label">Election Name{% if election %} (ID: {{ election.id }}){% endif %}</label>
    <div class="col-sm-8">
        <input type="text" name="election_name" id="election_id" class="form-control"
               value="{% if election %}{{ election.election_name }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="include_in_list_for_voters_id" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
      <input type="checkbox" name="include_in_list_for_voters" id="include_in_list_for_voters_id"
             value="True"
             {% if election.include_in_list_for_voters %}checked{% endif %} />
        Show in lists of elections for voters
      &nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="ignore_this_election" id="ignore_this_election_id"
             value="True"
             {% if election.ignore_this_election %}checked{% endif %} />
        Ignore this election
      &nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="election_preparation_finished" id="election_preparation_finished_id"
             value="True"
             {% if election.election_preparation_finished %}checked{% endif %} />
        Election data import finished (Offices, Candidates, Ballots)
      &nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="candidate_photos_finished" id="candidate_photos_finished_id"
             value="True"
             {% if election.candidate_photos_finished %}checked{% endif %} />
        Candidate photos finished
    </div>
</div>

<div class="form-group">
    <label for="google_civic_election_id_id" class="col-sm-3 control-label">Google Civic ID</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_election_id" id="google_civic_election_id_id" class="form-control"
               value="{% if election %}{{ election.google_civic_election_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="is_national_election_id" class="col-sm-3 control-label"></label>
    <div class="col-sm-8">
        <input type="checkbox" name="is_national_election" id="is_national_election_id"
           value={% if election %}{% if election.is_national_election %}True{% else %}False{% endif %}{% else %}False{% endif %}
           {% if election.is_national_election %}checked{% endif %} />
        Is National Election
    </div>
</div>

<div class="form-group">
    <label for="election_day_text_id" class="col-sm-3 control-label">Election Day
        <span class="no_break">(Format: "YYYY-MM-DD")</span></label>
    <div class="col-sm-8">
        <input type="text" name="election_day_text" id="election_day_text_id" class="form-control"
               value="{% if election %}{{ election.election_day_text|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="state_id" class="col-sm-3 control-label">State Code</label>
    <div class="col-sm-8">
        <input type="text" name="state_code" id="state_id" class="form-control"
               value="{% if election %}{{ election.state_code|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="raw_ocd_division_id_id" class="col-sm-3 control-label">OCD Division ID</label>
    <div class="col-sm-8">
        <input type="text" name="raw_ocd_division_id" id="raw_ocd_division_id_id" class="form-control"
               value="{% if election %}{{ election.raw_ocd_division_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

{% if not ballotpedia_election_list %}
<div class="form-group">
    <label for="ballotpedia_election_id_id" class="col-sm-3 control-label">Ballotpedia Election Id</label>
    <div class="col-sm-8">
        <input type="text" name="ballotpedia_election_id" id="ballotpedia_election_id_id" class="form-control"
               value="{% if election %}{{ election.ballotpedia_election_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ballotpedia_kind_of_election_id" class="col-sm-3 control-label">Ballotpedia Kind of Election</label>
    <div class="col-sm-8">
        <input type="text" name="ballotpedia_kind_of_election" id="ballotpedia_kind_of_election_id" class="form-control"
               value="{% if election %}{{ election.ballotpedia_kind_of_election|default_if_none:"" }}{% endif %}" />
    </div>
</div>
{% endif %}{# End of if ballotpedia_election_list #}

<div class="form-group">
    <label for="internal_notes_id" class="col-sm-3 control-label">Internal Notes about Election Data Gathering</label>
    <div class="col-sm-8">
        <textarea name="internal_notes"
                  class="form-control animated"
                  id="internal_notes_id"
                  placeholder="Status of data gathering?">{% if election %}{{ election.internal_notes|default_if_none:"" }}{% else %}{{ internal_notes|default_if_none:"" }}{% endif %}</textarea>
    </div>
</div>

<div class="form-group">
    <label for="update_ballot_id" class="col-sm-3 control-label">
        {% if election %}
        <a href="{% url 'election:election_summary' election.id %}">cancel</a>
        {% else %}
        <a href="{% url 'election:election_list' %}">cancel</a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="submit" class="btn btn-success" value="{% if election %}Update Election{% else %}Create New Election{% endif %}" />
    </div>
</div>

</form>



{% if ballotpedia_election_list %}
    <div class="form-group">
        <label for="ballotpedia_election_id_id" class="col-sm-3 control-label">Ballotpedia Election Id</label>
        <div class="col-sm-8">
            <table class="table">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>District Name</th>
                    <th>District Type</th>
                    <th colspan="2">Election Type</th>
                </tr>
            {% for ballotpedia_election in ballotpedia_election_list %}
                <tr>
                    <td><span style="color: darkgray">{{ forloop.counter }}</span></td>
                    <td>{{ ballotpedia_election.ballotpedia_election_id|default_if_none:"" }}</td>
                    <td>{{ ballotpedia_election.district_name|default_if_none:"" }}</td>
                    <td><span class="u-no-break">{{ ballotpedia_election.district_type|default_if_none:"" }}</span></td>
                    <td>{{ ballotpedia_election.election_type|default_if_none:"" }}</td>
                    <td>{{ ballotpedia_election.election_description|default_if_none:"" }}</td>
                    <td>
                        <form action="{% url "election:ballotpedia_election_delete_process" %}" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <input type="hidden" name="ballotpedia_election_id" value="{{ ballotpedia_election.ballotpedia_election_id }}">
                            <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">
                            <input type="hidden" name="state_code" value="{{ state_code }}">
                            <button type="submit" class="btn btn-outline-danger">Delete Election</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="confirm_delete_id">
                              <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm
                            </label>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endif %}{# End of if ballotpedia_election_list #}

{% if election %}
<br clear="all" />
<br />
<div>
    <form action="{% url "election:election_delete_process" %}" method="post" class="form-horizontal">
    {% csrf_token %}
      <input type="hidden" name="election_id" value="{% if election %}{{ election.id }}{% else %}0{% endif %}">
      <button type="submit" class="btn btn-outline-danger">Delete Election</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="confirm_delete_id">
        <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this election
      </label>
    </form>
</div>
{% endif %}
  <br />
  <br />

{% endblock %}