{# templates/election/election_list.html #}
{% extends "template_base.html" %}

{% block title %}{% if is_national_election %}{{ national_election.election_name }}{% else %}Elections{% endif %}{% endblock %}

{%  block content %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Opinions/Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>{% if is_national_election %}{{ national_election.election_name }} &mdash; {{ national_election.election_day_text }}{% else %}Elections{% endif %}</h1>

{#Pinging API Server <span id="testDots" >.</span>#}

{% if is_national_election %}
{# ############## List of states under one National Election ############## #}
    <a href="{% url 'election:election_list' %}">Back to Elections</a>&nbsp;
    <form name="election_search_form" method="get" action="{% url 'election:nationwide_election_list' %}">
        {% csrf_token %}
        <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">

        <label for="show_election_statistics_id">
          <input type="checkbox" name="show_election_statistics" id="show_election_statistics_id" value="1"
                 {% if show_election_statistics %}checked{% endif %} /> Show Election Statistics
        </label>
    </form>

{% else %}
{# ############## List of many election dates ############## #}
    <p><a href="{% url 'election:election_remote_retrieve' %}">Retrieve all elections</a>.
        <a href="https://votinginfoproject.org/news/vip-continues-support-elections-through-2018/" target="_blank">VIP elections supported.</a></p>

    <form name="election_search_form" method="get" action="{% url 'election:election_list' %}">
        {% csrf_token %}


    {% if election_search %}
        <a href="{% url 'election:election_list' %}">
             clear search</a>&nbsp;
    {% endif %}
        <input type="text" name="election_search" id="election_search_id" value="{{ election_search }}" />
        <input type="submit" value="Search" />

        {# Default to showing only upcoming elections #}
        <label for="show_all_elections_this_year_id">
          <input type="checkbox" name="show_all_elections_this_year" id="show_all_elections_this_year_id" value="1"
                 {% if show_all_elections_this_year %}checked{% endif %} /> All Elections This Year
        </label>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="show_all_elections_id">
          <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
                 {% if show_all_elections %}checked{% endif %} /> Include Past Elections
        </label>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="show_ignored_elections_id">
          <input type="checkbox" name="show_ignored_elections" id="show_ignored_elections_id" value="1"
                 {% if show_ignored_elections %}checked{% endif %} /> Show Ignored Elections
        </label>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="show_election_statistics_id">
          <input type="checkbox" name="show_election_statistics" id="show_election_statistics_id" value="1"
                 {% if show_election_statistics %}checked{% endif %} /> Show Election Statistics
        </label>
    </form>
{% endif %}


{% if election_list %}
    <table class="table table-bordered">
    {% for election in election_list %}
    {% if forloop.counter == 1 or forloop.counter|divisibleby:21 %}
    {# Show the header every 20 lines #}
      <thead>
        <tr>
            <th></th>
            <th>Live?</th>
            <th>{% if is_national_election %}Notes{% else %}Election Name{% endif %}</th>
            <th>State</th>
        {% if not is_national_election %}
            <th>Date</th>
            <th>Google Civic ID</th>
        {% endif %}
            <th align="middle">Offices
              {% if show_election_statistics %}
              <br />
              (w/o Candidates)
              {% endif %}
            </th>
        {% if show_election_statistics %}
            <th align="middle">Candidates<br />
              (w/o Photos)</th>
            <th>Measures</th>
            <th>Ballot Locations<br />(To Process)</th>
            <th align="middle">Voter Guides<br />
              (Public Positions)</th>
        {% endif %}
        {% if not is_national_election %}
            <td>&nbsp;</td>
        {% endif %}
        </tr>
      </thead>
    {% endif %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td align="middle">
              {% if election.include_in_list_for_voters %}<span class="font-weight-bold">Yes</span>{% endif %}{% if election.include_in_list_for_voters and election.election_preparation_finished %}, {% endif %}
              {% if election.election_preparation_finished %}<span class="font-weight-bold text-success">DATA</span>{% endif %}{% if election.include_in_list_for_voters or election.election_preparation_finished and election.candidate_photos_finished %}, {% endif %}
              {% if election.candidate_photos_finished %}<span class="font-weight-bold text-success">PHOTOS</span>{% endif %}
            </td>
            <td>
                {% if not is_national_election %}
                <a href="{% url 'election:election_summary' election.id %}{% if show_all_elections_this_year %}?show_all_elections_this_year=1{% elif show_all_elections %}?show_all_elections=1{% endif %}" target="_blank">
                  <span class="{% if election.include_in_list_for_voters %}font-weight-bold{% endif %}">{{ election.election_name }} <span class="glyphicon glyphicon-new-window"></span></span></a>
                {% endif %}
                {% if election.internal_notes %}
                <br /><span style="color: darkgray">{{ election.internal_notes|default_if_none:""|truncatechars:50 }}</span>
                {% endif %}
            </td>
            <td align="middle">
              {% if election.is_national_election and not is_national_election %}
                  (<a href="{% url 'election:nationwide_election_list' %}?google_civic_election_id={{ election.google_civic_election_id }}"
                      target="_blank">see all states</a>)
              {% else %}
                  <a href="{% url 'election:election_summary' election.id %}?state_code={{ election.state_code }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}"
                     target="_blank">
                      {{ election.state_code }}
                  </a>
              {% endif %}
            </td>
        {% if not is_national_election %}
            <td>
                {{ election.election_day_text }}
                {% if election.days_until_election > 0 %} <span class="{% if election.days_until_election < 46 %}font-weight-bold text-danger{% endif %}">(in {{ election.days_until_election }} days)</span>{% endif %}
            </td>
            <td align="middle">{{ election.google_civic_election_id }}</td>
        {% endif %}
            <td align="middle">
            {% if not show_election_statistics and election.office_count %}
                {{ election.office_count|default_if_none:"" }}
            {% endif %}

            {% if election.offices_with_candidates_count %}
                <a href="{% url 'office:office_list' %}?google_civic_election_id={{ election.google_civic_election_id }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}{% if is_national_election %}&state_code={{ election.state_code }}{% endif %}"
                   target="_blank">
                {{ election.offices_with_candidates_count|default_if_none:"" }}</a>
            {% endif %}
            {% if election.offices_without_candidates_count %}
                <span style="color: darkgray">({{ election.offices_without_candidates_count|default_if_none:"" }})</span>
            {% endif %}
            </td>
        {% if show_election_statistics %}
            <td align="middle">
            {% if election.candidate_count %}
                <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ election.google_civic_election_id }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}{% if is_national_election %}&state_code={{ election.state_code }}{% endif %}"
                   target="_blank">
                {{ election.candidate_count|default_if_none:"" }}</a>
            {% endif %}
            {% if election.candidates_without_photo_count %}
                ({{ election.candidates_without_photo_count|default_if_none:"" }}
                  {% if election.candidates_without_photo_percentage %}
                    <span class="{% if election.candidates_without_photo_percentage > 33 %}font-weight-bold text-danger{% endif %}">
                      : {{ election.candidates_without_photo_percentage|floatformat:"0" }}%</span>{% endif %})
            {% endif %}
            {% if election.candidate_count %}
                <br />
                <a href="{% url 'apis_v1:candidatesSyncOutView' %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ election.state_code }}"
                   target="_blank">
                open&nbsp;json</a>
            {% endif %}

            </td>
            <td align="middle">
            {% if election.measure_count %}
                <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ election.google_civic_election_id }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}{% if is_national_election %}&state_code={{ election.state_code }}{% endif %}"
                   target="_blank">
                {{ election.measure_count|default_if_none:"" }}</a>
            {% endif %}
            </td>
            <td align="middle">
                {% if election.ballot_returned_count %}{{ election.ballot_returned_count|default_if_none:"" }}
                    {% if election.ballot_location_display_option_on_count %} / {{ election.ballot_location_display_option_on_count|default_if_none:"" }}{% endif %}
                {% endif %}
                {% if election.batches_not_processed %}
                    {% if election.batches_not_processed_batch_set_id %}
                      (<span class="font-weight-bold text-danger"><a href="{% url 'import_export_batches:batch_set_batch_list' %}?batch_set_id={{ election.batches_not_processed_batch_set_id }}"
                                                                     target="_blank">{{ election.batches_not_processed|default_if_none:"" }}</a></span>)
                    {% else %}
                      (<span class="font-weight-bold text-danger">{{ election.batches_not_processed|default_if_none:"" }}</span>)
                    {% endif %}
                {% endif %}
            </td>
            <td align="middle">
            {% if election.voter_guides_count %}
                <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ election.google_civic_election_id }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}"
                   target="_blank">
                {{ election.voter_guides_count|default_if_none:"" }}</a>
            {% endif %}
            {% if election.public_positions_count %}
                <a href="{% url 'position:position_list' %}?google_civic_election_id={{ election.google_civic_election_id }}{% if show_all_elections_this_year %}&show_all_elections_this_year=1{% elif show_all_elections %}&show_all_elections=1{% endif %}"
                   target="_blank">
                ({{ election.public_positions_count|default_if_none:"" }})</a>
            {% endif %}
            </td>
        {% endif %}
        {% if not is_national_election %}
            <td><a href="{% url 'election:election_edit' election.id %}" style="font-size: .65em">(edit)</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <p></p>
{% else %}
    <p>(no elections found)</p>
{% endif %}
    <p>
        <a href="{% url 'election:election_edit' 0 %}" >Add Upcoming Election Manually</a>
    </p>

<script>
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.show_all_elections_this_year.value = '0';
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_this_year_id').change(function() {
            this.form.show_all_elections.value = '0';
            this.form.submit();
        });
    });
    $(function() {
        $('#show_ignored_elections_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_election_statistics_id').change(function() {
            this.form.submit();
        });
    });

    // Ping the server to keep the load balancer channel open (Stay on the same load balancer node)
{#    setInterval(function () {#}
{#      let origin = new URL('{{request.build_absolute_uri}}').origin;#}
{#      let apiURL = origin + '/apis/v1/testRealTimeUpdate';#}
{#      $.ajax({#}
{#        type: "GET",#}
{#        url: apiURL,#}
{#        success: function (data) {#}
{#          let dots = data.text;#}
{#          $('#testDots').html('<font color="LIMEGREEN">' + dots +'</font>');#}
{#        },#}
{#      });#}
{#    }, 2000);#}
</script>

{% endblock %}