{# templates/election/election_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if election %}{{ election.election_name }} Summary{% else %}No Election Found{% endif %}{% endblock %}

{%  block content %}

<a href="{% url 'election:election_list' %}">< Back to Elections</a>

{% if election %}

    <h1>{{ election.election_name }}</h1>
    <table>
        <tr>
            <td>Day of Election:</td>
            <td>{{ election.election_day_text }}</td>
        </tr>
        <tr>
            <td>Google Civic Election ID:</td>
            <td>{{ election.google_civic_election_id }}</td>
        </tr>
        <tr>
            <td>OCD Division ID:</td>
            <td>{{ election.raw_ocd_division_id }}</td>
        </tr>
    </table>

    <p><a href="{% url 'election:election_edit' election.id %}">edit</a></p>

    <p>
    <a href="{% url 'election:election_all_ballots_retrieve' election.id %}">Retrieve Ballot Data for this Election</a><br />
    Reach out to Google Civic API and ask for ballots from many polling locations so we can stitch
    together the measures, races and candidates.
    </p>

{% if ballot_returned_list %}
    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>Polling Location</td>
            <td>Text for Map Search</td>
            <td>Street</td>
            <td>Voter Id</td>
        </tr>
    {% for balot_returned in ballot_returned_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'polling_location:polling_location_summary_by_we_vote_id' balot_returned.polling_location_we_vote_id %}">{{ balot_returned.polling_location_we_vote_id }}</a></td>
            <td>{{ balot_returned.text_for_map_search }}</td>
            <td>{{ balot_returned.normalized_line1 }}</td>
            <td>{{ balot_returned.voter_id }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no ballot_returned data found)</p>
{% endif %}

{% else %}

    <h1>No Election Found</h1>
    Please visit the <a href="{% url 'election:election_list' %}">Election List</a> page.

{% endif %}

{% endblock %}