{# templates/election/election_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if election %}{{ election.election_name }} Summary{% else %}No Election Found{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}

<a href="{% url 'election:election_list' %}">< Back to Elections</a>

{% if election %}

    <h1>{{ election.election_name }}</h1>
    <table>
        <tr>
            <td>Day of Election:</td>
            <td>{{ election.election_day_text }}</td>
        </tr>
        <tr>
            <td>Google Civic Election ID:</td>
            <td>{{ election.google_civic_election_id }}</td>
        </tr>
        <tr>
            <td>OCD Division ID:</td>
            <td>{{ election.raw_ocd_division_id }}</td>
        </tr>
        <tr>
            <td>State Code:</td>
            <td>{{ election.state_code }}</td>
        </tr>
    </table>

    <p><a href="{% url 'election:election_edit' election.id %}">edit</a></p>


    <p>
        <a href="{% url 'office:office_list' %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ state_code }}">
            See Offices for this Election</a>,
        <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ state_code }}">
            See Candidates for this Election</a><br />
        <a href="{% url 'ballot:ballot_item_list_edit' 0 %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ state_code }}">
            Create Ballot for this Election for one Location</a> (so voters can find a ballot before Google Civic data is live)<br />
    </p>

{% if election.google_civic_election_id|convert_to_int >= 1000000 %}
    <p>
        <a href="{% url 'election:election_migration' %}?we_vote_election_id={{ election.google_civic_election_id }}">
            Migrate this Data into Google Civic Election</a> (after data is available from Google Civic)<br />
    </p>
{% endif %}

<form name="state_code_form" method="get" action="{% url 'election:election_summary' election.id %}">
    {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="" {% if '' == state_code %} selected="selected"{% endif %}>
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
    {% endif %}{# End of if state_list #}
</form>

{% if election.google_civic_election_id|convert_to_int < 1000000 %}
    <p>
    <a href="{% url 'election:election_all_ballots_retrieve' election.id %}?state_code={{ state_code }}" target="_blank">
        Retrieve Ballot Data for this Election{% if state_code %} (for {{ state_code }}){% endif %}</a><br />
        Reach out to Google Civic API and ask for ballots from many polling locations so we can stitch
        together the measures, races and candidates.
        (<a href="{% url 'ballot:update_ballot_returned_latitude_and_longitude' %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ state_code }}">Update Lat/Long{% if state_code %} for {{ state_code }}{% endif %}</a>)
    </p>
{% endif %}

{% if ballot_returned_list %}
    <h5>Ballot Returned Entries</h5>

    These are ballots that voters can find from WebApp.<br />

    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>Ballot Returned ID</td>
            <td>Polling Location</td>
            <td>Text for Map Search</td>
            <td>Voter Id</td>
            <td>Lat/Long?</td>
            <td><a href="{% url 'election:election_summary' election.id %}?google_civic_election_id={{ election.google_civic_election_id }}&state_code={{ state_code }}&show_offices_and_candidates=1">
                Offices & Candidates</a></td>
            <td>&nbsp;</td>
        </tr>
    {% for ballot_returned in ballot_returned_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'ballot:ballot_item_list_edit' ballot_returned.id %}">{{ ballot_returned.id }}</a></td>
            <td>{{ ballot_returned.polling_location_we_vote_id }}</td>
            <td>{{ ballot_returned.text_for_map_search }}</td>
            <td>{% if ballot_returned.voter_id != 0 %}{{ ballot_returned.voter_id }}{% endif %}</td>
            <td>{% if ballot_returned.latitude %}yes{% endif %}</td>
            <td>{% if ballot_returned.office_and_candidate_text %}{{ ballot_returned.office_and_candidate_text }}{% endif %}</td>
            <td><a href="{% url 'ballot:ballot_item_list_edit' ballot_returned.id %}">(edit)</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no ballot_returned data found)</p>
{% endif %}

{% else %}

    <h1>No Election Found</h1>
    Please visit the <a href="{% url 'election:election_list' %}">Election List</a> page.

{% endif %}
    <script>
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}