{# templates/import_export_batches/batch_action_list.html #}
{% extends "template_base.html" %}

{% block title %}
    {% if kind_of_batch == "MEASURE" %}
        Process Measure Data
    {% elif kind_of_batch == "ELECTED_OFFICE" %}
        Process Elected Office Data
    {% elif kind_of_batch == "CONTEST_OFFICE" %}
        Process Contest Office Data
    {% elif kind_of_batch == "CANDIDATE" %}
        Process Candidate Data
    {% elif kind_of_batch == "ORGANIZATION" %}
        Process Organization Data
    {% elif kind_of_batch == "POSITION" %}
        Process Position Data
    {% elif kind_of_batch == "POLITICIAN" %}
        Process Politician Data
    {% elif kind_of_batch == "IMPORT_BALLOT_ITEM" %}
        Import Ballot at One Location
    {% else %}
        Process Data
    {% endif %}
{% endblock %}

{%  block content %}
{% load template_filters %}
{% if batch_set_id %}
    <p><a href="{% url 'import_export_batches:batch_set_batch_list' %}?batch_set_id={{ batch_set_id }}&google_civic_election_id={{ google_civic_election_id }}">
            Back to Batch Set</a></p>
{% else %}
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}">< Back to Batch List</a></p>
{% endif %}


{% if kind_of_batch == "CANDIDATE" %}
    <p><a href="{% url 'candidate:candidate_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Candidates{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% elif kind_of_batch == "CONTEST_OFFICE" %}
    <p><a href="{% url 'office:office_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Offices{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% elif kind_of_batch == "ELECTED_OFFICE" %}
{% elif kind_of_batch == "MEASURE" %}
    <p><a href="{% url 'measure:measure_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Measures{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% elif kind_of_batch == "ORGANIZATION" %}
    <p><a href="{% url 'organization:organization_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Organizations{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% elif kind_of_batch == "POLITICIAN" %}
{% elif kind_of_batch == "POSITION" %}
    <p><a href="{% url 'position:position_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Positions{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% elif kind_of_batch == "IMPORT_BALLOT_ITEM" %}
    <p><a href="{% url 'election:election_summary' 0 %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
          target="_blank">Current Ballots{% if google_civic_election_id > 0 %} for this Election{% endif %} ></a> (in new window)</p>
{% endif %}


{% if not kind_of_batch %}
<h1>Import Batches</h1>
    To import, you must choose the kind of data you are importing:

    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=MEASURE&google_civic_election_id={{ google_civic_election_id }}">
        Measure</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ELECTED_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
        Elected Office</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CONTEST_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
        Contest Office</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CANDIDATE&google_civic_election_id={{ google_civic_election_id }}">
        Candidate</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}">
        Organization</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}">
        Position</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POLITICIAN&google_civic_election_id={{ google_civic_election_id }}">
        Politician</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_BALLOT_ITEM&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
        Ballot at One Location</a>

{% else %}
    <h1>
    {% if kind_of_batch == "MEASURE" %}
        Process Measure Data
    {% elif kind_of_batch == "ELECTED_OFFICE" %}
        Process Elected Office Data
    {% elif kind_of_batch == "CONTEST_OFFICE" %}
        Process Contest Office Data
    {% elif kind_of_batch == "CANDIDATE" %}
        Process Candidate Data
    {% elif kind_of_batch == "ORGANIZATION" %}
        Process Organization Data
    {% elif kind_of_batch == "POSITION" %}
        Process Position Data
    {% elif kind_of_batch == "POLITICIAN" %}
        Process Politician Data
    {% elif kind_of_batch == "IMPORT_BALLOT_ITEM" %}
        Ballot at One Location
    {% else %}
        Kind of data not recognized: Please STOP
    {% endif %}
    : {{ batch_description.batch_name }}
    </h1>
    <form action="{% url 'import_export_batches:batch_action_list_analyze_process' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">
        <input type="hidden" name="polling_location_we_vote_id" value="{{ polling_location_we_vote_id }}">

        <div class="form-group">
        {% if election_list and election_list|length %}
            <label for="google_civic_election_id" class="col-sm-3 control-label">Election</label>
            <div class="col-sm-8">
                {% for election in election_list %}
                    {% if election.google_civic_election_id|slugify == batch_description.google_civic_election_id|slugify %}
                        {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}{# End of if election_list #}
        {% if polling_location_we_vote_id %}
            <label for="polling_location_we_vote_id" class="col-sm-3 control-label">Polling Location</label>
            <div class="col-sm-8">
                {{ polling_location_we_vote_id }}
            </div>
        {% endif %}{# End of if election_list #}
        </div>
        <div class="form-group">
            <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <button type="submit" id="create_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Analyze Data</button>
            </div>
        </div>
    </form>
    <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">
        <input type="hidden" name="kind_of_action" value="IMPORT_CREATE">
        <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
        <button type="submit" id="create_import_create_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Create Live Data</button>
    </form>
    <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">
        <input type="hidden" name="kind_of_action" value="IMPORT_ADD_TO_EXISTING">
        <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
        <button type="submit" id="create_import_update_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Update Live Data</button>
    </form>

{% endif %}

{% if batch_row_list %}
    <table class="table table-condensed">
        <tr>
            <th>
                <a href="{% url 'import_export_batches:batch_header_mapping' %}?batch_header_id={{ batch_header_id }}&kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}">(edit header&nbsp;map)</a>
            </th>
            <th>{{ batch_header_map.batch_header_map_000 }}</th>
            <th>{{ batch_header_map.batch_header_map_001 }}</th>
            <th>{{ batch_header_map.batch_header_map_002 }}</th>
            {% if batch_header_map.batch_header_map_003 %}<th>{{ batch_header_map.batch_header_map_003 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_004 %}<th>{{ batch_header_map.batch_header_map_004 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_005 %}<th>{{ batch_header_map.batch_header_map_005 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_006 %}<th>{{ batch_header_map.batch_header_map_006 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_007 %}<th>{{ batch_header_map.batch_header_map_007 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_008 %}<th>{{ batch_header_map.batch_header_map_008 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_009 %}<th>{{ batch_header_map.batch_header_map_009 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_010 %}<th>{{ batch_header_map.batch_header_map_010 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_011 %}<th>{{ batch_header_map.batch_header_map_011 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_012 %}<th>{{ batch_header_map.batch_header_map_012 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_013 %}<th>{{ batch_header_map.batch_header_map_013 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_014 %}<th>{{ batch_header_map.batch_header_map_014 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_015 %}<th>{{ batch_header_map.batch_header_map_015 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_016 %}<th>{{ batch_header_map.batch_header_map_016 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_017 %}<th>{{ batch_header_map.batch_header_map_017 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_018 %}<th>{{ batch_header_map.batch_header_map_018 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_019 %}<th>{{ batch_header_map.batch_header_map_019 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_020 %}<th>{{ batch_header_map.batch_header_map_020 }}</th>{% endif %}
        </tr>
    {% for one_batch_row in batch_row_list %}
        <tr>
            <td><a href="{% url 'import_export_batches:batch_action_list_analyze_process' %}?batch_header_id={{ batch_header_id }}&batch_row_id={{ one_batch_row.id }}">
                Analyze</a>
            </td>
            <td>{{ one_batch_row.batch_row_000|truncatechars:255 }}</td>
            <td>{{ one_batch_row.batch_row_001|truncatechars:255 }}</td>
            <td>{{ one_batch_row.batch_row_002|truncatechars:255 }}</td>
            {% if batch_header_map.batch_header_map_003 %}<td>{{ one_batch_row.batch_row_003|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_004 %}<td>{{ one_batch_row.batch_row_004|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_005 %}<td>{{ one_batch_row.batch_row_005|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_006 %}<td>{{ one_batch_row.batch_row_006|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_007 %}<td>{{ one_batch_row.batch_row_007|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_008 %}<td>{{ one_batch_row.batch_row_008|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_009 %}<td>{{ one_batch_row.batch_row_009|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_010 %}<td>{{ one_batch_row.batch_row_010|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_011 %}<td>{{ one_batch_row.batch_row_011|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_012 %}<td>{{ one_batch_row.batch_row_012|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_013 %}<td>{{ one_batch_row.batch_row_013|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_014 %}<td>{{ one_batch_row.batch_row_014|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_015 %}<td>{{ one_batch_row.batch_row_015|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_016 %}<td>{{ one_batch_row.batch_row_016|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_017 %}<td>{{ one_batch_row.batch_row_017|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_018 %}<td>{{ one_batch_row.batch_row_018|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_019 %}<td>{{ one_batch_row.batch_row_019|truncatechars:255 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_020 %}<td>{{ one_batch_row.batch_row_020|truncatechars:255 }}</td>{% endif %}
        </tr>
        {% if one_batch_row.batch_row_action_exists %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="50"><table class="table table-condensed table-bordered">
            {% if one_batch_row.kind_of_batch == "CANDIDATE" %}
            {# ####################################### #}
            {# ### CANDIDATE ### #}
            {# ####################################### #}
                <thead>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <th></th>
                        <th>candidate name</th>
                        <th>office name</th>
                        <th>state_code</th>
                        <th>party name</th>
                        <th>twitter_handle</th>
                        <th>facebook</th>
                        <th>website</th>
                        <th>incumbent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td>
                            {# Based on the results of analysis, show button to do the action #}
                            {% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="CANDIDATE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Create</button>
                            </form>
                            {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="CANDIDATE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>UPDATE</button>
                                {{ one_batch_row.batch_row_action.candidate_we_vote_id }}
                            </form>
                            {% else %}
                                {{ one_batch_row.batch_row_action.kind_of_action }}
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.candidate_name|default_if_none:"" }}</td>
                        <td>
                            {{ one_batch_row.batch_row_action.contest_office_name|default_if_none:"" }}
                            {% if one_batch_row.batch_row_action.contest_office_we_vote_id %}
                            <span> ({{ one_batch_row.batch_row_action.contest_office_we_vote_id|default_if_none:"" }})</span>
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.state_code|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.party|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.candidate_twitter_handle|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.facebook_url|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.candidate_url|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.candidate_is_incumbent|default_if_none:"" }}</td>
                    </tr>
                    {% if one_batch_row.batch_row_action.status %}
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td colspan="20">STATUS: {{ one_batch_row.batch_row_action.status }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            {% elif one_batch_row.kind_of_batch == "CONTEST_OFFICE" %}
            {# ####################################### #}
            {# ### CONTEST_OFFICE ### #}
            {# ####################################### #}
                <thead>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <th></th>
                        <th>office name</th>
                        <th>election</th>
                        <th>state_code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td>
                            {# Based on the results of analysis, show button to do the action #}
                            {% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="CONTEST_OFFICE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Create</button>
                            </form>
                            {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="CONTEST_OFFICE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>UPDATE</button>
                                {{ one_batch_row.batch_row_action.contest_office_we_vote_id }}
                            </form>
                            {% else %}
                                {{ one_batch_row.batch_row_action.kind_of_action }}
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.contest_office_name|default_if_none:"" }}
                            {% if one_batch_row.batch_row_action.contest_office_we_vote_id %}
                            <span> ({{ one_batch_row.batch_row_action.contest_office_we_vote_id|default_if_none:"" }})</span>
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.google_civic_election_id|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.state_code|default_if_none:"" }}</td>
                    </tr>
                    {% if one_batch_row.batch_row_action.status %}
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td colspan="20">STATUS: {{ one_batch_row.batch_row_action.status }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            {% elif one_batch_row.kind_of_batch == "ELECTED_OFFICE" %}
            {# ####################################### #}
            {# ### ELECTED_OFFICE ### #}
            {# ####################################### #}
                <thead>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                    table-success
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                    table-warning
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                    table-danger
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                    table-danger
                    {% endif %}">
                        <th></th>
                        <th>name</th>
                        <th>state_code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                    table-success
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                    table-warning
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                    table-danger
                    {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                    table-danger
                    {% endif %}">
                        <td>
                            {# Based on the results of analysis, show button to do the action #}
                            {% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="ELECTED_OFFICE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Create</button>
                            </form>
                            {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="ELECTED_OFFICE">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>UPDATE</button>
                            </form>
                            {% else %}
                                {{ one_batch_row.batch_row_action.kind_of_action }}
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.elected_office_name|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.state_code|default_if_none:"" }}</td>
                    </tr>
                    {% if one_batch_row.batch_row_action.status %}
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td colspan="20">STATUS: {{ one_batch_row.batch_row_action.status }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            {% elif one_batch_row.kind_of_batch == "MEASURE" %}
            {# ####################################### #}
            {# ### MEASURE ### #}
            {# ####################################### #}
                <tr>
                    <th></th>
                    <th>measure_title</th>
                    <th>measure_subtitle</th>
                    <th>state_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.measure_title}}</td>
                    <td>{{ one_batch_row.batch_row_action.measure_subtitle}}</td>
                    <td>{{ one_batch_row.batch_row_action.state_code }}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                </tr>
            {% elif one_batch_row.kind_of_batch == "ORGANIZATION" %}
            {# ####################################### #}
            {# ### ORGANIZATION ### #}
            {# ####################################### #}
                <thead>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <th></th>
                        <th>name</th>
                        <th>twitter</th>
                        <th>facebook</th>
                        <th>instagram</th>
                        <th>address</th>
                        <th>city</th>
                        <th>state</th>
                        <th>zip</th>
                        <th>phone1</th>
                        <th>website</th>
                        <th>type</th>
                        <th>state_served_code</th>
                        <th>contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td>
                            {# Based on the results of analysis, show button to do the action #}
                            {% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="ORGANIZATION">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Create</button>
                            </form>
                            {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="ORGANIZATION">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Update</button>
                                {{ one_batch_row.batch_row_action.organization_we_vote_id }}
                            </form>
                            {% else %}
                                {{ one_batch_row.batch_row_action.kind_of_action }}
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.organization_name|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_twitter_handle|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_facebook|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_instagram_handle|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_address|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_city|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_state|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_zip|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_phone1|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_website|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_type|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.state_served_code|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.organization_contact_name|default_if_none:"" }}</td>
                    </tr>
                    {% if one_batch_row.batch_row_action.status %}
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td colspan="20">STATUS: {{ one_batch_row.batch_row_action.status }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            {% elif one_batch_row.kind_of_batch == "POLITICIAN" %}
            {# ####################################### #}
            {# ### POLITICIAN ### #}
            {# ####################################### #}
                <tr>
                    <th></th>
                    <th>politician_name</th>
                    <th>politician_twitter_handle</th>
                    <th>state_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.politician_name}}</td>
                    <td>{{ one_batch_row.batch_row_action.politician_twitter_handle}}</td>
                    <td>{{ one_batch_row.batch_row_action.state_code}}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                </tr>

            {% elif one_batch_row.kind_of_batch == "POSITION" %}
            {# ####################################### #}
            {# ### POSITION ### #}
            {# ####################################### #}
                <thead>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <th></th>
                        <th>ballot item name</th>
                        <th>office</th>
                        <th>speaker_display_name</th>
                        <th>speaker_twitter</th>
                        <th>stance</th>
                        <th>statement</th>
                        <th>more_info_url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td>
                            {# Based on the results of analysis, show button to do the action #}
                            {% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="POSITION">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>Create</button>
                            </form>
                            {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                            <form action="{% url 'import_export_batches:batch_action_list_create_or_update_process' %}" method="get" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="kind_of_batch" value="POSITION">
                                <input type="hidden" name="batch_header_id" value="{{ one_batch_row.batch_header_id }}">
                                <input type="hidden" name="batch_row_id" value="{{ one_batch_row.id }}">
                                <input type="hidden" name="kind_of_action" value="{{ one_batch_row.batch_row_action.kind_of_action }}">
                                <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
                                <button type="submit" id="create_batch_row_action_id_id" name="create_batch_row_action_id" class="btn btn-default" value={{ one_batch_row.batch_row_action.id }}>UPDATE</button>
                            </form>
                            {% else %}
                                {{ one_batch_row.batch_row_action.kind_of_action }}
                            {% endif %}
                        </td>
                        <td>
                            {{ one_batch_row.batch_row_action.ballot_item_display_name|default_if_none:"" }}
                            {% if one_batch_row.batch_row_action.candidate_campaign_we_vote_id %}
                                ({{ one_batch_row.batch_row_action.candidate_campaign_we_vote_id }})
                            {% elif one_batch_row.batch_row_action.contest_measure_we_vote_id %}
                                ({{ one_batch_row.batch_row_action.contest_measure_we_vote_id }})
                            {% endif %}
                        </td>
                        <td>
                            {{ one_batch_row.batch_row_action.contest_office_name|default_if_none:"" }}
                            {% if one_batch_row.batch_row_action.contest_office_we_vote_id %}
                                ({{ one_batch_row.batch_row_action.contest_office_we_vote_id }})
                            {% endif %}
                        </td>
                        <td>{{ one_batch_row.batch_row_action.speaker_display_name|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.speaker_twitter_handle|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.stance|default_if_none:"" }}</td>
                        <td>{{ one_batch_row.batch_row_action.statement_text|default_if_none:""|truncatechars:125 }}</td>
                        <td>{{ one_batch_row.batch_row_action.more_info_url|default_if_none:"" }}</td>
                    </tr>
                    {% if one_batch_row.batch_row_action.status %}
                    <tr class="{% if one_batch_row.batch_row_action.kind_of_action == "IMPORT_CREATE" %}
                        table-success
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_ADD_TO_EXISTING" %}
                        table-warning
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_TO_BE_DETERMINED" %}
                        table-danger
                        {% elif one_batch_row.batch_row_action.kind_of_action == "IMPORT_QUERY_ERROR" %}
                        table-danger
                        {% endif %}">
                        <td colspan="20">STATUS: {{ one_batch_row.batch_row_action.status }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            {% endif %}
            </table></td>
        </tr>
        {% endif %}{% endfor %}
    </table>

    <p></p>

{% else %}
    <br />
    <br />
    <br />
    <div>
        <p>(no batches found)</p>
    </div>
{% endif %}


    <script>
        $(function() {
            $('#google_civic_election_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}