{# templates/import_export_batches/batch_action_list.html #}
{% extends "template_base.html" %}

{% block title %}List of Batches{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch={{ kind_of_batch }}&google_civic_election_id={{ google_civic_election_id }}">< Back to Batch List</a></p>


{% if not kind_of_batch %}
<h1>Import Batches</h1>
    To import, you must choose the kind of data you are importing:

    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=MEASURE&google_civic_election_id={{ google_civic_election_id }}">
        Measure</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ELECTED_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
        Elected Office</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CONTEST_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
        Contest Office</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CANDIDATE&google_civic_election_id={{ google_civic_election_id }}">
        Candidate</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}">
        Organization</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}">
        Position</a> -
    <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POLITICIAN&google_civic_election_id={{ google_civic_election_id }}">
        Politician</a>

{% else %}
    <h1>
    {% if kind_of_batch == "MEASURE" %}
        Process Measure Data
    {% elif kind_of_batch == "ELECTED_OFFICE" %}
        Process Elected Office Data
    {% elif kind_of_batch == "CONTEST_OFFICE" %}
        Process Contest Office Data
    {% elif kind_of_batch == "CANDIDATE" %}
        Process Candidate Data
    {% elif kind_of_batch == "ORGANIZATION" %}
        Process Organization Data
    {% elif kind_of_batch == "POSITION" %}
        Process Position Data
    {% elif kind_of_batch == "POLITICIAN" %}
        Process Politician Data
    {% else %}
        Kind of data not recognized: Please STOP
    {% endif %}
    : {{ batch_description.batch_name }}
    </h1>
    <form action="{% url 'import_export_batches:batch_action_list_process' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">

        {% if election_list %}
        <div class="form-group">
            <label for="google_civic_election_id" class="col-sm-3 control-label">Election</label>
            <div class="col-sm-8">
                {% for election in election_list %}
                    {% if election.google_civic_election_id|slugify == batch_description.google_civic_election_id|slugify %}
                        {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}{# End of if election_list #}
        <div class="form-group">
            <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <button type="submit" id="create_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Analyze Data</button>
            </div>
        </div>
    </form>
    <form action="{% url 'import_export_batches:batch_action_list_import_create_rows' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">
        <div class="form-group">
            <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <button type="submit" id="create_import_create_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Import CREATE Data</button>
            </div>
        </div>
    </form>
    <form action="{% url 'import_export_batches:batch_action_list_import_update_rows' %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="kind_of_batch" value="{{ kind_of_batch }}">
        <input type="hidden" name="batch_header_id" value="{{ batch_header_id }}">
        <div class="form-group">
            <label for="create_actions_button_id" class="col-sm-3 control-label"></label>
            <div class="col-sm-8">
                <button type="submit" id="create_import_update_actions_button_id" name="create_actions_button" class="btn btn-default" value={{ kind_of_batch }}>Import ADD_TO_EXISTING Data</button>
            </div>
        </div>
    </form>

{% endif %}




{% if batch_row_list %}
    <table class="table table-condensed">
        <tr>
            <th>{{ batch_header_map.batch_header_map_000 }}</th>
            <th>{{ batch_header_map.batch_header_map_001 }}</th>
            <th>{{ batch_header_map.batch_header_map_002 }}</th>
            {% if batch_header_map.batch_header_map_003 %}<th>{{ batch_header_map.batch_header_map_003 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_004 %}<th>{{ batch_header_map.batch_header_map_004 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_005 %}<th>{{ batch_header_map.batch_header_map_005 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_006 %}<th>{{ batch_header_map.batch_header_map_006 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_007 %}<th>{{ batch_header_map.batch_header_map_007 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_008 %}<th>{{ batch_header_map.batch_header_map_008 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_009 %}<th>{{ batch_header_map.batch_header_map_009 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_010 %}<th>{{ batch_header_map.batch_header_map_010 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_011 %}<th>{{ batch_header_map.batch_header_map_011 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_012 %}<th>{{ batch_header_map.batch_header_map_012 }}</th>{% endif %}
            {% if batch_header_map.batch_header_map_013 %}<th>{{ batch_header_map.batch_header_map_013 }}</th>{% endif %}
            <th>&nbsp;</th>
        </tr>
    {% for one_batch_row in batch_row_list %}
        <tr>
            <td>{{ one_batch_row.batch_row_000 }}</td>
            <td>{{ one_batch_row.batch_row_001 }}</td>
            <td>{{ one_batch_row.batch_row_002 }}</td>
            {% if batch_header_map.batch_header_map_003 %}<td>{{ one_batch_row.batch_row_003 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_004 %}<td>{{ one_batch_row.batch_row_004 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_005 %}<td>{{ one_batch_row.batch_row_005 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_006 %}<td>{{ one_batch_row.batch_row_006 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_007 %}<td>{{ one_batch_row.batch_row_007 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_008 %}<td>{{ one_batch_row.batch_row_008 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_009 %}<td>{{ one_batch_row.batch_row_009 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_010 %}<td>{{ one_batch_row.batch_row_010 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_011 %}<td>{{ one_batch_row.batch_row_011 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_012 %}<td>{{ one_batch_row.batch_row_012 }}</td>{% endif %}
            {% if batch_header_map.batch_header_map_013 %}<td>{{ one_batch_row.batch_row_013 }}</td>{% endif %}
            <td>    <a href="{% url 'import_export_batches:batch_action_list_process' %}?batch_header_id={{ batch_header_id }}&batch_row_id={{ one_batch_row.id }}">
                Analyze</a>
            </td>
        </tr>
        {% if one_batch_row.batch_row_action_exists %}
        <tr>
            <td colspan="51"><table border="1" cellpadding="5" cellspacing="5">
            {% if one_batch_row.kind_of_batch == "ORGANIZATION" %}
            {# ### ORGANIZATION ### #}
                <tr>
                    <th></th>
                    <th>organization_name</th>
                    <th>state_served_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.organization_name }}</td>
                    <td>{{ one_batch_row.batch_row_action.state_served_code }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% elif one_batch_row.kind_of_batch == "MEASURE" %}
            {# ### MEASURE### #}
                <tr>
                    <th></th>
                    <th>measure_title</th>
                    <th>measure_subtitle</th>
                    <th>state_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.measure_title}}</td>
                    <td>{{ one_batch_row.batch_row_action.measure_subtitle}}</td>
                    <td>{{ one_batch_row.batch_row_action.state_code }}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                </tr>
                {% elif one_batch_row.kind_of_batch == "ELECTED_OFFICE" %}
            {# ### OFFICE### #}
                <tr>
                    <th></th>
                    <th>elected_office_name</th>
                    <th>state_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                    <th>Import</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.elected_office_name}}</td>
                    <td>{{ one_batch_row.batch_row_action.state_code }}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                    <td><a href="{% url 'import_export_batches:batch_action_list_process_import_elected_office' %}?kind_of_batch=ELECTED_OFFICE&batch_header_id={{ batch_header_id }}&batch_row_id={{ one_batch_row.id }}">Import into ElectedOffice Table</a></td>
                </tr>
                {% elif one_batch_row.kind_of_batch == "CONTEST_OFFICE" %}
            {# ### MEASURE### #}
                <tr>
                    <th></th>
                    <th>contest_office_name</th>
                    <th>state_code</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.contest_office_name}}</td>
                    <td>{{ one_batch_row.batch_row_action.state_code }}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                </tr>
                {% elif one_batch_row.kind_of_batch == "POLITICIAN" %}
            {# ### POLITICIAN### #}
                <tr>
                    <th></th>
                    <th>politician_name</th>
                    <th>politician_twitter_handle</th>
                    <th>ALERTS</th>
                    <th>ACTIONS</th>
                </tr>
                <tr>
                    <td>analysis:</td>
                    <td>{{ one_batch_row.batch_row_action.politician_name}}</td>
                    <td>{{ one_batch_row.batch_row_action.politician_twitter_handle}}</td>
                    <td></td>
                    <td>{{ one_batch_row.batch_row_action.kind_of_action }}</td>
                </tr>

            {% endif %}
            </table></td>
        </tr>
        {% endif %}{% endfor %}
    </table>

    <p></p>

{% else %}
    <br />
    <br />
    <br />
    <div>
        <p>(no batches found)</p>
    </div>
{% endif %}


    <script>
        $(function() {
            $('#google_civic_election_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}