{# templates/import_export_batches/index.html #}
{% extends "template_base.html" %}

{% block title %}Import Export Batch Tools{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Admin Home</a>

<h1>Import Export Batch Tools</h1>

<p><a href="{% url 'import_export_batches:batch_process_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Batch Process Status List</a></p>
<p><a href="{% url 'import_export_batches:batch_process_log_entry_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" >
    Batch Process Log</a></p>

<p><a href="{% url 'import_export_batches:batch_set_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Batch Set</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=MEASURE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Measures</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CONTEST_OFFICE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Contest Offices</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ELECTED_OFFICE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Elected Offices</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CANDIDATE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Candidates</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Advocates</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Positions</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POLITICIAN&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Politicians</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_POLLING_LOCATION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import Map Points</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_BALLOT_ITEM&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import One Ballot at Map Point</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_VOTER&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    Import/Export Voter</a></p>

{% endblock %}