{# templates/import_export_batches/index.html #}
{% extends "template_base.html" %}

{% block title %}Import Export Batch Tools{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Admin Home</a>

<h1>Import Export Batch Tools</h1>

<p><a href="{% url 'import_export_batches:batch_set_list' %}?google_civic_election_id={{ google_civic_election_id }}">
    Import Batch Set</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=MEASURE&google_civic_election_id={{ google_civic_election_id }}">
    Import Measures</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ELECTED_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
    Import Elected Offices</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CONTEST_OFFICE&google_civic_election_id={{ google_civic_election_id }}">
    Import Contest Offices</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CANDIDATE&google_civic_election_id={{ google_civic_election_id }}">
    Import Candidates</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}">
    Import Organizations</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}">
    Import Positions</a></p>
<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POLITICIAN&google_civic_election_id={{ google_civic_election_id }}">
    Import Politicians</a></p>

{% endblock %}