{# templates/campaign/campaignx_list.html #}
{% extends "template_base.html" %}

{% block title %}Campaigns{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<h1>Campaigns</h1>
<ul>
    <li><a href="{% url 'campaign:find_and_merge_duplicate_campaignx_entries' %}?state_code={{ state_code }}"
                    target="_blank" >
        Find and Merge Duplicate CampaignX Entries <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)&nbsp;&nbsp;
        <a href="{% url 'campaign:duplicates_list' %}?state_code={{ state_code }}"
                    target="_blank" >
        Possible Duplicates <span class="glyphicon glyphicon-new-window"></span></a>
    </li>
{% if show_ocd_id_state_mismatch %}
    <li>
        <a href="{% url 'campaign:repair_ocd_id_mismatch' %}?state_code={{ state_code }}&google_civic_election_id={{ google_civic_election_id }}" >
            Repair OCD ID Mismatches</a>
    </li>
{% endif %}
</ul>
<form name="state_code_form" method="get" action="{% url 'campaign:campaignx_list' %}">
    {% csrf_token %}
    <input type="hidden" name="sort_by" value="{{ sort_by }}">
    <input type="hidden" name="show_all" value="{{ show_all }}">
    <input type="hidden" name="show_more" value="{{ show_more }}">

{#{% if state_list %}#}
{#    <select id="state_code_id" name="state_code">#}
{#        <option value="" {% if '' == state_code %} selected="selected"{% endif %}>#}
{#        {% if '' == state_code %}#}
{#            -- Filter by State Served --#}
{#        {% else %}#}
{#            -- Show All States Served --#}
{#        {% endif %}#}
{#        </option>#}
{#    {% for key, state in state_list %}#}
{#        <option value="{{ key }}"#}
{#                {% if key|lower == state_code|lower %} selected="selected"{% endif %}>#}
{#            {{ state }}</option>#}
{#    {% endfor %}#}
{#    </select>#}
{#{% endif %}{# End of if state_list #}

    {#  #}
    <label for="show_campaigns_in_draft_id">
      <input type="checkbox" name="show_campaigns_in_draft" id="show_campaigns_in_draft_id" value="1"
             {% if show_campaigns_in_draft %}checked{% endif %} /> In Draft Mode
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <label for="show_blocked_campaigns_id">
      <input type="checkbox" name="show_blocked_campaigns" id="show_blocked_campaigns_id" value="1"
             {% if show_blocked_campaigns %}checked{% endif %} /> Blocked
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <label for="hide_campaigns_not_visible_yet_id">
      <input type="checkbox" name="hide_campaigns_not_visible_yet" id="hide_campaigns_not_visible_yet_id" value="1"
             {% if hide_campaigns_not_visible_yet %}checked{% endif %} /> Hide "Not Visible Yet"
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <label for="show_campaigns_linked_to_politicians_id">
      <input type="checkbox" name="show_campaigns_linked_to_politicians" id="show_campaigns_linked_to_politicians_id" value="1"
             {% if show_campaigns_linked_to_politicians %}checked{% endif %} /> Campaigns Linked to Politician
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <label for="include_campaigns_from_prior_elections_id">
      <input type="checkbox" name="include_campaigns_from_prior_elections" id="include_campaigns_from_prior_elections_id" value="1"
             {% if include_campaigns_from_prior_elections %}checked{% endif %} /> Include Prior Elections
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <select id="campaignx_owner_organization_we_vote_id_id" name="campaignx_owner_organization_we_vote_id">
        <option value="" {% if '' == campaignx_owner_organization_we_vote_id %} selected="selected"{% endif %}>
            -- Filter by Client --</option>
    {% for client_organization in client_organization_list %}
        <option value="{{ client_organization.we_vote_id }}"
                {% if client_organization.we_vote_id|slugify == campaignx_owner_organization_we_vote_id|slugify %} selected="selected"{% endif %}>
            {{ client_organization.organization_name }}</option>
    {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="show_ocd_id_state_mismatch_id">
      <input type="checkbox" name="show_ocd_id_state_mismatch" id="show_ocd_id_state_mismatch_id" value="1"
             {% if show_ocd_id_state_mismatch %}checked{% endif %} /> Show OCD ID/State mismatch
    </label>

    <br />

{% if campaignx_search %}
    <a href="{% url 'campaign:campaignx_list' %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="campaignx_search" id="campaignx_search_id" value="{{ campaignx_search }}" />
    <input type="submit" value="Search for Campaign" />



{% if campaignx_list %}
    <div class="form-group pull-right">
        <div class="col-xs-1">
            <input type="submit" name="save_changes" value="Save Changes" class="btn btn-primary" />
        </div>
    </div>
    <table class="table">
    {% for campaignx in campaignx_list %}
    {% if forloop.counter == 1 or forloop.counter|divisibleby:16 %}
    {# Show the header every ~15 lines #}
     <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
              <a href="{% url 'campaign:campaignx_list' %}?sort_by=campaignx&state_code={{ state_code }}&campaignx_type_filter={{ campaignx_type_filter }}&campaignx_search={{ campaignx_search }}">
              {% if sort_by == "campaignx" %}<strong>Campaign</strong>{% else %}Campaign{% endif %}
              </a>
            </th>
            <th>Owner(s)</th>
        {% if campaignx_owner_organization_we_vote_id %}
            <th>Order</th>
        {% endif %}
            <th>
              {% if sort_by == "supporters_count" %}
                  <a href="{% url 'campaign:campaignx_list' %}?state_code={{ state_code }}&campaignx_type_filter={{ campaignx_type_filter }}&campaignx_search={{ campaignx_search }}&show_campaignxs_without_email={{ show_campaignxs_without_email }}&show_campaignxs_to_be_analyzed={{ show_campaignxs_to_be_analyzed }}" class="u-no-break">
                  Supporters&nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span>
                  </a>
              {% else %}
              <a href="{% url 'campaign:campaignx_list' %}?sort_by=supporters_count&state_code={{ state_code }}&campaignx_type_filter={{ campaignx_type_filter }}&campaignx_search={{ campaignx_search }}&show_campaignxs_without_email={{ show_campaignxs_without_email }}&show_campaignxs_to_be_analyzed={{ show_campaignxs_to_be_analyzed }}">
                  Supporters
                  </a>
              {% endif %}
            </th>
            <th style="min-width: 90px">Chipped In</th>
            <th>Description</th>
        </tr>
      </thead>
    {% endif %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if campaignx.we_vote_hosted_campaign_photo_large_url or campaignx.we_vote_hosted_profile_image_url_large %}
                <a href="{% url 'campaign:campaignx_summary' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_owner_organization_we_vote_id={{ campaignx_owner_organization_we_vote_id }}&campaignx_search={{ campaignx_search }}">
                {% if campaignx.we_vote_hosted_campaign_photo_large_url %}
                    <img src="{{ campaignx.we_vote_hosted_campaign_photo_large_url }}" width="128px" />
                {% elif campaignx.we_vote_hosted_profile_image_url_large %}
                    <img src="{{ campaignx.we_vote_hosted_profile_image_url_large }}" width="128px" />
                {% endif %}
                </a>
                {% endif %}
            </td>
            <td>
                <span class="u-no-break">
                    <a href="{% url 'campaign:campaignx_summary' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_owner_organization_we_vote_id={{ campaignx_owner_organization_we_vote_id }}&campaignx_search={{ campaignx_search }}">
                        <strong>{{ campaignx.campaign_title }}</strong>&nbsp;
                    </a>
                {% if campaignx.seo_friendly_path %}
                    <br />
                    <a href="{{ web_app_root_url }}/c/{{ campaignx.seo_friendly_path }}"
                       target="_blank">/{{ campaignx.seo_friendly_path }} <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}
                </span><br />
                <span style="color: darkgray">
                    {{ campaignx.we_vote_id }}&nbsp;&nbsp;
                {% if campaignx.linked_politician_we_vote_id %}
                {% if campaignx.ocd_id_state_mismatch_found %}
                    <a href="{% url 'politician:politician_we_vote_id_edit' campaignx.linked_politician_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                        target="_blank">
                        {{ campaignx.linked_politician_we_vote_id|default_if_none:"" }} <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                    ({{ campaignx.linked_politician_state_code|default_if_none:"" }})
                {% else %}
                    {{ campaignx.linked_politician_we_vote_id|default_if_none:"" }}
                {% endif %}
                {% endif %}
                </span>
                <span style="font-size: .95rem; color: gray">
                {% if campaignx.is_in_team_review_mode %}
                    OWNER-IN-TEAM-REVIEW&nbsp;
                {% endif %}
                {% if not campaignx.is_ok_to_promote_on_we_vote %}
                    OWNER-NO-PROMOTE&nbsp;
                {% endif %}
                {% if campaignx.is_not_promoted_by_we_vote %}
                    WE-VOTE-NO-PROMOTE&nbsp;
                {% endif %}
                </span>

                <span style="color: red; font-weight: 800;">
                {% if campaignx.is_blocked_by_we_vote %}
                    BLOCKED&nbsp;
                {% endif %}
                </span>

                <br />
                (<a href="{% url 'campaign:campaignx_edit' campaignx.we_vote_id %}?campaignx_owner_organization_we_vote_id={{ campaignx_owner_organization_we_vote_id }}&campaignx_search={{ campaignx_search }}">edit</a>)
                {% if campaignx.ocd_id_state_mismatch_found and campaignx.ocd_id_state_mismatch_resolved %}
                &nbsp;&nbsp;
                    <strong>OCD ID RESOLVED</strong>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'campaign:campaignx_edit_owners' campaignx.we_vote_id %}?campaignx_owner_organization_we_vote_id={{ campaignx_owner_organization_we_vote_id }}&campaignx_search={{ campaignx_search }}" target="_blank">
            {% for campaignx_owner in campaignx.campaignx_owner_list %}
                {% if campaignx_owner.organization_name %}
                    <span class="u-no-break">{{ campaignx_owner.organization_name }}</span><br />
                {% else %}
                    {{ campaignx_owner.organization_we_vote_id }}<br />
                {% endif %}
            {% endfor %}
                </a>
            </td>
        {% if campaignx_owner_organization_we_vote_id %}
            <td>
            {% for campaignx_owner in campaignx.campaignx_owner_list %}
                {% if campaignx_owner.organization_we_vote_id == campaignx_owner_organization_we_vote_id %}
                    <input type="hidden" name="{{ campaignx.we_vote_id }}_order_changed" id="{{ campaignx.we_vote_id }}_order_changed_id" value="0">
                    <input type="text" name="{{ campaignx.we_vote_id }}_order_in_list"
                           maxlength="100"
                           onChange="if (document.getElementById(`{{ campaignx.we_vote_id }}_order_changed_id`)) { document.getElementById(`{{ campaignx.we_vote_id }}_order_changed_id`).value = 1; }"
                           size="3"
                           value="{{ campaignx_owner.order_in_list|default_if_none:"" }}" /><br />
                {% else %}
                    <br />
                {% endif %}
            {% endfor %}
            </td>
        {% endif %}
            <td style="text-align: right">{% if campaignx.supporters_count %}
                <a href="{% url 'campaign:supporters_list' campaignx.we_vote_id %}?campaignx_owner_organization_we_vote_id={{ campaignx_owner_organization_we_vote_id }}&campaignx_search={{ campaignx_search }}" target="_blank">
                    {{ campaignx.supporters_count|intcomma }} <span class="glyphicon glyphicon-new-window" style="font-size: .95rem"></span>
                </a>
                {% if campaignx.supporters_count_minimum_ignored and campaignx.supporters_count < 5 %}
                    <br />
                    <span style="font-size: 1.rem;">
                    (Visible)
                    </span>
                {% elif not campaignx.is_supporters_count_minimum_exceeded %}
                    <br />
                    <span style="font-size: .95rem; color: gray">
                    (NOT&nbsp;Visible)
                    </span>
                {% endif %}
            {% endif %}</td>
            <td style="text-align: right">
            {% if campaignx.chip_in_total != 'none' %}
                <a href="{% url 'campaign:supporters_list' campaignx.we_vote_id %}?only_show_supporters_with_endorsements=0&show_supporters_not_visible_to_public=1" target="_blank">
                    {{ campaignx.chip_in_total }}
                    <!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
                </a>
            {% endif %}
            </td>
            <td>
                {{ campaignx.campaign_description|default_if_none:""|truncatechars:250 }}
                {% if campaignx.date_campaign_started %}
                    <span class="u-no-break" style="color: darkgray">(Started: {{ campaignx.date_campaign_started }})</span>
                {% endif %}
                {% if campaignx.final_election_date_as_integer %}
                    <span class="u-no-break" style="color: gray">
                    (Final election: {{ campaignx.final_election_date_as_integer|default_if_none:"" }}{% if final_election_date_plus_cool_down > campaignx.final_election_date_as_integer %}-EXPIRED{% endif %})
                    </span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if not show_all and not show_more %}
    <a href="{% url 'campaign:campaignx_list' %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}&show_more=1&show_ocd_id_state_mismatch={{ show_ocd_id_state_mismatch }}">
        show more</a>
    {% endif %}
    {% if show_more %}
    <a href="{% url 'campaign:campaignx_list' %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}&show_all=1&show_ocd_id_state_mismatch={{ show_ocd_id_state_mismatch }}">
        show all</a>
    {% endif %}
    {% if show_all or show_more %}
    &nbsp;&nbsp;&nbsp;
      (<a href="{% url 'campaign:campaignx_list' %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}&show_ocd_id_state_mismatch={{ show_ocd_id_state_mismatch }}">
        show fewer</a>)
    {% endif %}

    <p></p>

{% else %}
    <p>(no campaigns found with current filters)</p>
{% endif %}

</form>

    <p></p>

    <script>
        $(function() {
            $('#limit_to_opinions_in_this_year_id').change(function() {
                this.form.submit();
            });
            $('#limit_to_opinions_in_state_code_id').change(function() {
                this.form.submit();
            });
            $('#campaignx_owner_organization_we_vote_id_id').change(function() {
                this.form.submit();
            });
            $('#campaignx_type_filter_id').change(function() {
                this.form.submit();
            });
            $('#hide_campaigns_not_visible_yet_id').change(function() {
                this.form.submit();
            });
            $('#include_campaigns_from_prior_elections_id').change(function() {
                this.form.submit();
            });
            $('#show_blocked_campaigns_id').change(function() {
                this.form.submit();
            });
            $('#show_campaigns_in_draft_id').change(function() {
                this.form.submit();
            });
            $('#show_campaigns_linked_to_politicians_id').change(function() {
                this.form.submit();
            });
            $('#show_ocd_id_state_mismatch_id').change(function() {
                this.form.submit();
            });
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}