{# templates/campaign/campaignx_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if campaignx %}{{ campaignx.campaign_title  }}{% else %}New Campaign{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
<style>
    span.nobr { white-space: nowrap; }
    select.form-control {
      height: auto !important;
    }
</style>
<a href="{% url 'campaign:campaignx_list' %}">< Cancel and Back to List</a>

<h1>{% if campaignx %}{{ campaignx.campaign_title }}{% else %}Missing Campaign{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if campaignx %}
{% else %}
    <p>This form only allows editing an existing CampaignX.</p>
{% endif %}

<form action="{% url "campaign:campaignx_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
    <input type="hidden" name="campaignx_we_vote_id" value="{% if campaignx %}{{ campaignx.we_vote_id }}{% endif %}">

<div class="form-group">
    <label class="col-sm-3 control-label">
        <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
    </label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-primary">{% if campaignx %}Update Campaign{% else %}CANNOT SAVE{% endif %}</button>
    </div>
</div>

<div class="form-group">
    <label for="campaign_title_id" class="col-sm-3 control-label">Campaign Title</label>
    <div class="col-sm-8">
        <input type="text" name="campaign_title" id="campaign_title_id" class="form-control"
               value="{% if campaignx %}{{ campaignx.campaign_title }}{% else %}{{ campaign_title }}{% endif %}" />
        {% if campaignx %}
            {{ campaignx.we_vote_id }}
        {% endif %}
    </div>
</div>


{% if campaignx %}
<div class="form-group">
    <label class="col-sm-3 control-label">Campaign Description</label>
    <div class="col-sm-8 ">
        <textarea
            name="campaign_description"
            class="form-control animated"
            id="campaign_description_id"
            placeholder="Campaign description..."
            rows="8">{{ campaignx.campaign_description|default_if_none:"" }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Politician List Serialized</label>
    <div class="col-sm-8 ">
        <textarea
            name="politician_starter_list_serialized"
            class="form-control animated"
            id="politician_starter_list_serialized_id"
            placeholder="Politician List Serialized..."
            rows="2">{{ campaignx.politician_starter_list_serialized|default_if_none:"" }}</textarea>
    </div>
</div>

<div class="form-group">
    <label for="final_election_date_as_integer_id" class="col-sm-3 control-label">Election Date</label>
    <div class="col-sm-8">
        <input type="text" name="final_election_date_as_integer" id="final_election_date_as_integer_id" class="form-control"
               value="{% if campaignx %}{{ campaignx.final_election_date_as_integer|default_if_none:"" }}{% else %}{{ final_election_date_as_integer|default_if_none:"" }}{% endif %}" />
        The last election any of the candidates are in. In YYYYMMDD format. This campaign won't be promoted after this date.
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">CampaignX Owner Allows Promotion</label>
    <div class="col-sm-8 ">
        <input type="checkbox" name="is_ok_to_promote_on_we_vote" id="is_ok_to_promote_on_we_vote_id" value="1"
                {% if campaignx.is_ok_to_promote_on_we_vote %}checked{% endif %} />
        <label for="is_ok_to_promote_on_we_vote_id" style="font-weight: normal !important;"><span style="color: darkgray">If checked, campaign may be promoted on WeVote.US. Uncheck if the campaign owner(s) don&apos;t want promotion.</span></label>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Is Not Promoted By We Vote?</label>
    <div class="col-sm-8 ">
        <input type="checkbox" name="is_not_promoted_by_we_vote" id="is_not_promoted_by_we_vote_id" value="1"
                {% if campaignx.is_not_promoted_by_we_vote %}checked{% endif %} />
        <label for="is_not_promoted_by_we_vote_id" style="font-weight: normal !important;">Do not show in lists on WeVote.US</label>
        <textarea name="is_not_promoted_by_we_vote_reason"
                  class="form-control animated"
                  id="is_not_promoted_by_we_vote_reason_id"
                  placeholder="If not promoted by We Vote, why? (This text is visible to Campaign Owner.)">{{ campaignx.is_not_promoted_by_we_vote_reason|default_if_none:"" }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Is Blocked By We Vote?</label>
    <div class="col-sm-8 ">
        <input type="checkbox" name="is_blocked_by_we_vote" id="is_blocked_by_we_vote_id" value="1"
                {% if campaignx.is_blocked_by_we_vote %}checked{% endif %} />
        <label for="is_blocked_by_we_vote_id" style="font-weight: normal !important;">Prevent ability to see on WeVote.US</label>
        <textarea name="is_blocked_by_we_vote_reason"
                  class="form-control animated"
                  id="is_blocked_by_we_vote_reason_id"
                  placeholder="If blocked by We Vote, why? (This text is visible to Campaign Owner.)">{{ campaignx.is_blocked_by_we_vote_reason|default_if_none:"" }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label">Don&apos;t Require Minimum 5 Supporters</label>
    <div class="col-sm-8 ">
        <input type="checkbox" name="supporters_count_minimum_ignored" id="supporters_count_minimum_ignored_id" value="1"
                {% if campaignx.supporters_count_minimum_ignored %}checked{% endif %} />
        <label for="supporters_count_minimum_ignored_id" style="font-weight: normal !important;"><span style="color: darkgray">If checked, promote campaign on WeVote.US before 5 people have supported. Uncheck to require 5 supporters.</span></label>
    </div>
</div>
{% endif %}



<div class="form-group">
    <label class="col-sm-3 control-label">
        <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
    </label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-primary">{% if campaignx %}Update Campaign{% else %}CANNOT SAVE{% endif %}</button>
    </div>
</div>
</form>

<div style='clear:both'></div>


{% if campaignx %}
  <br />
  <br />
    {% if campaignx.we_vote_hosted_campaign_photo_large_url %}
        <img src="{{ campaignx.we_vote_hosted_campaign_photo_large_url }}"><br />
        Large<br />
    {% endif %}
{% endif %}


{% if campaignx and do_not_allow_deleting_yet %}
  <br />
  <br />
{#<form action="{% url "campaign:campaignx_delete_process" %}" method="post" class="form-horizontal">#}
{% csrf_token %}
  <input type="hidden" name="campaignx_we_vote_id" value="{% if campaignx %}{{ campaignx.we_vote_id }}{% else %}0{% endif %}">
  <button type="submit" class="btn btn-danger">Delete Campaign</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label for="confirm_delete_id">
    <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this campaign
  </label>
{#</form>#}
{% endif %}

{% endblock %}