{# templates/campaign/campaignx_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if campaignx %}{{ campaignx.campaign_title  }}{% else %}New Campaign{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
<style>
    span.nobr { white-space: nowrap; }
    select.form-control {
      height: auto !important;
    }
</style>

<h1>{% if campaignx %}{{ campaignx.campaign_title }}{% else %}New Campaign{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if campaignx_list %}
    <h3>Is the organization you are adding one of these?</h3>
    <table cellpadding="5" cellspacing="5" border="1">
        <tr>
            <td></td>
            <td></td>
            <td>Campaign</td>
            <td>Twitter</td>
            <td>Facebook</td>
            <td>Website</td>
            <td>Wikipedia?</td>
            <td></td>
        </tr>
{#    {% for possible_campaignx in campaignx_list %}#}
{#        <tr>#}
{#            <td>{{ forloop.counter }}</td>#}
{#            <td>{{ possible_campaignx.campaignx_we_vote_id }}</td>#}
{#            <td><a href="{% url 'campaign:campaignx_list' possible_campaignx.campaignx_we_vote_id %}" target="_blank">{{ possible_campaignx.campaign_title }}</a> (view in new window)</td>#}
{#            <td>{% if possible_campaignx.campaignx_twitter_handle %}{{ possible_campaignx.campaignx_twitter_handle }}{% endif %}</td>#}
{#            <td>{% if possible_campaignx.campaignx_facebook %}{{ possible_campaignx.campaignx_facebook }}{% endif %}</td>#}
{#            <td>{% if possible_campaignx.campaignx_website %}{{ possible_campaignx.campaignx_website }}{% endif %}</td>#}
{#            <td>{% if possible_campaignx.wikipedia_page_id %}#}
{#                <a href="{{ possible_campaignx.generate_wikipedia_link }}" target="_blank">W yes</a>{% endif %}</td>#}
{#            <td><a href="{% url 'campaign:campaignx_edit' possible_campaignx.campaignx_we_vote_id %}">CHOOSE</a></td>#}
{#        </tr>#}
{#    {% endfor %}#}
    </table>
    <p></p>
{% endif %}



{% if campaignx %}
{% else %}
    <p>If you include the twitter handle and website for this organization below, we will have a better chance of preventing duplicate
    entries.</p>
{% endif %}

{#<form action="{% url "campaign:campaignx_edit_process" %}" method="post" class="form-horizontal">#}
{% csrf_token %}
    <input type="hidden" name="campaignx_we_vote_id" value="{% if campaignx %}{{ campaignx.we_vote_id }}{% else %}0{% endif %}">

<div class="form-group">
    <label class="col-sm-3 control-label">
        {% if campaignx %}
            <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
        {% else %}
            <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-primary">{% if campaignx %}Update Campaign{% else %}Save New Campaign{% endif %}</button>
    </div>
</div>

<div class="form-group">
    <label for="campaign_title_id" class="col-sm-3 control-label">Campaign Name</label>
    <div class="col-sm-8">
        <input type="text" name="campaign_title" id="campaign_title_id" class="form-control"
               value="{% if campaignx %}{{ campaignx.campaign_title }}{% else %}{{ campaign_title }}{% endif %}" />
        {% if campaignx %}
            {{ campaignx.we_vote_id }}
        {% endif %}
    </div>
</div>


{#{% if campaignx_types %}#}
{#<div class="form-group">#}
{#    <label for="campaignx_type_id" class="col-sm-3 control-label">Campaign Type</label>#}
{#    <div class="col-sm-8">#}
{#        <select id="campaignx_type_id" name="campaignx_type" class="form-control">#}
{#            <option value="" {% if '' ==  campaignx_type %} selected="selected" {% endif %}>#}
{#                -- Filter by Campaign Type --</option>#}
{#        {% for key, campaignx_type in campaignx_types %}#}
{#            <option value="{{ key }}"#}
{#                    {% if key|lower == campaignx.campaignx_type|lower %} selected="selected"{% endif %}>#}
{#            {{ campaignx_type }}</option>#}
{#        {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#</div>#}
{#{% endif %} {# End of if campaignx_types #}

{% if campaignx %}
<div class="form-group">
    <label class="col-sm-3 control-label">Campaign Description</label>
    <div class="col-sm-8 ">
        <textarea
            name="campaign_description"
            class="form-control animated"
            id="campaign_description_id"
            placeholder="Campaign description..."
            rows="8">{{ campaignx.campaign_description|default_if_none:"" }}</textarea>
    </div>
</div>
{% endif %}

{#{% if upcoming_election_list %}#}
{#<div class="form-group">#}
{#    <label for="google_civic_election_id" class="col-sm-3 control-label">Create Voter Guide</label>#}
{#    <div class="col-sm-8">#}
{#        <select id="google_civic_election_id" name="google_civic_election_id" class="form-control">#}
{#            <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>#}
{#                -- Create Voter Guide for this Election --</option>#}
{#        {% for election in upcoming_election_list %}#}
{#            <option value="{{ election.google_civic_election_id }}"#}
{#                    {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>#}
{#                {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>#}
{#        {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}


{#{% if state_list %}#}
{#<div class="form-group">#}
{#    <label for="state_served_code_id" class="col-sm-3 control-label">State Served Code</label>#}
{#    <div class="col-sm-8">#}
{#        <select id="state_served_code_id" name="state_served_code" class="form-control">#}
{#            <option value="" {% if '' == state_served_code %} selected="selected"{% endif %}>#}
{#                -- State Served --</option>#}
{#        {% for key, state in state_list %}#}
{#            <option value="{{ key }}"#}
{#                    {% if key|lower == state_served_code|lower %} selected="selected"{% endif %}>#}
{#                {{ state }}</option>#}
{#        {% endfor %}#}
{#        </select>#}
{#    </div>#}
{#</div>#}
{#{% endif %}{# End of if state_list #}


<div class="form-group">
    <label class="col-sm-3 control-label">
        {% if campaignx %}
            <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
        {% else %}
            <a href="{% url 'campaign:campaignx_list' %}">cancel</a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-primary">{% if campaignx %}Update Campaign{% else %}Save New Campaign{% endif %}</button>
    </div>
</div>
{#</form>#}


{% if campaignx %}
  <br />
  <br />
{#<form action="{% url "campaign:campaignx_delete_process" %}" method="post" class="form-horizontal">#}
{% csrf_token %}
  <input type="hidden" name="campaignx_we_vote_id" value="{% if campaignx %}{{ campaignx.we_vote_id }}{% else %}0{% endif %}">
  <button type="submit" class="btn btn-danger">Delete Campaign</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label for="confirm_delete_id">
    <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this campaign
  </label>
{#</form>#}
{% endif %}
  <br />
  <br />


{% if campaignx %}
    {% if campaignx.we_vote_hosted_campaign_photo_large_url %}
        <img src="{{ campaignx.we_vote_hosted_campaign_photo_large_url }}"><br />
        Large<br />
    {% endif %}
{% endif %}
{% endblock %}