{# templates/campaign/campaignx_supporters_list.html #}
{% extends "template_base.html" %}

{% block title %}Campaign Supporters{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<a href="{% url 'campaign:campaignx_list' %}">< Back to Campaigns</a><br />

<h1>Campaign Supporters: {{ campaignx_title }}</h1>
{#<p><a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=ORGANIZATION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"#}
{#      target="_blank">#}
{#        Import New Campaigns ></a> (open in new window)#}
{#</p>#}

<form name="state_code_form" method="get" action="{% url 'campaign:supporters_list' campaignx_we_vote_id %}">
    {% csrf_token %}
    <input type="hidden" name="sort_by" value="{{ sort_by }}">
    <input type="hidden" name="show_all" value="{{ show_all }}">
    <input type="hidden" name="show_more" value="{{ show_more }}">

{#{% if state_list %}#}
{#    <select id="state_code_id" name="state_code">#}
{#        <option value="" {% if '' == state_code %} selected="selected"{% endif %}>#}
{#        {% if '' == state_code %}#}
{#            -- Filter by State Served --#}
{#        {% else %}#}
{#            -- Show All States Served --#}
{#        {% endif %}#}
{#        </option>#}
{#    {% for key, state in state_list %}#}
{#        <option value="{{ key }}"#}
{#                {% if key|lower == state_code|lower %} selected="selected"{% endif %}>#}
{#            {{ state }}</option>#}
{#    {% endfor %}#}
{#    </select>#}
{#{% endif %}{# End of if state_list #}

    &nbsp;&nbsp;&nbsp;

    {#  #}
{#    <label for="show_organizations_without_email_id">#}
{#      <input type="checkbox" name="show_organizations_without_email" id="show_organizations_without_email_id" value="1"#}
{#             {% if show_organizations_without_email %}checked{% endif %} /> Show Emails Missing&nbsp;&nbsp;&nbsp;#}
{#    </label>#}

    {#  #}
    <label for="show_supporters_without_endorsements_id">
      <input type="checkbox" name="show_supporters_without_endorsements" id="show_supporters_without_endorsements_id" value="1"
             {% if show_supporters_without_endorsements %}checked{% endif %} /> Show Supporters w/o Endorsement
    </label>

    {#  #}
    &nbsp;&nbsp;&nbsp;
    <label for="show_supporters_not_visible_to_public_id">
      <input type="checkbox" name="show_supporters_not_visible_to_public" id="show_supporters_not_visible_to_public_id" value="1"
             {% if show_supporters_not_visible_to_public %}checked{% endif %} /> Not Visible to Public
    </label>

    &nbsp;&nbsp;&nbsp;&nbsp;
{#    {% if election_years_available %}#}
{#    <select id="limit_to_opinions_in_this_year_id" name="limit_to_opinions_in_this_year">#}
{#        <option value="0" {% if 0 == limit_to_opinions_in_this_year|convert_to_int %} selected="selected"{% endif %}>#}
{#        {% if 0 == limit_to_opinions_in_this_year %}#}
{#            -- Opinions in This Year --#}
{#        {% else %}#}
{#            -- Do Not Limit by Year --#}
{#        {% endif %}#}
{#        </option>#}
{#        {% for year in election_years_available %}#}
{#        <option value="{{ year }}"#}
{#                {% if limit_to_opinions_in_this_year|slugify == year|slugify %} selected="selected"{% endif %}>#}
{#            {% if limit_to_opinions_in_this_year|slugify == year|slugify %}Limited To {% endif %}#}
{#            {{ year }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    {% endif %}{# End of if election_list #}

{#    {% if state_list %}#}
{#    <select id="limit_to_opinions_in_state_code_id" name="limit_to_opinions_in_state_code">#}
{#        <option value="" {% if '' == limit_to_opinions_in_state_code %} selected="selected"{% endif %}>#}
{#        {% if '' == limit_to_opinions_in_state_code %}#}
{#            -- Opinions in This State --#}
{#        {% else %}#}
{#            -- Do Not Limit by State --#}
{#        {% endif %}#}
{#        </option>#}
{#    {% for key, state in state_list %}#}
{#        <option value="{{ key }}"#}
{#                {% if key|lower == limit_to_opinions_in_state_code|lower %} selected="selected"{% endif %}>#}
{#            {% if key|lower == limit_to_opinions_in_state_code|lower %}Limited to Opinions About Candidates in {% endif %}#}
{#            {{ state }}</option>#}
{#    {% endfor %}#}
{#    </select>#}
{#    {% endif %}{# End of if state_list #}

    <br />

{% if campaignx_search %}
    <a href="{% url 'campaign:supporters_list' campaignx_we_vote_id %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="campaignx_search" id="campaignx_search_id" value="{{ campaignx_search }}" />
    <input type="submit" value="Search for Supporter" />

</form>

{% if supporters_list %}
    <table class="table">
    {% for campaignx_supporter in supporters_list %}
    {% if forloop.counter == 1 or forloop.counter|divisibleby:16 %}
    {# Show the header every ~15 lines #}
     <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Supporter</th>
            <th>Endorsement</th>
            <th>Public?</th>
        </tr>
      </thead>
    {% endif %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if campaignx_supporter.we_vote_hosted_profile_image_url_tiny %}
                <a href="{% url 'voter:voter_edit_we_vote_id' campaignx_supporter.voter_we_vote_id %}" target="_blank">
                    <img src="{{ campaignx_supporter.we_vote_hosted_profile_image_url_tiny }}" width="32px" /></a>{% endif %}</td>
            <td>
                {{ campaignx_supporter.supporter_name }}<br />
                &nbsp;&nbsp;&nbsp;(<a href="{% url 'voter:voter_edit_we_vote_id' campaignx_supporter.voter_we_vote_id %}"
                                      target="_blank">edit <span class="glyphicon glyphicon-new-window"></span></a>)
            </td>
            <td>{{ campaignx_supporter.supporter_endorsement|default_if_none:"" }}</td>
            <td>{% if campaignx_supporter.visible_to_public %}visible{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    {% if not show_all and not show_more %}
    <a href="{% url 'campaign:supporters_list' campaignx_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}&show_more=1">
        show more</a>
    {% endif %}
    {% if show_more %}
    <a href="{% url 'campaign:supporters_list' campaignx_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}&show_all=1">
        show all</a>
    {% endif %}
    {% if show_all or show_more %}
    &nbsp;&nbsp;&nbsp;
      (<a href="{% url 'campaign:supporters_list' campaignx_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&campaignx_search={{ campaignx_search }}&state_code={{ state_code }}&show_issues={{ show_issues }}&campaignx_type_filter={{ campaignx_type_filter }}&sort_by={{ sort_by }}">
        show fewer</a>)
    {% endif %}

    <p></p>
{#    <p>#}
{#        <a href="{% url 'apis_v1:campaignxsSyncOutView' %}?format=json" target="_blank" >Export Campaigns</a>#}
{#    </p>#}
{% else %}
    <p>(no campaigns found)</p>
{% endif %}

    <p></p>

    <script>
        $(function() {
            $('#limit_to_opinions_in_this_year_id').change(function() {
                this.form.submit();
            });
            $('#limit_to_opinions_in_state_code_id').change(function() {
                this.form.submit();
            });
            $('#campaignx_type_filter_id').change(function() {
                this.form.submit();
            });
            $('#show_supporters_not_visible_to_public_id').change(function() {
                this.form.submit();
             });
            $('#show_supporters_without_endorsements_id').change(function() {
                this.form.submit();
            });
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}