{# templates/campaign/campaignx_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if campaignx %}{{ campaignx.campaign_title  }}{% else %}New Campaign{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}
<style>
    span.nobr { white-space: nowrap; }
    select.form-control {
      height: auto !important;
    }
</style>

<a href="{% url 'campaign:campaignx_list' %}">< Back to List</a>

<h1>{% if campaignx %}{{ campaignx.campaign_title }}{% else %}New Campaign{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table>{# Two column master table #}
<tr>
    <td style="vertical-align:top; width: 50%;">
        {% if campaignx.we_vote_hosted_campaign_photo_large_url %}
            <img src="{{ campaignx.we_vote_hosted_campaign_photo_large_url }}" />
        {% endif %}
        <table>
            <tr>
                <th>We Vote ID:&nbsp;</th>
                <td> {{ campaignx.we_vote_id }}
                    (<a href="{% url 'campaign:campaignx_edit' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}">edit</a>)
                </td>
            </tr>
            <tr>
                <th>Supporters:&nbsp;</th>
                <td> {{ campaignx.supporters_count }}
        {% if campaignx.supporters_count_minimum_ignored %}
                    <span style="color: darkgray">(Visible -- Supporters Count Minimum Ignored)</span>
        {% elif not campaignx.is_supporters_count_minimum_exceeded %}
                    <span style="color: darkgray">(NOT visible -- too few supporters)</span>
        {% endif %}
                </td>
            </tr>
        <tr>
            <th>Live link:</th>
            <td>
                {% if campaignx.seo_friendly_path %}
                <a href="{{ campaigns_site_root_url }}/c/{{ campaignx.seo_friendly_path }}"
                   target="_blank">{{ campaigns_site_root_url }}/c/{{ campaignx.seo_friendly_path }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                {% else %}
                <a href="{{ campaigns_site_root_url }}/id/{{ campaignx.we_vote_id }}"
                   target="_blank">{{ campaigns_site_root_url }}/id/{{ campaignx.we_vote_id }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}
            </td>
        </tr>
        {% if campaignx.campaign_description %}
            <tr>
                <td colspan="2" style="vertical-align:top">
                    {{ campaignx.campaign_description|default_if_none:"" }}
                    {% if campaignx.date_campaign_started %}
                        <span class="u-no-break" style="color: darkgray">(Started: {{ campaignx.date_campaign_started }})</span>
                    {% endif %}
                    {% if campaignx.final_election_date_as_integer %}
                        <span class="u-no-break" style="color: gray">
                        (Final election: {{ campaignx.final_election_date_as_integer|default_if_none:"" }}{% if final_election_date_plus_cool_down > campaignx.final_election_date_as_integer %}-EXPIRED{% endif %})
                        </span>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
            <tr>
                <th></th>
                <td><a href="{% url 'campaign:campaignx_edit' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                       class="btn btn-primary">Edit</a></td>
            </tr>
        </table>
    </td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td style="vertical-align:top; width: 50%;">
        <table class="table">
            <thead>
                <tr>
                    <th>Campaign Owner(s)</th>
                    <th>Visible to Public</th>
                    <th>Feature this Profile Image</th>
                </tr>
            </thead>
        {% for campaignx_owner in campaignx_owner_list %}
            <tr>
                <td>
                    {% if campaignx_owner.we_vote_hosted_profile_image_url_tiny %}
                        <img src="{{ campaignx_owner.we_vote_hosted_profile_image_url_tiny }}" />
                    {% endif %}
                    {% if campaignx_owner.organization_name %}
                    {{ campaignx_owner.organization_name }}&nbsp;&nbsp;
                    {% elif campaignx_owner.organization_we_vote_id %}
                    {{ campaignx_owner.organization_we_vote_id }}&nbsp;&nbsp;
                    {% else %}
                    {{ campaignx_owner.voter_we_vote_id }}&nbsp;&nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if campaignx_owner.visible_to_public %}
                        visible
                    {% else %}
                        NOT visible
                    {% endif %}
                </td>
                <td>
                    {% if campaignx_owner.feature_this_profile_image %}
                        featured
                    {% else %}
                        NOT featured
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3">
                    <a href="{% url 'campaign:campaignx_edit_owners' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                       class="btn btn-primary">
                        Add or Edit Campaign Owners
                    </a>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Campaign Politician(s) or Measure(s)</th>
                    <th>State</th>
                </tr>
            </thead>
        {% for campaignx_politician in campaignx_politician_list %}
            <tr>
                <td>
                    {{ campaignx_politician.politician_name }}&nbsp;&nbsp;
                    {% if campaignx_politician.politician_we_vote_id %}
                        <span style="color: darkgray">
                        {{ campaignx_politician.politician_we_vote_id }}
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ campaignx_politician.state_code }}&nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3"><a href="{% url 'campaign:campaignx_edit_politicians' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                                   class="btn btn-primary">Add or Edit Politicians to Campaign</a></td>
            </tr>
        </table>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Campaign Supporters: {{ campaignx_supporters_count|intcomma }} total</th>
                    <th>Comment</th>
                </tr>
            </thead>
        {% for campaignx_supporter in campaignx_supporter_list %}
            <tr>
                <td>
                    {{ campaignx_supporter.supporter_name }}&nbsp;&nbsp;
                </td>
                <td>
                    {{ campaignx_supporter.supporter_endorsement }}&nbsp;&nbsp;
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3"><a href="{% url 'campaign:supporters_list' campaignx.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                                   class="btn btn-primary">View All Supporters for Campaign</a></td>
            </tr>
        </table>
    </td>
</tr>
</table>{# End of two column master table #}


{% endblock %}