{# templates/position/position_list.html #}
{% extends "template_base.html" %}

{% block title %}Opinions/Positions{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}
<p>
  <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
     target="_blank">Import New Positions <span class="glyphicon glyphicon-new-window"></span></a>
</p>

<h1>Opinions/Positions</h1>

<p>
    Also see positions listed under <a href="{% url 'organization:organization_list' %}">Endorsers</a>.
    Vote Smart ratings <a href="{% url 'import_export_vote_smart:vote_smart_rating_list' %}">here</a>.
</p>

<ul>
    <li><strong><a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank" >Review Voter Guide Possibilities <span class="glyphicon glyphicon-new-window"></span></a></strong></li>
    <li><strong><a href="{% url 'voter_guide:voter_guide_create' %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">Suggest a Voter Guide <span class="glyphicon glyphicon-new-window"></span></a></strong>. Quick public tools that feeds into import_export_batch system.</li>
{% if position_list and google_civic_election_id %}
    <li>Prepare: <a href="{% url 'voter_guide:generate_voter_guides' %}?google_civic_election_id={{ google_civic_election_id }}"
                    target="_blank" >Generate Voter Guides <span class="glyphicon glyphicon-new-window"></span></a></li>
    <li>Prepare: <a href="{% url 'position:refresh_cached_position_info_for_election' %}?google_civic_election_id={{ google_civic_election_id }}"
                    target="_blank" >
        Refresh All Cached Positions for this Election <span class="glyphicon glyphicon-new-window"></span></a> (about 5 minutes)</li>
    <li>Prepare: <a href="{% url 'import_export_vote_smart:retrieve_positions_from_vote_smart_for_election' %}?google_civic_election_id={{ google_civic_election_id }}"
                    target="_blank" >
        Retrieve Positions from Vote Smart for this Election <span class="glyphicon glyphicon-new-window"></span></a></li>
{% endif %}
</ul>

<form name="organization_position_choose_election" method="get" action="{% url 'position:position_list' %}">
    {% csrf_token %}
{% if election_list %}
    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
    {% for one_election in election_list %}
        <option value="{{ one_election.google_civic_election_id }}"
                {% if one_election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {% if one_election.state_code %}{{ one_election.state_code }} {% endif %}
            {{ one_election.election_day_text }}: {{ one_election.election_name }} - {{ one_election.google_civic_election_id }}</option>
    {% endfor %}
    </select>
{% endif %}{# End of if election_list #}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> Include Past Elections
    </label>

    {% if election_years_available %}
    <select id="show_this_year_of_elections_id" name="show_this_year_of_elections">
        <option value="0" {% if 0 == show_this_year_of_elections|convert_to_int %} selected="selected"{% endif %}>
            -- Choose Year --</option>
        {% for year in election_years_available %}
        <option value="{{ year }}"
                {% if show_this_year_of_elections|slugify == year|slugify %} selected="selected"{% endif %}>
            {% if show_this_year_of_elections|slugify == year|slugify %}Limited To {% endif %}
            {{ year }}</option>
        {% endfor %}
    </select>
    {% endif %}{# End of if election_years_available #}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&candidate_search={{ candidate_search }}{% if show_all_elections %}&show_all_elections=1{% endif %}">
            show all states</a>
        {% endif %}
    {% endif %}{# End of if state_list #}

    <label for="show_statistics_id">
      <input type="checkbox" name="show_statistics" id="show_statistics_id" value="1"
             {% if show_statistics %}checked{% endif %} /> Show Statistics
    </label>

    {# wv-103: provide "Friends only" checkbox for admin users #}
    {% if show_admin_options %}
        <label for="show_friends_only_id">
          <input type="checkbox" name="show_friends_only" id="show_friends_only_id" value="1"
                 {% if show_friends_only %}checked{% endif %} /> Show Friends Only
        </label>
    {% endif %}
    {# end wv-103 #}

    <br />

    {% if position_search %}
        <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             clear search</a>&nbsp;
    {% endif %}

    <input type="text" name="position_search" id="position_search_id" value="{{ position_search }}" />
    <input type="submit" value="Search for positions" />
</form>

{% if position_list %}
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Endorser</th>
            <th>Visibility?</th>
            <th>Stance</th>
            <th>Office</th>
            <th>Candidate/Measure</th>
        </tr>
      </thead>
    {% for position in position_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                <span class="u-no-break">
                  {{ position.we_vote_id }} <span class="glyphicon glyphicon-new-window"></span>
                </span>
                </a>
                {% endif %}
            </td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_list' position.organization.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {% if position.organization.organization_name %}{{ position.organization.organization_name }}{% else %}(no org name){% endif %}
                <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% else %}
                    (organization name missing)
                {% endif %}
            </td>
            <td>{% if position.is_public_position %}<strong>Public</strong>{% else %}Friends&nbsp;Only{% endif %}</td>
            <td>
                <span class="u-no-break">
            {% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.get_stance_display }} <span class="glyphicon glyphicon-new-window"></span></a>
            {% else %}
                {{ position.get_stance_display }}
            {% endif %}
                </span>
            </td>
            <td>
                {% if position.contest_office %}
                <a href="{% url 'office:office_summary' position.contest_office.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                   target="_blank">
                  {{ position.contest_office.office_name }}
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% endif %}
            </td>
            <td>
                {% if position.candidate_campaign %}
                <a href="{% url 'candidate:candidate_summary' position.candidate_campaign.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                   target="_blank">
                  {{ position.candidate_campaign.candidate_name }}
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% elif position.contest_measure %}
                {{ position.contest_measure.measure_title }}
                {% else %}
                    (name unknown)
                {% endif %}
                {% if position.state_code %}
                <span style="color: slategray; font-weight: 400;">({{ position.state_code|upper }}) </span>
                {% endif %}
                <span style="color: darkgray">&nbsp;{{ position.statement_text|default_if_none:""|truncatechars:250 }}</span>
            </td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    <p>
        <a href="{% url 'apis_v1:positionsSyncOutView' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
           target="_blank" >Export Positions <span class="glyphicon glyphicon-new-window"></span></a>
    </p>
    <p><a href="{% url 'position:relink_candidates_measures' %}" >Re-link Positions with Candidates or Measures</a></p>
{% else %}
    <p>(no positions found)</p>
{% endif %}
{#    <p><a href="{% url 'position:position_new' %}">Add New Position</a></p>#}

    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    {# wv-103: "Friends only" check box for admin users #}
    $(function() {
        $('#show_friends_only_id').change(function() {
            this.form.submit();
        });
    });
    {# end wv-103 #}
    $(function() {
        $('#show_statistics_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_this_year_of_elections_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#state_code_id').change(function() {
            this.form.submit();
        });
    });
    </script>

{% endblock %}