{# templates/position/position_list.html #}
{% extends "template_base.html" %}

{% block title %}Positions / Public Opinions{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}">< Back to Admin Home</a>

<h1>Positions / Public Opinions</h1>

    <p>Jump to:

    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a></p>

    </p>

<p>Also see positions listed under <a href="{% url 'organization:organization_list' %}">Organizations</a>.
    Vote Smart ratings <a href="{% url 'import_export_vote_smart:vote_smart_rating_list' %}">here</a>.<br/>

    <a href="{% url 'import_export_vote_smart:retrieve_positions_from_vote_smart_for_election' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank" >
    Retrieve Positions from Vote Smart for this Election</a>.
    <a href="{% url 'voter_guide:generate_voter_guides' %}" >Generate Voter Guides</a>.


</p>

{% if election_list %}
    <form name="organization_position_choose_election" method="get" action="{% url 'position:position_list' %}">
        {% csrf_token %}

    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
    {% for election in election_list %}
        <option value="{{ election.google_civic_election_id }}"
                {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
    {% endfor %}
    </select>
    </form>
{% endif %}{# End of if election_list #}

{% if position_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td></td>
            <td>ID</td>
            <td>Organization</td>
            <td>Stance</td>
            <td>Candidate/Measure</td>
            <td>Election</td>
        </tr>
    {% for position in position_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.we_vote_id }}</a>
                {% endif %}
            </td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_list' position.organization.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {% if position.organization.organization_name %}{{ position.organization.organization_name }}{% else %}(no org name){% endif %}
                </a>
                {% else %}
                    (organization name missing)
                {% endif %}</td>
            <td>
            {% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.get_stance_display }}</a>
            {% else %}
                {{ position.get_stance_display }}
            {% endif %}
            </td>
            <td>
                {% if position.candidate_campaign %}
                {{ position.candidate_campaign.candidate_name }}
                {% elif position.contest_measure %}
                {{ position.contest_measure.measure_title }}
                {% else %}
                    (name unknown)
                {% endif %}
            </td>
            <td>{% if position.election.election_day_text %}{{ position.election.election_day_text }}{% endif %}
                {% if position.vote_smart_time_span %}{{ position.vote_smart_time_span }}{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    <p>
        <a href="{% url 'apis_v1:positionsSyncOutView' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank" >Export Positions</a>
    </p>
    <p><a href="{% url 'position:relink_candidates_measures' %}" >Re-link Positions with Candidates or Measures</a></p>
{% else %}
    <p>(no positions found)</p>
{% endif %}
{#    <p><a href="{% url 'position:position_new' %}">Add New Position</a></p>#}

    <script>
        $(function() {
            $('#google_civic_election_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}