{# templates/position/position_list.html #}
{% extends "template_base.html" %}

{% block title %}Opinions/Positions{% endblock %}

{%  block content %}
<p>
  <a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a>&nbsp;&nbsp;&nbsp;
  <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=POSITION&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
     target="_blank">Import New Positions ></a> (open in new window)
</p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Opinions/Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Opinions/Positions</h1>

<p>
    Also see positions listed under <a href="{% url 'organization:organization_list' %}">Organizations</a>.
    Vote Smart ratings <a href="{% url 'import_export_vote_smart:vote_smart_rating_list' %}">here</a>.
</p>

<ul>
    <li><strong><a href="{% url 'voter_guide:voter_guide_create' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
        Suggest a Voter Guide</a></strong> (in a new window). Quick public tools that feeds into import_export_batch system.</li>
{% if position_list and google_civic_election_id %}
    <li>Prepare: <a href="{% url 'voter_guide:generate_voter_guides' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank" >Generate Voter Guides</a> (in new window)</li>
    <li>Prepare: <a href="{% url 'position:refresh_cached_position_info_for_election' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank" >
        Refresh All Cached Positions for this Election</a> (about 5 minutes - in new window)</li>
    <li>Prepare: <a href="{% url 'import_export_vote_smart:retrieve_positions_from_vote_smart_for_election' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank" >
        Retrieve Positions from Vote Smart for this Election</a> (in new window)</li>
{% endif %}
</ul>

<form name="organization_position_choose_election" method="get" action="{% url 'position:position_list' %}">
    {% csrf_token %}
{% if election_list %}
    <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0" {% if 0 == google_civic_election_id %} selected="selected"{% endif %}>
            -- Filter by Election --</option>
    {% for election in election_list %}
        <option value="{{ election.google_civic_election_id }}"
                {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
    {% endfor %}
    </select>
{% endif %}{# End of if election_list #}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> All Elections
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if position_search %}
        <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}">
             clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="position_search" id="position_search_id" value="{{ position_search }}" />
    <input type="submit" value="Search for positions" />
</form>

{% if position_list %}
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Organization</th>
            <th>Visibility?</th>
            <th>Stance</th>
            <th>Rating</th>
            <th>Candidate/Measure</th>
            <th>Election</th>
        </tr>
      </thead>
    {% for position in position_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.we_vote_id }}</a>
                {% endif %}
            </td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_list' position.organization.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {% if position.organization.organization_name %}{{ position.organization.organization_name }}{% else %}(no org name){% endif %}
                </a>
                {% else %}
                    (organization name missing)
                {% endif %}
            </td>
            <td>{% if position.is_public_position %}<strong>Public</strong>{% else %}Friends&nbsp;Only{% endif %}</td>
            <td>
            {% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.get_stance_display }}</a>
            {% else %}
                {{ position.get_stance_display }}
            {% endif %}
            </td>
            <td>
            {% if position.vote_smart_rating or position.vote_smart_rating_integer or position.vote_smart_time_span %}
              {{ position.vote_smart_rating_integer }}%{% if position.vote_smart_time_span %}, {{ position.vote_smart_time_span }}{% endif %}
            {% endif %}
            </td>
            <td>
                {% if position.candidate_campaign %}
                {{ position.candidate_campaign.candidate_name }}
                {% elif position.contest_measure %}
                {{ position.contest_measure.measure_title }}
                {% else %}
                    (name unknown)
                {% endif %}
                <span style="color: darkgray">&nbsp;{{ position.statement_text|default_if_none:""|truncatechars:450 }}</span>
            </td>
            <td>{% if position.election.election_day_text %}<span class="u-no-break">{{ position.election.election_day_text }}</span>{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    <p>
        <a href="{% url 'apis_v1:positionsSyncOutView' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank" >Export Positions</a>
    </p>
    <p><a href="{% url 'position:relink_candidates_measures' %}" >Re-link Positions with Candidates or Measures</a></p>
{% else %}
    <p>(no positions found)</p>
{% endif %}
{#    <p><a href="{% url 'position:position_new' %}">Add New Position</a></p>#}

    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    </script>

{% endblock %}