{# templates/position/position_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if position %}Position Summary{% else %}No Position Found{% endif %}{% endblock %}

{%  block content %}

<a href="{% url 'position:position_list' %}">< Back to Positions</a>

{% if position %}

    <h1>Position Summary</h1>
    <p>Position ID: {{ position.we_vote_id }}<br />

    </p>

{% else %}

    <h1>No Position Found</h1>
    Please visit the <a href="{% url 'position:position_list' %}">Position List</a> page.

{% endif %}

{% endblock %}
