{# templates/office_held/is_battleground_race_year_checkboxes.html #}

<span class="u-no-break">Is battleground:&nbsp;
    <label for="is_battleground_race_2019_id">
      <input type="checkbox" name="is_battleground_race_2019" id="is_battleground_race_2019_id" value="1"
             {% if office_held.is_battleground_race_2019 %}checked{% endif %} /> 2019&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2020_id">
      <input type="checkbox" name="is_battleground_race_2020" id="is_battleground_race_2020_id" value="1"
             {% if office_held.is_battleground_race_2020 %}checked{% endif %} /> 2020&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2021_id">
      <input type="checkbox" name="is_battleground_race_2021" id="is_battleground_race_2021_id" value="1"
             {% if office_held.is_battleground_race_2021 %}checked{% endif %} /> 2021&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2022_id">
      <input type="checkbox" name="is_battleground_race_2022" id="is_battleground_race_2022_id" value="1"
             {% if office_held.is_battleground_race_2022 %}checked{% endif %} /> 2022&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2023_id">
      <input type="checkbox" name="is_battleground_race_2023" id="is_battleground_race_2023_id" value="1"
             {% if office_held.is_battleground_race_2023 %}checked{% endif %} /> 2023&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2024_id">
      <input type="checkbox" name="is_battleground_race_2024" id="is_battleground_race_2024_id" value="1"
             {% if office_held.is_battleground_race_2024 %}checked{% endif %} /> 2024&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2025_id">
      <input type="checkbox" name="is_battleground_race_2025" id="is_battleground_race_2025_id" value="1"
             {% if office_held.is_battleground_race_2025 %}checked{% endif %} /> 2025&nbsp;&nbsp;&nbsp;
    </label>
    <label for="is_battleground_race_2026_id">
      <input type="checkbox" name="is_battleground_race_2026" id="is_battleground_race_2026_id" value="1"
             {% if office_held.is_battleground_race_2026 %}checked{% endif %} /> 2026&nbsp;&nbsp;&nbsp;
    </label>
</span>
