{# templates/office/office_held_list.html #}
{% extends "template_base.html" %}

{% block title %}Offices Held By Elected Representatives{% endblock %}

{%  block content %}

<h1>Offices Currently Held By Elected Representatives</h1>

<p>
    <a href="{% url 'office_held:office_held_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Office Held</a>
</p>

<form name="organization_position_choose_election" method="get" action="{% url 'office_held:office_held_list' %}">
{% csrf_token %}

{% if state_list %}
<select id="state_code_id" name="state_code">
    <option value="">
        -- Filter by State Served --</option>
{% for key, state in state_list %}
    <option value="{{ key }}"
            {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
        {{ state }}</option>
{% endfor %}
</select>
{% if state_code != "" %}
<a href="{% url 'office_held:office_held_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&candidate_search={{ candidate_search }}&show_all=1">
    Show all Offices Held in this state</a>
{% endif %}
{% endif %}
<br/><br/>
{% if office_held_search %}
    <a href="{% url 'office_held:office_held_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
         clear search</a>&nbsp;
{% endif %}
<input type="text" name="office_held_search" id="office_held_search_id" value="{{ office_held_search }}" style="width: 450px" />
<input type="submit" value="Search for Office Held" />
{# End of if state_list #}

{% if office_held_list %}
    {% if google_civic_election_id %}
    <ul>
        <li>Prepare: <a href="{% url 'office:find_and_merge_duplicate_offices' %}?google_civic_election_id={{ google_civic_election_id }}"
                        target="_blank" >
        Find and Merge Duplicate Offices Held for this Election</a> (in new window - about 1 minute)</li>
    </ul>

    {% endif %}
{% endif %}

{% if office_held_list %}
    <br/>
    <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Office Held Name</th>
            <th>District</th>
            <th>State</th>
            <th>IDs</th>
        </tr>
      </thead>
    {% for office_held in office_held_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'office_held:office_held_summary' office_held.we_vote_id %}">{{ office_held.office_held_name }}</a>
            </td>
            <td>{{ office_held.district_name|default_if_none:"" }}</td>
            <td>{{ office_held.state_code|default_if_none:"" }}</td>
            <td>
                {{ office_held.we_vote_id|default_if_none:"" }} - {{ office_held.id|default_if_none:"" }}
                {% if office_held.ocd_division_id %} - {{ office_held.ocd_division_id|default_if_none:"" }}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
    {# <p><a href="{% url 'office:offices_export' %}?format=json" target="_blank" >Export Offices Held</a></p> #}
{% else %}
    <p>(no office helds found)</p>
{% endif %}
</form>

<script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#state_code_id').change(function() {
            this.form.submit();
        });
    });

    $('#update_office').submit(function( event ) {
         document.getElementById('started_update').value = 'start'
    });

    setInterval(function () {
      let origin = new URL('{{request.build_absolute_uri}}').origin;
      let apiURL = origin + '/office_held/real_time_status/';
      let started = document.getElementById('started_update').value;
      console.log("started ---- " + started);
      if (started === 'start') {
        $.ajax({
          type: "GET",
          url: apiURL,
          success: function (data) {
            let status = data.text;
            console.log(status);
            $('#realTimeStatus').html('<font color="LIMEGREEN">' + status +'</font>');
          },
        });
      }
    }, 1000);

</script>

{% endblock %}
