{# templates/import_export_apple_app_store/index.html #}
{% extends "template_base.html" %}

{% block title %}Import/Export Data from Apple App Store{% endblock %}

{% block content %}

  <h1>Import/Export Data from Apple App Store</h1>

  <p>
    In order to help manage the WeVote data lake, these tools help us migrate and look at data coming from the
    Apple App Store.
  </p>

  <a href="{% url 'import_export_apple_app_store:apple_app_store_event_list' %}">Apple App Store Event List</a>

{% endblock %}
