{# templates/ballot/ballot_item_list_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if ballot_returned.id %}Ballot Returned for '{{ ballot_returned.text_for_map_search|title }}'{% else %}
    New Ballot Returned{% endif %}{% endblock %}

{% block content %}
{% load template_filters %}
<p>
    {% if election and election.id %}
    <br />
    <a href="{% url 'election:election_summary' election.id %}?google_civic_election_id={{ google_civic_election_id }}">
    < Back to Election</a>
    {% endif %}
</p>

<h1>{% if ballot_returned.id %}Ballot Returned for '{{ ballot_returned.text_for_map_search|title }}'{% else %}New Ballot Returned{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if election_list %}
    <form action="{% url "ballot:ballot_item_list_edit" ballot_returned_id %}" method="get" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name="state_code" value="{{ state_code }}">
        <input type="hidden" name="polling_location_we_vote_id" value="{{ polling_location_we_vote_id }}">
        <div class="form-group">
            <label for="google_civic_election_id" class="col-sm-3 control-label">Election</label>
            <div class="col-sm-8">
                <select id="google_civic_election_id" name="google_civic_election_id" class="form-control">
                    <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
                        -- Choose Election --</option>
                {% for election_option in election_list %}
                    <option value="{{ election_option.google_civic_election_id }}"
                            {% if election_option.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
                        {{ election_option.election_name }} - {{ election_option.google_civic_election_id }} - {{ election_option.election_day_text }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
    </form>
{% endif %}{# End of if election_list #}

<form action="{% url "ballot:ballot_item_list_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
    <input type="hidden" name="ballot_returned_id" value="{% if ballot_returned %}{{ ballot_returned.id }}{% else %}0{% endif %}">
    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">

{% if ballot_returned.id %}
{# If here we are working with an existing ballot_returned entry #}
    {% if ballot_returned.google_civic_election_id|convert_to_int < 1000000 %}
        <p><strong>This ballot is from Google Civic API.</strong></p>
    {% endif %}

<div class="form-group">
    <label for="ballot_returned_we_vote_id_id" class="col-sm-3 control-label">Ballot Returned We Vote ID</label>
    <div class="col-sm-8">
        <input type="text" name="ballot_returned_we_vote_id" id="ballot_returned_we_vote_id_id" class="form-control" disabled
               value="{{ ballot_returned.we_vote_id }}" />
      {% if ballot_returned.date_last_updated %}Date Last Updated: {{ ballot_returned.date_last_updated }}{% endif %}
    </div>
</div>

<div class="form-group">
    <label for="polling_location_we_vote_id_id" class="col-sm-3 control-label">Map Point We Vote ID</label>
    <div class="col-sm-8">
        <input type="text" name="polling_location_we_vote_id" id="polling_location_we_vote_id_id" class="form-control"
               value="{{ ballot_returned.polling_location_we_vote_id }}" />
      {% if polling_location_deleted %}POLLING LOCATION DELETED{% endif %}
    </div>
</div>

{% if ballot_returned.voter_id %}
<div class="form-group">
    <label for="polling_location_we_vote_id_id" class="col-sm-3 control-label">This BallotReturned retrieved for this voter</label>
    <div class="col-sm-8">
        <a href="{% url 'voter:voter_summary' ballot_returned.voter_id %}" target="_blank">{{ ballot_returned.voter_id }} <span class="glyphicon glyphicon-new-window"></span></a>
    </div>
</div>
{% endif %}

<div class="form-group">
    <label for="text_for_map_search_id" class="col-sm-3 control-label">Text for Map Search</label>
    <div class="col-sm-8">
        <input type="text" name="text_for_map_search" id="text_for_map_search_id" class="form-control"
               value="{{ ballot_returned.text_for_map_search }}"
               {% if ballot_returned.polling_location_we_vote_id %} disabled="disabled"{% endif %}/>
    </div>
</div>

<div class="form-group">
    <label for="election_id" class="col-sm-3 control-label">Election
    {% if election.id %}
      &nbsp;
      <a href="{% url 'election:election_summary' election.id %}{% if show_all_elections_this_year %}?show_all_elections_this_year=1{% elif show_all_elections %}?show_all_elections=1{% endif %}"
         target="_blank">
        <span class="glyphicon glyphicon-new-window"></span>
      </a>
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="election" id="election_id" class="form-control" disabled
               value="{{ google_civic_election_id }}{% if election %} ({{ election.election_name }}){% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="state_code_id" class="col-sm-3 control-label">State</label>
    <div class="col-sm-8">
        <input type="text" name="state_code" id="state_code_id" class="form-control"
               value="{{ ballot_returned.normalized_state }}" />
    </div>
</div>

<div class="form-group">
    <label for="election_day_text_id" class="col-sm-3 control-label">Date</label>
    <div class="col-sm-8">
        <input type="text" name="election_day_text" id="election_day_text_id" class="form-control" disabled
               value="{{ election.election_day_text }}" />
    </div>
</div>

<div class="form-group">
    <label for="latitude_longitude_id" class="col-sm-3 control-label">Latitude/Longitude</label>
    <div class="col-sm-8">
        <input type="text" name="latitude_longitude" id="latitude_longitude_id" class="form-control" disabled
               value="{{ ballot_returned.latitude }} / {{ ballot_returned.longitude }}" />
    </div>
</div>

<div class="form-group">
    <label for="ballot_location_display_name_id" class="col-sm-2 control-label">Ballot Returned Display Name</label>
    <div class="col-sm-1">
        <label for="ballot_location_display_option_on_id" class="control-label">Show:&nbsp;
            <input type="checkbox" name="ballot_location_display_option_on" id="ballot_location_display_option_on_id"
               value={{ ballot_returned.ballot_location_display_option_on }}
               {% if ballot_returned.ballot_location_display_option_on %}checked{% endif %} />
        </label>
    </div>
    <div class="col-sm-8">
        <input type="text" name="ballot_location_display_name" id="ballot_location_display_name_id" class="form-control"
               value="{{ ballot_returned.ballot_location_display_name|default_if_none:"" }}" />
    </div>
</div>

<div class="form-group">
    <label for="ballot_location_shortcut_id" class="col-sm-3 control-label">Ballot Returned Shortcut</label>
    <div class="col-sm-8">
        <input type="text" name="ballot_location_shortcut" id="ballot_location_shortcut_id" class="form-control"
               value="{{ ballot_returned.ballot_location_shortcut|default_if_none:"" }}" />
    </div>
</div>

<h4>Tools</h4>

<ul>
    {% if election.use_ballotpedia_as_data_source %}
        <li>Prepare: <a href="{% url 'import_export_batches:import_ballot_items_for_location' %}?use_ballotpedia=1&google_civic_election_id={{ google_civic_election_id }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}&state_code={{ state_code }}"
                        target="_blank" >
            Ballotpedia: Retrieve Ballot Items for this Map Point <span class="glyphicon glyphicon-new-window"></span></a></li>
    {% endif %}
    {% if election.use_ctcl_as_data_source or use_ctcl_as_data_source_override %}
        <li>
            Prepare:
{# TODO search for 'ctcl_retrieve_ballot_api_url':  <a href="{{ ctcl_retrieve_ballot_api_url }}" target="_blank">Preview CTCL Ballot-Retrieve API response</a>,#}
            <a href="{% url 'import_export_batches:import_ballot_items_for_location' %}?use_ctcl=1&google_civic_election_id={{ google_civic_election_id }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}&state_code={{ state_code }}"
               target="_blank" >
                CTCL: Retrieve Ballot Items for this Map Point <span class="glyphicon glyphicon-new-window"></span>
            </a>
        </li>
    {% endif %}
    {% if election.use_vote_usa_as_data_source %}
        <li>Preview: <a href="{{ vote_usa_api_url }}"
                        target="_blank" >
            Vote USA: View Raw API call this Map Point <span class="glyphicon glyphicon-new-window"></span></a></li>
        <li>Prepare: <a href="{% url 'import_export_batches:import_ballot_items_for_location' %}?use_vote_usa=1&google_civic_election_id={{ google_civic_election_id }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}&state_code={{ state_code }}"
                        target="_blank" >
            Vote USA: Retrieve Ballot Items for this Map Point <span class="glyphicon glyphicon-new-window"></span></a></li>
    {% endif %}
        <li>Prepare: <a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=IMPORT_BALLOT_ITEM&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}">
            Import Complete Ballot at One Location (Import/Export Batches)</a></li>
</ul>
{#{% if election.id %}#}
{#    {% if ballot_returned_id %}#}
{#        <a href="{% url 'election:election_one_ballot_retrieve' election.id %}?ballot_returned_id={{ ballot_returned_id }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}&voter_id={{ ballot_returned.voter_id }}">#}
{#        Refresh data from Google Civic</a><br />#}
{#    {% elif ballot_returned.id %}#}
{#        <a href="{% url 'election:election_one_ballot_retrieve' election.id %}?ballot_returned_id={{ ballot_returned.id }}&polling_location_we_vote_id={{ ballot_returned.polling_location_we_vote_id }}&voter_id={{ ballot_returned.voter_id }}">#}
{#        Refresh data from Google Civic</a><br />#}
{#    {% endif %}#}
{#{% endif %}#}

{% if ballot_item_list %}
    <h4>Existing Ballot Items</h4>
    {% for ballot_item in ballot_item_list %}
        <div class="form-group">
            <label for="local_ballot_order_{{ ballot_item.id }}" class="col-sm-2 control-label">Order:</label>
            <div class="col-sm-1">
                <input type="text" class="form-control" name="local_ballot_order_{{ ballot_item.id }}" value="{{ ballot_item.local_ballot_order }}" />
            </div>
            <div class="col-sm-8">
                {% if ballot_item.contest_office_we_vote_id %}
                    {{ ballot_item.ballot_item_display_name }}
                    (<a href="{% url 'office:office_summary' ballot_item.contest_office_id %}" target="_blank">
                        {{ ballot_item.contest_office_we_vote_id }} <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                    {% if ballot_item.vote_usa_office_id %}
                        {{ ballot_item.vote_usa_office_id }}&nbsp;
                    {% endif %}
                    {% if ballot_item.ctcl_uuid %}
                        {{ ballot_item.ctcl_uuid }}&nbsp;
                    {% endif %}
                    )
                    {% if ballot_item.candidates_string %}: {{ ballot_item.candidates_string }}{% endif %}
                    - <a href="{% url 'ballot:ballot_item_delete_process' ballot_item.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&ballot_returned_id={{ ballot_returned_id }}">
                    Delete</a>
                    <br />
                {% elif ballot_item.contest_measure_we_vote_id %}
                    {{ ballot_item.ballot_item_display_name }}
                    (<a href="{% url 'measure:measure_summary' ballot_item.contest_measure_id %}" target="_blank">
                        {{ ballot_item.contest_measure_we_vote_id }} <span class="glyphicon glyphicon-new-window"></span>
                    </a>)
                    - <a href="{% url 'ballot:ballot_item_delete_process' ballot_item.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&ballot_returned_id={{ ballot_returned_id }}">
                    Delete</a>
                    <br />
                {% endif %}
                {% if ballot_item.google_ballot_placement %}
                    google_ballot_placement: {{ ballot_item.google_ballot_placement|default_if_none:"" }}
                {% endif %}
            </div>
        </div>
    {% endfor %}{# for ballot_item in ballot_item_list #}
{% endif %}

<div class="form-group">
    <label for="update_ballot_id" class="col-sm-3 control-label">
        <a href="{% url 'election:election_summary' election.id %}">cancel</a>
    </label>
    <div class="col-sm-8">
        <input type="submit" id="update_ballot_id"
               value="{% if ballot_returned %}Update Ballot{% else %}Save New Ballot{% endif %}" class="btn btn-primary" />
        {% if ballot_returned and ballot_returned.polling_location_we_vote_id %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'polling_location:polling_location_we_vote_id_edit' ballot_returned.polling_location_we_vote_id %}" target="_blank">
            Edit Original Map Point <span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </div>
</div>

{% else %}
{# If here we are creating a new ballot_returned entry #}
    We manually create ballots within We Vote before Google Civic data is available, so we can get started matching
    local voter guides to candidates and measures.<br />
    <br />
    {% if polling_location_found %}
      <h3>Creating Ballot Returned at this Map Point</h3>
        <a href="{% url 'polling_location:polling_location_summary' polling_location.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
            {% if polling_location.location_name %}{{ polling_location.location_name }}{% else %}missing location name{% endif %} <span class="glyphicon glyphicon-new-window"></span></a>
            - {{ polling_location.get_text_for_map_search|title }}
            {% if polling_location.we_vote_id %}({{ polling_location.we_vote_id }}){% endif %}
        <br />
        Latitude: {{ polling_location.latitude }}, Longitude: {{ polling_location.longitude }}<br />
        <br />
        <input type="hidden" name="polling_location_id" value="{{ polling_location.id }}">
    {% else %}
        {# Choose map point for this ballot_returned #}
        Search for City: <input type="text" name="polling_location_city" value="{{ polling_location_city }}" />
        or ZIP: <input type="text" name="polling_location_zip" value="{{ polling_location_zip }}" />
        <input type="submit" value="Search" />
        <br />
        {% if polling_location_list %}
            <label for="polling_location_id_id">Map Points</label>
            <select id="polling_location_id_id" name="polling_location_id">
                <option value="0" {% if 0 == polling_location_id %} selected="selected"{% endif %}>
                    -- Map Points --</option>
            {% for polling_location in polling_location_list %}
                <option value="{{ polling_location.id }}"
                        {% if polling_location.id|slugify == polling_location_id|slugify %} selected="selected"{% endif %}>
                    {{ polling_location.get_text_for_map_search|title }} - {{ polling_location.we_vote_id }}</option>
            {% endfor %}
            </select>
            <br />
        {% else %}
            (There are no map points to choose from)<br />
        {% endif %}
    {% endif %}

{% endif %}

{% if google_civic_election_id|convert_to_int >= 1000000 %}
{# If here, we are looking at a We Vote election - 2016-08-10 This filter turned off for now #}
{% endif %}



<br />
   {# ################################### #}
    {% if contest_offices_to_choose_list %}
        <h5>Add Office to This Ballot Returned</h5>
        {# Office Option 1 #}
        <select id="contest_office1_id_id" name="contest_office1_id">
            <option value="0" >-- Choose Office --</option>
        {% for office in contest_offices_to_choose_list %}
            <option value="{{ office.id }}">{{ office.office_name }}
                {% if office.district_id %}
                    - District {{ office.district_id }}
                {% endif %}
                {% if office.state_code %}
                    - {{ office.state_code }}
                {% endif %}
            </option>
        {% endfor %}
        </select>
        <a href="{% url 'office:office_new' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
            add office to the election <span class="glyphicon glyphicon-new-window"></span></a>
    {% else %}
        (no offices exist for this election yet -- you need to
        <a href="{% url 'office:office_new' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
            add offices to the election first <span class="glyphicon glyphicon-new-window"></span></a>)
    {% endif %}
    <br />
    <br />

    {# ################################### #}
    {% if measure_list %}
        <h5>Add Measure to This Ballot Returned</h5>
        {# Measure Option 1 #}
        <select id="contest_measure1_id_id" name="contest_measure1_id">
            <option value="0">-- Choose Measure --</option>
        {% for measure in measure_list %}
            <option value="{{ measure.id }}">{{ measure.measure_title }}</option>
        {% endfor %}
        </select>
        <a href="{% url 'measure:measure_new' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
            add measures to the election <span class="glyphicon glyphicon-new-window"></span></a>
    {% else %}
        (no measures exist for this election yet -- you need to
        <a href="{% url 'measure:measure_new' %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
            add measures to the election first <span class="glyphicon glyphicon-new-window"></span></a>)
    {% endif %}
    <br />

    <br />
    <p>
    {% if election and election.id %}
        <a href="{% url 'election:election_summary' election.id %}">cancel</a>
        <input type="submit" value="{% if ballot_returned %}Add Office or Measure{% else %}Save New Ballot{% endif %}" class="btn btn-primary" />
    {% endif %}
    </p>
</form>
<br />
<br />
<a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=CONTEST_OFFICE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}"
   target="_blank">
      Import Offices (Import/Export Batches) <span class="glyphicon glyphicon-new-window"></span></a>
<br />
<a href="{% url 'import_export_batches:batch_list' %}?kind_of_batch=MEASURE&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&polling_location_we_vote_id={{ polling_location_we_vote_id }}"
   target="_blank">
      Import Measures (Import/Export Batches) <span class="glyphicon glyphicon-new-window"></span></a>

<br />


{% if ballot_returned and ballot_returned.id %}
    <br />
    <a href="{% url 'ballot:ballot_returned_delete_process' ballot_returned.id %}">
        Delete this Ballot Returned and all Ballot Items</a><br />
{% endif %}
<br />
<br />

    <script>
        $(function() {
            $('#polling_location_id_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#google_civic_election_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}