body {
	background: #eee;
    padding-top: 70px;
}

.this {
	opacity: 1;
}

.this.loading {
	opacity: 0.2;
	transition: opacity 600ms;
}

.this .loadingElement {
	display: none;
}

.this.loading .loadingElement {
	display: inherit;
}

.loadingElement {
	float: right;
}
