/*body {*/
	/*margin:     0px;*/
    /*padding:    0px;*/
    /*overflow:   hidden;*/
/*}*/

.iframe_for_framed_content {
    overflow:   hidden;
    width:      100%;
    padding:    55px 0 0 0;
    border:     0;
    position:   absolute;
    height:     100%;
}