{# templates/import_export_vote_smart/index.html #}
{% extends "template_base.html" %}

{% block title %}Vote Smart Tools{% endblock %}

{%  block content %}

<h1>Vote Smart Tools</h1>

<p><a href="{% url 'import_export_vote_smart:vote_smart_candidate_list' %}">Candidates</a></p>
<p><a href="{% url 'import_export_vote_smart:vote_smart_position_category_list' %}">Position Categories</a></p>
<p><a href="{% url 'import_export_vote_smart:vote_smart_special_interest_group_list' %}">Special Interest Groups</a></p>
<p><a href="{% url 'import_export_vote_smart:vote_smart_rating_list' %}">Ratings</a></p>

{% endblock %}