{# templates/voter_guide/voter_guide_list.html #}
{% extends "template_base.html" %}

{% block title %}Voter Guides{% endblock %}

{%  block content %}
{% load template_filters %}
<p><a href="{% url 'admin_tools:admin_home' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">< Back to Admin Home</a></p>
<p>Jump to:
    <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elections</a> -
    <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Measures</a> -
    <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Offices</a> -
    <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Candidates</a> -
    <a href="{% url 'elected_office:elected_office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Offices</a> -
    <a href="{% url 'elected_official:elected_official_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Elected Officials</a> -
    <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Politicians</a> -
    <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Issues</a> -
    <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Organizations</a> -
    <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Public Opinions / Positions</a> -
    <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Voter Guides</a> -
    <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">Polling Locations</a>
</p>

<h1>Voter Guides</h1>

    <p><strong>Create Voter Guide</strong>. Don't see a voter guide for this election?
    <a href="{% url 'voter_guide:voter_guide_search' %}?google_civic_election_id={{ google_civic_election_id }}">Find Voter Guide</a></p>

    <form name="voter_guide_choose_election" method="get" action="{% url 'voter_guide:voter_guide_list' %}">
        {% csrf_token %}
{% if election_list %}
    <select id="google_civic_election_id" name="google_civic_election_id">
    <option value="0">-- Filter by Election --</option>
    {% for election in election_list %}
    <option value="{{ election.google_civic_election_id }}"
            {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
        {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
    {% endfor %}
    </select>
{% else %}
    (no elections found)
{% endif %}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> All Elections
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;

    {% if voter_guide_search %}
            <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}">
                 clear search</a>&nbsp;
        {% endif %}
    <input type="text" name="voter_guide_search" id="voter_guide_search_id" value="{{ voter_guide_search }}" />
    <input type="submit" value="Search for Voter Guides" />
    </form>

<p></p>
{% if voter_guide_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td></td>
            <td>&nbsp;</td>
            <td>Organization</td>
            <td>Twitter</td>
            <td>Election</td>
            <td>Election Day</td>
            <td>Time Span</td>
            <td>Type</td>
            <td>Public<br />
                Positions</td>
            <td>Friends-only<br />
                Positions</td>
            <td>Last Updated</td>
            <td>we vote id</td>
        </tr>
    {% for voter_guide in voter_guide_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% if voter_guide.organization %}
                <td>{% if voter_guide.we_vote_hosted_profile_image_url_tiny %}
                    <a href="{% url 'organization:organization_position_list' voter_guide.organization.id %}?google_civic_election_id={{ google_civic_election_id }}">
                        <img src="{{ voter_guide.we_vote_hosted_profile_image_url_tiny }}" width="24px" /></a>{% endif %}</td>
                <td>
                <a href="{% url 'organization:organization_position_list' voter_guide.organization.id %}?google_civic_election_id={{ google_civic_election_id }}">
                {% if voter_guide.organization.organization_name %}
                    {{ voter_guide.organization.organization_name }}
                {% else %}(name missing){% endif %}</a>
                </td>
            {% else %}
                <td colspan="2">(no org found)</td>
            {% endif %}
            <td>{{ voter_guide.twitter_handle|default_if_none:"" }}</td>
            <td>{{ voter_guide.google_civic_election_id|default_if_none:"" }}</td>
            <td>{{ voter_guide.election_day_text|default_if_none:"" }}</td>
            <td>{{ voter_guide.vote_smart_time_span|default_if_none:"" }}</td>
            <td>{{ voter_guide.voter_guide_owner_type|default_if_none:"" }}</td>
            <td>{{ voter_guide.number_of_public_positions|default_if_none:"" }}</td>
            <td>{{ voter_guide.number_of_friends_only_positions|default_if_none:"" }}</td>
            <td>{{ voter_guide.last_updated }}</td>
            <td>
              <a href="{% url 'voter_guide:voter_guide_edit' voter_guide.we_vote_id %}" target="_blank">
              {{ voter_guide.we_vote_id }}
              </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no voter guides found)</p>
{% endif %}

    <p></p>
    <p>
        <a href="{% url 'voter_guide:generate_voter_guides' %}" >Generate Voter Guides</a>
    </p>
    <p>
        <a href="{% url 'voter_guide:refresh_existing_voter_guides' %}?google_civic_election_id={{ google_civic_election_id }}" >Refresh Voter Guides</a>
    </p>
    <script>
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    </script>
{% endblock %}