{# templates/voter_guide/voter_guide_possibility_table.html #}
{% load humanize %}
{% load mathfilters %}
{% if voter_guide_possibility_list %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>View</th>
            <th>Source</th>
            <th>Endorser (1) or Candidate (2)</th>
            <th>Status</th>
            <th><span class="u-no-break">Assigned To</span></th>
            <th>Date Submitted</th>
            <th>
                Select<br />
                <span class="u-no-break" style="font-weight: 400;">
                (all
                <input type="checkbox" name="toggle_all" id="toggle_all_id" value="1"/>)</th>
                </span>
        </tr>
        </thead>
    {% for voter_guide_possibility in voter_guide_possibility_list %}
        <tr>
            <td>{{ forloop.counter|add:starting_counter_number }}</td>
            <td>
                <a href="{% url 'voter_guide:voter_guide_create' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"
                   class="btn btn-primary btn-sm"
                   role="button"
                   target="_blank">VIEW DETAILS <span class="glyphicon glyphicon-new-window"></span></a>
            </td>
            <td>
                <div style="max-width: 500px;">
                    {% include "voter_guide/voter_guide_dynamically_prefix_link_protocol.html" with link=voter_guide_possibility.voter_guide_possibility_url text=voter_guide_possibility.voter_guide_possibility_url count=forloop.counter only %}
                </div>
                {% if voter_guide_possibility.contributor_comments or voter_guide_possibility.contributor_email %}
                {% endif %}
                {% if voter_guide_possibility.contributor_comments %}
                  From contributor: <span style="color: darkgray">{{ voter_guide_possibility.contributor_comments }} </span>
                {% endif %}
                {% if voter_guide_possibility.contributor_email %}
                  <a href="mailto:{{ voter_guide_possibility.contributor_email }}"
                     target="_blank">
                    ({{ voter_guide_possibility.contributor_email|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span>)</a>
                {% endif %}
                {% if voter_guide_possibility.ballot_items_raw %}
                  <br />
                  {{ voter_guide_possibility.ballot_items_raw|truncatechars:80 }}
                {% endif %}
                {% if voter_guide_possibility.organization.organization_email %}
                  <br />
                <a href="mailto:{{ voter_guide_possibility.organization.organization_email }}"
                   class="u-no-break">
                    {{ voter_guide_possibility.organization.organization_email }}
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% endif %}
            </td>
            <td>
            {% if voter_guide_possibility.voter_guide_possibility_type == ORGANIZATION_ENDORSING_CANDIDATES or voter_guide_possibility.voter_guide_possibility_type == UNKNOWN_TYPE %}
                {% if voter_guide_possibility.organization %}
                    {% if voter_guide_possibility.organization.we_vote_hosted_profile_image_url_medium %}
                        <img src="{{ voter_guide_possibility.organization.we_vote_hosted_profile_image_url_medium }}" width="48px" />
                    {% endif %}
                    {% if voter_guide_possibility.organization.organization_name %}
                      <span class="h4">{{ voter_guide_possibility.organization.organization_name }}</span>
                    {% else %}(name missing){% endif %}
                {% else %}
                    {% if voter_guide_possibility.organization_name %}
                        <span class="h4">{{ voter_guide_possibility.organization_name|default_if_none:"" }}</span>
                    {% else %}
                      (organization_name not found)
                    {% endif %}
                {% endif %}
                {% if voter_guide_possibility.organization_twitter_handle %}
                    <span>
                        &nbsp;
                        <a href="https://twitter.com/{{ voter_guide_possibility.organization_twitter_handle|default_if_none:"" }}"
                           class="u-no-break"
                           target="_blank">
                        <i class="fa fa-twitter"></i>
                        {% if voter_guide_possibility.organization_twitter_followers_count %}
                            <span>
                            ({{ voter_guide_possibility.organization_twitter_followers_count|intcomma }} followers)
                            </span>
                        {% endif %}
                        <span class="glyphicon glyphicon-new-window"></span>
                        </a>
                        &nbsp;
                    </span>
                {% endif %}
            {% elif voter_guide_possibility.voter_guide_possibility_type == ENDORSEMENTS_FOR_CANDIDATE %}
                {% if voter_guide_possibility.candidate %}
                    {% if voter_guide_possibility.candidate.we_vote_hosted_profile_image_url_medium %}
                        <img src="{{ voter_guide_possibility.candidate.we_vote_hosted_profile_image_url_medium }}" width="48px" />
                    {% endif %}
                    <span class="h4">{{ voter_guide_possibility.candidate.display_candidate_name }}</span>
                    {% if voter_guide_possibility.candidate.display_candidate_name and voter_guide_possibility.candidate.id %}
                        <a href="{% url "candidate:candidate_summary" voter_guide_possibility.candidate.id %}"
                           target="_blank"
                           class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
                    {% endif %}
                    <span class="u-no-break">(Option 2)</span>
                    <br />
                    {% if voter_guide_possibility.candidate.fetch_twitter_handle %}
                        <a href="https://twitter.com/{{ voter_guide_possibility.candidate.fetch_twitter_handle }}"
                           target="_blank"
                           class="u-no-break">
                        <i class="fa fa-twitter"></i> {{ voter_guide_possibility.candidate.fetch_twitter_handle }}
                        &nbsp;
                        <span class="glyphicon glyphicon-new-window"></span></a>
                    {% endif %}
                {% else %}
                    {% if voter_guide_possibility.candidate_name %}
                      <span class="h4">{{ voter_guide_possibility.candidate_name|default_if_none:"" }}</span>
                        <span class="u-no-break">(Option 2)</span>
                    {% else %}
                        (no candidate name found - <span class="u-no-break">Option 2</span>)
                    {% endif %}
                {% endif %}
            {% else %}
                (no org or candidate name found)
            {% endif %}
            </td>
            <td>
                {% if voter_guide_possibility.number_of_ballot_items %}
                  <span class="u-no-break">{{ voter_guide_possibility.number_of_ballot_items|default_if_none:"" }} endorsements found</span>
                  <br />
                {% endif %}
                {% if voter_guide_possibility.number_of_ballot_items_not_matched %}
                  <span class="u-no-break" style="color: red">({{ voter_guide_possibility.number_of_ballot_items_not_matched }} not matched)</span>
                  <br />
                {% endif %}
                {% if voter_guide_possibility.number_of_endorsements_with_position %}
                  <span class="u-no-break" style="color: green">{{ voter_guide_possibility.number_of_endorsements_with_position }} visible to voters</span>
                  <br />
                {% endif %}
                {% if voter_guide_possibility.number_of_endorsements_not_visible %}
                  <span class="u-no-break"><strong>{{ voter_guide_possibility.number_of_endorsements_not_visible }} NOT visible to voters</strong></span>
                    <br />
                {% endif %}
                {% if voter_guide_possibility.from_prior_election %}
                Past Year
                <br />
                {% endif %}
                {% if voter_guide_possibility.cannot_find_endorsements %}
                Not Available Yet
                <br />
                {% endif %}
                {% if voter_guide_possibility.candidates_missing_from_we_vote %}
                Candidates Missing
                <br />
                {% endif %}
                {% if voter_guide_possibility.capture_detailed_comments %}
                Capture Comments
                <br />
                {% endif %}
                {% if voter_guide_possibility.done_needs_verification %}
                    <span class="u-no-break">Done-To Verify</span>
                <br />
                {% endif %}
                {% if voter_guide_possibility.done_verified %}
                    <span class="u-no-break">Done-Verified</span>
                <br />
                {% endif %}
                {% if voter_guide_possibility.hide_from_active_review %}
                Archived
                <br />
                {% endif %}
                {% if voter_guide_possibility.ignore_this_source %}
                Ignored
                <br />
                {% endif %}
                {% if not voter_guide_possibility.from_prior_election and not voter_guide_possibility.cannot_find_endorsements and not voter_guide_possibility.candidates_missing_from_we_vote and not voter_guide_possibility.capture_detailed_comments and not voter_guide_possibility.done_needs_verification and not voter_guide_possibility.done_verified and not voter_guide_possibility.hide_from_active_review and not voter_guide_possibility.ignore_this_source %}
                    <span class="u-no-break">To Review</span>
                <br />
                {% endif %}
{#                {% if voter_guide_possibility.positions_ready_to_save_as_batch %}#}
{#                <a href="{% url 'voter_guide:generate_voter_guide_possibility_batch' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"#}
{#                   class="btn btn-primary btn-sm"#}
{#                   role="button"#}
{#                   target="_blank">IMPORT POSITIONS <span class="glyphicon glyphicon-new-window"></span></a>#}
{#                {% endif %}#}
                {% if voter_guide_possibility.batch_header_id %}
                <br />
                <a href="{% url 'import_export_batches:batch_action_list' %}?batch_header_id={{ voter_guide_possibility.batch_header_id }}&kind_of_batch=POSITION"
                   class="u-no-break"
                   target="_blank">
                  import results <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% endif %}
                {% if voter_guide_possibility.positions_ready_to_save_as_batch and voter_guide_possibility.internal_notes %}
                    <br />
                {% endif %}
                {% if voter_guide_possibility.internal_notes %}
                    <span style="color: darkgray">{{ voter_guide_possibility.internal_notes }}</span>
                    <a href="{% url 'voter_guide:voter_guide_create' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"
                       target="_blank"> (edit)</a>
                {% endif %}
            </td>
            <td>
              {% if voter_guide_possibility.assigned_to_name %}
                {{ voter_guide_possibility.assigned_to_name }}
              {% endif %}
              {% if voter_guide_possibility.verified_by_we_vote_id and voter_guide_possibility.verified_by_name %}
              <span{% if not voter_guide_possibility.done_verified %} style="text-decoration: line-through;"{% endif %}>
                  Verified by
                  <a href="{% url 'voter:voter_edit_we_vote_id' voter_guide_possibility.voter_who_submitted_we_vote_id %}"
                     target="_blank">
                    <strong>{{ voter_guide_possibility.voter_who_submitted_name|default_if_none:"" }}</strong></a>
{#                  {{ voter_guide_possibility.date_last_changed|default_if_none:"" }} PT#}
              </span>
              {% endif %}
            </td>
            <td>
              <span style="">
                  {{ voter_guide_possibility.date_last_changed|default_if_none:"" }} PT
                  {% if voter_guide_possibility.voter_who_submitted_we_vote_id and voter_guide_possibility.voter_who_submitted_name %}
                      <br />
                      <a href="{% url 'voter:voter_edit_we_vote_id' voter_guide_possibility.voter_who_submitted_we_vote_id %}"
                         target="_blank">
                        by <strong>{{ voter_guide_possibility.voter_who_submitted_name|default_if_none:"" }}</strong></a>
                  {% endif %}
              </span>
            </td>
            <td>
                <input type="checkbox" name="select_for_marking_checks[]" id="select_for_marking_id" value="{{ voter_guide_possibility.id }}"/>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no voter guide possibilities found)</p>
{% endif %}

<script>
    $(function() {
        $('#toggle_all_id').change(function() {
            var inputs = document.getElementsByName("select_for_marking_checks[]");
            for(var i = 0; i < inputs.length; i++) {
              if (inputs[i].checked === false) {
                inputs[i].checked = true;
              } else {
                inputs[i].checked = false;
              }
            }
        });
    });
</script>
