{# templates/voter_guide/voter_guide_create.html #}
{% extends "template_base.html" %}

{% block title %}Endorsements{% endblock %}

{%  block content %}
{% load template_filters %}
<h1>Endorsements</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if organization %}
{% else %}
    <p>Thank you for helping us gather opinions about this upcoming election!</p>
{% endif %}

<form action="{% url "voter_guide:voter_guide_create_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="voter_guide_possibility_id" value="{{ voter_guide_possibility_id }}">

<div class="form-group">
    <label for="voter_guide_possibility_url_id" class="col-sm-3 control-label">
        Where did you find these endorsements?
    </label>
    <div class="col-sm-8">
        <input type="text"
               name="voter_guide_possibility_url"
               id="voter_guide_possibility_url_id"
               class="form-control"
               placeholder="Please enter web address, starting with 'http' or 'www'..."
               value="{{ voter_guide_possibility_url }}" />
    </div>
</div>

{% if upcoming_election_list %}
<div class="form-group">
    <label for="google_civic_election_id" class="col-sm-3 control-label">{% if 0 == google_civic_election_id|convert_to_int %}Choose {% endif %}Election</label>
    <div class="col-sm-8">
        <select id="google_civic_election_id" name="google_civic_election_id" class="form-control">
            <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
                -- Choose Election --</option>
        {% for election in upcoming_election_list %}
            <option value="{{ election.google_civic_election_id }}"
                    {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
                {{ election.election_name }} - {{ election.election_day_text }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endif %}


{% if organization_found and organization %}

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Organization Name</label>
    <div class="col-sm-8">
        <input type="text" name="organization_name" id="organization_name_id" class="form-control"
               value="{{ organization.organization_name }}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_twitter_handle_id" class="col-sm-3 control-label">Organization Twitter Handle</label>
    <div class="col-sm-8">
        <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
               value="{{ organization.organization_twitter_handle }}" />
    </div>
</div>

<input type="hidden" name="organization_we_vote_id" value="{{ organization_we_vote_id }}">

{% elif organizations_list %}
<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Choose Organization</label>
    <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>Name</th>
                <th></th>
                <th>Twitter</th>
                <th>Website</th>
            </tr>
        {% for possible_organization in organizations_list %}
            <tr>
                <td>{{ possible_organization.organization_name }}</td>
                <td><button type="submit"
                            name="organization_we_vote_id"
                            class="btn btn-success btn-sm" value="{{ possible_organization.organization_we_vote_id }}">Choose</button></td>
                <td>{% if possible_organization.organization_twitter_handle %}
                    <a href="https://twitter.com/{{ possible_organization.organization_twitter_handle }}"
                       target="_blank">{{ possible_organization.organization_twitter_handle }}
                    <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}</td>
                <td>{% if possible_organization.organization_website %}
                    <a href="{{ possible_organization.organization_website }}"
                       target="_blank">{{ possible_organization.organization_website }}
                    <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<input type="hidden" name="organization_name" value="{{ organization_name }}">
<input type="hidden" name="organization_twitter_handle" value="{{ organization_twitter_handle }}">

{% else %}

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Organization Name</label>
    <div class="col-sm-8">
        <input type="text" name="organization_name" id="organization_name_id" class="form-control"
               value="{{ organization_name }}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_twitter_handle_id" class="col-sm-3 control-label">Organization Twitter Handle</label>
    <div class="col-sm-8">
        <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
               value="{{ organization_twitter_handle }}" />
    </div>
</div>

{% endif %}

<div class="form-group">
    <label for="ballot_items_raw_id" class="col-sm-3 control-label">
        Candidates or Measures Supported
    </label>
    <div class="col-sm-8">
        <textarea name="ballot_items_raw"
                  class="form-control animated"
                  placeholder="Please enter one candidate or measure per line, or separated by commas..."
                  >{{ ballot_items_raw|default_if_none:"" }}</textarea>
    </div>
</div>

<div class="form-group">
    <label for="find_voter_guide_button_id" class="col-sm-3 control-label"><a href="{% url 'voter_guide:voter_guide_create' %}">clear</a></label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-default" name="save_endorsements" value="1">Save Endorsements</button>
    </div>
</div>
</form>


{% endblock %}