{# templates/voter_guide/voter_guide_search.html #}
{% extends "template_base.html" %}

{% block title %}Find Voter Guide{% endblock %}

{%  block content %}
{% load template_filters %}
<div id="search-org-div">
    <h1>Find Organization</h1>
    <p>First ensure that the organization doesn't already exist.</p>
    <p>If you include the twitter handle for this organization below, we will have a better chance of finding a endorser.</p>
</div>
<div id="create-org-div" style="display: none;">
    <h1>Create Organization</h1>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<style>
    th {
        font-weight: 600;
    }
    table, th, td {
        border: 1px solid darkgray;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
</style>

<form action="{% url "voter_guide:voter_guide_search_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Endorser Name</label>
    <div class="col-sm-8">
        <input type="text" name="organization_name" id="organization_name_id" class="form-control"
               value="{{ organization_name }}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_twitter_handle_id" class="col-sm-3 control-label">Twitter Handle</label>
    <div class="col-sm-8">
        <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
               value="{% if organization %}{{ organization.organization_twitter_handle }}{% else %}{{ organization_twitter_handle }}{% endif %}" />
    </div>
</div>

<!-- <div class="form-group">
    <label for="organization_website_id" class="col-sm-3 control-label">Endorser Website</label>
    <div class="col-sm-8">
        <input type="text" name="organization_website" id="organization_website_id" class="form-control"
               value="{% if organization %}{{ organization.organization_website }}{% else %}{{ organization_website }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_facebook_id" class="col-sm-3 control-label">Facebook</label>
    <div class="col-sm-8">
    <input type="text" name="organization_facebook" id="organization_facebook_id" class="form-control"
           value="{% if organization %}{{ organization.organization_facebook|default_if_none:"" }}{% else %}{{ organization_facebook }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_type_id" class="col-sm-3 control-label">Endorser Type</label>
    <div class="col-sm-8">
        <select id="organization_type_id" name="organization_type" class="form-control"  style="height: auto !important">
            <option value="">-- Choose Endorser Type --</option>
        {% for organization_type_from_list in organization_type_list %}
            <option value="{{ organization_type_from_list.organization_type_key }}"
                    {% if organization_type_from_list.organization_type_key|slugify == organization_type|slugify %} selected="selected"{% endif %}>
                {{ organization_type_from_list.organization_type_name }}</option>
        {% endfor %}
        </select>
    </div>
</div>

{% if upcoming_election_list %}
<div class="form-group">
    <label for="google_civic_election_id" class="col-sm-3 control-label">Election</label>
    <div class="col-sm-8">
        <select id="google_civic_election_id" name="google_civic_election_id" class="form-control"  style="height: auto !important">
            <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
                -- Election --</option>
        {% for election in upcoming_election_list %}
            <option value="{{ election.google_civic_election_id }}"
                    {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
                {{ election.election_name }} - {{ election.google_civic_election_id }} - {{ election.election_day_text }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endif %}

{% if state_list %}
<div class="form-group">
    <label for="state_code_id" class="col-sm-3 control-label">State Served (if only one State)</label>
    <div class="col-sm-8">
        <select id="state_code_id" name="state_code"  style="height: 34px">
            <option value="" {% if '' == state_code %} selected="selected"{% endif %}>
                -- State Served (Defaults to National) --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endif %}{# End of if state_list #} -->

<div class="form-group">
    <div id="search-org-button">
        <label for="find_voter_guide_button_id" class="col-sm-3 control-label"><a href="{% url 'voter_guide:voter_guide_list' %}">cancel</a></label>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-default" name="find_voter_guide_button">Search</button>
        </div>
    </div>
    <div id="create-org-button" style="display: none;" class="col-sm-8">
        <button id="create-org-back-button" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-success" name="add_organization_button" value="1">Add Organization</button>
    </div>
</div>
</form>

{% if search_performed %}
    <div id="search-div">
    {% if organizations_list %}
        <h3>Is the organization you are adding one of these?</h3>
        <button id="add-new-org-button" class="btn btn-primary">Add New</button>
        <div style="padding: 15px 0">
            <table>
                <tr>
                    <td></td>
                    <td>Endorser Management (open in new window)</td>
                    <td>Twitter</td>
                    <td>Facebook</td>
                    <td>Website (open in new window)</td>
                    <td></td>
                </tr>
            {% for possible_organization in organizations_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'organization:organization_position_list' possible_organization.organization_id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ possible_organization.organization_name }}</a></td>
                    <td>{% if possible_organization.organization_twitter_handle %}{{ possible_organization.organization_twitter_handle }}{% endif %}</td>
                    <td>{% if possible_organization.organization_facebook %}{{ possible_organization.organization_facebook }}{% endif %}</td>
                    <td>{% if possible_organization.organization_website %}
                        <a href="{{ possible_organization.organization_website }}" target="_blank">{{ possible_organization.organization_website }}</a>
                    {% endif %}</td>
                    <td><a href="{% url 'organization:organization_position_new' possible_organization.organization_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                        Enter Position</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <p></p>
    {% else %}
        <div>
            <h3>No endorser found. Would you like to create a new one?</h3>
            <button id="add-new-org-button" class="btn btn-primary">Add New</button>
        </div>
    {% endif %}
    </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addNewOrgButton = document.getElementById('add-new-org-button');
        const searchOrgDiv = document.getElementById('search-org-div')
        const searchOrgButton = document.getElementById('search-org-button')
        const createOrgDiv = document.getElementById('create-org-div')
        const createOrgButton = document.getElementById('create-org-button')
        const searchDiv = document.getElementById('search-div')
        const createOrgBackButton = document.getElementById('create-org-back-button')

        if (addNewOrgButton) {
            addNewOrgButton.addEventListener('click', ()=>{
                searchOrgDiv.style.display= 'none';
                searchOrgButton.style.display= 'none';
                searchDiv.style.display='none';
                createOrgDiv.style.display='block';
                createOrgButton.style.display='block';
            })
        }
        if (createOrgBackButton) {
            createOrgBackButton.addEventListener('click', () =>{
                searchOrgDiv.style.display= 'block';
                searchOrgButton.style.display= 'block';
                searchDiv.style.display='block';
                createOrgDiv.style.display='none';
                createOrgButton.style.display='none';
            })
        }
    });
</script>
{% endblock %}