{# templates/voter_guide/voter_guide_possibility_table.html #}
{% if voter_guide_possibility_list %}
    <table class="table table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Organization</th>
            <th></th>
            <th>Voter Guide Source</th>
            <th>Actions / Notes</th>
            <th>Candidates</th>
            <th>Submitted Time (PT)</th>
        </tr>
        </thead>
    {% for voter_guide_possibility in voter_guide_possibility_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
            {% if voter_guide_possibility.organization %}
                {% if voter_guide_possibility.organization.we_vote_hosted_profile_image_url_tiny %}
                <a href="{% url 'organization:organization_position_list' voter_guide_possibility.organization.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                    <img src="{{ voter_guide_possibility.organization.we_vote_hosted_profile_image_url_tiny }}" width="24px" /></a>{% endif %}
                <a href="{% url 'organization:organization_position_list' voter_guide_possibility.organization.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {% if voter_guide_possibility.organization.organization_name %}
                    {{ voter_guide_possibility.organization.organization_name }}
                {% else %}(name missing){% endif %}</a>
            {% else %}
                {% if voter_guide_possibility.organization_name %}
                  {{ voter_guide_possibility.organization_name|default_if_none:"" }}
                {% else %}
                  (no org name found)
                {% endif %}
            {% endif %}
            {% if voter_guide_possibility.organization_twitter_handle %}
                <br />
                <span>
                    <a href="https://twitter.com/{{ voter_guide_possibility.organization_twitter_handle|default_if_none:"" }}"
                       class="u-no-break"
                       target="_blank">
                    <i class="fa fa-twitter"></i> {{ voter_guide_possibility.organization_twitter_handle|default_if_none:"" }}
                    <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                </span>
            {% endif %}
            </td>
            <td>
                <a href="{% url 'voter_guide:voter_guide_create' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"
                   class="btn btn-success btn-sm"
                   role="button"
                   target="_blank">edit</a>
            </td>
            <td>
                <a href="{{ voter_guide_possibility.voter_guide_possibility_url }}"
                   class="u-no-break"
                   target="_blank">
                  {{ voter_guide_possibility.voter_guide_possibility_url|truncatechars:60 }}
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% if voter_guide_possibility.ballot_items_raw %}
                  <br />
                  {{ voter_guide_possibility.ballot_items_raw|truncatechars:80 }}
                {% endif %}
            </td>
            <td>
                {% if voter_guide_possibility.ignore_this_source %}
                <strong>Ignore this Source</strong>
                <br />
                {% endif %}
                {% if voter_guide_possibility.cannot_find_endorsements %}
                <strong>Endorsements Not Available Yet</strong>
                <br />
                {% endif %}
                {% if voter_guide_possibility.candidates_missing_from_we_vote %}
                <strong>Candidates/Measures Missing</strong>
                <br />
                {% endif %}
                {% if voter_guide_possibility.capture_detailed_comments %}
                <strong>Capture Detailed Comments</strong>
                <br />
                {% endif %}
                {% if voter_guide_possibility.positions_ready_to_save_as_batch %}
                <a href="{% url 'voter_guide:generate_voter_guide_possibility_batch' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"
                   class="btn btn-success btn-sm"
                   role="button"
                   target="_blank">Import Positions</a>
                {% endif %}
                {% if voter_guide_possibility.batch_header_id %}
                <br />
                <a href="{% url 'import_export_batches:batch_action_list' %}?batch_header_id={{ voter_guide_possibility.batch_header_id }}&kind_of_batch=POSITION"
                   class="u-no-break"
                   target="_blank">
                  import batch results <span class="glyphicon glyphicon-new-window"></span>
                </a>
                {% endif %}
                {% if voter_guide_possibility.positions_ready_to_save_as_batch and voter_guide_possibility.internal_notes %}
                    <br />
                {% endif %}
                {% if voter_guide_possibility.internal_notes %}
                    <span style="color: darkgray">{{ voter_guide_possibility.internal_notes }}</span>
                    <a href="{% url 'voter_guide:voter_guide_create' %}?voter_guide_possibility_id={{ voter_guide_possibility.id }}"
                       target="_blank"> (edit)</a>
                {% endif %}
            </td>
            <td>
              {% if voter_guide_possibility.number_of_candidates %}
                  {{ voter_guide_possibility.number_of_candidates|default_if_none:"" }}
              {% endif %}
              {% if voter_guide_possibility.number_of_candidates_not_in_database %}
                  <span class="u-no-break" style="color: red"> ({{ voter_guide_possibility.number_of_candidates_not_in_database }} not in db)</span>
              {% endif %}
              {% if voter_guide_possibility.number_of_candidates_with_position %}
                  <span class="u-no-break" style="color: green"> ({{ voter_guide_possibility.number_of_candidates_with_position }} with position)</span>
              {% endif %}
            </td>
            <td>
              <span class="u-no-break">{{ voter_guide_possibility.date_last_changed|default_if_none:"" }}</span>
              {% if voter_guide_possibility.voter_who_submitted_we_vote_id %}
                  <br />
                  <a href="{% url 'voter:voter_edit_we_vote_id' voter_guide_possibility.voter_who_submitted_we_vote_id %}"
                     target="_blank">
                    from {{ voter_guide_possibility.voter_who_submitted_name|default_if_none:"" }}</a>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no voter guide possibilities found)</p>
{% endif %}
