{# templates/organization/organization_edit.html #}
{% extends "template_base.html" %}

{% block title %}Find Voter Guide{% endblock %}

{%  block content %}
{% load template_filters %}
<h1>Find Voter Guide</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if organizations_list %}
    <h3>Is the organization you are adding one of these?</h3>
    <table cellpadding="5" cellspacing="5" border="1">
        <tr>
            <td></td>
            <td>Organization (view in new window)</td>
            <td>Twitter</td>
            <td>Facebook</td>
            <td>Website</td>
            <td></td>
        </tr>
    {% for possible_organization in organizations_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'organization:organization_position_list' possible_organization.organization_id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ possible_organization.organization_name }}</a></td>
            <td>{% if possible_organization.organization_twitter_handle %}{{ possible_organization.organization_twitter_handle }}{% endif %}</td>
            <td>{% if possible_organization.organization_facebook %}{{ possible_organization.organization_facebook }}{% endif %}</td>
            <td>{% if possible_organization.organization_website %}{{ possible_organization.organization_website }}{% endif %}</td>
            <td><a href="{% url 'organization:organization_position_new' possible_organization.organization_id %}?google_civic_election_id={{ google_civic_election_id }}">
                Enter Position</a></td>
        </tr>
    {% endfor %}
    </table>
    <p></p>
{% endif %}



{% if organization %}
{% else %}
    <p>If you include the twitter handle and website for this organization below, we will have a better chance of finding a voter guide.</p>
{% endif %}

<form action="{% url "voter_guide:voter_guide_search_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">Organization Name</label>
    <div class="col-sm-8">
        <input type="text" name="organization_name" id="organization_name_id" class="form-control"
               value="{{ organization_name }}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_twitter_handle_id" class="col-sm-3 control-label">Twitter Handle</label>
    <div class="col-sm-8">
        <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
               value="{% if organization %}{{ organization.organization_twitter_handle }}{% else %}{{ organization_twitter_handle }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_website_id" class="col-sm-3 control-label">Organization Website</label>
    <div class="col-sm-8">
        <input type="text" name="organization_website" id="organization_website_id" class="form-control"
               value="{% if organization %}{{ organization.organization_website }}{% else %}{{ organization_website }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="organization_facebook_id" class="col-sm-3 control-label">Facebook</label>
    <div class="col-sm-8">
    <input type="text" name="organization_facebook" id="organization_facebook_id" class="form-control"
           value="{% if organization %}{{ organization.organization_facebook|default_if_none:"" }}{% else %}{{ organization_facebook }}{% endif %}" />
    </div>
</div>

{% if upcoming_election_list %}
<div class="form-group">
    <label for="google_civic_election_id" class="col-sm-3 control-label">Election</label>
    <div class="col-sm-8">
        <select id="google_civic_election_id" name="google_civic_election_id" class="form-control">
            <option value="0" {% if 0 == google_civic_election_id|convert_to_int %} selected="selected"{% endif %}>
                -- Election --</option>
        {% for election in upcoming_election_list %}
            <option value="{{ election.google_civic_election_id }}"
                    {% if election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
                {{ election.election_name }} - {{ election.election_day_text }}</option>
        {% endfor %}
        </select>
    </div>
</div>
{% endif %}

<div class="form-group">
    <label for="find_voter_guide_button_id" class="col-sm-3 control-label"><a href="{% url 'voter_guide:voter_guide_list' %}">cancel</a></label>
    <div class="col-sm-8">
        <button type="submit" class="btn btn-default" name="find_voter_guide_button">Find Voter Guide</button>
    - or -
        <button type="submit" class="btn btn-default" name="add_organization_button" value="1">Add Organization / Voter Guide</button>
    </div>
</div>
</form>


{% endblock %}