{# templates/voter_guide/voter_guide_possibility_filter_descriptions.html #}

    <br />
    "<strong>To Review</strong>". These are suggested voter guides (endorsements collected onto one page) that need to be looked at.<br />
    <br />
    "<strong>Past Year</strong>". The URL to these endorsements was meant for prior year. If the URL might be used again by endorser in future years, please mark "Not Available Yet".<br />
    <br />
    "<strong>Not Available Yet</strong>". This endorser hasn't posted their endorsements for the
    upcoming election yet, but it is worth coming back to this website later to find endorsements when they are posted.<br />
    <br />
    "<strong>Candidates Missing</strong>". Our voter guide scraping tool isn't retrieving all of the
    candidates or measures from the website. Further research is needed to see if we need to add the missing candidates or measures.<br />
    <br />
    "<strong>Capture Comments</strong>". There are detailed comments under each candidate or measure,
    and/or a unique link to the more detailed commentary for each candidate or measure that we can capture.<br />
    <br />
    "<strong>Done-To Verify</strong>". We have extracted all the data that we can from these Endorsement Websites, and it is ready for review by another teammate.<br />
    <br />
    "<strong>Done-Verified</strong>". Another teammate reviewed the captured data for accuracy, and approved all the stored data as valid.<br />
    <br />
    "<strong>Archived</strong>". This may have some valuable information in it, but we can put it into storage. We might use this URL again in a future election.<br />
    <br />
    "<strong>Ignored</strong>". This website should not be looked at in this or future elections, for any reason. If it was from a prior year (in the URL) you can label as "Past Year" instead.<br />
    <br />
