{# templates/voter_guide/voter_guide_create.html #}
{% extends "template_base.html" %}

{% block title %}Endorsements{% endblock %}

{%  block content %}
{% load template_filters %}


<form action="{% url "voter_guide:voter_guide_create_process" %}" method="post" class="form-horizontal">
{% csrf_token %}

<input type="hidden" name="voter_who_submitted_we_vote_id" value="{{ voter_who_submitted_we_vote_id }}">

{% if organization_found and organization %}

<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">
      <span class="hidden-xs">Organization<br /></span>
      <button type="submit"
              name="clear_organization_options"
              class="btn btn-link btn-sm" value="1">Unlink</button>
   </label>
    <div class="col-sm-8">
        {% if organization.we_vote_hosted_profile_image_url_tiny %}
            <img src="{{ organization.we_vote_hosted_profile_image_url_tiny }}" width="32px" />
        {% endif %}
            <span class="h3">{{ organization.organization_name }}</span>
        {% if political_data_manager and organization.organization_name and organization.we_vote_id %}
            &nbsp;
            <a href="{% url "organization:organization_position_list" organization.id %}"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
            <br />
        {% if organization.organization_twitter_handle %}
            <a href="https://twitter.com/{{ organization.organization_twitter_handle }}"
               target="_blank"
               class="u-no-break">
            <i class="fa fa-twitter"></i> {{ organization.organization_twitter_handle }}
            &nbsp;
            <span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
        {% if organization.organization_twitter_handle and organization.organization_website %}<br />{% endif %}
        {% if organization.organization_website %}
            <a href="{{ organization.organization_website }}"
               target="_blank"
               class="u-no-break">{{ organization.organization_website }}
            &nbsp;
            <span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </div>
</div>

<input type="hidden" name="organization_we_vote_id" value="{{ organization_we_vote_id }}">
<input type="hidden" name="organization_name" value="{{ organization_name }}">
<input type="hidden" name="organization_twitter_handle" value="{{ organization_twitter_handle }}">
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if voter_guide_possibility_url %}
{% else %}
    <p>Help us gather voter guides from any organization that has made endorsements.</p>
{% endif %}

<input type="hidden" name="voter_guide_possibility_id" value="{{ voter_guide_possibility_id }}">

<div class="form-group">
    <label for="voter_guide_possibility_url_id" class="col-sm-3 control-label">
    {% if voter_guide_possibility_url %}
        Link to voter guide&nbsp;
        <a href="{{ voter_guide_possibility_url }}"
           target="_blank"
           class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
    {% else %}
        Paste link to voter guide
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text"
               name="voter_guide_possibility_url"
               id="voter_guide_possibility_url_id"
               class="form-control input-md"
               placeholder="Web address, starting with 'http' or 'www'..."
               value="{{ voter_guide_possibility_url }}" />
    </div>
</div>


{% if organization_found and organization %}

{# Interface code for this above #}

{% elif organizations_list %}
<div class="form-group">
    <label for="organization_name_id" class="col-sm-3 control-label">
      Choose Organization<br />
      <button type="submit"
              name="clear_organization_options"
              class="btn btn-link btn-sm" value="1">Clear Organization Options</button>
    </label>
    <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>Name</th>
                <th></th>
                <th>Twitter / Website</th>
            </tr>
        {% for possible_organization in organizations_list %}
            <tr>
                <td>{{ possible_organization.organization_name }}</td>
                <td><button type="submit"
                            name="organization_we_vote_id"
                            class="btn btn-success btn-sm" value="{{ possible_organization.organization_we_vote_id }}">Choose</button></td>
                <td>{% if possible_organization.organization_twitter_handle %}
                    <a href="https://twitter.com/{{ possible_organization.organization_twitter_handle }}"
                       target="_blank"
                       class="u-no-break"><i class="fa fa-twitter"></i> {{ possible_organization.organization_twitter_handle }}
                    <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}
                {% if organization.organization_twitter_handle and organization.organization_website %}<br />{% endif %}
                {% if possible_organization.organization_website %}
                    <a href="{{ possible_organization.organization_website }}"
                       target="_blank"
                       class="u-no-break">{{ possible_organization.organization_website }}
                    <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

<input type="hidden" name="organization_name" value="{{ organization_name }}">
<input type="hidden" name="organization_twitter_handle" value="{{ organization_twitter_handle }}">

{% else %}

    {% if voter_guide_possibility_url %}
    <div class="form-group">
        <label for="organization_name_id" class="col-sm-3 control-label">Organization Name</label>
        <div class="col-sm-8">
            <input type="text" name="organization_name" id="organization_name_id" class="form-control"
                   value="{{ organization_name }}" />
        </div>
    </div>

    <div class="form-group">
        <label for="organization_twitter_handle_id" class="col-sm-3 control-label">Organization Twitter Handle</label>
        <div class="col-sm-8">
            <input type="text" name="organization_twitter_handle" id="organization_twitter_handle_id" class="form-control"
                   value="{{ organization_twitter_handle }}" />
        </div>
    </div>

   {% else %}

    <input type="hidden" name="organization_name" value="{{ organization_name }}">
    <input type="hidden" name="organization_twitter_handle" value="{{ organization_twitter_handle }}">
   {% endif %}

{% endif %}

{% if possible_candidate_list_found and not hide_possible_candidate_list %}
    <div class="form-group">
    {% if possible_candidate_list %}
        <label for="ballot_items_raw_id" class="col-sm-3 control-label">
            <span class="hidden-xs">Candidates with Stances</span><br />
        </label>
        <div class="col-sm-8">
            <table class="table">
            {% for possible_candidate in possible_candidate_list %}
                {% include "voter_guide/voter_guide_one_candidate_confirmation.html" with organization_we_vote_id=organization_we_vote_id political_data_manager=political_data_manager possible_candidate=possible_candidate %}
            {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if voter_guide_possibility_url %}
        <label for="ballot_items_raw_id" class="col-sm-3 control-label">
            Add More Candidates or Measures
        </label>
        <div class="col-sm-8">
            <textarea name="ballot_items_additional"
                      class="form-control animated"
                      placeholder="Please enter one candidate or measure per line, or separated by commas..."
                      rows="2"
                      >{{ ballot_items_additional|default_if_none:"" }}</textarea>
        </div>
    {% endif %}

    </div>

<input type="hidden" name="ballot_items_raw" value="{{ ballot_items_raw }}">

{% else %}

    {% if voter_guide_possibility_url %}
    <div class="form-group">
        <label for="ballot_items_raw_id" class="col-sm-3 control-label">
            Candidates or Measures
        </label>
        <div class="col-sm-8">
            <textarea name="ballot_items_raw"
                      class="form-control animated"
                      placeholder="Please enter one candidate or measure per line, or separated by commas..."
                      rows="3"
                      >{{ ballot_items_raw|default_if_none:"" }}</textarea>
        </div>
    </div>

    {% else %}

    <input type="hidden" name="ballot_items_raw" value="{{ ballot_items_raw }}">
    {% endif %}

{% endif %}

    {% if political_data_manager and voter_guide_possibility_url %}
    <div class="form-group">
        <label for="internal_notes_id" class="col-sm-3 control-label">Internal Notes</label>
        <div class="col-sm-8">
            <textarea name="internal_notes"
                      class="form-control animated"
                      id="internal_notes_id"
                      placeholder="Status of data gathering?">{{ internal_notes|default_if_none:"" }}</textarea>
            <input type="checkbox" name="cannot_find_endorsements" id="cannot_find_endorsements_id"
                   value="True"
                   {% if cannot_find_endorsements %}checked{% endif %} />
                <label for="cannot_find_endorsements_id" style="font-weight: normal !important;">Endorsements Not Available Yet</label>

            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="candidates_missing_from_we_vote" id="candidates_missing_from_we_vote_id"
                   value="True"
                   {% if candidates_missing_from_we_vote %}checked{% endif %} />
                <label for="candidates_missing_from_we_vote_id" style="font-weight: normal !important;">Candidates/Measures Missing</label>

            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="hide_from_active_review" id="hide_from_active_review_id"
                   value="True"
                   {% if hide_from_active_review %}checked{% endif %} />
                <label for="hide_from_active_review_id" style="font-weight: normal !important;">Stop Reviewing</label>

            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" name="ignore_this_source" id="ignore_this_source_id"
                   value="True"
                   {% if ignore_this_source %}checked{% endif %} />
                <label for="ignore_this_source_id" style="font-weight: normal !important;">Ignore this Website</label>

            <div class="float-right" style="color: darkgray">Target Election: {{ target_google_civic_election_id }}</div>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="find_voter_guide_button_id" class="col-sm-3 control-label"></label>
        <div class="col-sm-8">
        {% if voter_guide_possibility_url %}
            <a href="{% url 'voter_guide:voter_guide_create' %}">start over</a>
        {% endif %}
            <button type="submit" class="btn btn-default" name="save_endorsements" value="1">Analyze & Save</button>
        {% if display_all_done_button %}
            <button type="submit" class="btn btn-success" name="all_done_with_entry" value="1">All Done!</button>
        {% endif %}
        {% if political_data_manager and voter_guide_possibility_id %}
            <br />
            <br />
            {% if positions_ready_to_save_as_batch %}
            <a href="{% url 'voter_guide:generate_voter_guide_possibility_batch' %}?voter_guide_possibility_id={{ voter_guide_possibility_id }}"
               class="btn btn-success btn-sm"
               role="button"
               target="_blank">Import Positions</a>
            {% endif %}
            {% if batch_header_id %}
            <a href="{% url 'import_export_batches:batch_action_list' %}?batch_header_id={{ batch_header_id }}&kind_of_batch=POSITION"
               class="u-no-break"
               target="_blank">
              import batch results <span class="glyphicon glyphicon-new-window"></span>
            </a>
            {% endif %}
            {% if possible_candidate_list_found %}
            <br />
            <br />
            <button type="submit" class="btn btn-default" name="scan_url_again" value="1">Scan Voter Guide Again</button>
            {% endif %}
        {% endif %}
        </div>
    </div>


{% if political_data_manager and voter_guide_possibility_id %}
    <br />
    <br />
    <div class="form-group">
        <label for="find_voter_guide_button_id" class="col-sm-3 control-label"></label>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="confirm_delete_id" style="font-weight: normal !important;">
              <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this
            </label>
        </div>
    </div>
    <br />
    <br />
    "<strong>Endorsements Not Available Yet</strong>" means: This organizations hasn't posted their endorsements for the
    upcoming election yet, but it is worth coming back to this website later to find endorsements when they are posted.<br />
    <br />
    "<strong>Stop Reviewing</strong>" means: There isn't any more data to extract from this website
    for upcoming election(s), so we want to take it off the Suggested Voter Guides list.<br />
    <br />
    "<strong>Ignore this Website</strong>" means: This website URL is not a good place to find endorsements.
    No further review needed.<br />
    <br />

{% endif %}


    <input type="hidden" name="form_submitted" value="1">


  <br />
  <br />

</form>



{% endblock %}
