{# templates/voter_guide/voter_guide_one_candidate_confirmation.html #}

<div>
    <div>
        <span class="float-right"><span style="color: darkgray">candidate #{{ possible_candidate.possible_candidate_number|default_if_none:""|add:"0" }}</span></span>
    {% if possible_candidate.candidate_we_vote_id %}
        <span><span class="h4">{{ possible_candidate.candidate.display_candidate_name|default_if_none:"" }}</span>, <span>{{ possible_candidate.candidate.contest_office_name|default_if_none:"" }}</span>&nbsp;&nbsp;&nbsp;</span>
        {% if political_data_manager %}
            <a href="{% url 'candidate:candidate_edit_we_vote_id' candidate_campaign_we_vote_id=possible_candidate.candidate_we_vote_id %}#positions"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
        <input type="hidden" name="candidate_we_vote_id_{{ possible_candidate.possible_candidate_number }}" value="{{ possible_candidate.candidate_we_vote_id }}">
        <input type="hidden" name="candidate_name_{{ possible_candidate.possible_candidate_number }}" value="{{ possible_candidate.candidate_name }}">
    {% else %}
        <span><input type="text" class="h4" name="candidate_name_{{ possible_candidate.possible_candidate_number }}"
                     value="{{ possible_candidate.candidate_name|default_if_none:"" }}" />&nbsp;&nbsp;&nbsp;</span>
    {% endif %}
    </div>

    {% if possible_candidate.position_we_vote_id and organization_we_vote_id  %}
    <div>
        {% if political_data_manager %}
        <a href="{% url 'organization:organization_we_vote_id_position_edit' organization_we_vote_id possible_candidate.position_we_vote_id %}#positions"
           target="_blank"
           class="u-no-break">
            <span>
                <strong>POSITION STORED </strong>
                <span class="glyphicon glyphicon-new-window"></span>
            </span>
        </a>
        {% else %}
            <span>
                <strong>POSITION ALREADY STORED </strong>
            </span>
        {% endif %}
    </div>
    {% endif %}

    <div>
        <div class="float-right"><button type="submit" class="btn btn-link" name="remove_possible_candidate_{{ possible_candidate.possible_candidate_number }}" value="1">remove</button></div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn{% if possible_candidate.stance_about_candidate == "SUPPORT" %} btn-success active{% else %} btn-outline-success{% endif %}">
              <input type="radio" name="stance_about_candidate_{{ possible_candidate.possible_candidate_number }}"
                     id="support_{{ possible_candidate.possible_candidate_number }}" autocomplete="off"
                     value="SUPPORT" {% if possible_candidate.stance_about_candidate == "SUPPORT" %}checked{% endif %}
              > Support
            </label>
            <label class="btn{% if possible_candidate.stance_about_candidate == "OPPOSE" %} btn-danger active{% else %} btn-outline-danger{% endif %}">
              <input type="radio" name="stance_about_candidate_{{ possible_candidate.possible_candidate_number }}"
                     id="oppose_{{ possible_candidate.possible_candidate_number }}" autocomplete="off"
                     value="OPPOSE" {% if possible_candidate.stance_about_candidate == "OPPOSE" %}checked{% endif %}
              > Oppose
            </label>
            <label class="btn{% if possible_candidate.stance_about_candidate == "NO_STANCE" %} btn-secondary active{% else %} btn-outline-secondary{% endif %}">
              <input type="radio" name="stance_about_candidate_{{ possible_candidate.possible_candidate_number }}"
                     id="no_stance_{{ possible_candidate.possible_candidate_number }}" autocomplete="off"
                     value="NO_STANCE" {% if possible_candidate.stance_about_candidate == "NO_STANCE" %}checked{% endif %}
              > No Stance
            </label>
        </div>
    </div>
    {% if possible_candidate.election_name %}
    <div>
    {{ possible_candidate.election_name }}{% if possible_candidate.election_day_text %},
        {{ possible_candidate.election_day_text }}{% endif %}
    </div>
    {% elif possible_candidate.google_civic_election_id %}
    <div>
    election id: {{ possible_candidate.google_civic_election_id }}
    </div>
    {% endif %}
    <textarea name="comment_about_candidate_{{ possible_candidate.possible_candidate_number }}"
              class="form-control animated"
              placeholder="Please enter the explanation for the stance, if there is one..."
              >{{ possible_candidate.comment_about_candidate|default_if_none:"" }}</textarea>

</div>
<div>
  &nbsp;
</div>

<script>
$(function() {
    $('#support_{{ possible_candidate.possible_candidate_number }}').change(function() {
        this.form.submit();
    });
});
$(function() {
    $('#oppose_{{ possible_candidate.possible_candidate_number }}').change(function() {
        this.form.submit();
    });
});
$(function() {
    $('#no_stance_{{ possible_candidate.possible_candidate_number }}').change(function() {
        this.form.submit();
    });
});
</script>
