{# templates/voter_guide/voter_guide_possibility_list.html #}
{% extends "template_base.html" %}

{% block title %}Voter Guide Possibilities to Approve{% endblock %}

{% block content %}
{% load template_filters %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<h1>Voter Guide Possibilities</h1>

<ul>
    <li><strong><a href="{% url 'voter_guide:voter_guide_create' %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">Suggest a Voter Guide <span class="glyphicon glyphicon-new-window"></span></a></strong>
        Quick public tools that feeds into import_export_batch system.</li>
    <li><strong><a href="{% url 'volunteer_task:performance_list' %}"
                   target="_blank">Scoreboard <span class="glyphicon glyphicon-new-window"></span></a></strong>
        Tasks completed by the political data team, person-by-person.</li>
    <li><strong><a href="{% url 'voter_guide:create_possible_voter_guides_from_prior_elections' %}?google_civic_election_id={{ google_civic_election_id }}">
        Suggest Possible Voter Guides, from Prior Elections</a></strong>. (3 at a time)
        Look back at voter guides in the last 5 years from organizations that might have endorsements in upcoming elections.</li>
</ul>

{% if filtered_by_title %}
  <h3>{{ filtered_by_title }}</h3>
{% endif %}

<form name="voter_guide_choose_election" method="get" action="{% url 'voter_guide:voter_guide_possibility_list' %}">
    {% csrf_token %}
    {% if election_list %}
        <select id="google_civic_election_id" name="google_civic_election_id">
        <option value="0">-- Filter by Election --</option>
        {% for one_election in election_list %}
        <option value="{{ one_election.google_civic_election_id }}"
                {% if one_election.google_civic_election_id|slugify == google_civic_election_id|slugify %} selected="selected"{% endif %}>
            {% if one_election.state_code %}{{ one_election.state_code }} {% endif %}
            {{ one_election.election_day_text }}: {{ one_election.election_name }} - {{ one_election.google_civic_election_id }}</option>
        {% endfor %}
        </select>
    {% else %}
        (no elections found)
    {% endif %}

    {# Default to showing only upcoming elections #}
    <label for="show_all_elections_id">
      <input type="checkbox" name="show_all_elections" id="show_all_elections_id" value="1"
             {% if show_all_elections %}checked{% endif %} /> Include Past Elections
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="show_number_of_ballot_items_id">
      <input type="checkbox" name="show_number_of_ballot_items" id="show_number_of_ballot_items_id" value="1"
             {% if show_number_of_ballot_items %}checked{% endif %} /> Show Ballot Items Count
    </label>
    &nbsp;&nbsp;&nbsp;


    <input type="text" name="voter_guide_possibility_search" id="voter_guide_possibility_search_id" value="{{ voter_guide_possibility_search }}" />
    <input type="submit" value="Search" />
    {% if voter_guide_possibility_search %}
        <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}">
             clear search</a>&nbsp;
    {% endif %}
    {# Pass along the url_variables this page is using, so we can return to the same page state #}
    <input type="hidden" name="assigned_to_voter_we_vote_id" value="{{ assigned_to_voter_we_vote_id }}">
    <input type="hidden" name="from_prior_election" value="{{ from_prior_election }}">
    <input type="hidden" name="show_candidates_missing_from_we_vote" value="{{ show_candidates_missing_from_we_vote }}">
    <input type="hidden" name="show_cannot_find_endorsements" value="{{ show_cannot_find_endorsements }}">
    <input type="hidden" name="show_capture_detailed_comments" value="{{ show_capture_detailed_comments }}">
    <input type="hidden" name="show_only_hide_from_active_review" value="{{ show_only_hide_from_active_review }}">
    <input type="hidden" name="show_ignore_this_source" value="{{ show_ignore_this_source }}">
    <input type="hidden" name="state_code" value="{{ state_code }}">
</form>

<p></p>
<div style="padding-bottom: 15px">
    Filters:&nbsp;

    {# Return to see voter guides to review #}
    <span class="mdl-chip" {% if not show_cannot_find_endorsements and not show_candidates_missing_from_we_vote and not show_capture_detailed_comments and not show_only_hide_from_active_review and not show_ignore_this_source and not from_prior_election %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}">
              To Review
              ({{ to_review_count }})
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Show voter guides suggested from prior elections #}
    <span class="mdl-chip"  {% if from_prior_election %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&from_prior_election=1">
                  From Prior Elections
                  ({{ from_prior_election_count }})
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Show voter guides where we previously couldn't find endorsements #}
    <span class="mdl-chip" {% if show_cannot_find_endorsements %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&show_cannot_find_endorsements=1">
              Endorsements Not Available Yet
              ({{ cannot_find_endorsements_count }})
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Show voter guides where we don't have the matching candidates or measures in our database #}
    <span class="mdl-chip" {% if show_candidates_missing_from_we_vote %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&show_candidates_missing_from_we_vote=1">
                  Candidates/Measures Missing
                  ({{ candidates_missing_count }})
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Show voter guides where we have more work to do if we want to capture more detailed comments #}
    <span class="mdl-chip" {% if show_capture_detailed_comments %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&show_capture_detailed_comments=1">
              Capture Detailed Comments
              ({{ capture_detailed_comments_count }})
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Return to see voter guides to review #}
    <span class="mdl-chip" {% if show_only_hide_from_active_review %} style="font-weight: bold;"{% endif %}>
       <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&show_only_hide_from_active_review=1">
              Stop Reviewing
            </a>
        </span>
    </span>

    &nbsp;&nbsp;&nbsp;
    {# Show voter guides where we ignore the source #}
    <span class="mdl-chip" {% if show_ignore_this_source %} style="font-weight: bold;"{% endif %}>
        <span class="mdl-chip__text">
            <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&show_all_elections={{ show_all_elections }}&assigned_to_voter_we_vote_id={{ assigned_to_voter_we_vote_id }}&show_ignore_this_source=1">
                Ignore this Website
            </a>
        </span>
    </span>

</div>
<form name="voter_guide_possibility_markings" method="post" action="{% url 'voter_guide:voter_guide_possibility_list_process' %}">
  {% csrf_token %}
  {# Filter the voter guides possibilities: Only show the ones owned by a particular person #}
  <div class="form-group pull-left">
      <label for="assigned_to_voter_we_vote_id_id" class="control-label">
        <span class="u-no-break">Show your list:</span>
      </label>
      <select id="assigned_to_voter_we_vote_id_id" name="assigned_to_voter_we_vote_id">
          <option value="">-- choose name --</option>
        {% for voter in political_data_managers_list %}
          <option value="{{ voter.we_vote_id }}" {% if assigned_to_voter_we_vote_id|slugify == voter.we_vote_id|slugify %}selected="selected"{% endif %}>{{ voter.get_full_name }}</option>
        {% endfor %}
          <option value="ASSIGNED_TO_NO_ONE" {% if assigned_to_voter_we_vote_id|slugify == "ASSIGNED_TO_NO_ONE"|slugify %}selected="selected"{% endif %}>* Not Assigned *</option>
      </select>
    &nbsp;&nbsp;&nbsp;
  </div>
{% if voter_guide_possibility_list %}
    {# Reassign voter guides possibilities to one political data manager  #}
    <div class="form-group pull-left">
        <label for="reassign_to_voter_we_vote_id_id" class="control-label">
          <span class="u-no-break">Reassign to:</span>
        </label>
        <select id="reassign_to_voter_we_vote_id_id" name="reassign_to_voter_we_vote_id">
            <option value="">-- choose name --</option>
          {% for voter in political_data_managers_list %}
            <option value="{{ voter.we_vote_id }}">{{ voter.get_full_name }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Assign" />
    </div>
    {% if not hide_pagination %}
    <span class="float-right">
      {% if current_page_number > 0 %}<a href="{{ previous_page_url }}">Previous page</a> |{% endif %}
      Page {{ current_page_number|add:1 }}
      | <a href="{{ next_page_url }}">Next page</a></span>
    {% endif %}
    <div class="form-group pull-right">
        <div class="col-xs-4">
            <label for="which_marking_id" class="control-label">
              <span class="u-no-break">Mark selected rows as:</span>
            </label>
        </div>
        <div class="col-xs-6">
            <select id="which_marking_id" name="which_marking">
                {# note: option values match keys in updated_values parameter of update_or_create_voter_guide_possibility() #}
                <option value="hide_from_active_review">Stop Reviewing</option>
                <option value="add_to_active_review">To Review</option>
                <option value="capture_detailed_comments">Capture Detailed Comments</option>
                <option value="candidates_missing_from_we_vote">Candidates/Measures Missing</option>
                <option value="cannot_find_endorsements">Endorsements Not Available Yet</option>
                <option value="ignore_this_source">Ignore Website in Future Elections</option>
                <option value="delete_this_source">Hard Delete this Entry</option>
            </select>
        </div>
        <div class="col-xs-1">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

        {% include "voter_guide/voter_guide_possibility_table.html" with voter_guide_possibility_list=voter_guide_possibility_list google_civic_election_id=google_civic_election_id starting_counter_number=starting_counter_number %}
{% else %}
    <p>(no voter guide possibilities found)</p>
{% endif %}
    {# Pass along the url_variables this page is using, so we can return to the same page state #}
    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">
    <input type="hidden" name="show_all_elections" value="{{ show_all_elections }}">
    <input type="hidden" name="from_prior_election" value="{{ from_prior_election }}">
    <input type="hidden" name="page" value="{{ page }}">
    <input type="hidden" name="show_candidates_missing_from_we_vote" value="{{ show_candidates_missing_from_we_vote }}">
    <input type="hidden" name="show_cannot_find_endorsements" value="{{ show_cannot_find_endorsements }}">
    <input type="hidden" name="show_capture_detailed_comments" value="{{ show_capture_detailed_comments }}">
    <input type="hidden" name="show_only_hide_from_active_review" value="{{ show_only_hide_from_active_review }}">
    <input type="hidden" name="show_ignore_this_source" value="{{ show_ignore_this_source }}">
    <input type="hidden" name="state_code" value="{{ state_code }}">
    <input type="hidden" name="voter_guide_possibility_search" value="{{ voter_guide_possibility_search }}">
</form>

    {% if not hide_pagination %}
    <span class="float-right">
      {% if current_page_number > 0 %}<a href="{{ previous_page_url }}">Previous page</a> |{% endif %}
      Page {{ current_page_number|add:1 }}
      | <a href="{{ next_page_url }}">Next page</a></span>
    {% endif %}

    <br />
    <br />
    <br />
    <br />
    "<strong>To Review</strong>" means: These are suggested voter guides (endorsements collected onto one page) that need to be looked at.<br />
    <br />
    "<strong>Endorsements Not Available Yet</strong>" means: This organizations hasn't posted their endorsements for the
    upcoming election yet, but it is worth coming back to this website later to find endorsements when they are posted.<br />
    <br />
    "<strong>Candidates/Measures Missing</strong>" means: Our voter guide scraping tool isn't retrieving all of the
    candidates or measures from the website. Further research is needed to see if we need to add the missing candidates or measures.<br />
    <br />
    "<strong>Capture Detailed Comments</strong>" means: There are detailed comments under each candidate or measure,
    and/or a unique link to the more detailed commentary for each candidate or measure that we can capture.<br />
    <br />
    "<strong>Archived</strong>" means: We have extracted all of the data that we can from these Voter Guide Possibilities.<br />
    <br />


    <br />
    <br />
    <br />
    <br />
    <script>
    $(function() {
        $('#assigned_to_voter_we_vote_id_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#google_civic_election_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_all_elections_id').change(function() {
            this.form.submit();
        });
    });
    $(function() {
        $('#show_number_of_ballot_items_id').change(function() {
            this.form.submit();
        });
    });
    </script>
{% endblock %}