{# templates/voter_guide/voter_guide_one_position_confirmation.html #}

<div>
    <div>
        <span class="float-right"><span style="color: darkgray;{% if possible_endorsement.possibility_should_be_ignored %} text-decoration: line-through;{% endif %}">(id {{ possible_endorsement.possibility_position_id|default_if_none:""}}) #{{ possible_endorsement.possibility_position_number|default_if_none:""|add:"0" }}</span></span>
    {% if is_list_of_endorsements_for_candidate %}
        <span>
          <span class="h4">{% if possible_endorsement.organization_name %}{{ possible_endorsement.organization_name|default_if_none:"" }}{% else %}<input type="text" name="organization_name_{{ possible_endorsement.possibility_position_number }}"
              placeholder="Enter endorser name..." style="width: 290px;" />{% endif %}{% if candidate_name %}, <span style="color: #999; font-weight: 400;">endorsing {{ candidate_name }}</span>{% endif %}</span>
          {% if possible_endorsement.google_civic_election_id %}
          <span>
          (election: {{ possible_endorsement.google_civic_election_id }})
          </span>
          {% endif %}
        </span>
        </span>
        {% if has_suggested_voter_guide_rights and possible_endorsement.organization_we_vote_id %}
            <a href="{% url 'organization:organization_we_vote_id_position_list' organization_we_vote_id=possible_endorsement.organization_we_vote_id %}"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
            <input type="hidden" name="endorser_is_group_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.endorser_is_group }}" />
            <input type="hidden" name="endorser_state_code_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.endorser_state_code }}" />
            <input type="hidden" name="organization_name_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.organization_name }}" />
        {% else %}
            {% if state_list %}
                <select name="endorser_state_code_{{ possible_endorsement.possibility_position_number }}">
                    <option value="">-- Choose State to Save Endorser --</option>
                {% for key, state in state_list %}
                    <option value="{{ key }}"{% if key|lower == state_code|lower %} selected="selected"{% endif %}>{{ state }}</option>
                {% endfor %}
                </select>
            {% endif %}{# End of if state_list #}
            <input type="checkbox" name="endorser_is_group_{{ possible_endorsement.possibility_position_number }}" value="1" />
            is group
            <br />
            <a href="{% url 'organization:organization_list' %}?organization_search={{ possible_endorsement.organization_name|urlencode }}"
               target="_blank"
               class="u-no-break">
                search&nbsp;db&nbsp;<span class="glyphicon glyphicon-new-window"></span>
            </a>
            &nbsp;
            <a href="https://www.google.com/search?q={{ possible_endorsement.organization_name|urlencode }}%20politician"
               target="_blank"
               class="u-no-break">
                google&nbsp;<span class="glyphicon glyphicon-new-window"></span>
            </a>
            
        {% endif %}
        <input type="hidden" name="candidate_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.candidate_we_vote_id }}" />
        {% if possible_endorsement.organization_name %}
        {# Only show if a name exists (we have input box above if the name doesn't exist #}
        <input type="hidden" name="organization_name_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.organization_name }}" />
        {% endif %}
        <input type="hidden" name="organization_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.organization_we_vote_id }}" />
    {% elif possible_endorsement.candidate_we_vote_id %}
        <span>
          <span class="h4">{% if organization_name %}<span style="color: #999; font-weight: 400;">{{ organization_name }} opinion about </span>{% endif %}{{ possible_endorsement.candidate.display_candidate_name|default_if_none:"" }}{% if possible_endorsement.ballot_item_state_code %} ({{ possible_endorsement.ballot_item_state_code }}){% endif %}</span>{% if possible_endorsement.candidate.contest_office_name %},
          <span>{{ possible_endorsement.candidate.contest_office_name|default_if_none:"" }}</span>
            {% endif %}
          {% if possible_endorsement.google_civic_election_id %}
          <span>
          (election: {{ possible_endorsement.google_civic_election_id }})
          </span>
          {% endif %}
        </span>
        </span>
        {% if has_suggested_voter_guide_rights %}
            <a href="{% url 'candidate:candidate_edit_we_vote_id' candidate_we_vote_id=possible_endorsement.candidate_we_vote_id %}#positions"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
        <input type="hidden" name="candidate_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.candidate_we_vote_id }}" />
        <input type="hidden" name="ballot_item_name_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.ballot_item_name }}" />
        <input type="hidden" name="ballot_item_state_code_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.ballot_item_state_code }}" />
        <input type="hidden" name="organization_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.organization_we_vote_id }}" />
    {% elif possible_endorsement.measure_we_vote_id %}
        <span><span class="h4">{{ possible_endorsement.measure.measure_title|default_if_none:"" }}</span>&nbsp;&nbsp;&nbsp;</span>
        {% if has_suggested_voter_guide_rights %}
            <a href="{% url 'measure:measure_edit_we_vote_id' measure_we_vote_id=possible_endorsement.measure_we_vote_id %}#positions"
               target="_blank"
               class="u-no-break"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
        <input type="hidden" name="measure_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.measure_we_vote_id }}" />
        <input type="hidden" name="ballot_item_name_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.ballot_item_name }}" />
        <input type="hidden" name="ballot_item_state_code_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.ballot_item_state_code }}" />
        <input type="hidden" name="organization_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.organization_we_vote_id }}" />
    {% else %}
        <span class="u-no-break">
            <input type="text" class="h4" name="ballot_item_name_{{ possible_endorsement.possibility_position_number }}"
                   style="width: 290px;"
                   value="{{ possible_endorsement.ballot_item_name|default_if_none:"" }}" />
            {% if state_list %}
                <select name="ballot_item_state_code_{{ possible_endorsement.possibility_position_number }}">
                    <option value="">
                        -- Choose State to Save --</option>
                {% for key, state in state_list %}
                    <option value="{{ key }}"
                            {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                        {{ state }}</option>
                {% endfor %}
                </select>
            {% endif %}{# End of if state_list #}
            <a href="{% url 'candidate:candidate_list' %}?candidate_search={{ possible_endorsement.ballot_item_name|urlencode }}"
               target="_blank"
               class="u-no-break">
                search&nbsp;db&nbsp;<span class="glyphicon glyphicon-new-window"></span>
            </a>
            &nbsp;
            <a href="https://www.google.com/search?q={{ possible_endorsement.ballot_item_name|urlencode }}%20politician"
               target="_blank"
               class="u-no-break">
                google&nbsp;<span class="glyphicon glyphicon-new-window"></span>
            </a>
        </span>
        <input type="hidden" name="candidate_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ candidate_we_vote_id }}" />
        <input type="hidden" name="organization_we_vote_id_{{ possible_endorsement.possibility_position_number }}" value="{{ organization_we_vote_id }}" />
    {% endif %}
    </div>

    {% if possible_endorsement.position_we_vote_id and organization_we_vote_id  %}
    <div>
        {% if has_suggested_voter_guide_rights %}
        <a href="{% url 'organization:organization_we_vote_id_position_edit' organization_we_vote_id possible_endorsement.position_we_vote_id %}#positions"
           target="_blank"
           class="u-no-break">
            <span>
                <strong>Visible on WeVote.US </strong>
                - edit <span class="glyphicon glyphicon-new-window"></span>
            </span>
        </a>
        {% else %}
            <span>
                <strong>Visible on WeVote.US </strong>
            </span>
        {% endif %}
    </div>
    {% else %}
    <div>
        <span style="color: #999; font-weight: 600;">
            Not on WeVote.US Yet - to be Imported
        </span>
    </div>
    {% endif %}

    <div>
        <div class="float-right">
          <input type="checkbox" name="possibility_should_be_deleted_{{ possible_endorsement.possibility_position_number }}" value="1" />
          delete
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn{% if possible_endorsement.position_stance == "SUPPORT" %} btn-success active{% else %} btn-outline-success{% endif %}"
              for="support_{{ possible_endorsement.possibility_position_number }}"
              id="support_label_{{ possible_endorsement.possibility_position_number }}"
            >
                <input
                    autocomplete="off"
                    type="radio"
                    name="position_stance_{{ possible_endorsement.possibility_position_number }}"
                    id="support_{{ possible_endorsement.possibility_position_number }}"
                    value="SUPPORT"
                    {% if possible_endorsement.position_stance == "SUPPORT" %}checked{% endif %}
                />
                Support
            </label>
            <label
              class="btn{% if possible_endorsement.position_stance == "OPPOSE" %} btn-danger active{% else %} btn-outline-danger{% endif %}"
              for="oppose_{{ possible_endorsement.possibility_position_number }}"
              id="oppose_label_{{ possible_endorsement.possibility_position_number }}"
            >
                <input
                    autocomplete="off"
                    type="radio"
                    name="position_stance_{{ possible_endorsement.possibility_position_number }}"
                    id="oppose_{{ possible_endorsement.possibility_position_number }}"
                    value="OPPOSE"
                    {% if possible_endorsement.position_stance == "OPPOSE" %}checked{% endif %}
                />
                Oppose
            </label>
            <label
              class="btn{% if possible_endorsement.position_stance == "NO_STANCE" %} btn-secondary active{% else %} btn-outline-secondary{% endif %}"
              for="no_stance_{{ possible_endorsement.possibility_position_number }}"
              id="no_stance_label_{{ possible_endorsement.possibility_position_number }}"
            >
                <input
                    autocomplete="off"
                    type="radio"
                    name="position_stance_{{ possible_endorsement.possibility_position_number }}"
                    id="no_stance_{{ possible_endorsement.possibility_position_number }}"
                    value="NO_STANCE"
                    {% if possible_endorsement.position_stance == "NO_STANCE" %}checked{% endif %}
                />
                No Stance
            </label>
            <input type="hidden" name="possibility_position_id_{{ possible_endorsement.possibility_position_number }}" value="{{ possible_endorsement.id }}" />
        </div>
    </div>
    {% if possible_endorsement.election_name %}
        <div>
        {{ possible_endorsement.election_name }}
        {% if possible_endorsement.election_day_text %},
            {{ possible_endorsement.election_day_text }}
        {% endif %}
        </div>
    {% endif %}
    <textarea name="statement_text_{{ possible_endorsement.possibility_position_number }}"
              class="form-control animated"
              placeholder="Please enter the explanation for the stance, if there is one..."
              rows="1"
              >{{ possible_endorsement.statement_text|default_if_none:"" }}</textarea>
    <textarea name="more_info_url_{{ possible_endorsement.possibility_position_number }}"
              class="form-control animated"
              placeholder="Link for only this one endorsement..."
              rows="1"
              >{{ possible_endorsement.more_info_url|default_if_none:"" }}</textarea>
    {% if possible_endorsement.statement_text_stored or possible_endorsement.more_info_url_stored %}
        <textarea name="statement_text_stored_{{ possible_endorsement.possibility_position_number }}"
                  class="form-control animated"
                  placeholder="Already stored"
                  rows="1"
                  disabled
                  >{{ possible_endorsement.statement_text_stored|default_if_none:"" }}</textarea>
        <textarea name="more_info_url_stored_{{ possible_endorsement.possibility_position_number }}"
                  class="form-control animated"
                  placeholder="Stored link for this one endorsement..."
                  rows="1"
                  disabled
                  >{{ possible_endorsement.more_info_url_stored|default_if_none:"" }}</textarea>
    {% endif %}
    <hr />
</div>

<script>
$(function() {
    $('#support_{{ possible_endorsement.possibility_position_number }}').change(function() {
        $('#no_stance_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-secondary');
        $('#oppose_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-danger');
        $('#support_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-success active');
    });
});
$(function() {
    $('#oppose_{{ possible_endorsement.possibility_position_number }}').change(function() {
        $('#no_stance_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-secondary');
        $('#oppose_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-danger active');
        $('#support_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-success');
    });
});
$(function() {
    $('#no_stance_{{ possible_endorsement.possibility_position_number }}').change(function() {
        $('#no_stance_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-secondary active');
        $('#oppose_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-danger');
        $('#support_label_{{ possible_endorsement.possibility_position_number }}').attr('class', 'btn btn-outline-success');
    });
});
</script>
