<div class="sidebar">
  <a href="{% url 'election:election_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Elections.svg" alt="">
      Elections
    </div>
  </a>
  <a href="{% url 'office:office_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Offices.svg" alt="">
      Office Contests
    </div>
  </a>
  <a href="{% url 'office_held:office_held_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/OfficesHeld.svg" alt="" />
      Offices Held
    </div>
  </a>
  <a href="{% url 'candidate:candidate_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Candidates.svg" alt="" />
      Candidates
    </div>
  </a>
  <a href="{% url 'representative:representative_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Representatives.svg" alt="" />
      Elected Represent-<br />
        atives
    </div>
  </a>
  <a href="{% url 'politician:politician_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Politicans.svg" alt="" />
      Politicians
    </div>
  </a>
  <a href="{% url 'measure:measure_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Measures.svg" alt="">
      Measures
    </div>
  </a>
  <a href="{% url 'organization:organization_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Organization.svg" alt="" />
      Endorsers
    </div>
  </a>
  <a href="{% url 'voter_guide:voter_guide_possibility_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/VoterGuidePossibilities.svg" alt="">
        Endorsement Websites
    </div>
  </a>
  <a href="{% url 'position:position_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Opinions.svg" alt="">
      Opinions
    </div>
  </a>
  <a href="{% url 'campaign:campaignx_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Candidates.svg" alt="" />
      Campaigns
    </div>
  </a>
  <a href="{% url 'voter_guide:voter_guide_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/VoterGuides.svg" alt="">
      Voter&nbsp;Guides
    </div>
  </a>
  <a href="{% url 'polling_location:polling_location_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/PollingLocations.svg" alt="">
      Map&nbsp;Points
    </div>
  </a>
  <a href="{% url 'issue:issue_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
    <div class="sidebar-item">
      <img src="https://quality.wevote.us/img/api-server/Issues.svg" alt="" />
      Values/Issues
    </div>
  </a>
</div>
