/* line 2, ../sass/project.scss */
body {
  background: #f7f7f7;
  padding-bottom: 70px;
}

/* line 8, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 14, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 20, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 26, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 32, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 39, ../sass/project.scss */
.search-padding {
  padding: 20px;
  width: 100%;
}

/* line 44, ../sass/project.scss */
.search-query {
  background-color: #0b89cf;
  border: 10px solid #0b89cf;
  box-shadow: none;
  color: #fff !important;
  padding: 10px 10px 10px 26px;
}

/* line 52, ../sass/project.scss */
.form-search {
  position: relative;
  width: 100%;
}
/* line 56, ../sass/project.scss */
.form-search:before {
  background-position: -48px 0;
  color: #fff;
  content: "\e003";
  display: block;
  font-family: 'Glyphicons Halflings';
  height: 14px;
  left: 10px;
  opacity: .5;
  position: absolute;
  top: 10px;
  width: 14px;
  z-index: 1000;
}

/* line 73, ../sass/project.scss */
::-webkit-input-placeholder {
  color: white !important;
  opacity: .4;
  font-size: 19px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

/* line 84, ../sass/project.scss */
.navbar-blue {
  background-color: #22a7f0;
  border-radius: 0;
}

/* line 89, ../sass/project.scss */
.navbar {
  margin-bottom: 0;
}

/* line 93, ../sass/project.scss */
.navbar-secondary {
  background: #0b72ac;
  border-radius: 0;
  padding: 15px 0;
}

/* line 99, ../sass/project.scss */
.navbar-secondary > a {
  color: #bdd2e3;
}

/* line 103, ../sass/project.scss */
.navbar-fixed-bottom {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faf8f8+0,faf8f8+100 */
  background: #faf8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #faf8f8 0%, #faf8f8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf8f8), color-stop(100%, #faf8f8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #faf8f8 0%, #faf8f8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #faf8f8 0%, #faf8f8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #faf8f8 0%, #faf8f8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #faf8f8 0%, #faf8f8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f8', endColorstr='#faf8f8',GradientType=0 );
  /* IE6-9 */
}

/* line 115, ../sass/project.scss */
.right-border {
  border-right: 1px solid #fff;
}

/* line 119, ../sass/project.scss */
.secondary-heading_color {
  color: #fff;
}

/* line 123, ../sass/project.scss */
.panel-border_top {
  border-top: 1px solid #d5d5d5;
}

/* line 127, ../sass/project.scss */
.panel {
  margin-bottom: 0;
}
