{# templates/import_export_ctcl/index.html #}
{% extends "template_base.html" %}

{% block title %}Import Export CTCL{% endblock %}

{%  block content %}

<h1>Import from Other Data Sources</h1>

<p>Bring data in from these sources, into the local database cache:</p>
<ul>
    <li>Electoral District Import
    (<a href="{% url 'electoral_district:electoral_district_import_from_xml' %}">import electoral district data now</a>)
        <ul>
            <li>Electoral District Data from CTCL</li>
        </ul>
    </li>
    <li>Party Import
    (<a href="{% url 'party:party_import_from_xml' %}">import party data from sample file</a>)
        <ul>
            <li>Party Data from CTCL</li>
        </ul>
    </li>
    <li>CTCL API
    (<a href="{% url 'import_export_ctcl:import_ctcl_from_xml' %}">import CTCL sample xml data now</a>)
        <ul>
            <li>Electoral District Data from CTCL</li>
            <li>Party Data from CTCL</li>
            <li>Ballot Measure Contest Data from CTCL</li>
            <li>Office Data from CTCL</li>
            <li>Politician Data from CTCL</li>
            <li>Candidate Data from CTCL</li>
        </ul>
    </li>
</ul>

{% endblock %}
