{# templates/politician/politician_merge.html #}
{% extends "template_base.html" %}

{% block title %}{% if politician_option1 %}Merge {{ politician_option1.politician_name  }}{% else %}CANNOT MERGE{% endif %}{% endblock %}

{%  block content %}
<a href="{% url 'politician:politician_list' %}">< Back to Politicians</a>
  <br /></r />
<a href="{% url 'politician:find_and_merge_duplicate_politicians' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&find_number_of_duplicates=1"
   target="_blank">Click to find number of possible duplicates <span class="glyphicon glyphicon-new-window"></span></a> (takes 30-60 seconds)

<h1>{% if politician_option1 %}Merge {{ politician_option1.politician_name }}{% else %}CANNOT MERGE{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'politician:politician_merge_process' %}" method="post">
{% csrf_token %}
{% if politician_option1 and politician_option2 %}
<table>
    <tr>
        <th>&nbsp;</th>
        <th>Politician Option 1</th>
        <th>Politician Option 2</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><a href="{% url 'politician:politician_we_vote_id_edit' politician_we_vote_id=politician_option1.we_vote_id %}"
               target="_blank">view politician 1 <span class="glyphicon glyphicon-new-window"></span></a></td>
        <td><a href="{% url 'politician:politician_we_vote_id_edit' politician_we_vote_id=politician_option2.we_vote_id %}"
               target="_blank">view politician 2 <span class="glyphicon glyphicon-new-window"></span></a></td>
    </tr>

{% include "politician/politician_merge_one_field_decision.html" with field_name="politician_name" field_label="Politician Name" conflict_status=conflict_values.politician_name politician1_field_value=politician_option1.politician_name politician2_field_value=politician_option2.politician_name politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="first_name" field_label="First Name" conflict_status=conflict_values.first_name politician1_field_value=politician_option1.first_name politician2_field_value=politician_option2.first_name politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="middle_name" field_label="Middle Name" conflict_status=conflict_values.middle_name politician1_field_value=politician_option1.middle_name politician2_field_value=politician_option2.middle_name politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="last_name" field_label="Last Name" conflict_status=conflict_values.last_name politician1_field_value=politician_option1.last_name politician2_field_value=politician_option2.last_name politician1=politician_option1 politician2=politician_option2 %}

    <tr>
        <td>
            Google&nbsp;Civic&nbsp;Politician&nbsp;Name
        </td>
        <td>
            {{ politician_option1.google_civic_candidate_name|default_if_none:"" }}
            {% if politician_option1.google_civic_candidate_name2 %}
                <br />{{ politician_option1.google_civic_candidate_name2|default_if_none:"" }}
            {% endif %}
            {% if politician_option1.google_civic_candidate_name3 %}
                <br />{{ politician_option1.google_civic_candidate_name3|default_if_none:"" }}
            {% endif %}
        </td>
        <td>
            {{ politician_option2.google_civic_candidate_name|default_if_none:"" }}
            {% if politician_option2.google_civic_candidate_name2 %}
                <br />{{ politician_option2.google_civic_candidate_name2|default_if_none:"" }}
            {% endif %}
            {% if politician_option2.google_civic_candidate_name3 %}
                <br />{{ politician_option2.google_civic_candidate_name3|default_if_none:"" }}
            {% endif %}
        </td>
    </tr>

{% include "politician/politician_merge_one_field_decision.html" with field_name="seo_friendly_path" field_label="SEO Friendly Path" conflict_status=conflict_values.seo_friendly_path politician1_field_value=politician_option1.seo_friendly_path politician2_field_value=politician_option2.seo_friendly_path politician1=politician_option1 politician2=politician_option2 %}

    <tr>
        <td>Twitter Handles</td>
        <td>
            {% if politician_option1.politician_twitter_handle %}
                <a href="https://twitter.com/{{ politician_option1.politician_twitter_handle|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_twitter_handle|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_twitter_handle2 %}
                <br /><a href="https://twitter.com/{{ politician_option1.politician_twitter_handle2|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_twitter_handle2|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_twitter_handle3 %}
                <br /><a href="https://twitter.com/{{ politician_option1.politician_twitter_handle3|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_twitter_handle3|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_twitter_handle4 %}
                <br /><a href="https://twitter.com/{{ politician_option1.politician_twitter_handle4|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_twitter_handle4|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_twitter_handle5 %}
                <br /><a href="https://twitter.com/{{ politician_option1.politician_twitter_handle5|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_twitter_handle5|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
        <td>
            {% if politician_option2.politician_twitter_handle %}
                <a href="https://twitter.com/{{ politician_option2.politician_twitter_handle|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_twitter_handle|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_twitter_handle2 %}
                <br /><a href="https://twitter.com/{{ politician_option2.politician_twitter_handle2|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_twitter_handle2|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_twitter_handle3 %}
                <br /><a href="https://twitter.com/{{ politician_option2.politician_twitter_handle3|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_twitter_handle3|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_twitter_handle4 %}
                <br /><a href="https://twitter.com/{{ politician_option2.politician_twitter_handle4|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_twitter_handle4|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_twitter_handle5 %}
                <br /><a href="https://twitter.com/{{ politician_option2.politician_twitter_handle5|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_twitter_handle5|default_if_none:"" }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
    </tr>

{% include "politician/politician_merge_one_field_decision.html" with field_name="twitter_handle_updates_failing" field_label="Twitter Handle1 Updates Failing" conflict_status=conflict_values.twitter_handle_updates_failing politician1_field_value=politician_option1.twitter_handle_updates_failing politician2_field_value=politician_option2.twitter_handle_updates_failing politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="twitter_handle2_updates_failing" field_label="Twitter Handle2 Updates Failing" conflict_status=conflict_values.twitter_handle2_updates_failing politician1_field_value=politician_option1.twitter_handle2_updates_failing politician2_field_value=politician_option2.twitter_handle2_updates_failing politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="political_party" field_label="Party" conflict_status=conflict_values.political_party politician1_field_value=politician_option1.political_party politician2_field_value=politician_option2.political_party politician1=politician_option1 politician2=politician_option2 %}

    {% if politician_option1.id != None or politician_option2.id != None %}
    <tr>
        <td>ID</td>
        <td>{{ politician_option1.id|default_if_none:"" }}</td>
        <td>{{ politician_option2.id|default_if_none:"" }}</td>
    </tr>
    {% endif %}
    {% if politician_option1.we_vote_id != None or politician_option2.we_vote_id != None %}
    <tr>
        <td>We Vote ID</td>
        <td>{{ politician_option1.we_vote_id|default_if_none:"" }}</td>
        <td>{{ politician_option2.we_vote_id|default_if_none:"" }}</td>
    </tr>
    {% endif %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="ballotpedia_politician_name" field_label="Ballotpedia Politician Name" conflict_status=conflict_values.ballotpedia_politician_name politician1_field_value=politician_option1.ballotpedia_politician_name politician2_field_value=politician_option2.ballotpedia_politician_name politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="ballotpedia_politician_url" field_label="Ballotpedia Politician URL" conflict_status=conflict_values.ballotpedia_politician_url politician1_field_value=politician_option1.ballotpedia_politician_url politician2_field_value=politician_option2.ballotpedia_politician_url politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="wikipedia_id" field_label="Wikipedia ID" conflict_status=conflict_values.wikipedia_id politician1_field_value=politician_option1.wikipedia_id politician2_field_value=politician_option2.wikipedia_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="wikipedia_url" field_label="Wikipedia URL" conflict_status=conflict_values.wikipedia_url politician1_field_value=politician_option1.wikipedia_url politician2_field_value=politician_option2.wikipedia_url politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="ballotpedia_id" field_label="Ballotpedia ID" conflict_status=conflict_values.ballotpedia_id politician1_field_value=politician_option1.ballotpedia_id politician2_field_value=politician_option2.ballotpedia_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="bioguide_id" field_label="Bioguide ID" conflict_status=conflict_values.bioguide_id politician1_field_value=politician_option1.bioguide_id politician2_field_value=politician_option2.bioguide_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="birth_date" field_label="Birth Date" conflict_status=conflict_values.birth_date politician1_field_value=politician_option1.birth_date politician2_field_value=politician_option2.birth_date politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="cspan_id" field_label="CSPAN ID" conflict_status=conflict_values.cspan_id politician1_field_value=politician_option1.cspan_id politician2_field_value=politician_option2.cspan_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="ctcl_uuid" field_label="CTCL UUID" conflict_status=conflict_values.ctcl_uuid politician1_field_value=politician_option1.ctcl_uuid politician2_field_value=politician_option2.ctcl_uuid politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="gender" field_label="Gender" conflict_status=conflict_values.gender politician1_field_value=politician_option1.gender politician2_field_value=politician_option2.gender politician1=politician_option1 politician2=politician_option2 %}

    <tr>
        <td>Politician Emails</td>
        <td>
            {{ politician_option1.politician_email|default_if_none:"" }}
            {% if politician_option1.politician_email2 %}
                <br />{{ politician_option1.politician_email2|default_if_none:"" }}
            {% endif %}
            {% if politician_option1.politician_email3 %}
                <br />{{ politician_option1.politician_email3|default_if_none:"" }}
            {% endif %}
        </td>
        <td>
            {{ politician_option2.politician_email|default_if_none:"" }}
            {% if politician_option2.politician_email2 %}
                <br />{{ politician_option2.politician_email2|default_if_none:"" }}
            {% endif %}
            {% if politician_option2.politician_email3 %}
                <br />{{ politician_option2.politician_email3|default_if_none:"" }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Politician Phones</td>
        <td>
            {{ politician_option1.politician_phone_number|default_if_none:"" }}
            {% if politician_option1.politician_phone_number2 %}
                <br />{{ politician_option1.politician_phone_number2|default_if_none:"" }}
            {% endif %}
            {% if politician_option1.politician_phone_number3 %}
                <br />{{ politician_option1.politician_phone_number3|default_if_none:"" }}
            {% endif %}
        </td>
        <td>
            {{ politician_option2.politician_phone_number|default_if_none:"" }}
            {% if politician_option2.politician_phone_number2 %}
                <br />{{ politician_option2.politician_phone_number2|default_if_none:"" }}
            {% endif %}
            {% if politician_option2.politician_phone_number3 %}
                <br />{{ politician_option2.politician_phone_number3|default_if_none:"" }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Politician Websites</td>
        <td>
            {% if politician_option1.politician_url %}
                <a href="{{ politician_option1.politician_url|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_url|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_url2 %}
                <br /><a href="{{ politician_option1.politician_url2|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_url2|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_url3 %}
                <br /><a href="{{ politician_option1.politician_url3|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_url3|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_url4 %}
                <br /><a href="{{ politician_option1.politician_url4|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_url4|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.politician_url5 %}
                <br /><a href="{{ politician_option1.politician_url5|default_if_none:"" }}" target="_blank">{{ politician_option1.politician_url5|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
        <td>
            {% if politician_option2.politician_url %}
                <a href="{{ politician_option2.politician_url|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_url|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_url2 %}
                <br /><a href="{{ politician_option2.politician_url2|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_url2|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_url3 %}
                <br /><a href="{{ politician_option2.politician_url3|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_url3|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_url4 %}
                <br /><a href="{{ politician_option2.politician_url4|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_url4|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.politician_url5 %}
                <br /><a href="{{ politician_option2.politician_url5|default_if_none:"" }}" target="_blank">{{ politician_option2.politician_url5|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
    </tr>

{% include "politician/politician_merge_one_field_decision.html" with field_name="politician_contact_form_url" field_label="Politician Contact Form" conflict_status=conflict_values.politician_contact_form_url politician1_field_value=politician_option1.politician_contact_form_url politician2_field_value=politician_option2.politician_contact_form_url politician1=politician_option1 politician2=politician_option2 %}

    <tr>
        <td>Facebook URLs</td>
        <td>
            {% if politician_option1.facebook_url %}
                <a href="{{ politician_option1.facebook_url|default_if_none:"" }}" target="_blank">{{ politician_option1.facebook_url|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.facebook_url2 %}
                <br />{{ politician_option1.facebook_url2|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option1.facebook_url3 %}
                <br />{{ politician_option1.facebook_url3|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
        <td>
            {% if politician_option2.facebook_url %}
                <a href="{{ politician_option2.facebook_url|default_if_none:"" }}" target="_blank">{{ politician_option2.facebook_url|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.facebook_url2 %}
                <br /><a href="{{ politician_option2.facebook_url2|default_if_none:"" }}" target="_blank">{{ politician_option2.facebook_url2|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
            {% if politician_option2.facebook_url3 %}
                <br /><a href="{{ politician_option2.facebook_url3|default_if_none:"" }}" target="_blank">{{ politician_option2.facebook_url3|default_if_none:"" }}<span class="glyphicon glyphicon-new-window"></span></a>
            {% endif %}
        </td>
    </tr>

{% include "politician/politician_merge_one_field_decision.html" with field_name="facebook_url_is_broken" field_label="Facebook URL Broken" conflict_status=conflict_values.facebook_url_is_broken politician1_field_value=politician_option1.facebook_url_is_broken politician2_field_value=politician_option2.facebook_url_is_broken politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="instagram_handle" field_label="Instagram Handle" conflict_status=conflict_values.instagram_handle politician1_field_value=politician_option1.instagram_handle politician2_field_value=politician_option2.instagram_handle politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="instagram_followers_count" field_label="Instagram Followers" conflict_status=conflict_values.instagram_followers_count politician1_field_value=politician_option1.instagram_followers_count politician2_field_value=politician_option2.instagram_followers_count politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="maplight_id" field_label="MapLight ID" conflict_status=conflict_values.maplight_id politician1_field_value=politician_option1.maplight_id politician2_field_value=politician_option2.maplight_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="state_code" field_label="State Code" conflict_status=conflict_values.state_code politician1_field_value=politician_option1.state_code politician2_field_value=politician_option2.state_code politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="politician_facebook_id" field_label="Facebook ID" conflict_status=conflict_values.politician_facebook_id politician1_field_value=politician_option1.politician_facebook_id politician2_field_value=politician_option2.politician_facebook_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="vote_smart_id" field_label="Vote Smart ID" conflict_status=conflict_values.vote_smart_id politician1_field_value=politician_option1.vote_smart_id politician2_field_value=politician_option2.vote_smart_id politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="vote_usa_politician_id" field_label="Vote USA Politician" conflict_status=conflict_values.vote_usa_politician_id politician1_field_value=politician_option1.vote_usa_politician_id politician2_field_value=politician_option2.vote_usa_politician_id politician1=politician_option1 politician2=politician_option2 %}

{# Displayed photo #}

    {% if politician_option1.we_vote_hosted_profile_image_url_medium or politician_option2.we_vote_hosted_profile_image_url_medium %}
    <tr>
        <td>Image Preview</td>
        <td>
        {% if politician_option1.we_vote_hosted_profile_image_url_medium %}
            <img src="{{ politician_option1.we_vote_hosted_profile_image_url_large }}" width="100px" height="100px" />
        {% endif %}
        </td>
        <td>
        {% if politician_option2.we_vote_hosted_profile_image_url_medium %}
            <img src="{{ politician_option2.we_vote_hosted_profile_image_url_large }}" width="100px" height="100px" />
        {% endif %}
        </td>
    </tr>
    {% endif %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="we_vote_hosted_profile_image_url_tiny" field_label="We Vote Image (Tiny)" conflict_status=conflict_values.we_vote_hosted_profile_image_url_tiny politician1_field_value=politician_option1.we_vote_hosted_profile_image_url_tiny politician2_field_value=politician_option2.we_vote_hosted_profile_image_url_tiny politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="we_vote_hosted_profile_image_url_medium" field_label="We Vote Image (Medium)" conflict_status=conflict_values.we_vote_hosted_profile_image_url_medium politician1_field_value=politician_option1.we_vote_hosted_profile_image_url_medium politician2_field_value=politician_option2.we_vote_hosted_profile_image_url_medium politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="we_vote_hosted_profile_image_url_large" field_label="We Vote Image (Large)" conflict_status=conflict_values.we_vote_hosted_profile_image_url_large politician1_field_value=politician_option1.we_vote_hosted_profile_image_url_large politician2_field_value=politician_option2.we_vote_hosted_profile_image_url_large politician1=politician_option1 politician2=politician_option2 %}

{% include "politician/politician_merge_one_field_decision.html" with field_name="linked_campaignx_we_vote_id" field_label="Linked CampaignX" conflict_status=conflict_values.linked_campaignx_we_vote_id politician1_field_value=politician_option1.linked_campaignx_we_vote_id politician2_field_value=politician_option2.linked_campaignx_we_vote_id politician1=politician_option1 politician2=politician_option2 %}

    <tr>
        <td>Linked Candidates</td>
        <td>
            {{ politician_option1.linked_candidates_count }}
        </td>
        <td>
            {{ politician_option2.linked_candidates_count }}
        </td>
    </tr>
    <tr>
        <td>Linked Candidate Names</td>
        <td>
            {{ politician_option1.linked_candidate_names }}
        </td>
        <td>
            {{ politician_option2.linked_candidate_names }}
        </td>
    </tr>
    <tr>
        <td>Linked Candidate Photos</td>
        <td>
            {% for one_photo in politician_option1.linked_candidate_photos %}
                <img src="{{ one_photo }}" width="80">
            {% endfor %}
        </td>
        <td>
            {% for one_photo in politician_option2.linked_candidate_photos %}
                <img src="{{ one_photo }}" width="80">
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Linked Candidate Offices</td>
        <td>
            {{ politician_option1.linked_candidate_offices }}
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
            {{ politician_option2.linked_candidate_offices }}
        </td>
    </tr>
    <tr>
        <td>Linked Candidate District Names&nbsp;&nbsp;</td>
        <td>
            {{ politician_option1.linked_candidate_district_names }}
            &nbsp;&nbsp;&nbsp;
        </td>
        <td>
            {{ politician_option2.linked_candidate_district_names }}
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
          <a href="{% url 'politician:politician_list' %}">cancel</a>&nbsp; <input type="submit" value="Skip - Not Duplicates" name="skip" />&nbsp;
        </td>
        <td></td>
        <td><input type="submit" value="Merge Politicians" name="merge" class="btn btn-primary" /></td>
    </tr>
</table>
<input type="hidden" name="remove_duplicate_process" value="{{ remove_duplicate_process }}" />
<input type="hidden" name="state_code" value="{{ politician_option2.state_code }}" />
<input type="hidden" name="google_civic_election_id" value="{{ politician_option1.google_civic_election_id }}" />
<input type="hidden" name="politician1_we_vote_id" value="{{ politician_option1.we_vote_id }}" />
<input type="hidden" name="politician2_we_vote_id" value="{{ politician_option2.we_vote_id }}" />
{% else %}
<input type="submit" value="CANNOT MERGE" />
{% endif %}
</form>

<br />

{% endblock %}