{# templates/politician/politician_selection_list.html #}

{%  block content %}
{% load template_filters %}
{% load humanize %}

{% if politician_list %}
    <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Politician Name</th>
            <th>State</th>
            <th>Twitter Handle</th>
            <th>Website</th>
            <th>ID - We Vote ID</th>
            <th>Candidates Linked</th>
            <th>Related Candidates?</th>
        </tr>
      </thead>
    {% for politician in politician_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if politician.we_vote_hosted_profile_image_url_tiny %}
                <a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                    <img src='{{ politician.we_vote_hosted_profile_image_url_tiny }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ politician.politician_name }} <span class="glyphicon glyphicon-new-window"></span></a></td>
            <td>{{ politician.state_code }}</td>
            <td>
                {% if politician.politician_twitter_handle %}<a href="https://twitter.com/{{ politician.politician_twitter_handle }}"
                    target="_blank">{{ politician.politician_twitter_handle }} <span class="glyphicon glyphicon-new-window"></span></a><br />
                ({{ politician.twitter_followers_count|intcomma }} followers){% endif %}
                {% if politician.politician_twitter_handle2 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle2 }}"
                    target="_blank">{{ politician.politician_twitter_handle2 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle3 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle3 }}"
                    target="_blank">{{ politician.politician_twitter_handle3 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle4 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle4 }}"
                    target="_blank">{{ politician.politician_twitter_handle4 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle5 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle5 }}"
                    target="_blank">{{ politician.politician_twitter_handle5 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
            </td>
            <td>
                {% if politician.politician_url %}<a href="{{ politician.politician_url }}" target="_blank">{{ politician.politician_url }}</a>{% endif %}
                {% if politician.politician_url2 %}<br /><a href="{{ politician.politician_url2 }}" target="_blank">{{ politician.politician_url2 }}</a>{% endif %}
                {% if politician.politician_url3 %}<br /><a href="{{ politician.politician_url3 }}" target="_blank">{{ politician.politician_url3 }}</a>{% endif %}
                {% if politician.politician_url4 %}<br /><a href="{{ politician.politician_url4 }}" target="_blank">{{ politician.politician_url4 }}</a>{% endif %}
                {% if politician.politician_url5 %}<br /><a href="{{ politician.politician_url5 }}" target="_blank">{{ politician.politician_url5 }}</a>{% endif %}
            </td>
            <td>
                {{ politician.id }} - {{ politician.we_vote_id }}
                {% if politician.vote_usa_politician_id %}
                    <br />{{ politician.vote_usa_politician_id|default_if_none:"" }}
                {% endif %}
                {% if politician.vote_smart_id %}
                    <br />VS: {{ politician.vote_smart_id|default_if_none:"" }}
                {% endif %}
            </td>
            <td>
                {% if politician.linked_candidate_list_count > 0 %}{{ politician.linked_candidate_list_count }}{% endif %}
                <a href="{% url 'candidate:candidate_create_process' %}?google_civic_election_id={{ google_civic_election_id }}&politician_we_vote_id={{ politician.we_vote_id }}"
                   target="_blank">
                    Create Candidate for Upcoming Election
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}