{# templates/politician/politician_list.html #}
{% extends "template_base.html" %}

{% block title %}Politicians{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<h1>Politicians</h1>

    <ul>
        <li><a href="{% url 'politician:politician_new' %}?state_code={{ state_code }}">Add New Politician</a></li>
        <li><a href="{% url 'politician:find_and_merge_duplicate_politicians' %}?state_code={{ state_code }}"
                        target="_blank" >
            Find and Merge Duplicate Politicians <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)&nbsp;&nbsp;
            <a href="{% url 'politician:duplicates_list' %}?state_code={{ state_code }}"
                        target="_blank" >
            Possible Duplicates <span class="glyphicon glyphicon-new-window"></span></a>
        </li>
        <li><a href="{% url 'politician:update_politicians_from_candidates' %}?state_code={{ state_code }}"
                        target="_blank" >
            Update Politicians from Candidates <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)</li>

{# # 2024-05-15: Causing problems on live servers #}
{#        <li><a href="{% url 'politician:update_recommended_politicians' %}?state_code={{ state_code }}"#}
{#                        target="_blank" >#}
{#            Update recommended politicians <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)</li>#}
        <li>
            <a href="{% url 'candidate:repair_imported_names' %}?is_candidate=false" >
                Repair Politician Names</a>,
            <a href="{% url 'politician:repair_ocd_id_mismatch' %}?state_code={{ state_code }}&google_civic_election_id={{ google_civic_election_id }}" >
                Repair OCD ID Mismatches</a>
        </li>
        <li><a href="{% url 'politician:set_missing_gender_ids' %}" >Set Missing Politician Gender Ids</a></li>
        <li><a href="{% url 'politician:update_profile_image_background_color' %}" >Update 5,000 Politicians' background colors &#40;may take 10 minutes&#41;</a></li>
    </ul>

<form name="state_code_form" method="get" action="{% url 'politician:politician_list' %}">
    {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'politician:politician_list' %}?politician_search={{ politician_search }}&show_all={{ show_all }}&show_politicians_with_email={{ show_politicians_with_email }}">
            show all states</a>&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endif %}{# End of if state_list #}

    {% if politician_search %}
    <a href="{% url 'politician:politician_list' %}?state_code={{ state_code }}&show_all={{ show_all }}&show_politicians_with_email={{ show_politicians_with_email }}">
         clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="politician_search" id="politician_search_id" value="{{ politician_search }}" />
    <input type="submit" value="Search for Politician" />
    &nbsp;&nbsp;
    <label for="show_politicians_with_email_id">
      <input type="checkbox" name="show_politicians_with_email" id="show_politicians_with_email_id" value="1"
             {% if show_politicians_with_email %}checked{% endif %} /> Has Email
    </label>
    &nbsp;&nbsp;
    <label for="show_all_id">
      <input type="checkbox" name="show_all" id="show_all_id" value="1"
             {% if show_all %}checked{% endif %} /> Show up to 200 politicians
    </label>
    &nbsp;&nbsp;
    <label for="show_battleground_id">
      <input type="checkbox" name="show_battleground" id="show_battleground_id" value="1"
             {% if show_battleground %}checked{% endif %} /> Battleground races
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="show_related_candidates_id">
      <input type="checkbox" name="show_related_candidates" id="show_related_candidates_id" value="1"
             {% if show_related_candidates %}checked{% endif %} /> Show related candidates count
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label for="show_ocd_id_state_mismatch_id">
      <input type="checkbox" name="show_ocd_id_state_mismatch" id="show_ocd_id_state_mismatch_id" value="1"
             {% if show_ocd_id_state_mismatch %}checked{% endif %} /> Show OCD ID/State mismatch
    </label>
</form>

{% if politician_list %}
    <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Politician Name</th>
            <th>State</th>
            <th>ID - We Vote ID</th>
            <th>Twitter Handle</th>
            <th>Email(s)</th>
            <th>Website(s)</th>
            <th>Candidates Linked</th>
        {% if show_related_candidates %}
            <th>Related Candidates?</th>
        {% endif %}
        </tr>
      </thead>
    {% for politician in politician_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td{% if politician.profile_image_background_color %}
                    style="padding-left: 0; padding-right: 0;"
                {% endif %}>
                {% if politician.we_vote_hosted_profile_image_url_tiny %}
                <a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                    <img
                      {% if politician.profile_image_background_color %}
                          style="
                              border-left: 10px solid {{ politician.profile_image_background_color }};
                              border-right: 10px solid {{ politician.profile_image_background_color }};"
                      {% endif %}
                      src='{{ politician.we_vote_hosted_profile_image_url_tiny }}'
                      height="48px" />
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ politician.politician_name }} <span class="glyphicon glyphicon-new-window"></span></a>
                {% if politician.seo_friendly_path %}
                    <br />
                    <a href="{{ web_app_root_url }}/{{ politician.seo_friendly_path }}/-"
                       target="_blank">/{{ politician.seo_friendly_path }} <span class="glyphicon glyphicon-new-window"></span></a>
                {% endif %}
            </td>
            <td>
                {{ politician.state_code|default_if_none:"" }}
                {% if politician.linked_representative_list %}
                    <br />
                    {% for representative in politician.linked_representative_list %}
                        <span style="color: #999">{{ representative.ocd_division_id }}&nbsp;</span>&nbsp;
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {{ politician.id }} - {{ politician.we_vote_id }}
                {% if politician.linked_representative_we_vote_id_list %}
                    <br />
                    {% for representative_we_vote_id in politician.linked_representative_we_vote_id_list %}
                        <span style="color: #999">{{ representative_we_vote_id }}&nbsp;</span>
                    {% endfor %}
                {% endif %}
                {% if politician.linked_campaignx_we_vote_id %}
                    <br />{{ politician.linked_campaignx_we_vote_id|default_if_none:"" }}
                {% endif %}
                {% if politician.vote_usa_politician_id %}
                    <br />{{ politician.vote_usa_politician_id|default_if_none:"" }}
                {% endif %}
                {% if politician.vote_smart_id %}
                    <br />VS: {{ politician.vote_smart_id|default_if_none:"" }}
                {% endif %}
           </td>
            <td>
                {% if politician.politician_twitter_handle %}<a href="https://twitter.com/{{ politician.politician_twitter_handle }}"
                    target="_blank">{{ politician.politician_twitter_handle }} <span class="glyphicon glyphicon-new-window"></span></a><br />
                ({{ politician.twitter_followers_count|intcomma }} followers){% endif %}
                {% if politician.politician_twitter_handle2 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle2 }}"
                    target="_blank">{{ politician.politician_twitter_handle2 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle3 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle3 }}"
                    target="_blank">{{ politician.politician_twitter_handle3 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle4 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle4 }}"
                    target="_blank">{{ politician.politician_twitter_handle4 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
                {% if politician.politician_twitter_handle5 %}<br /><a href="https://twitter.com/{{ politician.politician_twitter_handle5 }}"
                    target="_blank">{{ politician.politician_twitter_handle5 }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}
            </td>
            <td>
                {% if politician.politician_email %}{{ politician.politician_email }}&nbsp;{% endif %}
                {% if politician.politician_email2 %}{{ politician.politician_email2 }}&nbsp;{% endif %}
                {% if politician.politician_email3 %}{{ politician.politician_email3 }}&nbsp;{% endif %}
                {% if politician.politician_phone_number %}{{ politician.politician_phone_number }}&nbsp;{% endif %}
                {% if politician.politician_phone_number2 %}{{ politician.politician_phone_number2 }}&nbsp;{% endif %}
                {% if politician.politician_phone_number3 %}{{ politician.politician_phone_number3 }}&nbsp;{% endif %}
            </td>
            <td>
                {% if politician.politician_url %}<a href="{{ politician.politician_url }}" target="_blank">{{ politician.politician_url }}</a>{% endif %}
                {% if politician.politician_url2 %}<br /><a href="{{ politician.politician_url2 }}" target="_blank">{{ politician.politician_url2 }}</a>{% endif %}
                {% if politician.politician_url3 %}<br /><a href="{{ politician.politician_url3 }}" target="_blank">{{ politician.politician_url3 }}</a>{% endif %}
                {% if politician.politician_url4 %}<br /><a href="{{ politician.politician_url4 }}" target="_blank">{{ politician.politician_url4 }}</a>{% endif %}
                {% if politician.politician_url5 %}<br /><a href="{{ politician.politician_url5 }}" target="_blank">{{ politician.politician_url5 }}</a>{% endif %}
                {% if politician.facebook_url %}<a href="{{ politician.facebook_url }}" target="_blank">{{ politician.facebook_url }}</a>{% endif %}
                {% if politician.facebook_url2 %}<br /><a href="{{ politician.facebook_url2 }}" target="_blank">{{ politician.facebook_url2 }}</a>{% endif %}
                {% if politician.facebook_url3 %}<br /><a href="{{ politician.facebook_url3 }}" target="_blank">{{ politician.facebook_url3 }}</a>{% endif %}
            {% include "politician/is_battleground_race_year_display.html" with linebreak_at_start=True politician=politician %}
            </td>
            <td>{% if politician.linked_candidate_list_count > 0 %}{{ politician.linked_candidate_list_count }}{% endif %}</td>
        {% if show_related_candidates %}
            <td>{% if politician.related_candidate_list_count > 0 %}{{ politician.related_candidate_list_count }}{% endif %}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    <p>(no politicians found)</p>
    <p>
        <a href="{% url 'politician:politician_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Politician</a><br />
    </p>
{% endif %}

    <script>
        $(function() {
            $('#show_all_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_battleground_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_politicians_with_email_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_related_candidates_id').change(function() {
                this.form.submit();
            });
        });
       $(function() {
            $('#show_ocd_id_state_mismatch_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}