{# templates/politician/politician_list.html #}
{% extends "template_base.html" %}

{% block title %}Politicians{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<h1>Politicians</h1>

<a href="{% url 'politician:politician_new' %}?state_code={{ state_code }}">Add New Politician</a>,&nbsp;&nbsp;&nbsp;
<a href="{% url 'candidate:repair_imported_names' %}?is_candidate=false" >Repair Imported Candidate Names</a>
<br /><br />

<form name="state_code_form" method="get" action="{% url 'politician:politician_list' %}">
    {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
        {% if state_code != "" %}
        <a href="{% url 'politician:politician_list' %}?candidate_search={{ candidate_search }}">
            show all states</a>&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endif %}{# End of if state_list #}

    {% if politician_search %}
    <a href="{% url 'politician:politician_list' %}?state_code={{ state_code }}">
         clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="politician_search" id="politician_search_id" value="{{ politician_search }}" />
    <input type="submit" value="Search for Politician" />
</form>

{% if politician_list %}
    <table class="table">
      <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Politician Name</th>
            <th>State</th>
            <th>Twitter Handle</th>
            <th>Website</th>
            <th>Id</th>
            <th>We Vote Id</th>
            <th>Vote Smart Id</th>
            <th>Vote USA Politician</th>
            <th>Candidates Linked</th>
            <th>Related Candidates?</th>
        </tr>
      </thead>
    {% for politician in politician_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if politician.politician_photo_url %}
                <a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}">
                    <img src='{{ politician.politician_photo_url }}' height="25px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'politician:politician_edit' politician.id %}?google_civic_election_id={{ google_civic_election_id }}">{{ politician.politician_name }}</a></td>
            <td>{{ politician.state_code }}</td>
            <td>{% if politician.politician_twitter_handle %}<a href="https://twitter.com/{{ politician.politician_twitter_handle }}"
                    target="_blank">{{ politician.politician_twitter_handle }}</a><br />
                ({{ politician.twitter_followers_count|intcomma }} followers){% endif %}</td>
            <td>{% if politician.politician_url %}<a href="{{ politician.politician_url }}" target="_blank">{{ politician.politician_url }}</a>{% endif %}</td>
            <td>{{ politician.id }}</td>
            <td>{{ politician.we_vote_id }}</td>
            <td>{{ politician.vote_smart_id|default_if_none:"" }}</td>
            <td>{{ politician.vote_usa_politician_id|default_if_none:"" }}</td>
            <td>{% if politician.linked_candidate_list_count > 0 %}{{ politician.linked_candidate_list_count }}{% endif %}</td>
            <td>{% if politician.related_candidate_list_count > 0 %}{{ politician.related_candidate_list_count }}{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    <p>(no politicians found)</p>
    <p>
        <a href="{% url 'politician:politician_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Politician</a><br />
    </p>
{% endif %}

    <script>
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}