{# templates/representative/representative_list.html #}
{% extends "template_base.html" %}

{% block title %}Representatives{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}

<h1>Elected Representatives</h1>

<br/>

<a href="{% url 'representative:representative_new' %}?state_code={{ state_code }}">Add New Representative</a>{% if state_code %},
<a href="{% url 'representative:find_and_merge_duplicate_representatives' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank" >
    Find and Merge Duplicate Representatives for this State <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute){% endif %}
{% if show_this_year %}
    <ul>
{#        <li>Prepare: <a href="{% url 'representative:find_and_merge_duplicate_representatives' %}?show_this_year={{ show_this_year }}&state_code={{ state_code }}"#}
{#                        target="_blank" >#}
{#        Find and Merge Duplicate Candidates for this Year <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)</li>#}
{##}
        <li>Prepare: <a href="{% url 'representative:representative_politician_match_this_year' %}?show_this_year={{ show_this_year }}&state_code={{ state_code }}"
        target="_blank">
        Match Representatives to Politicians (and Create Politicians) for this Year <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)</li>
        <li>Prepare: <a href="{% url 'representative:update_representatives_from_politicians' %}?show_this_year={{ show_this_year }}&state_code={{ state_code }}"
        target="_blank">
        Update Representatives from Politicians for this Year <span class="glyphicon glyphicon-new-window"></span></a> (about 1 minute)</li>
    </ul>
{% endif %}

<br/><br/>

<form name="state_code_form" method="get" action="{% url 'representative:representative_list' %}">
    {% csrf_token %}

    {% if state_list %}
        <select id="state_code_id" name="state_code">
            <option value="">
                -- Filter by State Served --</option>
        {% for key, state in state_list %}
            <option value="{{ key }}"
                    {% if key|lower == state_code|lower %} selected="selected"{% endif %}>
                {{ state }}</option>
        {% endfor %}
        </select>
    {% endif %}{# End of if state_list #}

    {% if years_available %}
    <select id="show_this_year_id" name="show_this_year">
        <option value="0" {% if 0 == show_this_year|convert_to_int %} selected="selected"{% endif %}>
            -- Choose Year --</option>
        {% for year in years_available %}
        <option value="{{ year }}"
                {% if show_this_year|slugify == year|slugify %} selected="selected"{% endif %}>
            {% if show_this_year|slugify == year|slugify %}Limited To {% endif %}
            {{ year }}</option>
        {% endfor %}
    </select>
    {% endif %}{# End of if years_available #}
    &nbsp;&nbsp;
    {% if representative_search %}
    <a href="{% url 'representative:representative_list' %}?state_code={{ state_code }}&show_representatives_with_email={{ show_representatives_with_email }}&show_all={{ show_all }}&show_this_year={{ show_this_year }}">
         clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="representative_search" id="representative_search_id" value="{{ representative_search }}" />
    <input type="submit" value="Search for Representative" />
    &nbsp;&nbsp;
    <label for="show_representatives_with_email_id">
      <input type="checkbox" name="show_representatives_with_email" id="show_representatives_with_email_id" value="1"
             {% if show_representatives_with_email %}checked{% endif %} /> Has Email
    </label>
    &nbsp;&nbsp;
    <label for="missing_politician_id">
      <input type="checkbox" name="missing_politician" id="missing_politician_id" value="1"
             {% if missing_politician %}checked{% endif %} /> Missing Politician
    </label>
    &nbsp;&nbsp;
    <label for="show_all_id">
      <input type="checkbox" name="show_all" id="show_all_id" value="1"
             {% if show_all %}checked{% endif %} /> Show up to 1,000 representatives
    </label>
</form>
<br/>

{% if representative_list %}
    <table class="table">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Representative Name</td>
            <td>Office Held Name</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Email(s)</td>
            <td>ID(s)</td>
            <td>Website(s)</td>
        </tr>
    {% for representative in representative_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if representative.we_vote_hosted_profile_image_url_medium %}
                <a href="{% url 'representative:representative_edit' representative.id %}?google_civic_election_id={{ google_civic_election_id }}&show_this_year={{ show_this_year }}">
                    <img src='{{ representative.we_vote_hosted_profile_image_url_medium }}' height="48px" />
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'representative:representative_edit' representative.id %}?google_civic_election_id={{ google_civic_election_id }}&show_this_year={{ show_this_year }}" class="u-no-break">{{ representative.representative_name }}</a>
                <br />
                <span class="u-no-break">In office:
        {% if representative.year_in_office_2023 %}2023 {% endif %}
        {% if representative.year_in_office_2024 %}2024 {% endif %}
        {% if representative.year_in_office_2025 %}2025 {% endif %}
        {% if representative.year_in_office_2026 %}2026 {% endif %}
                </span>
            </td>
            <td>
                <a href="{% url 'office_held:office_held_summary' representative.office_held_we_vote_id %}" target="_blank">{{ representative.office_held_name }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
            </td>
            <td>{{ representative.state_code }}</td>
            <td>
                {% if representative.representative_twitter_handle %}<a href="https://twitter.com/{{ representative.representative_twitter_handle }}"
                    target="_blank">{{ representative.representative_twitter_handle }}</a><br />
                ({{ representative.twitter_followers_count|intcomma }} followers){% endif %}
            </td>
            <td>
                {% if representative.representative_email %}<span class="u-no-break">{{ representative.representative_email }}</span>&nbsp;{% endif %}
                {% if representative.representative_email2 %}<span class="u-no-break">{{ representative.representative_email2 }}</span>&nbsp;{% endif %}
                {% if representative.representative_email3 %}<span class="u-no-break">{{ representative.representative_email3 }}</span>&nbsp;{% endif %}
            </td>
            <td>
                {{ representative.we_vote_id }}
                {% if representative.politician_we_vote_id %}
                    -
                    <a href="{% url 'politician:politician_we_vote_id_edit' representative.politician_we_vote_id %}?" target="_blank">
                    {{ representative.politician_we_vote_id }}&nbsp;<span class="glyphicon glyphicon-new-window"></span>
                    </a>
                {% endif %}
            </td>
            <td>
                {% if representative.wikipedia_url %}<span class="u-no-break"><a href="{{ representative.wikipedia_url }}" target="_blank">{{ representative.wikipedia_url }}</a></span>&nbsp;{% endif %}
                {% if representative.representative_url %}<span class="u-no-break"><a href="{{ representative.representative_url }}" target="_blank">{{ representative.representative_url }}</a></span>&nbsp;{% endif %}
                {% if representative.representative_url2 %}<span class="u-no-break"><a href="{{ representative.representative_url2 }}" target="_blank">{{ representative.representative_url2 }}</a></span>&nbsp;{% endif %}
                {% if representative.representative_url3 %}<span class="u-no-break"><a href="{{ representative.representative_url3 }}" target="_blank">{{ representative.representative_url3 }}</a></span>&nbsp;{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    <p>(no representatives found)</p>
    <p>
        <a href="{% url 'representative:representative_new' %}?google_civic_election_id={{ google_civic_election_id }}">Add New Representative</a><br />
    </p>
{% endif %}

    <script>
        $(function() {
            $('#missing_politician_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_all_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_representatives_with_email_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#show_this_year_id').change(function() {
                this.form.submit();
            });
        });
        $(function() {
            $('#state_code_id').change(function() {
                this.form.submit();
            });
        });
    </script>

{% endblock %}