{# templates/representative/representative_edit.html #}
{% extends "template_base.html" %}

{% block title %}{% if representative %}{{ representative.representative_name  }}: Edit Representative{% else %}New Representative{% endif %}{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}
<a href="{% url 'representative:representative_list' %}?state_code={{ state_code }}">
    < Back to Representatives</a>

<h1>{% if representative %}Edit Representative "{{ representative.representative_name }}"{% else %}New Representative{% endif %}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url "representative:representative_edit_process" %}" method="post" class="form-horizontal">
{% csrf_token %}
<input name="submit_text" type="submit" value="{% if representative %}Update Representative{% else %}Save New Representative{% endif %}" />

<input type="hidden" name="representative_id" value="{% if representative %}{{ representative.id }}{% else %}0{% endif %}">

<div class="form-group">
    <label for="representative_name_id" class="col-sm-3 control-label">Representative Name</label>
    <div class="col-sm-8">
        <input type="text" name="representative_name" id="representative_name_id" class="form-control"
               value="{% if representative %}{{ representative.representative_name|default_if_none:"" }}{% else %}{{ representative_name|default_if_none:"" }}{% endif %}" />
        {% if representative %}
            {{ representative.we_vote_id }}
            (<a href="{% url 'representative:representative_delete_process' %}?representative_id={{ representative.id }}">delete representative</a>)
        {% else %}
            {{ we_vote_id }}
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="politician_we_vote_id_id" class="col-sm-3 control-label">
        Politician We Vote Id
    </label>
    <div class="col-sm-8">
        <input type="text" name="politician_we_vote_id" id="politician_we_vote_id_id" class="form-control"
               value="{% if representative %}{{ representative.politician_we_vote_id|default_if_none:"" }}{% else %}{{ politician_we_vote_id|default_if_none:"" }}{% endif %}" />
        {% if representative.politician_we_vote_id %}
            <a href="{% url 'politician:politician_we_vote_id_edit' representative.politician_we_vote_id %}?" target="_blank">
            view politician&nbsp;<span class="glyphicon glyphicon-new-window"></span>
            </a>&nbsp;&nbsp;
            <a href="{% url 'representative:update_representative_from_politician' %}?politician_we_vote_id={{ representative.politician_we_vote_id }}&representative_we_vote_id={{ representative.we_vote_id }}">update representative from politician</a>
        {% else %}
        &nbsp;&nbsp;&nbsp;&nbsp;(<a href="{% url 'representative:representative_politician_match' %}?representative_id={{ representative.id }}&google_civic_election_id={{ google_civic_election_id }}">match to politician</a>)
        {% endif %}
    </div>
</div>

<div class="form-group">
    <label for="office_held_name_id" class="col-sm-3 control-label">
        Office Held
        {% if representative.office_held_we_vote_id %}
            <a href="{% url 'office_held:office_held_summary' representative.office_held_we_vote_id %}?representative_id={{ representative.id }}" target="_blank">
            <span class="glyphicon glyphicon-new-window"></span>
            </a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="office_held_name" id="office_held_name_id" class="form-control"
               value="{% if representative %}{{ representative.office_held_name|default_if_none:"" }}{% else %}{{ office_held_name|default_if_none:"" }}{% endif %}" />
        <input type="text" name="office_held_we_vote_id" id="office_held_we_vote_id_id" class="form-control"
               value="{% if representative %}{{ representative.office_held_we_vote_id|default_if_none:"" }}{% else %}{{ office_held_we_vote_id|default_if_none:"" }}{% endif %}" />
        <span class="u-no-break">In office:
    <label for="year_in_office_2023_id">
      <input type="checkbox" name="year_in_office_2023" id="year_in_office_2023_id" value="1"
             {% if representative.year_in_office_2023 %}checked{% endif %} /> 2023&nbsp;&nbsp;&nbsp;
    </label>
    <label for="year_in_office_2024_id">
      <input type="checkbox" name="year_in_office_2024" id="year_in_office_2024_id" value="1"
             {% if representative.year_in_office_2024 %}checked{% endif %} /> 2024&nbsp;&nbsp;&nbsp;
    </label>
    <label for="year_in_office_2025_id">
      <input type="checkbox" name="year_in_office_2025" id="year_in_office_2025_id" value="1"
             {% if representative.year_in_office_2025 %}checked{% endif %} /> 2025&nbsp;&nbsp;&nbsp;
    </label>
    <label for="year_in_office_2026_id">
      <input type="checkbox" name="year_in_office_2026" id="year_in_office_2026_id" value="1"
             {% if representative.year_in_office_2026 %}checked{% endif %} /> 2026&nbsp;&nbsp;&nbsp;
    </label>
        </span>
    </div>
</div>

<div class="form-group">
    <label for="state_code_id" class="col-sm-3 control-label">State Code</label>
    <div class="col-sm-8">
        <input type="text" name="state_code" id="state_code_id" class="form-control"
               value="{% if representative %}{{ representative.state_code|default_if_none:"" }}{% else %}{{ state_code|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="ocd_division_id_id" class="col-sm-3 control-label">OCD ID</label>
    <div class="col-sm-8">
        <input type="text" name="ocd_division_id" id="ocd_division_id_id" class="form-control"
               value="{% if representative %}{{ representative.ocd_division_id|default_if_none:"" }}{% else %}{{ ocd_division_id|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_representative_name_id" class="col-sm-3 control-label">Alternate Name (for Google Civic matching)</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_representative_name" id="google_civic_representative_name_id" class="form-control"
               value="{% if representative %}{{ representative.google_civic_representative_name|default_if_none:"" }}{% else %}{{ google_civic_representative_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_representative_name2_id" class="col-sm-3 control-label">Alternate Name 2</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_representative_name2" id="google_civic_representative_name2_id" class="form-control"
               value="{% if representative %}{{ representative.google_civic_representative_name2|default_if_none:"" }}{% else %}{{ google_civic_representative_name2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="google_civic_representative_name3_id" class="col-sm-3 control-label">Alternate Name 3</label>
    <div class="col-sm-8">
        <input type="text" name="google_civic_representative_name3" id="google_civic_representative_name3_id" class="form-control"
               value="{% if representative %}{{ representative.google_civic_representative_name3|default_if_none:"" }}{% else %}{{ google_civic_representative_name3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_twitter_handle_id" class="col-sm-3 control-label">
        Twitter Handle
    {% if representative.representative_twitter_handle %}
        <a href="https://twitter.com/{{ representative.representative_twitter_handle|iriencode }}"
           target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_twitter_handle" id="representative_twitter_handle_id" class="form-control"
               value="{% if representative %}{{ representative.representative_twitter_handle|default_if_none:"" }}{% else %}{{ representative_twitter_handle|default_if_none:"" }}{% endif %}" />
    {% if representative.representative_twitter_handle %}
        <input type="checkbox" name="twitter_handle_updates_failing" id="twitter_handle_updates_failing_id" value="1"
                {% if representative.twitter_handle_updates_failing %}checked{% endif %} />
        <label for="twitter_handle_updates_failing_id" style="font-weight: normal !important;">Twitter Updates Failing. <span style="color: darkgray">Our automated Twitter data update script had trouble retrieving a handle. Uncheck when fixed.</span></label><br />
        (<a href="{% url 'import_export_twitter:refresh_twitter_representative_details' representative.id %}">Refresh Twitter Details</a>)<br />
        Twitter Name: {{ representative.twitter_name }}<br />
        Twitter Description: {{ representative.twitter_description }}<br />
        Twitter Location: {{ representative.twitter_location }}<br />
        Twitter Followers: {{ representative.twitter_followers_count|intcomma }}<br />
    {% endif %}
    {% if representative.twitter_url %}Twitter URL (from Google Civic): {{ representative.twitter_url }}{% endif %}
    </div>
</div>

<div class="form-group">
    <label for="representative_twitter_handle2_id" class="col-sm-3 control-label">
        Twitter Handle 2
    {% if representative.representative_twitter_handle2 %}
        <a href="https://twitter.com/{{ representative.representative_twitter_handle2|iriencode }}"
           target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_twitter_handle2" id="representative_twitter_handle2_id" class="form-control"
               value="{% if representative %}{{ representative.representative_twitter_handle2|default_if_none:"" }}{% else %}{{ representative_twitter_handle2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_twitter_handle3_id" class="col-sm-3 control-label">
        Twitter Handle 3
    {% if representative.representative_twitter_handle3 %}
        <a href="https://twitter.com/{{ representative.representative_twitter_handle3|iriencode }}"
           target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_twitter_handle3" id="representative_twitter_handle3_id" class="form-control"
               value="{% if representative %}{{ representative.representative_twitter_handle3|default_if_none:"" }}{% else %}{{ representative_twitter_handle3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="instagram_handle_id" class="col-sm-3 control-label">
        Instagram Handle
    {% if representative.instagram_handle %}
        <a href="https://twitter.com/{{ representative.instagram_handle|iriencode }}"
           target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="instagram_handle" id="instagram_handle_id" class="form-control"
               value="{% if representative %}{{ representative.instagram_handle|default_if_none:"" }}{% else %}{{ instagram_handle|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_url_id" class="col-sm-3 control-label">
        Representative Website
        {% if representative.representative_url %}
        <a href="{{ representative.representative_url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_url" id="representative_url_id" class="form-control"
               value="{% if representative %}{{ representative.representative_url|default_if_none:"" }}{% else %}{{ representative_url|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_url2_id" class="col-sm-3 control-label">
        Website 2
        {% if representative.representative_url2 %}
        <a href="{{ representative.representative_url2 }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_url2" id="representative_url2_id" class="form-control"
               value="{% if representative %}{{ representative.representative_url2|default_if_none:"" }}{% else %}{{ representative_url2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_url3_id" class="col-sm-3 control-label">
        Website 3
        {% if representative.representative_url3 %}
        <a href="{{ representative.representative_url3 }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_url3" id="representative_url3_id" class="form-control"
               value="{% if representative %}{{ representative.representative_url3|default_if_none:"" }}{% else %}{{ representative_url3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_contact_form_url_id" class="col-sm-3 control-label">
        Contact Form
        {% if representative.representative_contact_form_url %}
        <a href="{{ representative.representative_contact_form_url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="representative_contact_form_url" id="representative_contact_form_url_id" class="form-control"
               value="{% if representative %}{{ representative.representative_contact_form_url|default_if_none:"" }}{% else %}{{ representative_contact_form_url|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="wikipedia_url_id" class="col-sm-3 control-label">
        Wikipedia Page
        {% if representative.wikipedia_url %}
        <a href="{{ representative.wikipedia_url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="wikipedia_url" id="wikipedia_url_id" class="form-control"
               value="{% if representative %}{{ representative.wikipedia_url|default_if_none:"" }}{% else %}{{ wikipedia_url|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="linkedin_url_id" class="col-sm-3 control-label">
        LinkedIn
        {% if representative.linkedin_url %}
        <a href="{{ representative.linkedin_url }}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
        {% endif %}
    </label>
    <div class="col-sm-8">
        <input type="text" name="linkedin_url" id="linkedin_url_id" class="form-control"
               value="{% if representative %}{{ representative.linkedin_url|default_if_none:"" }}{% else %}{{ linkedin_url|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="political_party_id" class="col-sm-3 control-label">Political Party</label>
    <div class="col-sm-8">
        <input type="text" name="political_party" id="political_party_id" class="form-control"
               value="{% if representative %}{{ representative.political_party|default_if_none:"" }}{% else %}{{ political_party|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_email_id" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-8">
        <input type="text" name="representative_email" id="representative_email_id" class="form-control"
               value="{% if representative %}{{ representative.representative_email|default_if_none:"" }}{% else %}{{ representative_email|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_email2_id" class="col-sm-3 control-label">Email 2</label>
    <div class="col-sm-8">
        <input type="text" name="representative_email2" id="representative_email2_id" class="form-control"
               value="{% if representative %}{{ representative.representative_email2|default_if_none:"" }}{% else %}{{ representative_email2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_email3_id" class="col-sm-3 control-label">Email 3</label>
    <div class="col-sm-8">
        <input type="text" name="representative_email3" id="representative_email3_id" class="form-control"
               value="{% if representative %}{{ representative.representative_email3|default_if_none:"" }}{% else %}{{ representative_email3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_phone_id" class="col-sm-3 control-label">Phone</label>
    <div class="col-sm-8">
        <input type="text" name="representative_phone" id="representative_phone_id" class="form-control"
               value="{% if representative %}{{ representative.representative_phone|default_if_none:"" }}{% else %}{{ representative_phone|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_phone2_id" class="col-sm-3 control-label">Phone 2</label>
    <div class="col-sm-8">
        <input type="text" name="representative_phone2" id="representative_phone2_id" class="form-control"
               value="{% if representative %}{{ representative.representative_phone2|default_if_none:"" }}{% else %}{{ representative_phone2|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<div class="form-group">
    <label for="representative_phone3_id" class="col-sm-3 control-label">Phone 3</label>
    <div class="col-sm-8">
        <input type="text" name="representative_phone3" id="representative_phone3_id" class="form-control"
               value="{% if representative %}{{ representative.representative_phone3|default_if_none:"" }}{% else %}{{ representative_phone3|default_if_none:"" }}{% endif %}" />
    </div>
</div>

<p>
    <a href="{% url 'representative:representative_list' %}?state_code={{ state_code }}">cancel</a>
    <input name="submit_text" type="submit" value="{% if representative %}Update Representative{% else %}Save New Representative{% endif %}" />
</p>
</form>

<br />
{% if representative %}

{% if duplicate_representative_list %}
    <h4>Possible Duplicate Representatives</h4>
    <table class="table">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Representative Name</td>
            <td>Office Held</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
        </tr>
    {% for found_representative in duplicate_representative_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if found_representative.we_vote_hosted_profile_image_url_medium %}
                <a href="{% url 'representative:representative_edit' found_representative.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">
                    <img src='{{ found_representative.we_vote_hosted_profile_image_url_medium }}' height="48px" />
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'representative:representative_edit' found_representative.id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ found_representative.representative_name }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a><br />
                <a href="{% url 'representative:compare_two_representatives_for_merge' %}?representative1_we_vote_id={{ representative.we_vote_id }}&representative2_we_vote_id={{ found_representative.we_vote_id }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank">compare&nbsp;for&nbsp;merge</a>
            </td>
            <td>{% if found_representative.office_held_we_vote_id %}<a href="{% url 'office_held:office_held_summary' found_representative.office_held_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}" target="_blank">{{ found_representative.office_held_name }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}</td>
            <td>{{ found_representative.state_code }}</td>
            <td>{% if found_representative.representative_twitter_handle %}<a href="https://twitter.com/{{ found_representative.representative_twitter_handle }}"
                    target="_blank">{{ found_representative.representative_twitter_handle }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a><br />
                ({{ found_representative.twitter_followers_count|intcomma }} followers){% endif %}</td>
            <td>{% if found_representative.representative_url %}<a href="{{ found_representative.representative_url }}" target="_blank">{{ found_representative.representative_url }}&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>{% endif %}</td>
            <td>{{ found_representative.id }}</td>
            <td>{{ found_representative.we_vote_id }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}




    {% if representative.photo_url %}
    <img src='{{ representative.photo_url }}' />
    {% endif %}

{% else %}

{# Only show other representatives running for this office when we are entering a new representative #}
{% if representative_list %}
<h5>Existing Representatives</h5>
    <table class="table">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Representative Name</td>
            <td>State</td>
            <td>Twitter Handle</td>
            <td>Website</td>
            <td>Id</td>
            <td>We Vote Id</td>
            <td>Vote Smart Id</td>
            <td>&nbsp;</td>
        </tr>
    {% for representative in representative_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if representative.photo_url %}
                <a href="{% url 'representative:representative_edit' representative.id %}">
                    <img src='{{ representative.photo_url }}' height="48px" />
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'representative:representative_edit' representative.id %}">{{ representative.representative_name }}</a></td>
            <td>{{ representative.state_code }}</td>
            <td>{% if representative.representative_twitter_handle %}<a href="https://twitter.com/{{ representative.representative_twitter_handle }}"
                    target="_blank">{{ representative.representative_twitter_handle }}</a><br />
                ({{ representative.twitter_followers_count|intcomma }} followers){% endif %}</td>
            <td>{% if representative.representative_url %}<a href="{{ representative.representative_url }}" target="_blank">{{ representative.representative_url }}</a>{% endif %}</td>
            <td>{{ representative.id }}</td>
            <td>{{ representative.we_vote_id }}</td>
            <td>{{ representative.vote_smart_id }}</td>
            <td><a href="{% url 'representative:representative_edit' representative.id %}" style="font-size: .65em">(edit)</a></td>
        </tr>
    {% endfor %}
    </table>

    <p></p>
{% else %}
    {# Don't display anything if there aren't any other representatives captured for this office yet #}
{% endif %}

{% endif %}{# End of if representative #}


<style>
    .animated {
        -webkit-transition: height 0.2s;
        -moz-transition: height 0.2s;
        transition: height 0.2s;
    }
</style>
<script>
    $(function(){
        const { autosize } = window;
        autosize($('.normal'));
        autosize($('.animated'));
     }(window.$, window.autosize));
</script>


{% endblock %}