{# templates/voter/voter_edit.html #}
{% extends "template_base.html" %}

{% block title %}Voter Edit: {% if voter %}{{ voter.get_full_name }}{% else %}Create New Voter Account{% endif %}{% endblock %}

{%  block content %}
{% load humanize %}

    <a href="{% url 'voter:voter_list' %}">< Back to Voters</a><br />

<h1>{% if voter %}Voter Edit: {{ voter.first_name|default_if_none:"" }} {{ voter.last_name|default_if_none:"" }}{% else %}Create New Voter Account{% endif %}</h1>
<form action="{% url "voter:voter_edit_process" %}" method="post" class="form-horizontal" enctype="multipart/form-data">
{% csrf_token %}

<input type="hidden" name="voter_id" value="{% if voter %}{{ voter.id }}{% else %}0{% endif %}">

{% if voter %}
{% if voter_invitation_password %}
    {% include "voter/voter_invitation_from_manager.html" with voter_invitation_email=voter.email voter_invitation_first_name=voter_invitation_first_name voter_invitation_password=voter_invitation_password %}
{% endif %}

<div class="form-group">
    <label class="col-sm-3 control-label">
        We Vote ID</label>
    <div class="col-sm-9 form-control-plaintext">
        {{ voter.id }} / {{ voter.we_vote_id }} (<a href="{% url 'image:images_for_one_voter' voter.id %}" target="_blank">See images</a>)
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">
        Has Signed In</label>
    <div class="col-sm-9 form-control-plaintext">
        {{ voter.is_signed_in }}
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">
        Stripe Payments Made </label>
    <div class="col-sm-9 form-control-plaintext">
        {{ stripe_payments }}
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">
        Voter's Endorser Object</label>
    <div class="col-sm-9 form-control-plaintext">
        {{ voter.linked_organization_we_vote_id|default_if_none:"" }}
        {% if not voter.linked_organization_we_vote_id %}
             <a href="{% url 'voter:voter_edit' voter.id %}?create_organization_for_voter=1">
                 Create Endorser Object</a>
        {% endif %}
    </div>
</div>
{% endif %}


<div class="form-group">
    <label for="profile_image_type_currently_active_id" class="col-sm-3 control-label">
        Voter Photo Choice<br />
        <span style="color: darkgray">{{ voter.profile_image_type_currently_active }}</span>
    </label>
    <div class="col-sm-8">
        <span style="float: left; padding: 8px 20px 0 0;">
            <input type="radio" name="profile_image_type_currently_active" value="UNKNOWN"
                {% if voter.profile_image_type_currently_active == 'UNKNOWN' %} checked {% endif %}
                />
        {% if voter.we_vote_hosted_profile_twitter_image_url_tiny %}
            <span style="text-decoration: line-through">Unknown</span>
        {% else %}
            Unknown
        {% endif %}
        </span>
        <span style="float: left; padding: 8px 20px 0 0;">
            <input type="radio" name="profile_image_type_currently_active" value="UPLOADED"
                {% if voter.profile_image_type_currently_active == 'UPLOADED' %} checked {% endif %}
                />
            Uploaded
        {% if voter.we_vote_hosted_profile_uploaded_image_url_tiny %}
            <img src='{{ voter.we_vote_hosted_profile_uploaded_image_url_tiny }}' />
        {% else %}
            <input type="file" name="voter_photo_file" accept="image/*">
        {% endif %}
        </span>
        {% if voter.we_vote_hosted_profile_facebook_image_url_tiny %}
        <span style="float: left; padding: 8px 20px 0 0;">
            <input type="radio" name="profile_image_type_currently_active" value="FACEBOOK"
                {% if voter.profile_image_type_currently_active == 'FACEBOOK' %} checked {% endif %}
                />
            <img src='{{ voter.we_vote_hosted_profile_facebook_image_url_tiny }}' />
            Facebook
        </span>
        {% endif %}
        {% if voter.we_vote_hosted_profile_twitter_image_url_tiny %}
        <span style="float: left; padding: 8px 20px 0 0;">
            <input type="radio" name="profile_image_type_currently_active" value="TWITTER"
                {% if voter.profile_image_type_currently_active == 'TWITTER' %} checked {% endif %}
                />
            <img src='{{ voter.we_vote_hosted_profile_twitter_image_url_tiny }}' />
            Twitter
        </span>
        {% endif %}
        </span>
    </div>
</div>


<div class="form-group">
    <label for="first_name_id" class="col-sm-3 control-label">
        First Name</label>
    <div class="col-sm-9">
        <input type="text" name="first_name" id="first_name_id" class="form-control"
               value="{% if voter %}{{ voter.first_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>


<div class="form-group">
    <label for="last_name_id" class="col-sm-3 control-label">
        Last Name</label>
    <div class="col-sm-9">
        <input type="text" name="last_name" id="last_name_id" class="form-control"
               value="{% if voter %}{{ voter.last_name|default_if_none:"" }}{% endif %}" />
    </div>
</div>


<div class="form-group">
    <label for="twitter_screen_name_id" class="col-sm-3 control-label">
        voter.twitter_screen_name</label>
    <div class="col-sm-9">
        <input type="text" name="twitter_screen_name" id="twitter_screen_name_id" class="form-control"
               value="{% if voter %}{{ voter.twitter_screen_name|default_if_none:"" }}{% endif %}" />
            {% if voter and voter.twitter_id %}voter.twitter_id: {{ voter.twitter_id|default_if_none:"" }}{% endif %}
    </div>
</div>


{% if voter.facebook_id_from_link_to_voter %}
<div class="form-group">
    <label for="facebook_id_from_link_to_voter_id" class="col-sm-3 control-label">
        facebook_id_from_link_to_voter:</label>
    <div class="col-sm-9">
        {{ voter.facebook_id_from_link_to_voter }},
        {{ voter.facebook_link_to_voter_facebook_id_source_text }}
    </div>
</div>
{% endif %}


{% if voter.twitter_screen_name_from_link_to_voter or voter.twitter_id_from_link_to_voter %}
<div class="form-group">
    <label for="twitter_screen_name_from_link_to_voter_id" class="col-sm-3 control-label">
        twitter_screen_name from_link_to_voter</label>
    <div class="col-sm-9">
        {{ voter.twitter_screen_name_from_link_to_voter|default_if_none:"" }},
        twitter_id_from_link_to_voter: {{ voter.twitter_id_from_link_to_voter }}
        <strong>TwitterLinkToVoter Exists For This Voter</strong>
    </div>
</div>
{% endif %}


{% if voter.twitter_id_from_link_to_organization %}
<div class="form-group">
    <label for="twitter_screen_name_from_link_to_organization_id" class="col-sm-3 control-label">
        twitter_screen_name from_link_to_organization</label>
    <div class="col-sm-9">
        {{ voter.twitter_screen_name_from_link_to_organization }},
        twitter_id_from_link_to_organization: {{ voter.twitter_id_from_link_to_organization }},
        {{ voter.organization_we_vote_id_from_link_to_organization }}
        {{ voter.twitter_link_to_organization_twitter_id_source_text }}
    </div>
</div>
{% endif %}


<div class="form-group">
    <label for="email_id" class="col-sm-3 control-label">
        Email</label>
    <div class="col-sm-9">
        <input type="text" name="email" id="email_id" class="form-control"
               value="{% if voter %}{{ voter.email|default_if_none:"" }}{% endif %}" />
        {% if voter.primary_email_we_vote_id or voter.email_ownership_is_verified %}
            primary_email_we_vote_id: {{ voter.primary_email_we_vote_id|default_if_none:"" }}, verified: {{ voter.email_ownership_is_verified }}
        {% endif %}
        {% if email_addresses_list %}
            <table class="table">
              <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>We Vote ID</th>
                    <th>Email Address</th>
                    <th>Verified</th>
                </tr>
              </thead>
            {% for email_address in email_addresses_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ email_address.id }}</td>
                    <td>{{ email_address.we_vote_id }}</td>
                    <td>
                    {% if email_address.normalized_email_address %} {{ email_address.normalized_email_address }}{% else %}{% endif %}
                    </td>
                    <td>
                    {% if email_address.email_ownership_is_verified %}Yes{% else %}Not Verified{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
</div>


<div class="form-group">
    <label for="normalized_sms_phone_number_id" class="col-sm-3 control-label">
        Phone Number</label>
    <div class="col-sm-9">
        <input type="text" name="sms_phone_number" id="normalized_sms_phone_number_id" class="form-control"
               value="{% if voter %}{{ voter.normalized_sms_phone_number|default_if_none:"" }}{% endif %}"
               placeholder="Exact Format Needed: +1 415-123-4567"
        />
        {% if voter.primary_sms_we_vote_id or voter.sms_ownership_is_verified %}
            primary_sms_we_vote_id: {{ voter.primary_sms_we_vote_id|default_if_none:"" }}, verified: {{ voter.sms_ownership_is_verified }}
        {% endif %}
        {% if sms_phone_numbers_list %}
            <table class="table">
              <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>We Vote ID</th>
                    <th>Phone Number</th>
                    <th>Verified</th>
                </tr>
              </thead>
            {% for sms_phone_number in sms_phone_numbers_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ sms_phone_number.id }}</td>
                    <td>{{ sms_phone_number.we_vote_id }}</td>
                    <td>
                    {% if sms_phone_number.normalized_sms_phone_number %} {{ sms_phone_number.normalized_sms_phone_number }}{% else %}{% endif %}
                    </td>
                    <td>
                    {% if sms_phone_number.sms_ownership_is_verified %}Yes{% else %}Not Verified{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </div>
</div>

<div class="row form-group">
    <label for="google_civic_election_id_id" class="col-sm-3 control-label">
        Volunteering Team
        (<span onclick="showElement('team_add');" style="color: royalblue" >add</span>)
    </label>
    <div class="col-sm-9">
    {% if office_name %}
        Adding Candidate to: {{ office_name }}
        <input type="hidden" name="contest_office_id" value="{{ contest_office_id }}">
    {% endif %}
    <table>
    {% for volunteer_team in volunteer_team_list %}
        <tr>
            <td>
                {% if volunteer_team.is_voter_member %}<strong>IS MEMBER:</strong> {% endif %}
                {{ volunteer_team.team_name }}
                ({{ volunteer_team.we_vote_id }})
                &nbsp;&nbsp;
            </td>
            <td>
                {% if volunteer_team.is_voter_member %}
                <label for="delete_volunteer_team_member_{{ volunteer_team.id }}_id">
                    <input type="checkbox"
                           name="delete_volunteer_team_member_{{ volunteer_team.id }}"
                           id="delete_volunteer_team_member_{{ volunteer_team.id }}_id"
                           value=1
                    />
                    delete membership
                </label>
                {% else %}
                <label for="add_volunteer_team_member_{{ volunteer_team.id }}_id">
                    <input type="checkbox"
                           name="add_volunteer_team_member_{{ volunteer_team.id }}"
                           id="add_volunteer_team_member_{{ volunteer_team.id }}_id"
                           value=1
                    />
                    add to team
                </label>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    <table id="team_add" style="display: none;">
        <thead>
            <tr>
                <th>Volunteering Team Name to Add</th>
            </tr>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>
                <input type="text" name="team_name_new"
                       style="width: 400px; border: 1px solid lightgray;"/>
            </td>
            <td>
                <input type="checkbox" name="add_to_new_team" id="add_to_new_team_id" value="1" checked />&nbsp;Add to this team
            </td>
        </tr>
    </table>
    </div>
</div>


<div class="form-group">
    <label for="passwordTextId" class="col-sm-3 control-label">Change Password</label>
    <div class="col-sm-9" style="display: flex; flex-wrap: wrap; ">
        <input type="text" name="password_text" id="passwordTextId" class="form-control" value="" style="width: 20%" />
        <span style="padding-left: 16px; padding-top: 4px;" />
        <button type="button" id="passwordButton" onClick="injectPassword()">Suggest Password</button>
    </div>
    <input type="hidden" id="passwordProposedId" value="{{ password_proposed }}">
</div>

<br />
<br />


<div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 4px;">Submit</label>
    <div class="col-sm-9">
        <input type="submit" value="{% if voter %}Update Voter Account{% else %}Create New Voter Account{% endif %}" class="btn btn-primary" />
        {% if voter %}
        <a href="{% url 'voter:voter_summary' voter.id %}" style="padding-left: 30px">cancel</a>
        {% else %}
        <a href="{% url 'voter:voter_list' %}" style="padding-left: 30px">cancel</a>
        {% endif %}
        &nbsp;
    </div>
</div>


{% if voter %}
    <br />
    <h4>Voter's Rights Administration</h4>
    <div style="padding-left: 20px;">
    {% if voter.is_admin %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=admin">
  Remove Admin Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=admin">
  Grant Admin Rights</a></p>
    {% endif %}

    {% if voter.is_analytics_admin %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=analytics_admin">
  Remove Analytics Admin Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=analytics_admin">
  Grant Analytics Admin Rights</a></p>
    {% endif %}

    {% if voter.is_voter_manager %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=voter_manager">
  Remove Voter Manager Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=voter_manager">
  Grant Voter Manager Rights</a></p>
    {% endif %}

    {% if voter.is_partner_organization %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=partner_organization">
  Remove Partner Organization Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=partner_organization">
  Grant Partner Organization Rights</a></p>
    {% endif %}

    {% if voter.is_political_data_manager %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=political_data_manager">
  Remove Political Data Manager Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=political_data_manager">
  Grant Political Data Manager Rights</a></p>
    {% endif %}

    {% if voter.is_political_data_viewer %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=political_data_viewer">
  Remove Political Data Viewer Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=political_data_viewer">
  Grant Political Data Viewer Rights</a></p>
    {% endif %}

    {% if voter.is_verified_volunteer %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_removed=verified_volunteer">
  Remove Verified Volunteer Rights</a></p>
    {% else %}
<p><a href="{% url 'voter:voter_change_authority_process' %}?voter_id={{ voter_id }}&authority_granted=verified_volunteer">
  Grant Verified Volunteer Rights</a></p>
    {% endif %}
    </div>
    <h4>Authentication</h4>
    <div style="padding-left: 20px;">
        <p><a href="{% url 'voter:voter_remove_facebook_auth_process' %}?voter_id={{ voter_id }}&voter_we_vote_id={{ voter.we_vote_id }}">
            Remove Facebook Authentication (all devices and browsers)</a></p>
        <p><a href="{% url 'friend:generate_mutual_friends_for_one_voter' %}?voter_id={{ voter_id }}&voter_we_vote_id={{ voter.we_vote_id }}">Generate mutual friends for this voter</a>
        </p>
    </div>
{% endif %}

    <h4>Navigation</h4>
    <div style="padding-left: 20px;">
        <p><a href="{% url 'admin_tools:data_cleanup' %}">< Back to Data Cleanup Home</a><br /></p>
        <p><a href="{% url 'admin_tools:data_cleanup_voter_list_analysis' %}">< Back to Voter List Analysis</a></p>
    </div>
    <br />


{% if linked_organization_we_vote_id_list %}
<h4>Linked Endorser by We Vote ID</h4>
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Endorser</th>
            <th>organization_twitter_handle</th>
            <th>Vote Smart ID</th>
            <th>State</th>
            <th>Voter from organization.linked_voter.we_vote_id</th>
            <th>Endorser We Vote ID</th>
        </tr>
      </thead>
    {% for organization in linked_organization_we_vote_id_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if organization.organization_photo_url %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}" target="_blank">
                    <img src="{{ organization.organization_photo_url }}" width="73px" /></a>{% endif %}</td>
            <td><a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}" target="_blank">
                {% if organization.organization_name %}{{ organization.organization_name }}{% else %}(no org name)
            {% endif %}</a></td>
            <td>{% if organization.organization_twitter_handle %}{{ organization.organization_twitter_handle }} <br />
                ({{ organization.twitter_followers_count|intcomma }} followers)<br />{% endif %}
                {% if organization.twitter_user_id %}{{ organization.twitter_user_id }}{% endif %}
            </td>
            <td>{% if organization.vote_smart_id %}{{ organization.vote_smart_id }}{% endif %}</td>
            <td>{{ organization.state_served_code }}</td>
            <td>{% if organization.linked_voter %}
                <a href="{% url 'voter:voter_edit' organization.linked_voter.id %}" target="_blank">{{ organization.linked_voter.we_vote_id }}</a>
            {% endif %}</td>
            <td><a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}" target="_blank">
                {{ organization.we_vote_id }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no organization found by linked_organization_we_vote_id)</p>
{% endif %}


{% if voter_list_duplicate_facebook %}
 <h2>BAD: Other Voters with Duplicate (Local) Twitter Info</h2>
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>We Vote ID</th>
            <th>Who</th>
            <th>You</th>
            <th>Where</th>
            <th>FB?</th>
            <th>Tw? (OLD)</th>
            <th>TwitterLinkToVoter</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Partner Endorser</th>
            <th>Political Data</th>
            <th>Verified Volunteer</th>
            <th>linked_organization_we_vote_id</th>
        </tr>
      </thead>
    {% for duplicate_facebook_voter in voter_list_duplicate_facebook %}
        <tr>
            <td>{{ duplicate_facebook_voter.id }}</td>
            <td>
                <a href="{% url 'voter:voter_edit' duplicate_facebook_voter.id %}" target="_blank">
                    {{ duplicate_facebook_voter.we_vote_id }}
                </a>
            </td>
            <td>
            {% if duplicate_facebook_voter.first_name %}{{ duplicate_facebook_voter.first_name }} {% endif %}{% if duplicate_facebook_voter.last_name %}{{ duplicate_facebook_voter.last_name }}{% endif %}
            </td>
            <!-- Is this you? //-->
            <td>
            {% if duplicate_facebook_voter.id == voter_id_signed_in %}*ME*{% else %}{% endif %}
            </td>
            <td>
                &nbsp;
            </td>
            <!-- Facebook? //-->
            <td>
            {% if duplicate_facebook_voter.fb_username %}Y{% else %}{% endif %}
            </td>
            <!-- Twitter? OLD //-->
            <td>
            {% if duplicate_facebook_voter.facebook_id %}
                {{ duplicate_facebook_voter.facebook_id }}
            {% else %}{% endif %}
            </td>
            <!-- Twitter? NEW //-->
            <td>
            {% if duplicate_facebook_voter.facebook_id_from_link_to_voter %}
                <strong>BAD: TwitterLinkToVoter TO ANOTHER VOTER</strong>
                {{ duplicate_facebook_voter.facebook_id_from_link_to_voter }}
            {% else %}{% endif %}
            </td>
            <!-- Email //-->
            <td>
            {% if duplicate_facebook_voter.email %}{{ duplicate_facebook_voter.email }}{% else %}{% endif %}
            </td>
            <!-- Is site administrator? //-->
            <td>
            {% if duplicate_facebook_voter.is_admin %}Y{% else %}{% endif %}
            </td>
            <!-- Is partner organization? //-->
            <td>
            {% if voter.is_partner_organization %}Y{% else %}{% endif %}
            </td>
            <!-- Political data authority? //-->
            <td>
            {% if voter.is_political_data_manager %}Manager{% elif voter.is_political_data_viewer %}Viewer{% endif %}
            </td>
            <!-- Is verified volunteer? //-->
            <td>
            {% if duplicate_facebook_voter.is_verified_volunteer %}Y{% else %}{% endif %}
            </td>
            <td>
            {% if duplicate_facebook_voter.linked_organization_we_vote_id %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ duplicate_facebook_voter.linked_organization_we_vote_id }}" target="_blank">
                {{ duplicate_facebook_voter.linked_organization_we_vote_id }}</a>
            {% else %}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    {% if voter.facebook_id_from_link_to_voter or voter.facebook_id %}
    <h4>GOOD: No other voters found with duplicate local Facebook info</h4>
    {% endif %}
    {% if not voter.facebook_id_from_link_to_voter and voter.facebook_id %}
    <a href="{% url 'voter:voter_edit' voter_id %}?create_facebook_link_to_voter=1" target="_blank">
    Create FacebookLinkToVoter
    </a>
    {% endif %}
{% endif %}



{% if voter_list_duplicate_twitter %}
 <h2>BAD: Other Voters with Duplicate (Local) Twitter Info</h2>
    <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>We Vote ID</th>
            <th>Who</th>
            <th>You</th>
            <th>Where</th>
            <th>FB?</th>
            <th>Tw? (OLD)</th>
            <th>TwitterLinkToVoter</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Partner Endorser</th>
            <th>Political Data</th>
            <th>Verified Volunteer</th>
            <th>linked_organization_we_vote_id</th>
        </tr>
      </thead>
    {% for duplicate_twitter_voter in voter_list_duplicate_twitter %}
        <tr>
            <td>{{ duplicate_twitter_voter.id }}</td>
            <td>
                <a href="{% url 'voter:voter_edit' duplicate_twitter_voter.id %}" target="_blank">
                    {{ duplicate_twitter_voter.we_vote_id }}
                </a>
            </td>
            <td>
            {% if duplicate_twitter_voter.first_name %}{{ duplicate_twitter_voter.first_name }} {% endif %}{% if duplicate_twitter_voter.last_name %}{{ duplicate_twitter_voter.last_name }}{% endif %}
            </td>
            <!-- Is this you? //-->
            <td>
            {% if duplicate_twitter_voter.id == voter_id_signed_in %}*ME*{% else %}{% endif %}
            </td>
            <td>
                &nbsp;
            </td>
            <!-- Facebook? //-->
            <td>
            {% if duplicate_twitter_voter.fb_username %}Y{% else %}{% endif %}
            </td>
            <!-- Twitter? OLD //-->
            <td>
            {% if duplicate_twitter_voter.twitter_id %}
                @{{ duplicate_twitter_voter.twitter_screen_name }}<br />
                {{ duplicate_twitter_voter.twitter_id }}
            {% else %}{% endif %}
            </td>
            <!-- Twitter? NEW //-->
            <td>
            {% if duplicate_twitter_voter.twitter_id_from_link_to_voter %}
                <strong>BAD: TwitterLinkToVoter TO ANOTHER VOTER</strong>
                @{{ duplicate_twitter_voter.twitter_screen_name_from_link_to_voter }}<br />
                {{ duplicate_twitter_voter.twitter_id_from_link_to_voter }}
            {% else %}{% endif %}
            </td>
            <!-- Email //-->
            <td>
            {% if duplicate_twitter_voter.email %}{{ duplicate_twitter_voter.email }}{% else %}{% endif %}
            </td>
            <!-- Is site administrator? //-->
            <td>
            {% if duplicate_twitter_voter.is_admin %}Y{% else %}{% endif %}
            </td>
            <!-- Is partner organization? //-->
            <td>
            {% if voter.is_partner_organization %}Y{% else %}{% endif %}
            </td>
            <!-- Political data authority? //-->
            <td>
            {% if voter.is_political_data_manager %}Manager{% elif voter.is_political_data_viewer %}Viewer{% endif %}
            </td>
            <!-- Is verified volunteer? //-->
            <td>
            {% if duplicate_twitter_voter.is_verified_volunteer %}Y{% else %}{% endif %}
            </td>
            <td>
            {% if duplicate_twitter_voter.linked_organization_we_vote_id %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ duplicate_twitter_voter.linked_organization_we_vote_id }}" target="_blank">
                {{ duplicate_twitter_voter.linked_organization_we_vote_id }}</a>
            {% else %}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    {% if voter.twitter_id_from_link_to_voter or voter.twitter_id %}
    <h4>GOOD: No other voters found with duplicate local Twitter info</h4>
    {% endif %}
    {% if not voter.twitter_id_from_link_to_voter and voter.twitter_id %}
    <a href="{% url 'voter:voter_edit' voter_id %}?create_twitter_link_to_voter=1" target="_blank">
    Create TwitterLinkToVoter
    </a>
    {% endif %}
{% endif %}


{% if organization_list_with_duplicate_twitter %}
<h2>Endorsers with Duplicate (Local) Twitter Info</h2>
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Endorser</th>
            <th>organization_twitter_handle</th>
            <th>Vote Smart ID</th>
            <th>State</th>
            <th>Voter from voter.linked_organization_we_vote_id</th>
            <th></th>
        </tr>
      </thead>
    {% for organization in organization_list_with_duplicate_twitter %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if organization.organization_photo_url %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}"
                   target="_blank">
                    <img src="{{ organization.organization_photo_url }}" width="73px" /></a>{% endif %}</td>
            <td><a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?organization_we_vote_id={{ organization.we_vote_id }}"
                   target="_blank">
                {% if organization.organization_name %}{{ organization.organization_name }}{% else %}(no org name){% endif %}</a></td>
            <td>{% if organization.organization_twitter_handle %}{{ organization.organization_twitter_handle }} <br />
                ({{ organization.twitter_followers_count|intcomma }} followers)<br />{% endif %}
                {% if organization.twitter_user_id %}{{ organization.twitter_user_id }}{% endif %}
            </td>
            <td>{% if organization.vote_smart_id %}{{ organization.vote_smart_id }}{% endif %}</td>
            <td>{{ organization.state_served_code }}</td>
            <td>{% if organization.linked_voter %}
                {% if organization.linked_voter.we_vote_id != voter.we_vote_id %}
                    <strong>BAD: LINKED TO DIFFERENT VOTER</strong>
                {% endif %}
                <a href="{% url 'voter:voter_edit' organization.linked_voter.id %}" target="_blank">{{ organization.linked_voter.we_vote_id }}</a>
            {% endif %}</td>
            <td><a href="{% url 'organization:organization_edit' organization.id %}" style="font-size: .65em">{{ organization.we_vote_id }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    {% if voter.twitter_id_from_link_to_voter or voter.twitter_id %}
    <h4>GOOD: No other endorsers found with duplicate local Twitter info (aside from TwitterLinkToOrganization)</h4>
    {% endif %}
{% endif %}

{% if voter.linked_organization_we_vote_id and not organization_list_with_duplicate_twitter and not voter_list_duplicate_twitter %}
    <h4><a href="{% url 'voter:voter_edit' voter.id %}?cross_link_all_voter_positions=1" target="_blank">
        Add voter_we_vote_id and organization_we_vote_id To All Positions
    </a></h4>
{% endif %}

{% if public_positions_owned_by_this_voter %}
    <h2>Public Positions Owned By This Voter</h2>
     <a href="{% url 'voter:voter_edit' voter.id %}?merge_duplicate_positions=1">
         Merge Duplicate Positions</a>

    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Voter</th>
            <th>Endorser</th>
            <th>Stance</th>
            <th>Candidate/Measure</th>
            <th>Election</th>
        </tr>
      </thead>
    {% for position in public_positions_owned_by_this_voter %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.we_vote_id }}</a>
                {% else %}
                {{ position.we_vote_id }}
                {% endif %}
            </td>
            <td>{% if position.voter %}
                <a href="{% url 'voter:voter_edit' position.voter.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {{ position.voter.we_vote_id }}
                </a><br />
                {% if position.voter.signed_in_with_email %}Email verified<br />{% endif %}
                {% if position.voter.signed_in_facebook %}Facebook<br />{% endif %}
                {% if position.voter.signed_in_twitter %}Twitter<br />{% endif %}
            {% else %}
                (voter missing)
            {% endif %}</td>
            <td>{% if position.organization %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?google_civic_election_id={{ google_civic_election_id }}&organization_we_vote_id={{  position.organization.we_vote_id }}"
                   target="_blank">
                {{ position.organization.organization_name }} - {{ position.organization.we_vote_id }}
                </a>
            {% else %}
                (organization missing)
            {% endif %}</td>
            <td>
            {% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.get_stance_display }}
                   {% if position.statement_text %} - {{ position.statement_text }}{% endif %}</a>
            {% else %}
                {{ position.get_stance_display }}
                   {% if position.statement_text %} - {{ position.statement_text }}{% endif %}
            {% endif %}
            </td>
            <td>
                {% if position.candidate_campaign %}
                {{ position.candidate_campaign.candidate_name }}
                {% elif position.contest_measure %}
                {{ position.contest_measure.measure_title }}
                {% else %}
                    (name unknown)
                {% endif %}
            </td>
            <td>{% if position.election.election_day_text %}{{ position.election.election_day_text }}{% endif %}
                {% if position.vote_smart_time_span %}{{ position.vote_smart_time_span }}{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>(no public positions found)</p>
{% endif %}

{% if supporters_list %}
    <h2>Campaigns this voter supports</h2>
{% include "campaign/campaignx_supporters_list_table.html" with hide_supporter_column=True show_campaignx_column=True supporters_list=supporters_list %}

<div>
    <input type="submit" value="{% if voter %}Update Campaign Supporter Settings{% endif %}" class="btn btn-primary" />
</div>
{% endif %}

</form>


{% if positions_for_friends_owned_by_this_voter %}
    <h2>Positions for friends</h2>
     <a href="{% url 'voter:voter_edit' voter.id %}?merge_duplicate_positions=1">
         Merge Duplicate Positions</a>
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Voter</th>
            <th>Endorser</th>
            <th>Stance</th>
            <th>Candidate/Measure</th>
            <th>Election</th>
        </tr>
      </thead>
    {% for position in positions_for_friends_owned_by_this_voter %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ position.we_vote_id }}</td>
            <td>{% if position.voter %}
                <a href="{% url 'voter:voter_edit' position.voter.id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">
                {{ position.voter.we_vote_id }}
                </a><br />
                {% if position.voter.signed_in_with_email %}Email verified<br />{% endif %}
                {% if position.voter.signed_in_facebook %}Facebook<br />{% endif %}
                {% if position.voter.signed_in_twitter %}Twitter<br />{% endif %}
            {% else %}
                (voter missing)
            {% endif %}</td>
            <td>{% if position.organization %}
                <a href="{% url 'admin_tools:data_cleanup_organization_analysis' %}?google_civic_election_id={{ google_civic_election_id }}&organization_we_vote_id={{  position.organization.we_vote_id }}"
                   target="_blank">
                {{ position.organization.organization_name }} - {{ position.organization.we_vote_id }}
                </a>
            {% else %}
                (organization missing)
            {% endif %}</td>
            <td>
            {% if position.organization %}
                <a href="{% url 'organization:organization_position_edit' position.organization.id position.we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}"
                   target="_blank">{{ position.get_stance_display }}
                    {% if position.statement_text %} - {{ position.statement_text }}{% endif %}</a>
            {% else %}
                {{ position.get_stance_display }}
                {% if position.statement_text %} - {{ position.statement_text }}{% endif %}
            {% endif %}
            </td>
            <td>
                {% if position.candidate_campaign %}
                {{ position.candidate_campaign.candidate_name }}
                {% elif position.contest_measure %}
                {{ position.contest_measure.measure_title }}
                {% else %}
                    (name unknown)
                {% endif %}
            </td>
            <td>{% if position.election.election_day_text %}{{ position.election.election_day_text }}{% endif %}
                {% if position.vote_smart_time_span %}{{ position.vote_smart_time_span }}{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

{% else %}
    <p>(no positions for friends found)</p>
{% endif %}

{% if voter %}
    <br />
    <h4>Deletion</h4>
    <div style="padding-left: 20px;">
        <form action="{% url "voter:voter_delete_process" %}" method="post" class="form-horizontal">
    {% csrf_token %}
      <input type="hidden" name="voter_id" value="{{ voter.id }}">
      <button type="submit" class="btn btn-danger">Delete Voter</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="confirm_delete_id">
        <input type="checkbox" name="confirm_delete" id="confirm_delete_id" value="1" /> Check to confirm that you want to permanently delete this voter
      </label>
    </form>
    </div>
{% endif %}

    <br />
    <br />
    <br />
    <br />

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    function hideElement(elementId) {
      var x = document.getElementById(elementId);
      x.style.display = "none";
    }
    function showElement(elementId) {
      var x = document.getElementById(elementId);
      x.style.display = "block";
    }
</script>

<script>
    function injectPassword () {
        const passwordProposed = $("#passwordProposedId").val();
        $("#passwordTextId").val(passwordProposed);
    }
</script>

{% endblock %}
