{# templates/voter/voter_list.html #}
{% extends "template_base.html" %}

{% block title %}Voters{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}">< Back to Admin Home</a><br />
<br />
<a href="{% url 'admin_tools:data_cleanup_voter_list_analysis' %}">Go to Voter List Analysis ></a><br />

<h1>Voters</h1>

<a href="{% url 'voter:voter_edit' 0 %}">Create New Voter Account</a>
<br />
<a href="{% url 'image:cache_images_locally_for_all_voters' %}">Cache images locally for all voters</a>

<form name="voter_search_form" method="get" action="{% url 'voter:voter_list' %}">
    {% csrf_token %}


{% if voter_search or issues_selected %}
    <a href="{% url 'voter:voter_list' %}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="voter_search" id="voter_search_id" value="{{ voter_search }}" />
    <input type="submit" value="Search for Voter" />
</form>


{% if voter_list %}
    <table border="1" cellpadding="10">
        <tr>
            <td></td>
            <td>ID</td>
            <td>&nbsp;</td>
            <td>We Vote ID</td>
            <td>You</td>
            <td>Where</td>
            <td>FB ID (cached)</td>
            <td>FB username</td>
            <td>Tw (cached)</td>
{#            <td>TwitterLinkToVoter</td> 2017-3-29 Not working#}
            <td>Email</td>
            <td>Org we_vote_id</td>
            <td>Admin</td>
            <td>Partner Organization</td>
            <td>Political Data</td>
            <td>Verified Volunteer</td>
            <td>Voter Images</td>
        </tr>
    {% for voter in voter_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ voter.id }}</td>
            <td>{% if voter.we_vote_hosted_profile_image_url_tiny %}<img src="{{ voter.we_vote_hosted_profile_image_url_tiny }}" />{% endif %}</td>
            <td>
                {{ voter.get_full_name|default_if_none:"" }}
                <a href="{% url 'voter:voter_edit' voter.id %}">
                    {{ voter.we_vote_id }}
                </a>
            </td>
            <!-- Is this you? //-->
            <td>
            {% if voter.id == voter_id_signed_in %}*ME*{% else %}{% endif %}
            </td>
            <td>
                &nbsp;
            </td>
            <!-- Facebook? //-->
            <td>
            {{ voter.facebook_id|default_if_none:"" }}
            </td>
            <td>
            <!-- If we don't have a cached facebook_id, then fb_username is leftover //-->
                <span {% if not voter.facebook_id %}style="text-decoration: line-through"{% endif %}>
                {% if voter.fb_username %}{{ voter.fb_username }}{% else %}{% endif %}
                </span>
            </td>
            <!-- Twitter? OLD //-->
            <td>
            {% if voter.twitter_id %}@{{ voter.twitter_screen_name }}<br />
                {{ voter.twitter_id }}
            {% else %}{% endif %}
            </td>
            <!-- TwitterLinkToVoter //-->
{#            <td> 2017-3-29 Not working#}
{#            {% if voter.twitter_id_from_link_to_voter %}#}
{#                @{{ voter.twitter_screen_name_from_link_to_voter }}<br />#}
{#                {{ voter.twitter_id_from_link_to_voter }}#}
{#            {% endif %}#}
{#            </td>#}
            <!-- Email //-->
            <td>
            {% if voter.email %}{{ voter.email }}{% else %}{% endif %}
            {% if voter.facebook_email %}fb:&nbsp;{{ voter.facebook_email|default_if_none:"" }}{% else %}{% endif %}

            </td>
            <!-- Voter Linked Org //-->
            <td>
            {{ voter.linked_organization_we_vote_id|default_if_none:"" }}
            </td>
            <!-- Is site administrator? //-->
            <td>
            {% if voter.is_admin %}Y{% else %}{% endif %}
            </td>
            <!-- Is partner organization? //-->
            <td>
            {% if voter.is_partner_organization %}Y{% else %}{% endif %}
            </td>
            <!-- Political data authority? //-->
            <td>
            {% if voter.is_political_data_manager %}Manager{% elif voter.is_political_data_viewer %}Viewer{% endif %}
            </td>
            <!-- Is verified volunteer? //-->
            <td>
            {% if voter.is_verified_volunteer %}Y{% else %}{% endif %}
            </td>
            <!-- See images //-->
            <td>
                <a href="{% url 'image:images_for_one_voter' voter.id %}" target="_blank">See images</a>
                <br \>
                <a href="{% url 'import_export_twitter:delete_images_view' %}?voter_id={{voter.id}}">Delete images</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no voters found)</p>
{% endif %}
<br />

{% endblock %}