{# templates/voter/voter_list.html #}
{% extends "template_base.html" %}

{% block title %}Voters{% endblock %}

{%  block content %}
<a href="{% url 'admin_tools:admin_home' %}">< Back to Admin Home</a><br />
<br />
<a href="{% url 'admin_tools:data_cleanup_voter_list_analysis' %}">Go to Voter List Analysis ></a><br />

<h1>Voters</h1>

<div id="dialog-form" title="Create new voter account" style="display: none">
  <p class="validateTips" style="margin: 10px 0 14px 0">All data entry fields are required, permissions are optional. Suggested password below can be changed by you if desired.</p>

  <form>
    <fieldset>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" class="text ui-widget-content ui-corner-all"
             style="float: right; padding-left: 5px; width: 70%;"><br />
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" class="text ui-widget-content ui-corner-all"
             style="float: right; padding-left: 5px; width: 70%;"><br />
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all"
             style="float: right; padding-left: 5px; width: 70%;"><br />
      <label for="password">Password</label>
      <input type="text" name="password" id="password" class="text ui-widget-content ui-corner-all"
             style="float: right; padding-left: 5px; width: 70%;" value="{{ password_proposed }}"><br /><br />

      <input type="checkbox" name="checkbox-admin" id="checkbox-admin">
      <label for="checkbox-admin">Is Admin</label><br />

      <input type="checkbox" name="checkbox-analytics" id="checkbox-analytics">
      <label for="checkbox-analytics">Is Analytics Admin</label><br />

      <input type="checkbox" name="checkbox-partner" id="checkbox-partner">
      <label for="checkbox-partner">Is Partner Organization</label><br />

      <input type="checkbox" name="checkbox-datamanager" id="checkbox-datamanager">
      <label for="checkbox-datamanager"> Is Political Data Manager </label><br />

      <input type="checkbox" name="checkbox-dataviewer" id="checkbox-dataviewer">
      <label for="checkbox-dataviewer">Is Political Data Viewer</label><br />

      <input type="checkbox" name="checkbox-volunteer" id="checkbox-volunteer">
      <label for="checkbox-volunteer">Is Verified Volunteer</label><br />
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<button id="create-user" style="Margin: 12px 0; font-size: 12pt">Create New Voter Account</button>
<br />
<a href="{% url 'image:cache_images_locally_for_all_voters' %}">Cache images locally for all voters</a>,
<a href="{% url 'voter:process_maintenance_status_flags' %}">Process Maintenance Status Flags</a>

<form name="voter_search_form" method="get" action="{% url 'voter:voter_list' %}">
    {% csrf_token %}


{% if voter_search or issues_selected %}
    <a href="{% url 'voter:voter_list' %}">
         clear search</a>&nbsp;
{% endif %}
    <input type="text" name="voter_search" id="voter_search_id" value="{{ voter_search }}" />
    <input type="submit" value="Search for Voter" />

<div>
    <label for="is_admin_id">
      <input type="checkbox" name="is_admin" id="is_admin_id" value="1"
             {% if is_admin %}checked{% endif %} /> Is Admin
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="is_analytics_admin_id">
      <input type="checkbox" name="is_analytics_admin" id="is_analytics_admin_id" value="1"
             {% if is_analytics_admin %}checked{% endif %} /> Is Analytics Admin
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="is_partner_organization_id">
      <input type="checkbox" name="is_partner_organization" id="is_partner_organization_id" value="1"
             {% if is_partner_organization %}checked{% endif %} /> Is Partner Organization
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="is_political_data_manager_id">
      <input type="checkbox" name="is_political_data_manager" id="is_political_data_manager_id" value="1"
             {% if is_political_data_manager %}checked{% endif %} /> Is Political Data Manager
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="is_political_data_viewer_id">
      <input type="checkbox" name="is_political_data_viewer" id="is_political_data_viewer_id" value="1"
             {% if is_political_data_viewer %}checked{% endif %} /> Is Political Data Viewer
    </label>

    &nbsp;&nbsp;&nbsp;
    <label for="is_verified_volunteer_id">
      <input type="checkbox" name="is_verified_volunteer" id="is_verified_volunteer_id" value="1"
             {% if is_verified_volunteer %}checked{% endif %} /> Is Verified Volunteer
    </label>
</div>
</form>


{% if voter_list %}
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>&nbsp;</th>
            <th>We Vote ID</th>
            <th>You</th>
            <th>Facebook</th>
            <th>Tw</th>
            <th>Email / Phone</th>
            <th>Opt In</th>
            <th>Org we_vote_id</th>
            <th>Admin</th>
            <th>Partner Organization</th>
            <th>Political Data</th>
            <th>Verified Volunteer</th>
            <th>Voter Images</th>
        </tr>
      </thead>
    {% for voter in voter_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ voter.id }}</td>
            <td>{% if voter.we_vote_hosted_profile_image_url_tiny %}<img src="{{ voter.we_vote_hosted_profile_image_url_tiny }}" />{% endif %}</td>
            <td>
                {{ voter.get_full_name|default_if_none:"" }}
                <a href="{% url 'voter:voter_edit' voter.id %}">
                    {{ voter.we_vote_id }}
                </a>
            </td>
            <!-- Is this you? //-->
            <td>
            {% if voter.id == voter_id_signed_in %}*ME*{% else %}{% endif %}
            </td>
            <!-- Facebook? //-->
            <td>
            <!-- {% if voter.facebook_id %}{{ voter.facebook_id|default_if_none:"" }}<br />{% endif %} //-->
            {% if voter.retrieved_facebook_id %}{{ voter.retrieved_facebook_id|default_if_none:"" }}<br />{% endif %}
            <!-- If we don't have a cached facebook_id, then fb_username is leftover //-->
                <span {% if not voter.facebook_id %}style="text-decoration: line-through"{% endif %}>
                {% if voter.fb_username %}{{ voter.fb_username }}{% else %}{% endif %}
                {% if voter.signed_in_facebook %} (fb account){% endif %}
                </span>
            </td>
            <!-- From TwitterLinkToVoter //-->
            <td>
            {% if voter.twitter_handle %}
              @{{ voter.twitter_handle }}
            {% else %}{% endif %}
            </td>
            <td>
            <!-- Email //-->
            {% if voter.email %}{{ voter.email }}{% else %}{% endif %}
            {% if voter.facebook_email %}fb:&nbsp;{{ voter.facebook_email|default_if_none:"" }}{% else %}{% endif %}
            <!-- SMS //-->
            {% if voter.normalized_sms_phone_number %} {{ voter.normalized_sms_phone_number }}{% else %}{% endif %}
            </td>
            <!-- Opt In //-->
            <td>
            {% if voter.is_opt_in_newsletter %}Yes{% else %}{% endif %}
            </td>
            <!-- Voter Linked Org //-->
            <td>
                {% if voter.linked_organization_we_vote_id %}
                <a href="{% url 'organization:organization_edit_we_vote_id' voter.linked_organization_we_vote_id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}"
                   class="">
                {{ voter.linked_organization_we_vote_id|default_if_none:"" }}
                </a>
                {% endif %}
            </td>
            <!-- Is site administrator? //-->
            <td>
            {% if voter.is_admin %}Yes{% else %}{% endif %}
            {% if voter.is_analytics_admin %}Analytics Yes{% else %}{% endif %}
            </td>
            <!-- Is partner organization? //-->
            <td>
            {% if voter.is_partner_organization %}Yes{% else %}{% endif %}
            </td>
            <!-- Political data authority? //-->
            <td>
            {% if voter.is_political_data_manager %}Manager{% elif voter.is_political_data_viewer %}Viewer{% endif %}
            </td>
            <!-- Is verified volunteer? //-->
            <td>
            {% if voter.is_verified_volunteer %}Yes{% else %}{% endif %}
            </td>
            <!-- See images //-->
            <td>
                <a href="{% url 'image:images_for_one_voter' voter.id %}" target="_blank">See images</a>
                <br \>
                <a href="{% url 'import_export_twitter:delete_images_view' %}?voter_id={{voter.id}}">Delete images</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>(no voters found)</p>
{% endif %}
<br />

<script>
    $(function() {
        $('#is_admin_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
    $(function() {
        $('#is_analytics_admin_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
    $(function() {
        $('#is_partner_organization_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
    $(function() {
        $('#is_political_data_manager_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
    $(function() {
        $('#is_political_data_viewer_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
    $(function() {
        $('#is_verified_volunteer_id').change(function() {
            {#this.form.show_candidates_with_best_twitter_options_id.value = '0';#}
            this.form.submit();
        });
    });
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></script>
<script src="https://jqueryui.com/resources/demos/style.css"></script>

<script>
  $( function() {
    var dialog, form,

      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
      firstname = $( "#firstname" ),
      lastname = $( "#lastname" ),
      email = $( "#email" ),
      password = $( "#password" ),

      allFields = $( [] ).add( firstname ).add( lastname ).add( email ).add( password ),
      tips = $( ".validateTips" );

    function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }

    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }

    function checkRegexp( o, regexp, n ) {
      if ( !( regexp.test( o.val() ) ) ) {
        o.addClass( "ui-state-error" );
        updateTips( n );
        return false;
      } else {
        return true;
      }
    }

    function addUser() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );

      valid = valid && checkLength( firstname, "username", 3, 16 );
      valid = valid && checkLength( lastname, "username", 3, 16 );
      valid = valid && checkLength( email, "email", 6, 80 );
      valid = valid && checkLength( password, "password", 5, 16 );

      // valid = valid && checkRegexp( firstname, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      // valid = valid && checkRegexp( lastname, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
      valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
      // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allows : a-z 0-9" );

      if ( valid ) {
        $( "#users tbody" ).append( "<tr>" +
          "<td>" + firstname.val() + "</td>" +
          "<td>" + lastname.val() + "</td>" +
          "<td>" + email.val() + "</td>" +
          "<td>" + password.val() + "</td>" +
        "</tr>" );

      const apiURL = `${window.location.origin}/apis/v1/voterCreateNewAccount`;
      const createAccountData = {
        firstname: firstname.val(),
        lastname: lastname.val(),
        email: email.val(),
        password: password.val(),
        is_admin:  $("#checkbox-admin").prop('checked'),
        is_analytics_admin: $("#checkbox-analytics").prop('checked'),
        is_partner_organization: $("#checkbox-partner").prop('checked'),
        is_political_data_manager: $("#checkbox-datamanager").prop('checked'),
        is_political_data_viewer: $("#checkbox-dataviewer").prop('checked'),
        is_verified_volunteer: $("#checkbox-volunteer").prop('checked'),
      }

      $.getJSON(apiURL, createAccountData, (result) => {
        if (result['duplicate_email'] == true) {
           $("#email").addClass( "ui-state-error" )
           updateTips("The email for a new voter must be unique. That one has been taken -- please search to find existing account.")
        } else if (result['has_permission'] == false) {
           $("#email").addClass( "ui-state-error" )
           updateTips("Failed to Save:  You need 'admin' permission.")
        } else {
          dialog.dialog('close');
          location.reload();
        }
      }).fail((err) => {
        console.log('error', err);
        dialog.dialog( "close" );
        });
      }
      return valid;
    }

    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 500,
      width: 400,
      modal: true,
      buttons: {
        "Create an account": addUser,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });

    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });

    $( "#create-user" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  } );
</script>
{% endblock %}