{# email_outbound/email_templates/friend_invitation.html #}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional //EN">
<html>
  <head>
    <title>We Vote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>@media all and (max-width: 480px){*[class].ib_t{min-width:100% !important}*[class].ib_row{display:block !important}*[class].ib_ext{display:block !important;padding:10px 0 5px 0;vertical-align:top !important;width:100% !important}*[class].ib_img,*[class].ib_mid{vertical-align:top !important}*[class].mb_blk{display:block !important;padding-bottom:10px;width:100% !important}*[class].mb_hide{display:none !important}*[class].mb_inl{display:inline !important}}.mb_text h1,.mb_text h2,.mb_text h3,.mb_text h4,.mb_text h5,.mb_text h6{line-height:normal}</style>
  </head>
  <body style="margin:0;padding:0;" dir="ltr" bgcolor="#ffffff">
    <table cellspacing="0" cellpadding="0" width="100%;" id="email_table" border="0" style="border-collapse:collapse;">
      <tr>
        <td id="email_content" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff;">
          <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
            <tr style="">
              <td height="20" style="line-height:20px;" colspan="3">&nbsp;</td>
            </tr>
            {% if sender_network_details %}
            <tr>
              <td height="1" colspan="3" style="line-height:1px;"><span style="color:#FFFFFF;display:none !important;font-size:1px;">100 mutual friends - Fomenting the Revolution at Artist - California College of the Arts - 993 friends - 96 notes - 105 groups</span></td>
            </tr>
            {% endif %}
            <tr>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
              <td style="">
                <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                  <tr style="">
                    <td height="16" style="line-height:16px;" colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="32" align="left" valign="middle" style="height:32;line-height:0px;"><a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;"><img src="https://raw.githubusercontent.com/wevote/WebApp/develop/wevotelogo_thumbnail.png" width="32" height="27" style="border:0;" /></a></td>
                    <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
                    <td width="100%" style=""><a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;">We Vote</a></td>
                  </tr>
                  <tr style="border-bottom:solid 1px #e5e5e5;">
                    <td height="16" style="line-height:16px;" colspan="3">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
              <td style="">
                <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                  <tr style="">
                    <td height="28" style="line-height:28px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style=""><span class="mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823;"><a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;">{% if sender_name %}{{ sender_name }}{% else %}{{ sender_email_address }}{% endif %}</a> wants to be friends with you on We Vote.</span></td>
                  </tr>
                  <tr style="">
                    <td height="14" style="line-height:14px;">&nbsp;</td>
                  </tr>
                {% if sender_photo or sender_description or sender_network_details %}
                  <tr>
                    <td style="">
                      <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                        <tr>
                          <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;border:solid 1px #e5e5e5;border-radius:2px;padding:10px;display:block;">
                            <table cellspacing="0" cellpadding="0" width="100%" align="left" class="ib_t" style="border-collapse:collapse;width:100%;min-width:420px;">
                              <tr class="ib_row">
                                {% if sender_photo %}
                                <td valign="middle" style="padding-right:15px;font-size:0px;" class="ib_img"><a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;"><img src="{{ sender_photo }}" width="75" height="75" style="border:0;background:#ffffff;" /></a></td>
                                {% endif %}
                                <td width="100%" valign="middle" style="padding-right:10px;" class="ib_mid">
                                  <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                                    <tr>
                                      <td style=""><a href="{{ see_all_friend_requests_url }}" style="color:#141823;text-decoration:none;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;font-weight:bold;">{% if sender_name %}{{ sender_name }}{% else %}{{ sender_email_address }}{% endif %}</a></td>
                                    </tr>
                                    {% if sender_description %}
                                    <tr>
                                      <td style=""><span class="mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:14px;line-height:19px;color:#898f9c;"><span style="color: #808080;">{{ sender_description }}</span></span></td>
                                    </tr>
                                    {% endif %}
                                    {% if sender_network_details %}
                                    <tr>
                                      <td style=""><span class="mb_text" style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823;">100 mutual friends · <span style="color:#333333;"><span style="">993 friends · 96 positions</span></span></span></td>
                                    </tr>
                                    {% endif %}
                                  </table>
                                </td>
                              </tr>
                            </table>
                            <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                              <tr style="">
                                <td height="1" style="line-height:1px;">&nbsp;</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                {% endif %}
                  <tr style="">
                    <td height="14" style="line-height:14px;">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
              <td style="">
                <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                  <tr style="">
                    <td height="2" style="line-height:2px;" colspan="3">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="mb_blk" style="">
                      <a href="{{ confirm_friend_request_url }}" style="color:#3b5998;text-decoration:none;">
                        <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                          <tr>
                            <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #344c80;box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.1),0 1px 0 rgba(0, 0, 0, 0.1);background:#4c649b;padding:7px 16px 11px 16px;">
                      <a href="{{ confirm_friend_request_url }}" style="color:#3b5998;text-decoration:none;display:block;"><center><font size="3"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;text-shadow:0 -1px 0 #415686;font-size:14px;line-height:14px;">Confirm&nbsp;Request</span></font></center></a></td></tr></table></a>
                    </td>
                    <td width="10" style="display:block;width:10px;" class="mb_hide">&nbsp;&nbsp;&nbsp;</td>
                    <td class="mb_blk" style="">
                      <a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;">
                        <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                          <tr>
                            <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;border:solid 1px #c9ccd1;box-shadow:0 1px 0 rgba(0, 0, 0, 0.04);background:#f6f7f8;padding:7px 16px 11px 16px;">
                      <a href="{{ see_all_friend_requests_url }}" style="color:#3b5998;text-decoration:none;display:block;"><center><font size="3"><span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#525252;text-shadow:0 1px 0 #ffffff;font-size:14px;line-height:14px;">See&nbsp;All&nbsp;Requests</span></font></center></a></td></tr></table></a>
                    </td>
                    <td width="100%" class="mb_hide" style=""></td>
                  </tr>
                  <tr style="">
                    <td height="32" style="line-height:32px;" colspan="3">&nbsp;</td>
                  </tr>
                </table>
              </td>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
              <td style="">
                <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
                  <tr style="border-top:solid 1px #e5e5e5;">
                    <td height="16" style="line-height:16px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#aaaaaa;line-height:16px;">This message was sent to <a href="mailto:{{ recipient_voter_email }}" style="color:#3b5998;text-decoration:none;">{{ recipient_voter_email }}</a>. If you don&#039;t want to receive any emails from We Vote in the future, please <a href="{{ recipient_unsubscribe_url }}" style="color:#3b5998;text-decoration:none;">unsubscribe</a>.<br />We Vote, Attention: Community Team, 1717 Clemens Rd, Oakland, CA 94602</td>
                  </tr>
                </table>
              </td>
              <td width="15" style="display:block;width:15px;">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr style="">
              <td height="20" style="line-height:20px;" colspan="3">&nbsp;</td>
            </tr>
          </table>
          <span style=""><img src="{{ email_open_url }}" style="border:0;width:1px;height:1px;" /></span>
        </td>
      </tr>
    </table>
  </body>
</html>