{# templates/candidate/candidate_summary.html #}
{% extends "template_base.html" %}

{% block title %}{% if candidate %}{{ candidate.candidate_name }} Summary{% else %}No Candidate Found{% endif %}{% endblock %}

{%  block content %}

<a href="{% url 'candidate:candidate_list' %}">< Back to Candidates</a>

{% if candidate %}

<h1>{{ candidate.candidate_name }}</h1>

<table>
    <tr>
      <td>Candidate We Vote ID:</td>
      <td>
        <strong>{{ candidate.we_vote_id }}</strong>
        (<a href="{% url 'candidate:candidate_delete_process' %}?candidate_id={{ candidate.id }}&google_civic_election_id={{ google_civic_election_id }}">delete candidate</a>)
      </td>
    </tr>
    <tr>
      <td>Google Civic Election ID:</td>
      <td><strong>{{ candidate.google_civic_election_id }}</strong></td>
    </tr>
    <tr>
      <td>Contest Office:</td>
      <td>
        <strong>{{ candidate.contest_office_name }}</strong>
        {% if candidate.contest_office_id %} (<a href="{% url 'office:office_summary' candidate.contest_office_id %}" target="_blank">Go</a>){% endif %}
      </td>
    </tr>
    <tr>
      <td>Office We Vote ID:</td>
      <td>
        <strong>{{ candidate.contest_office_we_vote_id }}</strong>
      </td>
    </tr>
    <tr>
      <td>Candidate Website:</td>
      <td>
        <strong>{{ candidate.candidate_url|default_if_none:"" }}</strong>
      </td>
    </tr>
    <tr>
      <td>Public Positions:</td>
      <td>
        <strong>{{ candidate.public_positions_count }}</strong>
      </td>
    </tr>
    <tr>
      <td>Friends Only Positions:</td>
      <td>
        <strong>{{ candidate.friends_positions_count }}</strong>
      </td>
    </tr>
    <tr>
      <td>Bookmarks:</td>
      <td>
        <strong>{{ candidate.bookmarks_count }}</strong>
      </td>
    </tr>
</table>

{% if candidate.id %}
  <p><a href="{% url 'candidate:candidate_edit' candidate.id %}">edit</a></p>


<h3>Merge with Another Candidate</h3>
<form name="find_another_to_merge" method="get" action="{% url 'candidate:candidate_summary' candidate.id %}">
    {% csrf_token %}
    {% if candidate_search %}
        <a href="{% url 'candidate:candidate_summary' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
             clear search</a>&nbsp;
    {% endif %}
    <input type="text" name="candidate_search" id="candidate_search_id" value="{{ candidate_search }}" style="width: 450px" />
    <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}">
    <input type="hidden" name="state_code" value="{{ state_code }}">
    <input type="submit" value="Search for Duplicate Candidates" />
</form>
{% endif %}

{% if candidate_search_results_list %}
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td>&nbsp;</td>
            <td>ID</td>
            <td>We Vote ID</td>
            <td>Candidate Name</td>
            <td>State</td>
            <td>Ballotpedia Race ID</td>
            <td>Ballotpedia Candidate ID</td>
        </tr>
    {% for found_candidate in candidate_search_results_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ found_candidate.id }}</td>
            <td>{{ found_candidate.we_vote_id }}</td>
            <td>
              {% if found_candidate.candidates_match_root_candidate %}
                <strong>{{ found_candidate.candidate_name }}</strong>
              {% else %}
                {{ found_candidate.candidate_name }}
              {% endif %}
              <br />
              (<a href="{% url 'candidate:candidate_summary' found_candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank">view&nbsp;summary</a>,
              <a href="{% url 'candidate:compare_two_candidates_for_merge' %}?candidate1_we_vote_id={{ candidate.we_vote_id }}&candidate2_we_vote_id={{ found_candidate.we_vote_id }}&google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}" target="_blank">compare&nbsp;for&nbsp;merge</a>)
            </td>
            <td>{{ found_candidate.state_code }}</td>
            <td>{{ found_candidate.ballotpedia_race_id|default_if_none:"" }}</td>
            <td>{{ found_candidate.ballotpedia_candidate_id|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% else %}

    <h1>No Candidate Found</h1>
    Please visit the <a href="{% url 'candidate:candidate_list' %}">Candidate List</a> page.

{% endif %}

{% endblock %}
