{# templates/candidate/candidate_selection_list.html #}

{%  block content %}
{% load template_filters %}
{% load humanize %}


<br style="clear:left;"/>

{% if candidate_list %}
    {% if not review_mode %}
    <table class="table">
    {% for candidate in candidate_list %}
        {% if forloop.counter == 1 or forloop.counter|divisibleby:9 %}
        {# Show the header every ~8 lines #}
          <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Candidate Name</th>
                <th>State</th>
              {% if not google_civic_election_id %}
                <th>Election</th>
              {% endif %}
                <th>Office</th>
                <th>Twitter Handle</th>
                <th>Google Search Results</th>
                <th>Website / Facebook / Instagram / Email</th>
                <th>IDs</th>
            </tr>
          </thead>
        {% endif %}
            <tr>
                <td>{{ forloop.counter|add:candidate_count_start }}</td>
                <td>
                    {% if candidate.candidate_photo_url %}
                    <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&page={{ current_page_number }}"
                       target="_blank">
                        <img src='{{ candidate.candidate_photo_url }}' height="25px" />
                    </a>
                    {% endif %}
                </td>
                <td>
                    <span class="u-no-break">
                      <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&page={{ current_page_number }}"
                         class="u-no-break"
                         target="_blank">
                          <strong>{{ candidate.candidate_name }}</strong> <span class="glyphicon glyphicon-new-window"></span>
                      </a>
                    </span>
                    {% if candidate.withdrawn_from_election %}
                        <br />
                        <span><strong>Withdrew {% if candidate.withdrawal_date %}({{ candidate.withdrawal_date }}){% endif %}</strong></span>
                    {% endif %}
                    {% if candidate.do_not_display_on_ballot %}
                        <br />
                        <span><strong>Don't Display on Ballot</strong></span>
                    {% endif %}
                    <br />
                    {{ candidate.we_vote_id }}
                    {% if candidate.politician_we_vote_id %}
                        <br />
                        {{ candidate.politician_we_vote_id }}
                    {% else %}
                        <br />
                        <span style="color: #999;">(no&nbsp;politician&nbsp;link)</span>
                    {% endif %}
                    {% if candidate.ballotpedia_candidate_summary %}
                    <br /><span style="color: darkgray">{{ candidate.ballotpedia_candidate_summary|default_if_none:""|truncatechars:50 }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ candidate.get_candidate_state }}
                    {% if candidate.candidate_year %}
                        <br />
                        <span><strong>{{ candidate.candidate_year }}</strong></span>
                    {% endif %}
                </td>
                {% if not google_civic_election_id %}
                <td>{{ candidate.election.election_name }} - {{ candidate.election.google_civic_election_id }}, <span class="u-no-break">{{ candidate.election.election_day_text }}</span></td>
                {% endif %}
                <td>
                <span class="u-no-break">
                  {% if candidate.office %}
                    <a href="{% url 'office:office_summary' candidate.office.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                        {{ candidate.office.office_name }}
                    </a><br />
                    {{ candidate.office.we_vote_id }}
                    {% if candidate.office.district_name or candidate.office.district_id %}
                      <br />
                      <span style="color: darkgray">
                    {% endif %}
                        {% if candidate.office.district_name %}
                            {{ candidate.office.district_name }}
                        {% endif %}
                        {% if candidate.office.district_id %}
                            - District {{ candidate.office.district_id }}
                        {% endif %}
                    {% if candidate.office.district_name or candidate.office.district_id %}
                      </span>
                    {% endif %}
                  {% else %}
                      (office missing)
                  {% endif %}
                  {% if candidate.is_battleground_race %}
                    <br />
                    <span><strong>Competitive</strong></span>
                  {% endif %}
                </span>
                </td>
                <td>{% if candidate.candidate_twitter_handle %}
                        <a href="https://twitter.com/{{ candidate.candidate_twitter_handle }}"
                            target="_blank">{{ candidate.candidate_twitter_handle }} <span class="glyphicon glyphicon-new-window"></span></a><br />
                        ({{ candidate.twitter_followers_count|intcomma }} followers)
                    {% else %}
                        {% if candidate.candidate_merge_possibility %}
                        <ul><li>
                        <div id="twitter_link_possibility_id_block_{{ candidate.candidate_merge_possibility.id }}">
                            <span class="u-no-break">
                            <a href="https://twitter.com/{{ candidate.candidate_merge_possibility.twitter_handle }}" target="_blank">
                                <img src='{{ candidate.candidate_merge_possibility.twitter_profile_image_url_https }}' height="25px" /></a>&nbsp;
                            <a href="https://twitter.com/{{ candidate.candidate_merge_possibility.twitter_handle }}" target="_blank">
                                {{ candidate.candidate_merge_possibility.twitter_handle }} <span class="glyphicon glyphicon-new-window"></span></a>
                            (<a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&show_all_twitter_search_results=1#twitter_link_possibility_list" target="_blank">
                                Best Guess: {{ candidate.candidate_merge_possibility.likelihood_score }} <span class="glyphicon glyphicon-new-window"></span></a>)
                            </span><br />
                            <strong>{{ candidate.candidate_merge_possibility.twitter_name }}.</strong>
                            {{ candidate.candidate_merge_possibility.twitter_description }}<br />
                            {% if candidate.candidate_merge_possibility.likelihood_score >= 60 %}
                                <form action="{% url 'candidate:candidate_edit_process' %}" id="candidate_edit" method="post" class="form-horizontal" target="_blank">
                                    {% csrf_token %}
                                    <input type="hidden" name="candidate_twitter_handle" value="{{ candidate.candidate_merge_possibility.twitter_handle }}" />
                                    <input type="hidden" name="candidate_id" value="{{ candidate.id }}" />
                                    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}" />
                                    <input type="hidden" name="hide_candidate_tools" value="{{ hide_candidate_tools }}" />
                                    <input type="hidden" name="page" value="{{ current_page_number }}" />
                                    <input type="hidden" name="state_code" value="{{ candidate.get_candidate_state }}" />
                                    <input type="hidden" name="refresh_from_twitter" value="1" />
                                    <input type="hidden" name="twitter_url" value="{{ candidate.candidate_merge_possibility.twitter_url }}" />
                                    <input id="choose_{{ forloop.counter }}" type="submit" value="Choose and Update" /> <span class="glyphicon glyphicon-new-window"></span>
                                </form>
                            {% else %}
                            (<a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&show_all_twitter_search_results=1#twitter_link_possibility_list" target="_blank">
                                See all Options
                                {% if candidate.twitter_possibility_list_count %}
                                  ({{ candidate.twitter_possibility_list_count }})
                                {% endif %}
                              <span class="glyphicon glyphicon-new-window"></span></a>)
                            {% endif %}
                              <div class="float-right">
                                <form action="{% url 'candidate:candidate_edit_process' %}" id="candidate_edit" method="post" class="form-horizontal" target="_blank">
                                    {% csrf_token %}
                                    <input type="hidden" name="reject_twitter_link_possibility_id" value="{{ candidate.candidate_merge_possibility.id }}" />
                                    <input type="hidden" name="candidate_id" value="{{ candidate.id }}" />
                                    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}" />
                                    <input type="hidden" name="hide_candidate_tools" value="{{ hide_candidate_tools }}" />
                                    <input type="hidden" name="page" value="{{ current_page_number }}" />
                                    <input type="hidden" name="state_code" value="{{ state_code }}" />
                                    <input type="hidden" name="refresh_from_twitter" value="1" />
                                    <input type="hidden" name="twitter_url" value="{{ candidate.candidate_merge_possibility.twitter_url }}" />
                                    <input id="reject_{{ forloop.counter }}" type="submit" value="Reject" onclick="hideElement('twitter_link_possibility_id_block_{{ candidate.candidate_merge_possibility.id }}'); showElement('rejected_notice_{{ candidate.candidate_merge_possibility.id }}');" />
                                </form>
                              </div>
                        </div>
                        <div id="rejected_notice_{{ candidate.candidate_merge_possibility.id }}" style="display: none;">
                          Twitter Option Rejected
                        </div>
                        </li></ul>
                        {% elif candidate.no_twitter_possibilities_found %}
                        <ul><li>no twitter options found
                        </li></ul>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{% if candidate.google_search_merge_possibility %}
                        {% if not candidate.google_search_merge_possibility.chosen_and_updated %}
                            <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                                <img src='{{ candidate.google_search_merge_possibility.item_image }}' height="25px" /></a>&nbsp;
                            (<a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&show_all_google_search_users=1#google_search_users_for_candidate_table">
                                Best Guess: {{ candidate.google_search_merge_possibility.likelihood_score }}</a>)<br />
                            <a href="{{ candidate.google_search_merge_possibility.item_link }}" target="_blank">{{ candidate.google_search_merge_possibility.item_link|default_if_none:"" }}</a><br />
                            {{ candidate.google_search_merge_possibility.item_snippet|truncatechars:400 }}
                            {% if candidate.google_search_merge_possibility.likelihood_score >= 50 %}
                                <form action="{% url 'candidate:candidate_edit_process' %}" id="candidate_edit_process" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <input type="hidden" name="google_search_link" value="{{ candidate.google_search_merge_possibility.item_link }}" />
                                    <input type="hidden" name="google_search_image_file" value="{{ candidate.google_search_merge_possibility.item_image }}" />
                                    <input type="hidden" name="candidate_id" value="{{ candidate.id }}" />
                                    <input type="hidden" name="google_civic_election_id" value="{{ google_civic_election_id }}" />
                                    <input type="hidden" name="state_code" value="{{ state_code }}" />
                                    <input type="hidden" name="redirect_to_candidate_list" value="1" />
                                    <input id="choose_and_update_{{ forloop.counter }}" type="submit" value="Choose and Update" />
                                </form>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
                                <img src='{{ candidate.google_search_merge_possibility.item_image }}' height="25px" /></a>&nbsp;
                            <a href="{{ candidate.google_search_merge_possibility.item_link }}" target="_blank">{{ candidate.google_search_merge_possibility.item_link|default_if_none:"" }}</a><br />
                        {% endif %}
                    {% elif candidate.no_google_possibilities_found %}
                        <ul><li>no google options found
                        </li></ul>
                    {% endif %}
                </td>
                <td>
                <span class="u-wrap-links">
                  {% if candidate.candidate_url %}<a href="{{ candidate.candidate_url }}" target="_blank">{{ candidate.candidate_url }}</a><br />{% endif %}
                </span>
                <span class="u-wrap-links">
                  {% if candidate.candidate_contact_form_url %}<a href="{{ candidate.candidate_contact_form_url }}" target="_blank">{{ candidate.candidate_contact_form_url }}</a><br />{% endif %}
                </span>
                  {% if candidate.facebook_url %}<a href="{{ candidate.facebook_url }}" target="_blank">{{ candidate.facebook_url }}</a><br />{% endif %}
                  {% if candidate.instagram_handle %}<a href="https://instagram.com/{{ candidate.instagram_handle }}" target="_blank">instagram.com/{{ candidate.instagram_handle }}</a><br />{% endif %}
                  {% if candidate.candidate_email %}{{ candidate.candidate_email }}{% endif %}
                </td>
                <td>
                    {% if candidate.ballotpedia_candidate_id %}
                        {% if candidate.ballotpedia_candidate_url %}
                          BP: <a href="{{ candidate.ballotpedia_candidate_url }}" target="_blank">{{ candidate.ballotpedia_candidate_id|default_if_none:"" }}</a>
                        {% else %}
                          BP: {{ candidate.ballotpedia_candidate_id|default_if_none:"" }}
                        {% endif %}
                        <br />
                    {% endif %}
                    {% if candidate.vote_smart_id %}
                        Vote Smart: <a href="https://votesmart.org/candidate/biography/{{ candidate.vote_smart_id }}" target="_blank">{{ candidate.vote_smart_id|default_if_none:"" }}</a>
                        <br />
                    {% endif %}
                    {% if candidate.ctcl_uuid %}CTCL: <span style="font-size: 10px;">{{ candidate.ctcl_uuid|default_if_none:"" }}</span><br />{% endif %}
                    {% if candidate.vote_usa_politician_id %}{{ candidate.vote_usa_politician_id|default_if_none:"" }}<br />{% endif %}
                    {% if candidate.vote_usa_office_id %}{{ candidate.vote_usa_office_id|default_if_none:"" }}<br />{% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

        {% if not hide_pagination %}
        <span class="float-right">
          {% if current_page_number > 0 %}<a href="{{ previous_page_url }}">Previous page</a> |{% endif %}
          Page {{ current_page_number|add:1 }}
          | <a href="{{ next_page_url }}">Next page</a></span>
        {% endif %}

        <p>
        </p>

        <p></p>
        {# End of NOT review_mode #}
    {% else %}
        {# The following is "review mode" #}
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>Candidate Name</td>
                <td>Twitter Count: {{ total_twitter_handles }}</td>
                <td>Public Positions</td>
                <td>State</td>
                <td>Election</td>
              {% if not google_civic_election_id %}
                <td>Office</td>
              {% endif %}
                <td>Ballotpedia</td>
                <td>Vote Smart</td>
            </tr>
        {% for candidate in candidate_list %}
            <tr>
                <td>{{ forloop.counter|add:candidate_count_start }}</td>
                <td>
                    {% if candidate.candidate_photo_url %}
                    <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&page={{ current_page_number }}"
                       target="_blank">
                        <img src='{{ candidate.candidate_photo_url }}' height="25px" />
                    </a>
                    {% endif %}
                </td>
                <td>
                  <a href="{% url 'candidate:candidate_edit' candidate.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&page={{ current_page_number }}"
                     target="_blank">{{ candidate.candidate_name }}</a><br />
                  {{ candidate.we_vote_id }}
                    {% if candidate.politician_we_vote_id %}
                        <br />{{ candidate.politician_we_vote_id }}
                    {% endif %}
                    {% if candidate.ballotpedia_candidate_summary %}
                    <br /><span style="color: darkgray">{{ candidate.ballotpedia_candidate_summary|default_if_none:""|truncatechars:50 }}</span>
                    {% endif %}
               </td>
                <td>
                    {% if candidate.candidate_twitter_handle %}
                        <a href="https://twitter.com/{{ candidate.candidate_twitter_handle }}"
                           target="_blank">{{ candidate.candidate_twitter_handle }}</a><br />
                                ({{ candidate.twitter_followers_count|intcomma }} followers)
                    {% endif %}
                </td>
                <td>{{ candidate.positions_count|intcomma }}</td>
                <td>{{ candidate.get_candidate_state }}</td>
                {% if not google_civic_election_id %}
                <td>{{ candidate.election.election_name }} - {{ candidate.election.google_civic_election_id }}</td>
                {% endif %}
                <td>
                  {% if candidate.office %}
                    <a href="{% url 'office:office_summary' candidate.office.id %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}&page={{ current_page_number }}">{{ candidate.office.office_name }}
                    {% if candidate.office.district_id %}
                        - District {{ candidate.office.district_id }}
                    {% endif %}
                    {% if candidate.office.state_code %}
                        - {{ candidate.office.state_code }}
                    {% endif %}
                    </a>
                  {% else %}
                      (office missing)
                  {% endif %}
                </td>
                <td>
                  {% if candidate.ballotpedia_candidate_id %}
                    {% if candidate.ballotpedia_candidate_url %}
                      <a href="{{ candidate.ballotpedia_candidate_url }}" target="_blank">{{ candidate.ballotpedia_candidate_id|default_if_none:"" }}</a>
                    {% else %}
                      {{ candidate.ballotpedia_candidate_id|default_if_none:"" }}
                    {% endif %}
                  {% endif %}
                </td>
                <td><a href="https://votesmart.org/candidate/biography/{{ candidate.vote_smart_id }}" target="_blank">{{ candidate.vote_smart_id|default_if_none:"" }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}{# End of review_mode #}

{% endif %}

{% endblock %}
